<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title"><?= $title ?></h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="name">Nome</label>
								<input class="form-control" id="name" name="name" type="text">
							</div>
						</div>
						<div class="col text-end m-t-45">
							<button class="btn btn-success" type="button" onclick="" data-bs-toggle="modal"
							        data-bs-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i>
								Adicionar
							</button>
							<button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
							                                                                      aria-hidden="true"></i>
								Limpar
							</button>
							<button class="btn btn-success" type="submit"><i class="fa fa-filter"
							                                                 aria-hidden="true"></i> Filtrar
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="card-body">
				<div id="message" class="alert d-none" role="alert"></div>
				Exibindo <span id="partial"></span> de <span id="total"></span>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table id="table" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>Nome</th>
								<th class="text-center">Eleito Em</th>
								<th class="text-center">Termo de Nomeação e Posse</th>
								<th class="text-center">Ações</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div id="loader" class="loader"></div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="card-header">
				<h5 class="title">Membros CEP</span></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<form id="formModal" enctype="multipart/form-data" method="post">
				<input type="hidden" id="memberId" name="memberId" value="">
				<div class="modal-body custom-scrollbar">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="nameModal">Nome:</label>
								<input id="nameModal" name="nameModal" type="text" class="form-control">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="dateElectedModal">Data eleito:</label>
								<input id="dateElectedModal" name="dateElectedModal" type="text" class="form-control"
								       data-mask="99/99/9999">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="termModal">Termo de Nomeação e Posse:</label><br>
								<input id="termModal" name="termModal" type="file" class="form-control">
									<span class="fileselector">
                                        <span class="fileselector"><label
                                                class="btn btn-block btn-orange text-white"
                                                for="termModal">
                                        <input class="upload-file-selector"
                                               id="termModal"
                                               type="file" name="termModal"><i
	                                                class="fa fa-paperclip margin-correction">
                                        </i> <span id="termModalLabel"
                                                   default="Anexar Imagem do Material Impresso">Anexar
                                                </span></label></span>
	                                </span>
							</div>
						</div>
					</div>
					<div id="messageModal" class="alert d-none" role="alert"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" id="saveModal" class="btn btn-success">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	var index = 0;
	var partial = 0;
	var total = 1;
	var name = '';
	const form = document.getElementById('filter');

	form.addEventListener('submit', e => {
		e.preventDefault();
		let formData = formDataToJson('filter');
		partial = 0;
		index = 0;
		total = 1;
		name = formData.name;
		$("#table tbody").empty();
		generateTable();
	})

	function resetTable() {
		index = 0;
		partial = 0;
		total = 1;
		name = '';
		$("#table tbody").empty();
		generateTable();
	}

	function generateMembershipList(member) {
		let actions = '<i class="fa fa-ban" aria-hidden="true"></i>';
		if (member.active == 1) {
			actions =
				`<a href="#" onclick="refresh(${member.id})" class="text-danger"><i class="fa fa-times" title="Inativar" ></i> Remover </a><br> `;
			actions +=
				`<a href="#" onclick="openModal(${member.id}, 1)"><i class="fa fa-pencil text-info" title="Editar"></i> Editar </a>`;
		} else {
			actions =
				`<a href="#" onclick="refresh(${member.id})"><i class="fa fa-refresh text-success" title="Ativar"></i> Ativar </a> `;
		}
		actions = `<td class="text-center">${actions} </td>`;
		return `<tr class='middle'>
                <td>${member.name}</td>
                <td class="text-center">${member.dateElected}</td>
                <td class="text-center"><a type="button" href="<?= BASEURL ?>uploads/cep/${member.file}" target="_blank" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> Termo</a></td>
                ${actions}
            </tr>`;
	}

	function generateTable() {
		if (total > partial) {
			$('#loader').show();
			fetch(`<?= BASEURL ?>api/cep/membros/?name=${name}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					$('#loader').hide();
					total = json.total;
					partial = json.partial;
					let membershipList = json.message;
					let options = membershipList.map(generateMembershipList);
					$("#table tbody").append(options);
					$('#total').text(total);
					$('#partial').text(partial);
				});
			});
		}
	}

	function refresh(id) {
		showLoading();
		const divMessage = document.getElementById('message');
		fetch(`<?= BASEURL ?>api/cep/atualiza-status/${id}`, {
			method: "PUT",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				divMessage.textContent = json.message;
				divMessage.classList.add("alert-danger");
				divMessage.classList.remove("alert-success");
				divMessage.classList.remove("d-none");
				if (response.status === 201) {
					divMessage.classList.add("alert-success");
					divMessage.classList.remove("alert-danger");
					setTimeout(function () {
						window.location.reload();
					}, 2500);
				}
			});
		});
	}

	function openModal(id) {
		fetch(`<?= BASEURL ?>api/cep/pega-membro/${id}`, {
			method: "GET",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				closeLoading();
				json = json.message;
				$('#nameTitle').text(json.name);
				document.getElementById('memberId').value = (json.id);
				document.getElementById('nameModal').value = (json.name);
				document.getElementById('dateElectedModal').value = (json.dateElected);
				$('#exampleModal').modal();
			});
		});
	}

	const formModal = document.getElementById('formModal');
	const divMessageModal = document.getElementById('messageModal');
	$("#formModal").submit(function (e) {
		event.preventDefault();
		showLoading();
		$('#saveModal').addClass('disabled');
		$.ajax({
			type: 'POST',
			url: '<?= BASEURL ?>api/cep/cadastra-membro/',
			data: new FormData(this),
			processData: false,
			contentType: false
		})
			.done(function (json) {
				closeLoading();
				divMessageModal.classList.add("alert-success");
				divMessageModal.classList.remove("alert-danger");
				divMessageModal.textContent = json.message;
				divMessageModal.classList.remove("d-none");
				setTimeout(function () {
					window.location.reload();
				}, 2500);
			})
			.fail(function (json) {
				closeLoading();
				$('#saveModal').removeClass('disabled');
				divMessageModal.classList.add("alert-danger");
				divMessageModal.classList.remove("alert-success");
				divMessageModal.textContent = json.responseJSON.message;
				divMessageModal.classList.remove("d-none");
			});
	});

	$(document).ready(function () {
		generateTable();
		inputFile();
	});
</script>