</div>
    <!-- Loading Modal -->
    <div class="modal fade" id="showLoading" style="margin-top: 10%" tabindex="-1" role="dialog" aria-labelledby="showLoading">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center custom-scrollbar">
                    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--   Core JS Files   -->
<script src="<?= BASEURL ?>assets/js/jquery.mask.min.js"></script>
<script src="<?= BASEURL ?>assets/js/core/popper.min.js"></script>
<script src="<?= BASEURL ?>assets/js/core/bootstrap.min.js"></script>
<script src="<?= BASEURL ?>assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="<?= BASEURL ?>assets/js/plugins/chartjs.min.js"></script>
<script src="<?= BASEURL ?>assets/js/now-ui-dashboard.min.js"></script>
<script defer src="<?= BASEURL ?>assets/js/jquery.dataTables.min.js"></script>
<script defer src="<?= BASEURL ?>assets/js/dataTables.bootstrap4.min.js"></script>
<script src="<?= BASEURL ?>assets/js/functions.js"></script>
<script>
    $(document).ready(function(){$("#dataTable").DataTable({
        "order": [],
        "ordering": false
    })});
</script>
</body>
</html>