<style>
    label {
        color: black !important;
        font-size: 1em !important;
    }

    .alert-danger {
        background-color: rgba(210, 45, 61, 0.8) !important;
        border-color: rgba(210, 45, 61, 0.9) !important;
    }

    .alert-success {
        background-color: rgba(27, 76, 67, 0.8) !important;
        border-color: rgba(27, 76, 67, 0.9) !important;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="title text-center">Contexto Político</h5>
                    <p class="text-justify">Nesta seção queremos que você nos conte um pouco mais sobre o
                        ambiente político de sua cidade e como você se insere nele. Queremos respostas
                        objetivas, mas fique também à vontade para dar algum contexto quando julgar necessário
                        para nossa compreensão. </p>
                </div>
                <div class="card-body">
                    <?php if ($member->getQuestion1()): ?>
                        <div class="row">
                            <div class="col">
                                <div class="mt-2 alert alert-success" id="divMessageForm"><b>Obrigado pela
                                        participação!</b>
                                </div>
                            </div>
                        </div>
                    <?php else: ?>

                        <form class="form-group" id="register" method="post">
                            <input type="hidden" name="id" value="<?= $member->getId() ?>">
                            <input type="hidden" name="hash" value="<?= $member->getHash() ?>">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="question1">Nos conte sobre o contexto político local do seu município.
                                        <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="question1" name="question1" type="text"
                                              required rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="question2">Quais os principais desafios que o NOVO enfrentará em seu
                                        município?
                                        <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="question2" name="question2" type="text"
                                              required rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="question3">Descreva como você já tem atuado para melhorar a sua
                                        comunidade e a qualidade de vida das pessoas em seu município
                                        <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="question3" name="question3" type="text"
                                              required rows="5"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mt-2 alert alert-success" style="display:none;" id="divMessageForm">Erro
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3" style="text-align: end">
                                <button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
                            </div>
                        </form>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const formAdd = document.getElementById('register');
    const divMessage = document.getElementById('divMessageForm');

    formAdd.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('register');
        fetch("<?= BASEURL ?>indicacoes/responder", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessage.classList.add("alert-danger");
            divMessage.classList.remove("alert-success");
            response.json().then(json => {
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
                if (response.status === 201) {
                    divMessage.classList.add("alert-success");
                    divMessage.classList.remove("alert-danger");
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            });
        });
    });

    function showLoading(form) {
        $('.spinner-card').show();
        if (form) {
            $('#' + form + ' .form-group').css('opacity', .2);
        } else {
            $('.form-group').css('opacity', .2);
        }
        $('.btn').attr('disabled', true);
    }

    function closeLoading() {
        setTimeout(function () {
            $('.form-group').css('opacity', 1);
            $('.btn').attr('disabled', false);
            $('.spinner-card').hide();
        }, 800)
    }

</script>
