<style>
    label {
        color: black !important;
        font-size: 1em !important;
    }

    .alert-danger {
        background-color: rgba(210, 45, 61, 0.8) !important;
        border-color: rgba(210, 45, 61, 0.9) !important;
    }

    .alert-success {
        background-color: rgba(27, 76, 67, 0.8) !important;
        border-color: rgba(27, 76, 67, 0.9) !important;
    }
</style>

<div class="card-header">
    <h3 class="title text-center"><?= $questionnaire->getTitle() ?></h3>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card m-t-50">
                <div class="card-body">
                    <?php if ($questionnaireReply->isDone()): ?>
                        <div class="row">
                            <div class="col">
                                <div class="mt-2 alert alert-success" id="divMessageForm"><b>Obrigado pela
                                        participação!</b>
                                </div>
                            </div>
                        </div>
                    <?php else: ?>
                        <form class="form-group" id="register" method="post">

                            <?php if ($type == 1): ?>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Nome <span class="text-danger">*</span></label>
                                            <input id="name" name="name" class="form-control" type="text"
                                                   placeholder="Nome" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">E-mail <span class="text-danger">*</span></label>
                                            <input id="email" name="email" class="form-control" type="email"
                                                   placeholder="E-mail" required>
                                        </div>
                                    </div>
                                </div>
                            <?php endif; ?>

                            <input type="hidden" name="type" value="<?= $type ?>">
                            <input type="hidden" name="id"
                                   value="<?= $type == 1 ? $questionnaire->getId() : $questionnaireReply->getId() ?>">
                            <input type="hidden" name="hash"
                                   value="<?= $type == 1 ? $questionnaire->getHash() : $questionnaireReply->getHash() ?>">

                            <?php
                            $count = 1;
                            foreach ($questionnaire->getQuestions() as $question) : ?>

                                <?php if ($question->isActive()): ?>
                                    <div class="mb-4 text-justify">
                                        <b><?= $count ?>. </b><?= $question->getQuestion()->getText() ?>

                                        <?php foreach ($question->getQuestion()->getOptions() as $option): ?>

                                            <?php if ($option->isActive()): ?>

                                                <div class="row m-l-10">
                                                    <label class="d-block m-b-10" for="option<?= $option->getId() ?>">
                                                        <input class="radio_animated" id="option<?= $option->getId() ?>"
                                                               type="radio" required
                                                               name="option[<?= $count - 1 ?>]"
                                                               value="<?= $option->getId() ?>">
                                                        <?= $option->getName() ?>
                                                    </label>
                                                </div>

                                            <?php endif; ?>

                                        <?php endforeach; ?>
                                    </div>

                                    <?php $count++;
                                endif; ?>

                            <?php endforeach; ?>
                            <input type="hidden" name="total" value="<?= $count - 1 ?>">
                            <div class="row">
                                <div class="col">
                                    <div class="mt-2 alert alert-success" style="display:none;" id="divMessageForm">Erro
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3" style="text-align: end">
                                <button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
                            </div>
                        </form>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const formAdd = document.getElementById('register');
    const divMessage = document.getElementById('divMessageForm');

    formAdd.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('register');
        fetch("<?= BASEURL ?>questionarios/responder", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessage.classList.add("alert-danger");
            divMessage.classList.remove("alert-success");
            response.json().then(json => {
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
                if (response.status === 201) {
                    divMessage.classList.add("alert-success");
                    divMessage.classList.remove("alert-danger");
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            });
        });
    });

    function showLoading(form) {
        $('.spinner-card').show();
        if (form) {
            $('#' + form + ' .form-group').css('opacity', .2);
        } else {
            $('.form-group').css('opacity', .2);
        }
        $('.btn').attr('disabled', true);
    }

    function closeLoading() {
        setTimeout(function () {
            $('.form-group').css('opacity', 1);
            $('.btn').attr('disabled', false);
            $('.spinner-card').hide();
        }, 800)
    }

</script>
