<style>
    label {
        color: black !important;
        font-size: 1em !important;
    }
</style>
<div class="card-header">
    <h3 class="title text-center">Assinatura de Documento
        - <?= $signature->getSignatureDoc()->getTitle() ?></h3>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p>
                        Documento criado por <b><?= $signature->getSignatureDoc()->getUser()->getName() ?></b>, em
                        <b><?= $signature->getCreated()->format('d/m/Y - H:i:s') ?></b> para
                        <b><?= $signature->getName() ?>(<?= $signature->getEmail() ?>)</b>
                        <?php if ($signature->getSigned() == 1): ?>
                        assinado em <b><?= $signature->getSignedIn()->format('d/m/Y - H:i:s') ?></b> pelo ip
                        <b><?= $signature->getIp() ?></b>
                    </p>
                    <?php else: ?>
                        <br><b>Aguardando assinatura</b> </p>
                        <form class="form-group" id="register" method="post">
                            <input type="hidden" name="id" value="<?= $signature->getId() ?>">
                            <input type="hidden" name="hash" value="<?= $signature->getHash() ?>">
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="signature" value="1" required
                                               id="signature">
                                        <label class="form-check-label" for="signature">
                                            <b>Assinar Documento</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mt-2 alert alert-danger" style="display: none" id="divMessageForm">Erro
                                    </div>
                                </div>
                            </div>
                        </form>
                    <?php endif; ?>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <a target="_blank" class="btn btn-danger"
                               href="<?= BASEURL ?>assinatura-eletronica/documentos/assinaturas/<?= $signature->getId() ?>/<?= $signature->getHash() ?>">Visualizar
                                <i class="fa fa-file-pdf-o"></i></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <?= $signature->getText() ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const formAdd = document.getElementById('register');
    const divMessage = document.getElementById('divMessageForm');

    formAdd.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('register');
        fetch("<?= BASEURL ?>assinatura-eletronica/documentos/assinar", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessage.classList.add("alert-danger");
            divMessage.classList.remove("alert-success");
            response.json().then(json => {
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
                if (response.status === 201) {
                    divMessage.classList.add("alert-success");
                    divMessage.classList.remove("alert-danger");
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            });
        });
    });

    function showLoading(form) {
        $('.spinner-card').show();
        if (form) {
            $('#' + form + ' .form-group').css('opacity', .2);
        } else {
            $('.form-group').css('opacity', .2);
        }
        $('.btn').attr('disabled', true);
    }

    function closeLoading() {
        setTimeout(function () {
            $('.form-group').css('opacity', 1);
            $('.btn').attr('disabled', false);
            $('.spinner-card').hide();
        }, 800)
    }

</script>
