<div class="row">
    <!-- BEGIN FORM 1 -->
    <div class="col-md-6">
        <div class="card">
            <div class="row form-card mx-4">
                <h4 class="text-primary mt-5 text-center">Formulário 1</h4>
                <div class="row">
                    <div class="col text-center">
                        <div class="form-group">
                            <a class="btn btn-secondary" type="button" href="<?= BASEURL ?>financeiro/contas-a-pagar/<?= $requeriment->getId() ?>" target="_blank">
                                <i class="fa fa-search" aria-hidden="true"></i> Consultar pagamento</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-card mx-4" id="accountDiv">
                        <div class="row">
                            <form id="formAccounting">
                                <input type="hidden" id="requerimentId" name="requerimentId" value="<?= $requeriment->getId() ?>">
                                <input type="hidden" id="formAccounting" name="formAccounting" value="1">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="checkbox" name="typeAccounting" id="typeAccounting" <?= $accountingRecord ?
                                                                $accountingRecord->getFormAccounting() == 1 &&
                                                                $accountingRecord->getAccounting() == 1 ? 'checked' : '' : '' ?>>
                                            <label class="form-check-label" for="typeAccounting">Contábil</label>
                                            <input type="checkbox" name="typeFiscal" id="typeFiscal" style="margin-left: 15px;" <?= $accountingRecord ?
                                                            $accountingRecord->getFormAccounting() == 1 &&
                                                            $accountingRecord->getFiscal() == 1 ? 'checked' : '' : '' ?>>
                                            <label class="form-check-label" for="typeFiscal">Fiscal</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="accountingStatus">Status:</label>
                                            <select class="form-select" id="accountingStatus" name="accountingStatus">
                                                <option value="">Selecione</option>
                                                <option value="1" <?= $accountingRecord ?
                                                                    $accountingRecord->getFormAccounting() == 1 &&
                                                                    $accountingRecord->getStatus() == 1 ? 'selected' : '' : '' ?>>
                                                    Aprovado
                                                </option>
                                                <option value="2" <?= $accountingRecord ?
                                                                    $accountingRecord->getFormAccounting() == 1 &&
                                                                    $accountingRecord->getStatus() == 2 ? 'selected' : '' : '' ?>>
                                                    Pendência
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="accountingValue">Valor:</label>
                                            <input class="form-control" id="accountingValue" name="accountingValue"
                                                type="text" value="<?= $accountingRecord ?
                                                            $accountingRecord->getFormAccounting() == 1 ?
                                                                $accountingRecord->getValueFormat() : '' : '' ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="accountingValue">Data da Competência:</label>
                                            <input class="form-control" id="competitionDate" name="competitionDate"
                                                type="date" value="<?= $accountingRecord ?
                                                                $accountingRecord->getFormAccounting() == 1 && $accountingRecord->getCompetition() ?
                                                                    $accountingRecord->getCompetition()->format('Y-m-d') : '' : '' ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="accountingComment">Comentário:</label>
                                            <textarea class="form-control" id="accountingComment" name="accountingComment" rows="6" <?= !$user->accountingPermission() ? 'disabled' : '' ?>
                                                ><?= $accountingRecord ? $accountingRecord->getComment() : 
                                                    'Prestação de Serviço - ' . ucfirst(strtolower($requeriment->getProvider()->getName())) . 
                                                    ' CNPJ ' . $requeriment->getProvider()->getCpfCnpj() .
                                                    ' NF ' . $requeriment->getNfNumber();
                                                ?>
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <label>Contas cadastradas:</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Conta Débito</th>
                                                    <th>Conta Crédito</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($accountsForm1 as $a): ?>
                                                <tr>
                                                    <td><?= $a['debit'] ?></td>
                                                    <td><?= $a['credit'] ?></td>
                                                    <td><?= $a['value'] ?></td>
                                                </tr>
                                                <?php endforeach; ?>
                                            </tbody>
                                        </table>  
                                    </div>
                                    <div class="col">
                                        <?php if(!$requeriment->getContract() && $requeriment->getTypeDocument() != 4 && !preg_match("/Vale Transporte/", $requeriment->getDescription()) 
                                                    && !preg_match("/Pró-Labore/", $requeriment->getDescription()) && preg_match("/Salário/", $requeriment->getDescription())) : ?>
                                            <?php if($requeriment->getType() != 16): ?>
                                            <div class="mt-2 alert alert-danger">
                                                Atenção, não há um contrato relacionado a este <b>PAGAMENTO</b>. 
                                                    <a href="<?= BASEURL ?>financeiro/pagamentos/<?= $requeriment->getId() ?>" target="_blank">Clique aqui</a> para corrigir.
                                            </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                        <?php if($requeriment->getContract() && $requeriment->getTypeDocument() != 4 && !preg_match("/Vale Transporte/", $requeriment->getDescription())
                                                    && !preg_match("/Pró-Labore/", $requeriment->getDescription()) && preg_match("/Salário/", $requeriment->getDescription())) : ?>
                                            <?php if($requeriment->getType() != 16 && !$requeriment->getContract()->getAccount()): ?>
                                                <div class="mt-2 alert alert-danger">
                                                    Atenção, não há uma conta contábil do tipo débito indicada para o <b>CONTRATO</b> relacionado a este pagamento. 
                                                        <a href="<?= BASEURL ?>financeiro/contratos" target="_blank">Clique aqui</a> para corrigir.
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                        <?php if($requeriment->getContract() && $requeriment->getTypeDocument() != 4 && !preg_match("/Vale Transporte/", $requeriment->getDescription())
                                                    && !preg_match("/Pró-Labore/", $requeriment->getDescription()) && preg_match("/Salário/", $requeriment->getDescription())) : ?>
                                            <?php if($requeriment->getType() != 16 && !$requeriment->getProvider()->getAccountCredit()): ?>
                                                <div class="mt-2 alert alert-danger">
                                                    Atenção, não há uma conta contábil do tipo crédito indicada para o <b>FORNECEDOR</b> relacionado a este pagamento. 
                                                        <a href="<?= BASEURL ?>cadastros/fornecedores" target="_blank">Clique aqui</a> para corrigir.
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <hr>
                                <div class="row text-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="radio" name="multiple" value="1" onclick="changeRadio(1)">
                                            <label class="form-check-label" for="1">Normal</label>
                                            <input type="radio" name="multiple" value="2" onclick="changeRadio(2)">
                                            <label class="form-check-label" for="2">Débito (M)</label>
                                            <input type="radio" name="multiple" value="3" onclick="changeRadio(3)">
                                            <label class="form-check-label" for="3">Crédito (M)</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO Lançamentos Normais -->
                                <div class="row d-none" id="div1">
                                    <a href="#" type="button" onclick="duplicateDiv1()">Adicionar <i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingDebit">Conta Débito:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingDebit[]" list="accountsDebit">
                                                    <datalist id="accountsDebit">
                                                        <?php foreach ($accounts as $account): ?>
                                                        <option value="<?= $account->getAccountDescription() ?>">
                                                            <?= $account->getAccountDescription() ?>
                                                        <option>
                                                            <?php endforeach ?>
                                                    </datalist><br>
                                                <div id="duplicatedAccountingDebit"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccountingDebit">Valor:</label>
                                                    <input class="form-control" id="valueAccountingDebit" name="valueAccountingDebit[]" type="text"><br>
                                                    <div id="duplicatedValueDebit"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingCredit">Conta Crédito:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingCredit[]" list="accountsCredit">
                                                    <datalist id="accountsCredit">
                                                        <?php foreach ($accounts as $account): ?>
                                                            <option value="<?= $account->getAccountDescription() ?>">
                                                                <?= $account->getAccountDescription() ?>
                                                            <option>
                                                        <?php endforeach ?>
                                                    </datalist><br>
                                                    <div id="duplicatedAccountingCredit"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccountingCredit">Valor:</label>
                                                    <input class="form-control" id="valueAccountingCredit" name="valueAccountingCredit[]" type="text"><br>
                                                    <div id="duplicatedValueCredit"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO Lançamentos Multiplos Débito -->
                                <div class="row d-none" id="div2">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <a href="#" type="button" onclick="duplicateDiv2()">Adicionar <i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accounting">Conta:</label>
                                                    <div id="duplicatedAccountingM"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccounting">Valor:</label>
                                                    <div id="duplicatedValueM"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingMainM">Conta:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingMainM" list="accountsMainM">
                                                    <datalist id="accountsMainM">
                                                        <?php foreach ($accounts as $account): ?>
                                                        <option value="<?= $account->getAccountDescription() ?>">
                                                            <?= $account->getAccountDescription() ?>
                                                        <option>
                                                        <?php endforeach ?>
                                                    </datalist><br>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueDebitM">Valor:</label>
                                                    <input class="form-control" id="valueM" name="valueM" type="text"><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO Lançamentos Multiplos Crédito -->
                                <div class="row d-none" id="div3">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingMainCreditM">Conta:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingMainCreditM" list="accountsMainM">
                                                    <datalist id="accountsMainM">
                                                        <?php foreach ($accounts as $account): ?>
                                                        <option value="<?= $account->getAccountDescription() ?>">
                                                            <?= $account->getAccountDescription() ?>
                                                        <option>
                                                            <?php endforeach ?>
                                                    </datalist><br>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueDebitM">Valor:</label>
                                                    <input class="form-control" id="valueCreditM" name="valueCreditM" type="text"><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <a href="#" type="button" onclick="duplicateDiv3()">Adicionar <i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accounting">Conta:</label>
                                                    <div id="duplicatedAccountingM2"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccounting">Valor:</label>
                                                    <div id="duplicatedValueM2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="form-group">
                                            <button class="btn btn-primary text-white" type="submit" id="save"><i class="fa fa-save" aria-hidden="true"></i> Salvar</button>
                                            <?php if($accountingRecord): ?>
                                                <button class="btn btn-danger text-white" type="button" id="deleteRecord1" onclick="deleteRecord(<?= $accountingRecord->getId() ?>, '1')">
                                                <i class="fa fa-times" aria-hidden="true"></i> Remover</button>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mt-2 alert alert-danger d-none" id="divMessageFormAccounting">
                                            Erro
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END FORM 1 -->

    <!-- BEGIN FORM 2 -->
    <div class="col">
        <div class="card">
            <div class="row form-card mx-4">
                <h4 class="text-primary mt-5 text-center">Formulário 2</h4>
                <div class="col-md-12">
                    <div class="form-card mx-4" id="accountDiv2Form2">
                        <div class="row">
                            <form id="formAccountingForm2">
                                <input type="hidden" id="requerimentIdForm2" name="requerimentIdForm2" value="<?= $requeriment->getId() ?>">
                                <input type="hidden" id="formAccountingForm2" name="formAccountingForm2" value="2">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="checkbox" name="typeAccountingForm2" id="typeAccountingForm2" <?= $accountingRecord2 ?
                                                            $accountingRecord2->getFormAccounting() == 2 &&
                                                            $accountingRecord2->getAccounting() == 1 ? 'checked' : '' : '' ?>>
                                            <label class="form-check-label" for="typeAccountingForm2">Contábil</label>
                                            <input type="checkbox" name="typeFiscalForm2" id="typeFiscalForm2" style="margin-left: 15px;" <?= $accountingRecord2 ?
                                                            $accountingRecord2->getFormAccounting() == 2 &&
                                                            $accountingRecord2->getFiscal() == 1 ? 'checked' : '' : '' ?>>
                                            <label class="form-check-label" for="typeFiscalForm2">Fiscal</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="accountingStatusForm2">Status:</label>
                                            <select class="form-select" id="accountingStatusForm2" name="accountingStatusForm2">
                                                <option value="">Selecione</option>
                                                <option value="1" <?= $accountingRecord2 ?
                                                                    $accountingRecord2->getFormAccounting() == 2 &&
                                                                    $accountingRecord2->getStatus() == 1 ? 'selected' : '' : '' ?>>
                                                    Aprovado
                                                </option>
                                                <option value="2" <?= $accountingRecord2 ?
                                                                    $accountingRecord2->getFormAccounting() == 2 &&
                                                                    $accountingRecord2->getStatus() == 2 ? 'selected' : '' : '' ?>>
                                                    Pendência
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="accountingValueForm2">Valor:</label>
                                            <input class="form-control" id="accountingValueForm2" name="accountingValueForm2"
                                                type="text" value="<?= $accountingRecord2 ?
                                                            $accountingRecord2->getFormAccounting() == 2 ?
                                                            $accountingRecord2->getValueFormat() : '' : '' ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="accountingValueForm2">Data da Competência:</label>
                                            <input class="form-control" id="competitionDateForm2" name="competitionDateForm2"
                                                type="date" value="<?= $accountingRecord2 ?
                                                                    $accountingRecord2->getFormAccounting() == 2 ?
                                                                    $accountingRecord2->getCompetition()->format('Y-m-d') : '' : '' ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="accountingCommentForm2">Comentário:</label>
                                            <textarea class="form-control" id="accountingCommentForm2" 
                                                name="accountingCommentForm2" rows="6" <?= !$user->accountingPermission() ? 'disabled' : '' ?>
                                                ><?= $comment2 ?></textarea>
                                        </div>
                                    </div>
                                </div>
                                <label>Contas cadastradas:</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Conta Débito</th>
                                                    <th>Conta Crédito</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($accountsForm2 as $a): ?>
                                                <tr>
                                                    <td><?= $a['debit'] ?></td>
                                                    <td><?= $a['credit'] ?></td>
                                                    <td>R$ <?= $a['value'] ?></td>
                                                </tr>
                                                <?php endforeach; ?>
                                            </tbody>
                                        </table>  
                                    </div>
                                    <div class="col">
                                        <?php if($requeriment->getDirectoryAccount()): ?>
                                            <?php if(!$requeriment->getDirectoryAccount()->getAccountingAccount()): ?>
                                                <div class="mt-2 alert alert-danger">
                                                    Atenção, não há uma conta contábil do tipo crédito indicada para o <b>DIRETÓRIO</b> relacionado a este pagamento. 
                                                        <a href="<?= BASEURL ?>/financeiro/contas-diretorios" target="_blank">Clique aqui</a> para corrigir.
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <hr>
                                <div class="row text-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="radio" name="multipleForm2" value="1" onclick="changeRadioForm2(1)">
                                            <label class="form-check-label" for="1">Normal</label>
                                            <input type="radio" name="multipleForm2" value="2" onclick="changeRadioForm2(2)">
                                            <label class="form-check-label" for="2">Débito (M)</label>
                                            <input type="radio" name="multipleForm2" value="3" onclick="changeRadioForm2(3)">
                                            <label class="form-check-label" for="3">Crédito (M)</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO Lançamentos Normais -->
                                <div class="row d-none" id="div1Form2">
                                    <a href="#" type="button" onclick="duplicateDiv1Form2()">Adicionar <i class="fa fa-plus" aria-hidden="true"></i></a>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingDebitForm2">Conta Débito:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingDebitForm2[]" list="accountsDebitForm2">
                                                    <datalist id="accountsDebitForm2">
                                                        <?php foreach ($accounts as $account): ?>
                                                        <option value="<?= $account->getAccountDescription() ?>">
                                                            <?= $account->getAccountDescription() ?>
                                                        <option>
                                                            <?php endforeach ?>
                                                    </datalist><br>
                                                <div id="duplicatedAccountingDebitForm2"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccountingDebitForm2">Valor:</label>
                                                    <input class="form-control" id="valueAccountingDebitForm2" name="valueAccountingDebitForm2[]" type="text"><br>
                                                    <div id="duplicatedValueDebitForm2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingCreditForm2">Conta Crédito:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingCreditForm2[]" list="accountsCreditForm2">
                                                    <datalist id="accountsCreditForm2">
                                                        <?php foreach ($accounts as $account): ?>
                                                            <option value="<?= $account->getAccountDescription() ?>">
                                                                <?= $account->getAccountDescription() ?>
                                                            <option>
                                                        <?php endforeach ?>
                                                    </datalist><br>
                                                    <div id="duplicatedAccountingCreditForm2"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccountingCreditForm2">Valor:</label>
                                                    <input class="form-control" id="valueAccountingCreditForm2" name="valueAccountingCreditForm2[]" type="text"><br>
                                                    <div id="duplicatedValueCreditForm2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO Lançamentos Multiplos Débito -->
                                <div class="row d-none" id="div2Form2">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <a href="#" type="button" onclick="duplicateDiv2Form2()">Adicionar <i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingForm2">Conta:</label>
                                                    <div id="duplicatedAccountingMForm2"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccountingForm2">Valor:</label>
                                                    <div id="duplicatedValueMForm2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingMainMForm2">Conta:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingMainMForm2" list="accountsMainMForm2">
                                                    <datalist id="accountsMainMForm2">
                                                        <?php foreach ($accounts as $account): ?>
                                                        <option value="<?= $account->getAccountDescription() ?>">
                                                            <?= $account->getAccountDescription() ?>
                                                        </option>
                                                            <?php endforeach ?>
                                                    </datalist><br>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueMForm2">Valor:</label>
                                                    <input class="form-control" id="valueMForm2" name="valueMForm2" type="text"><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO Lançamentos Multiplos Crédito -->
                                <div class="row d-none" id="div3Form2">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingMainCreditMForm2">Conta:</label>
                                                    <input class="form-control" type="search" placeholder="Pesquisar" name="accountingMainCreditMForm2" list="accountsMainMForm2">
                                                    <datalist id="accountsMainCreditMForm2">
                                                        <?php foreach ($accounts as $account): ?>
                                                        <option value="<?= $account->getAccountDescription() ?>">
                                                            <?= $account->getAccountDescription() ?>
                                                        </option>
                                                            <?php endforeach ?>
                                                    </datalist><br>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueMCreditForm2">Valor:</label>
                                                    <input class="form-control" id="valueCreditMForm2" name="valueCreditMForm2" type="text"><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <a href="#" type="button" onclick="duplicateDiv3Form2()">Adicionar <i class="fa fa-plus" aria-hidden="true"></i></a>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="accountingForm2">Conta:</label>
                                                    <div id="duplicatedAccountingM2Form2"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="valueAccountingForm2">Valor:</label>
                                                    <div id="duplicatedValueM2Form2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="form-group">
                                            <button class="btn btn-primary text-white" type="submit" id="saveForm2"><i class="fa fa-save" aria-hidden="true"></i> Salvar</button>
                                            <?php if($accountingRecord2): ?>
                                                <button class="btn btn-danger text-white" type="button" id="deleteRecord2" onclick="deleteRecord(<?= $accountingRecord2->getId() ?>, '2')">
                                                <i class="fa fa-times" aria-hidden="true"></i> Remover</button>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mt-2 alert alert-danger d-none" id="divMessageFormAccountingForm2">
                                            Erro
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <!-- END FORM 2 -->
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/financial/accounting.js"></script>

<style>
table, th, td {
  border: 1px solid #ced4da;
  padding: 10px;
}
</style>