<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Aprovações Pendentes</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="directoryApprovedFilter">Diretório</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="directory"
                                       id="directoryApprovedFilter" list="directoryList">
                                <datalist id="directoryList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="userApprovedFilter">Usuário:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="user"
                                       id="userApprovedFilter" list="userList">
                                <datalist id="userList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($users as $u): ?>
                                        <option value="<?= $u['name'] ?>"><?= $u['name'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cpfCnpjApprovedFilter">CNPJ/CPF Fornecedor:</label>
                                <input class="form-control" type="text" id="cpfCnpjApprovedFilter" name="cpfCnpj"
                                       placeholder="CNPJ/CPF">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="providerApprovedFilter">Nome Fornecedor</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="provider"
                                       id="providerApprovedFilter" list="providerList">
                                <datalist id="providerList">
                                    <option value="" selected>Selecione</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="costCenterApprovedFilter">Centro de Custo</label>
                                <select class="form-control form-select" name="costCenter" id="costCenterApprovedFilter">
                                    <option value="">Selecionar</option>
                                    <?php foreach ($costCenter as $c): ?>
                                        <option value="<?= $c->getId() ?>"><?= $c->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center m-b-30">
                        <div class="col-auto">
                            <span>Exibir </span>
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-select" id="limitApproved"
                                    onchange="getLimit(this.value, 'Approved')">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <span> registros</span>
                        </div>
                        <div class="col text-end m-b-30">
                            <button class="btn btn-danger" type="reset"
                                    onclick="resetTable('Approved')"><i class="fa fa-eraser" aria-hidden="true"></i>
                                Limpar
                            </button>
                            <button class="btn btn-primary text-white" type="submit">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startApproved"></span> a <span id="endApproved"></span> de
                            <span id="totalApproved"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xxl custom-scrollbar">
                    <div class="col-12">
                        <table id="tableApproved" class="table table-bordered table-striped">
                            <thead>
                            <tr class="middle">
                                <th class="text-center">Registro</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Vencimento</th>
                                <th class="text-center">Diretório</th>
                                <th class="text-center">Centro de Custo</th>
                                <th class="text-center">Área</th>
                                <th class="text-center">Usuário</th>
                                <th class="text-center">Origem</th>
                                <th class="text-center">Fornecedor</th>
                                <th class="text-center">CNPJ/CPF</th>
                                <th class="text-center">Anexos</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderApproved m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationApproved" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/financial/approved.js?v=<?= time() ?>"></script>

