<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">
                            <?= $type === 1 ? 'SOLICITAÇÕES DE PAGAMENTOS' : 'CONTAS A PAGAR' ?></h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_CRIACAO_EDICAO)): ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-primary" target="_blank"
                               href="<?= BASEURL ?>financeiro/pagamentos/novo-pagamento/"><i class="fa fa-plus"></i>
                                Adicionar Pagamento
                            </a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="id<?= $section ?>Filter">ID:</label>
                                <input class="form-control" type="number" id="id<?= $section ?>Filter" name="id"
                                       value="">
                            </div>
                        </div>
                        <?php if ($user->accountingPermission()): ?>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="accounting<?= $section ?>Filter">Contabilização:</label>
                                    <select class="form-select" id="accounting<?= $section ?>Filter" name="accounting">
                                        <option value="">Todos</option>
                                        <option value="1">Aprovado</option>
                                        <option value="2">Pendente</option>
                                    </select>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="dateType<?= $section ?>Filter">Tipo de Data:</label>
                                <select class="form-select" id="dateType<?= $section ?>Filter" name="dateType">
                                    <option value="1">Vencimento</option>
                                    <option value="2">Pagamento</option>
                                    <option value="4">Estorno</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="dateBegin<?= $section ?>Filter">De:</label>
                                <input class="form-control" type="date" id="dateBegin<?= $section ?>Filter"
                                       name="dateBegin" value="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="dateEnd<?= $section ?>Filter">Até:</label>
                                <input class="form-control" type="date" id="dateEnd<?= $section ?>Filter" name="dateEnd"
                                       value="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="status<?= $section ?>Filter">Status:</label>
                                <select class="form-select" id="status<?= $section ?>Filter" name="status">
                                    <option value="-1" selected>Todos</option>
                                    <option value="4">Aguardando Aprovação</option>
                                    <option value="0">Análise</option>
                                    <option value="6">Análise OK</option>
                                    <option value="1">Pendência</option>
                                    <option value="2">Agendado</option>
                                    <option value="3">Efetuado</option>
                                    <option value="7">Conciliado</option>
                                    <option value="8">Estornado</option>
                                    <option value="5">Cancelado</option>
                                    <option value="9">Estimável</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="accounted<?= $section ?>Filter">Contabilizado:</label>
                                <select name="accounted" id="accounted<?= $section ?>Filter" class="form-select">
                                    <option value="">Todos</option>
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="origin<?= $section ?>Filter">Origem da Despesa:</label>
                                <select class="form-select" id="origin<?= $section ?>Filter" name="origin">
                                    <option value="0">Todos</option>
                                    <option value="1">OR CAMPANHA ELEITORAL - DOAÇÕES PRIVADAS</option>
                                    <option value="2">FP - POLÍTICA DA MULHER</option>
                                    <option value="3">OR - OUTROS RECURSOS - DOAÇÕES PRIVADAS</option>
                                    <option value="4">FP - FUNDO PARTIDÁRIO</option>
                                    <option value="5">FP CAMPANHA ELEITORAL - FUNDO PARTIDÁRIO PARA CAMPANHA ELEITORAL
                                    </option>
                                    <option value="6">FEFC GERAL</option>
                                    <option value="7">FEFC MULHER</option>
                                    <option value="8">FEFC MULHER NEGRA</option>
                                    <option value="9">FEFC HOMEM NEGRO</option>
                                    <option value="10">FP POLÍTICA DA MULHER CAMPANHA ELEITORAL</option>
                                    <option value="11">FEFC INDÍGENA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="value<?= $section ?>Filter">Valor Doc:</label>
                                <input class="form-control" type="text" id="value<?= $section ?>Filter" name="value"
                                       value="">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="paymentValue<?= $section ?>Filter">Valor Pago:</label>
                                <input class="form-control" type="text" id="paymentValue<?= $section ?>Filter"
                                       name="paymentValue"
                                       value="">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="docNumber<?= $section ?>Filter">N° Doc:</label>
                                <input class="form-control" type="text" id="docNumber<?= $section ?>Filter"
                                       name="docNumber" value="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="typeFilter">Tipo da despesa:</label>
                                <select class="form-select" name="type" id="type<?= $section ?>Filter"
                                        onchange="expense()">
                                    <option value="" selected>Selecione</option>
                                    <option value="4">Combustíveis</option>
                                    <option value="6">Compra de Ativos</option>
                                    <option value="9">Contas de Consumo</option>
                                    <option value="8">Despesa de Escritório</option>
                                    <option value="5">Evento</option>
                                    <option value="21" <?= $user->cashFlowPermission() ? '' : 'style="display:none"' ?>>
                                        Fundo de Caixa
                                    </option>
                                    <option value="10">Gastos com Alimentação</option>
                                    <option value="13">Gastos com Impulsionamentos</option>
                                    <option value="18">GRU´s</option>
                                    <!--<option value="1">Hospedagem/Viagens</option>-->
                                    <option value="12">Locação</option>
                                    <option value="7">Mão de Obra/Prestação de Serviços</option>
                                    <option value="3">Material Impresso</option>
                                    <option value="17">Viagens e Hospedagem</option>
                                    <option value="16">Repasse/Transferência à Diretórios</option>
                                    <option value="22">Repasse/Transferência à Candidatos</option>
                                    <option value="15">Serviços Contábeis</option>
                                    <option value="14">Serviços Jurídicos</option>
                                    <option value="19">Cessão</option>
                                    <option value="2">Taxi</option>
                                    <option value="20">Taxa/Tarifa</option>
                                    <option value="11">Outros</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="costCenter<?= $section ?>Filter">Centro de Custo:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="user"
                                       id="costCenter<?= $section ?>Filter" list="costCenterList">
                                <datalist id="costCenterList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($costCenter as $c): ?>
                                        <option value="<?= $c->getName() ?>"></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="area<?= $section ?>Filter">Área:</label>
                                <select class="form-select" name="area" id="area<?= $section ?>Filter">
                                    <option value="">Todas</option>
                                    <?php foreach ($areas as $area): ?>
                                        <option value="<?= $area->getId() ?>"><?= $area->getName() ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="directory<?= $section ?>Filter">Diretório:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="directory"
                                       id="directory<?= $section ?>Filter" list="directoryList">
                                <datalist id="directoryList">
                                    <option value="" selected>Selecione</option>
                                    <option value="Diretório Nacional" selected>Diretório Nacional</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="directoryPaying<?= $section ?>Filter">Diretório Pagante:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="directoryPaying"
                                       id="directoryPaying<?= $section ?>Filter" list="directoryList">
                                <datalist id="directoryList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="user<?= $section ?>Filter">Usuário:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="user"
                                       id="user<?= $section ?>Filter" list="userList">
                                <datalist id="userList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($users as $u): ?>
                                        <option value="<?= $u['name'] ?>"><?= $u['name'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cpfCnpj<?= $section ?>Filter">CNPJ/CPF Fornecedor:</label>
                                <input class="form-control" type="text" id="cpfCnpj<?= $section ?>Filter" name="cpfCnpj"
                                       placeholder="CNPJ/CPF">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="provider<?= $section ?>Filter">Nome Fornecedor:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="provider"
                                       id="provider<?= $section ?>Filter" list="providerList">
                                <datalist id="providerList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($providers as $provider): ?>
                                        <option value="<?= $provider->getName() ?>"><?= $provider->getName() ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>

                        <!-- Filtro de status do BB -->
                        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_ENVIAR_PARA_BANCO)): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="bbStatus" id="bbStatus<?= $section ?>Filter" value="">
                                <div class="multiselect">
                                    <label for="bbStatus">Status BB:</label>
                                    <div class="selectBox" onclick="toggleCheckboxes()">
                                        <select class="form-select">
                                            <option id="statusDisplay">Selecione</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="checkboxes" class="checkbox-dropdown">
                                        <div class="search-container">
                                            <input type="text" class="form-control form-control-sm" 
                                                placeholder="Buscar status..." 
                                                onkeyup="filterStatus(this.value)">
                                        </div>
                                        <ul class="status-list">
                                            <li class="status-item">
                                                <label class="d-flex align-items-center">
                                                    <input type="checkbox" class="checkboxCustom me-2" 
                                                        id="checkAll" onclick="selectAll()"/>
                                                    <span>Selecionar Tudo</span>
                                                </label>
                                            </li>
                                            <?php
                                            $statusOptions = [
                                                'PENDENTE' => 'Pendente',
                                                'CONSISTENTE' => 'Consistente',
                                                'AGENDADO' => 'Agendado',
                                                'CANCELADO' => 'Cancelado',
                                                'BLOQUEADO' => 'Bloqueado',
                                                'DEBITADO' => 'Debitado',
                                                'DEVOLVIDO' => 'Devolvido',
                                                'ERRO' => 'Erro',
                                                'INCONSISTENTE' => 'Inconsistente',
                                                'PAGO' => 'Pago',
                                                'REJEITADO' => 'Rejeitado'
                                            ];

                                            foreach ($statusOptions as $value => $label): ?>
                                                <li class="status-item">
                                                    <label class="d-flex align-items-center">
                                                        <input type="checkbox" class="checkboxCustom me-2"
                                                            name="checkboxBBStatus"
                                                            value="<?= $value ?>"
                                                            onchange="updateSelection()"/>
                                                        <span><?= $label ?></span>
                                                    </label>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>

                        <div class="col">
                            <div class="col text-end m-b-30">
                                <button class="btn btn-success text-white" type="submit">
                                    <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                                </button>
                                <button class="btn btn-danger" type="reset"
                                        onclick="resetTable('<?= $section ?>')">
                                    <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                                </button>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_EXPORTACAO)): ?>
                                    <button class="btn btn-primary text-white"
                                            onclick="csv('<?= $user->getType() == 5 ? 'diretiva/' : '' ?>')"><i
                                                class="fa fa-download" aria-hidden="true"></i> Exportar
                                    </button>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center m-b-30">
                        <div class="col-auto">
                            <span>Exibir </span>
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-select" id="limit<?= $section ?>"
                                    onchange="getLimit(this.value, '<?= $section ?>')">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <span> registros</span>
                        </div>
                        <div class="col text-end">
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_EXPORTACAO)): ?>
                                <button class="btn btn-success text-white" onclick="csvAccounting()">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Exportação Contábil
                                </button>
                                <button class="btn btn-primary text-white" onclick="csvFiscal()">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Exportação Fiscal
                                </button>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="start<?= $section ?>"></span> a <span id="end<?= $section ?>"></span>
                            de
                            <span id="total<?= $section ?>"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xxl custom-scrollbar">
                    <div class="col-12">
                        <table id="table<?= $section ?>" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Registro</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Vencimento</th>
                                <th class="text-center">Centro de Custo</th>
                                <th class="text-center">Diretório</th>
                                <th class="text-center">Usuário</th>
                                <th class="text-center">Origem</th>
                                <th class="text-center">Fornecedor</th>
                                <th class="text-center">CNPJ/CPF</th>
                                <th class="text-center">Status</th>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_ENVIAR_PARA_BANCO)): ?>
                                    <th class="text-center">Status BB</th>
                                <?php endif; ?>
                                <th class="text-center">Anexos</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loader<?= $section ?> m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="pagination<?= $section ?>" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script>

    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_CRIACAO_EDICAO, false, true) ?>;

    var type = <?= $user->getType() ?>;
    var userId = <?= $user->getId() ?>;
    var sessions = '<?= $section ?>';
    var mask = 'value<?= $section ?>Filter';
    let accountingPermission = <?= $accountingPermission = $user->accountingPermission() ?: 0 ?>;

    function Populate() {
        vals = $('input[type="checkbox"]:checked').map(function () {
            return this.value;
        }).get().join(',');
        console.log(vals);
        $('#bbStatus<?= $section ?>Filter').val(vals);
    }

    $('input[type="checkbox"]').on('change', function () {
        Populate()
    }).change();

    var expanded = false;
    var checkboxes = document.getElementById("checkboxes");

    function showCheckboxes() {
        checkboxes.style.display = "block";
        expanded = true;
    }

    var selectCustom = document.getElementById("selectCustom");
    var teste = document.getElementById("teste");
    var checkCustom = document.getElementsByClassName("checkboxCustom");
    document.documentElement.onclick = function (event) {
        if (event.target !== selectCustom && event.target.type !== 'checkbox' && event.target.className !== 'liCustom') {
            checkboxes.style.display = "none";
        }
    }

    function selectAll() {
        const checkAll = document.querySelector('#checkAll')
        const checkElements = document.querySelectorAll('[name="checkboxBBStatus"]');
        checkElements.forEach((item) => {
            if (checkAll.checked) {
                item.checked = true;
            } else {
                item.checked = false
            }
        });
    }
</script>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/paymentsTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/billsToPay.js?v=<?= time() ?>"></script>

<!-- Begin: Filtro de status do BB -->
<style>
.multiselect {
    position: relative;
    width: 100%;
}

.selectBox {
    position: relative;
    cursor: pointer;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkbox-dropdown {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-container {
    position: sticky;
    top: 0;
    padding: 8px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.status-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.status-item {
    padding: 8px 12px;
    transition: background-color 0.2s;
}

.status-item:hover {
    background-color: #f8f9fa;
}

.status-item label {
    margin: 0;
    cursor: pointer;
    width: 100%;
}

.checkboxCustom {
    cursor: pointer;
}
</style>

<script>
let isOpen = false;

function toggleCheckboxes() {
    const checkboxes = document.getElementById("checkboxes");
    if (!isOpen) {
        checkboxes.style.display = "block";
        isOpen = true;
    } else {
        checkboxes.style.display = "none";
        isOpen = false;
    }
}

function filterStatus(searchText) {
    const items = document.querySelectorAll('.status-item');
    searchText = searchText.toLowerCase();
    
    items.forEach(item => {
        const text = item.textContent.toLowerCase();
        if (item.querySelector('#checkAll')) return; // Ignora o "Selecionar Tudo"
        item.style.display = text.includes(searchText) ? '' : 'none';
    });
}

function selectAll() {
    const checkAll = document.getElementById('checkAll');
    const checkboxes = document.querySelectorAll('input[name="checkboxBBStatus"]');
    
    checkboxes.forEach(checkbox => {
        checkbox.checked = checkAll.checked;
    });
    
    updateSelection();
}

function updateSelection() {
    const checkboxes = document.querySelectorAll('input[name="checkboxBBStatus"]:checked');
    const statusDisplay = document.getElementById('statusDisplay');
    const hiddenInput = document.getElementById(`bbStatus${section}Filter`);
    
    const selectedValues = Array.from(checkboxes).map(cb => cb.value);
    
    if (selectedValues.length === 0) {
        statusDisplay.textContent = 'Selecione';
        hiddenInput.value = '';
    } else if (selectedValues.length === 1) {
        statusDisplay.textContent = checkboxes[0].nextElementSibling.textContent.trim();
        hiddenInput.value = selectedValues[0];
    } else {
        statusDisplay.textContent = `${selectedValues.length} selecionados`;
        hiddenInput.value = selectedValues.join(',');
    }
}

// Fechar dropdown quando clicar fora
document.addEventListener('click', function(e) {
    const multiselect = document.querySelector('.multiselect');
    if (!multiselect.contains(e.target) && isOpen) {
        toggleCheckboxes();
    }
});

</script>
<!-- End: Filtro de status do BB -->