<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Orçamentos</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_ORCAMENTOANUAL_CRIACAO_EDICAO)): ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-success" onclick="openModal(0)"><i class="fa fa-plus"></i> Adicionar</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="yearBudgetsFilter">Ano</label>
                            <input id="yearBudgetsFilter" name="year" class="form-control" placeholder="Ano"
                                   data-maks="9999" value="<?= date('Y') ?>">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="directoryBudgetsFilter">Diretório</label>
                            <input class="form-control" type="search" placeholder="Pesquisar"
                                   onchange="getCostCenter('costCenterBudgetsFilter', this.value); getArea('areaBudgetsFilter', this.value)"
                                   name="directory" id="directoryBudgetsFilter" list="accountsDebit">
                            <datalist id="accountsDebit">
                                <option value="" selected>Selecione</option>
                                <?php foreach ($directories as $directorie): ?>
                                    <option
                                            value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                <?php endforeach ?>
                            </datalist>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="costCenterBudgetsFilter">Centro de Custo</label>
                            <select class="form-select" name="costCenter"
                                    id="costCenterBudgetsFilter">
                                <option value="">Selecionar</option>
                            </select>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="areaBudgetsFilter">Área</label>
                            <select class="form-select" name="area" id="areaBudgetsFilter">
                                <option value="">Selecionar</option>
                            </select>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="groupByBudgetsFilter">Agrupar Por</label>
                            <select class="form-select" name="groupBy"
                                    id="groupByBudgetsFilter">
                                <option value="0">Área</option>
                                <option value="1">Centro de Custo</option>
                                <option value="2">Diretório</option>
                            </select>
                        </div>

                        <div class="col text-end mt-auto m-b-20">
                            <button class="btn btn-danger" type="reset" onclick="resetTableBudgets()">
                                <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                            </button>
                            <button class="btn btn-primary" type="button" onclick="filterBudgets()">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                        <div class="row g-3 align-items-center m-b-30">
                            <div class="col-auto">
                                <span>Exibir </span>
                            </div>
                            <div class="col-auto">
                                <select class="form-control form-select" id="limitBudgets"
                                        onchange="getLimit(this.value, 'Budgets')">
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <span> registros</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startBudgets"></span> a <span id="endBudgets"></span> de
                            <span id="totalBudgets"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xl custom-scrollbar" style="overflow-x: auto">
                    <div class="col-12 mt-5">
                        <table id="tableBudgets" class="table table-bordered table-striped">
                            <thead>

                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderBudgets m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationBudgets" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Orçamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="budgetId" id="budgetId">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="directory">Diretório</label>
                            <input class="form-control" type="search" placeholder="Pesquisar"
                                   onchange="getCostCenter(); getArea()"
                                   name="directory" id="directory" list="accountsDebit" required>
                            <datalist id="accountsDebit">
                                <option value="" selected>Selecione</option>
                                <?php foreach ($directories as $directorie): ?>
                                    <option
                                            value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                <?php endforeach ?>
                            </datalist>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="costCenter">Centro de Custo</label>
                            <select class="form-select" name="costCenter"
                                    id="costCenter" required>
                                <option value="">Selecionar</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="area">Área</label>
                            <select class="form-select" name="area" id="area" required>
                                <option value="">Selecionar</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="year">Ano</label>
                            <input id="year" placeholder="AAAA" name="year" type="text" data-mask="9999"
                                   class="form-control" required>
                        </div>
                    </div>

                    <label>Valores Mensais:</label>

                    <div class="row mb-3">
                        <label for="mon1" class="col-md-6 col-form-label">Janeiro</label>
                        <div class="col-md-6">
                            <input id="mon1" placeholder="Valor" name="value[1]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon2" class="col-md-6 col-form-label">Feveiro</label>
                        <div class="col-md-6">
                            <input id="mon2" placeholder="Valor" name="value[2]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon3" class="col-md-6 col-form-label">Março</label>
                        <div class="col-md-6">
                            <input id="mon3" placeholder="Valor" name="value[3]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon4" class="col-md-6 col-form-label">Abril</label>
                        <div class="col-md-6">
                            <input id="mon4" placeholder="Valor" name="value[4]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon5" class="col-md-6 col-form-label">Maio</label>
                        <div class="col-md-6">
                            <input id="mon5" placeholder="Valor" name="value[5]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon6" class="col-md-6 col-form-label">Junho</label>
                        <div class="col-md-6">
                            <input id="mon6" placeholder="Valor" name="value[6]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon7" class="col-md-6 col-form-label">Julho</label>
                        <div class="col-md-6">
                            <input id="mon7" placeholder="Valor" name="value[7]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon8" class="col-md-6 col-form-label">Agosto</label>
                        <div class="col-md-6">
                            <input id="mon8" placeholder="Valor" name="value[8]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon9" class="col-md-6 col-form-label">Setembro</label>
                        <div class="col-md-6">
                            <input id="mon9" placeholder="Valor" name="value[9]" type="text" class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon10" class="col-md-6 col-form-label">Outubro</label>
                        <div class="col-md-6">
                            <input id="mon10" placeholder="Valor" name="value[10]" type="text"
                                   class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon11" class="col-md-6 col-form-label">Novembro</label>
                        <div class="col-md-6">
                            <input id="mon11" placeholder="Valor" name="value[11]" type="text"
                                   class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mon12" class="col-md-6 col-form-label">Dezembro</label>
                        <div class="col-md-6">
                            <input id="mon12" placeholder="Valor" name="value[12]" type="text"
                                   class="form-control money"
                                   required onkeyup="setTotal()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="total" class="col-md-6 col-form-label">Total</label>
                        <div class="col-md-6">
                            <input id="total" placeholder="Total" name="total" readonly type="text"
                                   class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_ORCAMENTOANUAL_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_ORCAMENTOANUAL_CRIACAO_EDICAO, false, true) ?>;
</script>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/financial/budgets.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/counter/jquery.waypoints.min.js"></script>
<script src="<?= BASEURL ?>assets/js/counter/jquery.counterup.min.js"></script>
<script src="<?= BASEURL ?>assets/js/counter/counter-custom.js"></script>
