<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Detalhes dos Orçamentos</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="groupByBudgetDetailsFilter">Agrupar Por</label>
                            <select class="form-select" name="groupBy"
                                    id="groupByBudgetDetailsFilter">
                                <option value="0">Área</option>
                                <option value="1">Centro de Custo</option>
                                <option value="2">Diretório</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="dateBeginBudgetDetailsFilter">De:</label>
                            <input class="form-control" type="date" id="dateBeginBudgetDetailsFilter"
                                   name="dateBegin" value="">
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="dateEndBudgetDetailsFilter">Até:</label>
                            <input class="form-control" type="date" id="dateEndBudgetDetailsFilter" name="dateEnd"
                                   value="">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="dateTypeBudgetDetailsFilter">Tipo Data:</label>
                            <select class="form-select" id="dateTypeBudgetDetailsFilter" name="dateType">
                                <option value="2">Pagamento</option>
                                <option value="3">Competência</option>

                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="statusBudgetDetailsFilter">Status:</label>
                            <select class="form-select" id="statusBudgetDetailsFilter" name="status">
                                <option value="ef_or_conc">Todos</option>
                                <option value="3">Efetuado</option>
                                <option value="7">Conciliado</option>

                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cpfCnpjBudgetDetailsFilter">CNPJ/CPF Fornecedor:</label>
                            <input class="form-control" type="text" id="cpfCnpjBudgetDetailsFilter" name="cpfCnpj"
                                   placeholder="CNPJ/CPF">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="providerBudgetDetailsFilter">Nome Fornecedor:</label>
                            <input class="form-control" type="search" placeholder="Pesquisar" name="provider"
                                   id="providerBudgetDetailsFilter" list="providerList">
                            <datalist id="providerList">
                                <option value="" selected>Selecione</option>
                                <?php use App\Helpers\Validator;
                                use App\Models\Entities\SystemFeatures;

                                foreach ($providers as $provider): ?>
                                    <option value="<?= $provider->getName() ?>"><?= $provider->getName() ?></option>
                                <?php endforeach ?>
                            </datalist>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="directoryBudgetDetailsFilter">Diretório:</label>
                            <input class="form-control" type="search" placeholder="Pesquisar"
                                   onchange="getCostCenter('costCenterList', this.value);
                                            getArea('areaBudgetsDetailsFilter', this.value)"
                                   name="directory" id="directoryBudgetDetailsFilter" list="accountsDebit">
                            <datalist id="accountsDebit">
                                <option value="" selected>Selecione</option>
                                <?php foreach ($directories as $directorie): ?>
                                    <option
                                            value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                <?php endforeach ?>
                            </datalist>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="costCenterBudgetDetailsFilter">Centro de Custo:</label>
                            <input class="form-control" type="search" placeholder="Pesquisar" name="costCenter"
                                   id="costCenterBudgetDetailsFilter" list="costCenterList">
                            <datalist id="costCenterList">
                                <option value="" selected>Selecione</option>
                                <?php foreach ($costCenter as $c): ?>
                                    <option value="<?= $c->getName() ?>"></option>
                                <?php endforeach ?>
                            </datalist>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="areaBudgetsDetailsFilter">Área</label>
                            <select class="form-select" name="area" id="areaBudgetsDetailsFilter">
                                <option value="">Selecionar</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="yearBudgetDetailsFilter">Ano:</label>
                            <input class="form-control" type="text" id="yearBudgetDetailsFilter" name="year"
                                   placeholder="Ano">
                        </div>

                        <div class="col-12 mb-2 text-end">
                            <button class="my-1 btn btn-success text-white" onclick="filterTables()">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                            <button class="my-1 btn btn-danger" type="reset"
                                    onclick="resetTableBudgets()"><i class="fa fa-eraser"
                                                                     aria-hidden="true"></i> Limpar
                            </button>
                            <?php if (Validator::validatePermission(SystemFeatures::ADMINISTRATIVO_ORCADOXREALIZADO_EXPORTACAO)): ?>
                                <button class="my-1 btn btn-primary text-white"
                                        onclick="csv()"><i class="fa fa-download" aria-hidden="true"></i> Exportar
                                </button>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center m-b-30  m-t-30 d-none">
                        <div class="col-auto">
                            <span>Exibir </span>
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-select" id="limitDetailsBudgets"
                                    onchange="getLimit(this.value, 'DetailsBudgets')">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <span> registros</span>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startDetailsBudgets"></span> a <span id="endDetailsBudgets"></span>
                            de
                            <span id="totalDetailsBudgets"></span> registros</p>
                    </div>
                </div>

                <div class="row table-responsive-xl custom-scrollbar" style="overflow-x: auto">

                    <div class="col-12">
                        <span class="mb-3 badge badge-info">Orçado</span>
                        <span class="mb-3 badge badge-danger">Realizado</span>
                        <span class="mb-3 badge badge-primary">Saldo</span>
                        <table class="table table-bordered table-striped" id="tableDetailsBudgets">
                            <thead>
                            <tr class="middle">
                                <th class="text-center">Diretório</th>
                                <th class="text-center">Centro de Custo</th>
                                <th class="text-center">Área</th>
                                <th class="text-center">Ano</th>
                                <th class="text-center">Janeiro</th>
                                <th class="text-center">Fevereiro</th>
                                <th class="text-center">Março</th>
                                <th class="text-center">Abril</th>
                                <th class="text-center">Maio</th>
                                <th class="text-center">Junho</th>
                                <th class="text-center">Julho</th>
                                <th class="text-center">Agosto</th>
                                <th class="text-center">Setembro</th>
                                <th class="text-center">Outubro</th>
                                <th class="text-center">Novembro</th>
                                <th class="text-center">Dezembro</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderDetailsBudgets m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>

                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationDetailsBudgets" style="top: auto">

                        </ul>
                    </nav>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h5 class="title">Pagamentos Efetuados/Conciliados</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row g-3 align-items-center m-b-30  m-t-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limitBudgetDetails"
                                onchange="getLimit(this.value, 'BudgetDetails')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startBudgetDetails"></span> a <span id="endBudgetDetails"></span>
                            de
                            <span id="totalBudgetDetails"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xxl custom-scrollbar">
                    <div class="col-12">
                        <table id="tableBudgetDetails" class="table table-bordered table-striped">
                            <thead>
                            <tr class="middle">
                                <th class="text-center">ID</th>
                                <th class="text-center">Registro</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Vencimento</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Centro de Custo</th>
                                <th class="text-center">Diretório</th>
                                <th class="text-center">Usuário</th>
                                <th class="text-center">Origem</th>
                                <th class="text-center">Fornecedor</th>
                                <th class="text-center">CNPJ/CPF</th>
                                <th class="text-center">Anexos</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderBudgetDetails m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationBudgetDetails" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var type = <?= $user->getType() ?>;
    var sessions = 'BudgetDetails';
    var mask = 'valueBudgetDetailsFilter';
    let accountingPermission = <?= $accountingPermission = $user->accountingPermission() ?: 0 ?>;
</script>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/paymentsTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/budgetDetails.js?v=<?= time() ?>"></script>
