<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Plano de contas</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="reduced">Reduzida</label>
                                <input class="form-control" id="reduced" name="reduced" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="type">Tipo</label>
                                <select class="form-select" id="type" name="type">
                                    <option value="" selected>Selecione</option>
                                    <option value="1">Conta Débito</option>
                                    <option value="2">Conta Crédito</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="category">Categoria</label>
                                <select class="form-select" id="category" name="category">
                                    <option value="" selected>Selecione</option>
                                    <option value="1">Receita</option>
                                    <option value="2">Despesa</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="specie">Especie</label>
                                <select class="form-select" id="specie" name="specie">
                                    <option value="" selected>Selecione</option>
                                    <option value="OR">Outros Recursos</option>
                                    <option value="FP">Fundo Partidário</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="surname">Apelido</label>
                                <input class="form-control" id="surname" name="surname" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="account">Conta</label>
                                <input class="form-control" id="account" name="account" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <input class="form-control" id="description" name="description" type="text">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div id="message" class="alert" role="alert" style="display:none"></div>
                            Exibindo <span id="partial"></span> de <span id="total"></span>
                        </div>
                        <div class="col text-end">
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_PLANODECONTAS_CRIACAO_EDICAO)): ?>
                                <button class="btn btn-secondary" type="button" onclick="changeModal('show')"><i
                                            class="fa fa-plus" aria-hidden="true"></i> Adicionar
                                </button>
                                <button class="btn btn-primary" type="button" onclick="importAccount()"><i
                                            class="fa fa-upload"
                                            aria-hidden="true"></i>
                                    Importar
                                </button>
                            <?php endif; ?>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_PLANODECONTAS_EXPORTACAO)): ?>
                                <button class="btn btn-warning" type="button" onclick="csv()"><i class="fa fa-download"
                                                                                                 aria-hidden="true"></i>
                                    Exportar
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                                  aria-hidden="true"></i>
                                Limpar
                            </button>
                            <button class="btn btn-success" type="submit"><i class="fa fa-filter"
                                                                             aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Reduzida</th>
                                <th class="text-center">Apelido</th>
                                <th class="text-center">Conta</th>
                                <th class="text-center">Descrição</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Criação</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div id="loader" class="loader"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card-header">
                <h5 class="modal-title">Nova Conta</h5>
            </div>
            <form id="form">
                <input type="hidden" id="accountId" name="accountId">
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="reduced">Reduzida</label>
                                <input class="form-control" id="reducedModal" name="reducedModal" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="surname">Apelido</label>
                                <input class="form-control" id="surnameModal" name="surnameModal" type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="type">Tipo</label>
                                <select class="form-select" id="typeModal" name="typeModal">
                                    <option value="" selected>Selecione</option>
                                    <option value="1">Conta Débito</option>
                                    <option value="2">Conta Crédito</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="account">Conta</label>
                                <input class="form-control" id="accountModal" name="accountModal" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="category">Categoria</label>
                                <select class="form-select" id="categoryModal" name="categoryModal">
                                    <option value="" selected>Selecione</option>
                                    <option value="1">Receita</option>
                                    <option value="2">Despesa</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <input class="form-control" id="descriptionModal" name="descriptionModal" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="messageForm" class="alert" role="alert" style="display:none"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="changeModal('hide')">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Salvar Conta</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="modalImportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card-header">
                <h5>Importar Contas</h5>
            </div>
            <form id="formImport">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" id="userId" name="userId" value="<?= $user->getId() ?>">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="alert alert-success" role="alert">
                                    Atenção,<br> Para importação, a planilha deve estar no formato<br>
                                    <b>CSV UTF-8 (Delimitado por vírgulas) (*.csv).</b><br><br>
                                    Faça do download do modelo de importação <b><a
                                                href="https://gestao.novo.org.br/uploads/comunicados/modeloImportacao.csv">
                                            Clicando aqui!</a></b><br>
                                    <b>Por segurança, o limite para importação são de 100 contas por vez.</b>
                                </div>
                                <label for="file">Arquivo CSV: </label><br>
                                <input class="upload-file-selector" id="file" type="file" name="file"
                                       style="position: static; opacity: 1;" required>
                            </div>
                        </div>
                    </div>
                    <div id="messageImport" class="alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_PLANODECONTAS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_PLANODECONTAS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/chartOfAccounts.js?v=<?= time() ?>"></script>