<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Conciliação: Base X IUGU</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                Nesta etapa serão feitos os seguintes procedimentos:
                <ul>
                    <li>Conferência do número total de transações.</li>
                    <li>Conferência do valor das transações.</li>
                </ul>
                Qualquer tipo de diferença será indicada e um e-mail será enviado.
                <hr>
                <form id="form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="directory">Diretório:</label>
                                <select id="directory" name="directory" class="form-control" disabled>
                                    <option value="1" selected>Diretório Nacional</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="year">Ano:</label>
                                <select id="year" name="year" class="form-control" disabled>
                                    <option value="<?= date('Y') ?>" selected><?= date('Y') ?></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="month">Mês:</label>
                                <select id="month" name="month" class="form-control" required>
                                    <option value="" selected>Selecione</option>
                                    <option value="01">Janeiro</option>
                                    <option value="02">Fevereiro</option>
                                    <option value="03">Março</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Maio</option>
                                    <option value="06">Junho</option>
                                    <option value="07">Julho</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Setembro</option>
                                    <option value="10">Outubro</option>
                                    <option value="11">Novembro</option>
                                    <option value="12">Dezembro</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select id="status" name="status" class="form-control" required>
                                    <option value="" selected>Selecione</option>
                                    <option value="paid">Pago</option>
                                    <option value="refunded">Estornada</option>
                                </select>
                            </div>
                        </div>
                    </div>
	                <div class="row">
                        <div class="col text-end">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset">Limpar</button>
                                <button type="submit" id="reconcile" class="btn btn-success">Conciliar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                <div id="return" style="display: none">
                    <ul>
                        <li>Total de transações analisadas: <b><span id="total"></span></b></li>
                        <li>Total de transações encontradas: <b><span id="exists"></span></b></li>
                        <li>Total de transações ausentes: <b><span id="absent"></span></b></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Resgates IUGU</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                Pesquise os resgates efetuados por determinado período.<br>
                Também será possível o download das trasações relacionadas ao saques específico!
                <hr>
                <form id="formRescue">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="directory">Diretório:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                   onblur="getCostCenter(); getTseTreGru(directory); getArea()"
                                       name="directory" id="directory" list="accountsDebit" required>
                                <datalist id="accountsDebit">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie->getName() ?>"><?= $directorie->getName() ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select id="status" name="status" class="form-control" required>
                                    <option value="" selected>Selecione</option>
                                    <option value="accepted">Aceito</option>
                                    <option value="pending">Pendente</option>
                                    <option value="processing">Processando</option>
                                    <option value="rejected">Rejeitado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="from">Data Inicio:</label>
                                <input type="date" id="from" name="from" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="to">Data Fim:</label>
                                <input type="date" id="to" name="to" class="form-control" value="" required>
                            </div>
                        </div>
                        <div class="col-md-3 m-t-45 text-end">
                                <button class="btn btn-danger" type="reset">Limpar</button>
                                <button type="submit" id="reconcileBank" class="btn btn-success">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div style="display: none" id="messageFormRescue" class="alert" role="alert"></div>
            </div>
        </div>
    </div>
</div>

<script>
const form = document.getElementById('form');
const divReturn = document.getElementById('return');
const divMessageForm = document.getElementById('messageForm');
form.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form');
    fetch("<?= BASEURL ?>financeiro/conciliacao-iugu", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        divReturn.style.display = 'none';
        divMessageForm.classList.add("alert-danger");
        divMessageForm.classList.remove("alert-success");
        response.json().then(json => {
            divMessageForm.innerHTML = json.message;
            divMessageForm.style.display = 'block';
            if (response.status === 201) {
                divMessageForm.classList.add("alert-success");
                divMessageForm.classList.remove("alert-danger");
                divReturn.style.display = 'block';
                $('#total').text(json.total);
                $('#exists').text(json.exists);
                $('#absent').text(json.absent);
            }
        });
    });
})

const divMessageFormRescue = document.getElementById('messageFormRescue');
const formRescue = document.getElementById('formRescue');
formRescue.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    fetch(`<?= BASEURL ?>financeiro/conciliacao-resgate/`, {
        method: 'POST',
        credentials: "same-origin",
        headers: {
            'Accept': 'application/json'
        },
        body: new FormData(formRescue),
    }).then(response => {
        closeLoading();
        divMessageFormRescue.classList.add("alert-danger");
        divMessageFormRescue.classList.remove("alert-success");
        response.json().then(json => {
            divMessageFormRescue.innerHTML = json.message;
            divMessageFormRescue.style.display = 'block';
            if (response.status === 201) {
                divMessageFormRescue.classList.add("alert-success");
                divMessageFormRescue.classList.remove("alert-danger");
            }
        });
    });
});
</script>