<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Conciliação REDE</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="directory">Diretório</label>
								<select id="directory" name="directory" class="form-control" required>
									<?php foreach ($directories as $directory): ?>
										<option <?= $directory->getId() == 1 ? 'selected' : '' ?>
											value="<?= $directory->getId() ?>">
											<?= $directory->getName() ?>
										</option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="start">Inicio</label>
								<input id="start" name="start" type="text" class="form-control" value=""
								       data-mask="99/99/9999" required>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="end">Fim</label>
								<input id="end" type="text" class="form-control" value="" data-mask="99/99/9999"
								       required name="end">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="file">Arquivo CSV: </label><br>
								<span class="fileselector">
									<label class="btn btn-danger" for="file" style="margin-top: -1px">
									<input class="upload-file-selector" id="file" type="file" required name="file">
									<i class="fa fa-paperclip margin-correction"></i>
										<span id="fileLabel" class="input-file"
										      default="Anexar Arquivo">Anexar Arquivo</span>
									</label>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-end">
							<div class="form-group">
								<button type="submit" class="btn btn-success">Enviar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<?php if ($analyse): ?>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h3 class="title"><?= $analyseTitle ?></h3>
					<ul>
						<li>Lançamentos no sistema: <?= $totalSystemTransactions ?>
							(<?= \App\Helpers\Utils::formatMoney($totalSystemValue) ?>)
						</li>
						<li>Lançamentos no arquivo: <?= $totalFileLines ?>
							(<?= \App\Helpers\Utils::formatMoney($totalFileValue) ?>)
						</li>
						<li>Lançamentos não encontrados no arquivo: <?= count($divergenceSystem) ?>
							(<?= \App\Helpers\Utils::formatMoney($divergenceSystemValue) ?>)
						</li>
						<li>Lançamentos não encontrados no sistema: <?= count($divergenceFile) ?>
							(<?= \App\Helpers\Utils::formatMoney($divergenceFileValue) ?>)
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<b>Lançamentos divergentes sistema:</b>
					<div class="row table-responsive-xl">
						<div class="col-12">
							<table class="table table-striped table-bordered">
								<thead>
								<tr class="title">
									<td class="text-center">Transação</td>
									<td class="text-center">Data</td>
									<td class="text-center">Filiado</td>
									<td class="text-center">Origem</td>
									<td class="text-center">Forma Pagamento</td>
									<td class="text-center">Pedido</td>
									<td class="text-center">Valor</td>
									<td class="text-center">Destino</td>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($divergenceSystem as $item): ?>
									<tr>
										<td class="text-center"><?= $item['id'] ?></td>
										<td class="text-center"><?= $item['date'] ?></td>
										<td class="text-center"><a
												href="<?= BASEURL ?>filiados/<?= $item['personId'] ?>"
												target="_blank"><?= $item['personName'] ?></a></td>
										<td class="text-center"><?= $item['origin'] ?></td>
										<td class="text-center"><?= $item['paymentTypeString'] ?></td>
										<td class="text-center"><?= $item['invoice'] ?></td>
										<td class="text-center"><?= $item['value'] ?></td>
										<td class="text-center"><?= $item['destiny'] ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<b>Lançamentos não encontrados no arquivo:</b>
					<div class="row table-responsive-xl">
						<div class="col-12">
							<table class="table table-striped table-bordered">
								<thead>
								<tr class="title">
									<td class="text-center">Transação</td>
									<td class="text-center">Data</td>
									<td class="text-center">Filiado</td>
									<td class="text-center">Origem</td>
									<td class="text-center">Forma Pagamento</td>
									<td class="text-center">Pedido</td>
									<td class="text-center">Status</td>
									<td class="text-center">Valor Arquivo</td>
									<td class="text-center">Valor Sistema</td>
									<td class="text-center">Destino</td>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($divergenceFile as $item): ?>
									<tr>
										<td class="text-center"><?= $item['id'] ?></td>
										<td class="text-center"><?= $item['date'] ?></td>
										<td class="text-center"><a
												href="<?= BASEURL ?>filiados/<?= $item['personId'] ?>"
												target="_blank"><?= $item['personName'] ?></a></td>
										<td class="text-center"><?= $item['origin'] ?></td>
										<td class="text-center"><?= $item['paymentTypeString'] ?></td>
										<td class="text-center"><?= $item['invoice'] ?></td>
										<td class="text-center"><?= $item['status'] ?></td>
										<td class="text-center"><?= $item['valueFile'] ?></td>
										<td class="text-center"><?= $item['valueSystem'] ?></td>
										<td class="text-center"><?= $item['destiny'] ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<?php endif; ?>

<script>

	$(document).ready(function () {
		inputFile();
	})

</script>
