<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Contratos</h5>
                    </div>
                    <?php if (App\Helpers\Validator::validatePermission(App\Models\Entities\SystemFeatures::CADASTROS_CONTRATOS_CRIACAO_EDICAO)): ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-success" onclick="openModal(0)"><i class="fa fa-plus"></i> Adicionar</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nameContractsFilter">Razão Social/Nome</label>
                                <input id="nameContractsFilter" name="name" class="form-control"
                                       placeholder="Razão Social/Nome">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cnpjContractsFilter">CNPJ</label>
                                <input id="cnpjContractsFilter" name="cnpj" class="form-control"
                                       placeholder="99.999.999/9999-99" data-mask="99.999.999/9999-99">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="costCenterContractsFilter">Centro de Custo</label>
                                <select id="costCenterContractsFilter" name="costCenter"
                                        class="form-select">
                                    <option value="">Selecionar</option>
                                    <?php foreach ($costCenters as $item): ?>
                                        <option value="<?= $item->getId() ?>"><?= $item->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="stageContractsFilter">Status</label>
                                <select id="stageContractsFilter" name="stage" class="form-select">
                                    <option value="">Selecionar</option>
                                    <option value="1">Criado</option>
                                    <option value="2">Colhendo Assinatura</option>
                                    <option value="3">Assinado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="situationContractsFilter">Situação</label>
                                <select id="situationContractsFilter" name="situation"
                                        class="form-select">
                                    <option value="">Selecionar</option>
                                    <option value="1">Vigente - Prazo Determinado</option>
                                    <option value="2">Vigente - Prazo Indeterminado</option>
                                    <option value="3">Expirado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="numberContractsFilter">Número</label>
                                <input id="numberContractsFilter" name="number" class="form-control"
                                       placeholder="Número">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="valueContractsFilter">Valor</label>
                                <input id="valueContractsFilter" name="value" class="form-control" placeholder="Valor">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="orderContractsFilter">Ordenar por</label>
                                <select id="orderContractsFilter" name="order" class="form-select">
                                    <option value="id">Selecionar</option>
                                    <option value="signatureDate">Data de Assinatura</option>
                                    <option value="name">Razão Social/Nome</option>
                                    <option value="costCenter">Centro de Custo</option>
                                    <option value="monthlyValue">Valor Mensal</option>
                                    <option value="value">Valor Global</option>
                                    <option value="start">Data Início</option>
                                    <option value="end">Data Fim</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="seqContractsFilter">Sequência</label>
                                <select id="seqContractsFilter" name="seq" class="form-select">
                                    <option value="desc" selected>Decrescente</option>
                                    <option value="asc">Crescente</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center m-b-30">
                            <div class="col-auto">
                                <span>Exibir </span>
                            </div>
                            <div class="col-auto">
                                <select class="form-control form-select" id="limitContracts"
                                        onchange="getLimit(this.value, 'Contracts')">
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <span> registros</span>
                            </div>
                            <div class="col text-end mt-auto m-b-20">
                                <?php if (App\Helpers\Validator::validatePermission(App\Models\Entities\SystemFeatures::CADASTROS_CONTRATOS_EXPORTACAO)): ?>
                                    <button id="export" type="reset" onclick="csv()" class="btn btn-success text-white">
                                        <i class="fa fa-file-download" aria-hidden="true"></i> Exportar
                                    </button>
                                <?php endif; ?>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                                </button>
                                <button class="btn btn-danger" type="reset" onclick="resetTable('Contracts')">
                                    <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startContracts"></span> a <span id="endContracts"></span> de
                            <span id="totalContracts"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xl custom-scrollbar" style="overflow-x: auto">
                    <div class="col-12">
                        <table id="tableContracts" class="table table-bordered table-striped">
                            <thead>
                            <tr class="middle">
                                <th class="text-center">Número</th>
                                <th class="text-center">Razão Social/Nome</th>
                                <th class="text-center">CNPJ/CPF</th>
                                <th class="text-center">Centro de Custo</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Data Início</th>
                                <th class="text-center">Data Fim</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Situação</th>
                                <th class="text-center">Anexo</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderContracts m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationContracts" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Contrato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="contractId" id="contractId">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="additive">Aditivo</label>
                                <select id="additive" name="additive" class="form-select" required
                                        onchange="showContracts(this.value)">
                                    <option value="">Selecionar</option>
                                    <option value="1">Sim</option>
                                    <option value="0">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="directory">Diretório</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                       name="directory" id="directory" list="directoryList" required>
                                <datalist id="directoryList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="contractDiv" style="display: none">
                        <div class="col">
                            <div class="form-group">
                                <label for="contract">Contrato</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                       onchange="getNameCnpj(this.value)"
                                       name="contract" id="contract" list="contractList" required>
                                <datalist id="contractList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($contracts as $contract): ?>
                                        <option value="<?= str_pad($contract['number'], 9, '0', STR_PAD_LEFT) . ' - ' . $contract['name'] . ' - ' . $contract['id'] ?>"></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="cpf">CNPJ/CPF</label>
                                <input id="cpf" placeholder="CNPJ/CPF" name="cpf" type="text" class="form-control"
                                       required onBlur="verifyCpfCnpj()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Razão Social/Nome</label>
                                <input id="name" placeholder="Razão Social/Nome" name="name" type="text"
                                       class="form-control text-uppercase"
                                       onkeyup="this.value = this.value.toUpperCase();"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="costCenter">Centro de Custo</label>
                                <select id="costCenter" name="costCenter" class="form-select" required>
                                    <option value="">Selecionar</option>
                                    <?php foreach ($costCenters as $item): ?>
                                        <option value="<?= $item->getId() ?>"><?= $item->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="category">Categoria</label>
                                <select id="category" name="category" class="form-select" required
                                        onchange="showValue(this.value)">
                                    <option value="">Selecionar</option>
                                    <option value="1">Recorrente - Prazo indeterminado</option>
                                    <option value="2">Recorrente - Prazo determinado</option>
                                    <option value="3">Pontual - Prazo indeterminado</option>
                                    <option value="4">Pontual - Prazo determinado</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="monthlyValueDiv">
                            <div class="form-group">
                                <label for="monthlyValue">Valor Mensal</label>
                                <input id="monthlyValue" placeholder="Valor" name="monthlyValue" type="text"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6" id="valueDiv">
                            <div class="form-group">
                                <label for="value">Valor Global</label>
                                <input id="value" placeholder="Valor" name="value" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="stage">Status</label>
                                <select id="stage" name="stage" class="form-select" required>
                                    <option value="">Selecionar</option>
                                    <option value="1">Criado</option>
                                    <option value="2">Colhendo Assinatura</option>
                                    <option value="3">Assinado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="situation">Situação</label>
                                <select id="situation" name="situation" class="form-select" required
                                        onchange="showDate(this.value)">
                                    <option value="">Selecionar</option>
                                    <option value="1">Vigente - Prazo Determinado</option>
                                    <option value="2">Vigente - Prazo Indeterminado</option>
                                    <option value="3">Expirado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="start">Data Inicial</label>
                                <input id="start" placeholder="dd/mm/AAAA" name="start" type="text" class="form-control"
                                       required data-mask="99/99/9999">
                            </div>
                        </div>
                        <div class="col-md-6" id="endDiv">
                            <div class="form-group">
                                <label for="end">Data Final</label>
                                <input id="end" placeholder="dd/mm/AAAA" name="end" type="text" class="form-control"
                                       required data-mask="99/99/9999">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="numberDiv">
                            <div class="form-group">
                                <label for="number">Número do Contrato</label>
                                <input id="number" placeholder="Número do Contrato" name="number" type="text"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6" id="numberAdditiveDiv" style="display: none">
                            <div class="form-group">
                                <label for="numberAdditive">Número do Aditivo</label>
                                <input id="numberAdditive" placeholder="Número do Aditivo" name="numberAdditive"
                                       type="text"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="signatureDate">Data da Assinatura</label>
                                <input id="signatureDate" placeholder="dd/mm/AAAA" name="signatureDate" type="text"
                                       class="form-control"
                                       required data-mask="99/99/9999">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="object">Objeto do contrato</label>
                                <textarea id="object" name="object" class="form-control"
                                          placeholder="Objeto do contrato" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="accounts">Conta Débito:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="account"
                                       id="InputAccounts" list="accounts">
                                <datalist id="accounts">
                                    <?php foreach ($accounts

                                    as $s): ?>
                                    <option value="<?= $s->getAccountDescription() ?>">
                                        <?= $s->getAccountDescription() ?>
                                    <option>
                                        <?php endforeach ?>
                                </datalist>
                                <br>
                                <div id="duplicatedAccountingDebitForm2"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
							<span class="fileselector">
                                <label class="btn btn-block btn-orange is-invalid text-white w-100"
                                       for="contractDoc" id="contractDocBtn">
                                    <input class="upload-file-selector file" id="contractDoc" type="file"
                                           name="contractDoc" required>
                                    <i class="fa fa-paperclip margin-correction"></i>
                                    <span id="contractDocLabel"
                                          default="Anexo">Anexo</span>
                                    </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                    </div>
            </form>
        </div>
    </div>
</div>


<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_CONTRATOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_CONTRATOS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/contracts.js?v=<?= time() ?>"></script>

<script>
    availableNumber = '<?= $availableNumber ?>';
</script>