<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5 class="title">Detalhes do contrato</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<b>Diretório: </b> <?= $contract->getDirectory()->getName() ?>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<b>Razão Social/Nome: </b> <?= $contract->getName() ?>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<b>CPF/CNPJ: </b> <?= strlen($contract->getCpf()) < 14 ?
								\App\Helpers\Utils::mask($contract->getCpf(), '###.###.###-##') :
								\App\Helpers\Utils::mask($contract->getCpf(), '##.###.###-####/##') ?>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<b>Centro de Custo: </b> <?= $contract->getCostCenter()->getName() ?>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<b>Categoria: </b> <?= $contract->getCategoryStr() ?>
						</div>
					</div>

					<?php if ($contract->getMonthlyValue()): ?>

						<div class="col-md-6">
							<div class="form-group">
								<b>Valor Mensal: </b> R$ <?= number_format($contract->getMonthlyValue(), 2, ',', '.') ?>
							</div>
						</div>

					<?php endif; ?>

					<?php if ($contract->getValue()): ?>

						<div class="col-md-6">
							<div class="form-group">
								<b>Valor Global: </b> R$ <?= number_format($contract->getValue(), 2, ',', '.') ?>
							</div>
						</div>

					<?php endif; ?>

					<div class="col-md-6">
						<div class="form-group">
							<b>Status: </b> <?= $contract->getStageStr() ?>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<b>Situação: </b> <?= $contract->getSituationStr() ?>
						</div>
					</div>

					<?php if ($contract->getStart()): ?>

						<div class="col-md-6">
							<div class="form-group">
								<b>Data Inicial: </b> <?= $contract->getStart()->format('d/m/Y') ?>
							</div>
						</div>

					<?php endif; ?>

					<?php if ($contract->getEnd()): ?>

						<div class="col-md-6">
							<div class="form-group">
								<b>Data Final: </b> <?= $contract->getEnd()->format('d/m/Y') ?>
							</div>
						</div>

					<?php endif; ?>

					<div class="col-md-6">
						<div class="form-group">
							<b>Número do Contrato: </b> <?= $contract->getNumber() ?>
						</div>
					</div>

					<?php if ($contract->getAccount()): ?>

					<div class="col-md-6">
						<div class="form-group">
							<b>Conta Débito: </b> <?= $contract->getAccount()->getAccountDescription() ?>
						</div>
					</div>

					<?php endif; ?>

					<div class="col-12">
						<div class="form-group">
							<b>Objeto do contrato: </b> <?= $contract->getObject() ?>
						</div>
					</div>
					<div class="col-12 text-center">
						<div class="form-group">
							<a href="<?= $contract->getDoc() ?>" target="_blank">
								<i class="fa fa-file fa-2x" title="Anexo"></i><br>
								Anexo
							</a>
						</div>
					</div>
				</div>
				<?php if ($additions): ?>

					<div class="row">
						<div class="col m-t-30">
							<h4 class="title">Aditivos</h4>
						</div>
					</div>

					<?php foreach ($additions as $item): ?>

						<div class="row">
							<div class="col-12">
								<hr class="bg-primary">
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<b>Diretório: </b> <?= $contract->getDirectory()->getName() ?>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<b>Razão Social/Nome: </b> <?= $item->getName() ?>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<b>CPF/CNPJ: </b> <?= strlen($item->getCpf()) < 14 ?
										\App\Helpers\Utils::mask($item->getCpf(), '###.###.###-##') :
										\App\Helpers\Utils::mask($item->getCpf(), '##.###.###-####/##') ?>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<b>Centro de Custo: </b> <?= $item->getCostCenter()->getName() ?>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<b>Categoria: </b> <?= $item->getCategoryStr() ?>
								</div>
							</div>

							<?php if ($item->getMonthlyValue()): ?>

								<div class="col-md-6">
									<div class="form-group">
										<b>Valor Mensal: </b>
										R$ <?= number_format($item->getMonthlyValue(), 2, ',', '.') ?>
									</div>
								</div>

							<?php endif; ?>

							<?php if ($item->getValue()): ?>

								<div class="col-md-6">
									<div class="form-group">
										<b>Valor Global: </b> R$ <?= number_format($item->getValue(), 2, ',', '.') ?>
									</div>
								</div>

							<?php endif; ?>

							<div class="col-md-6">
								<div class="form-group">
									<b>Status: </b> <?= $item->getStageStr() ?>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<b>Situação: </b> <?= $item->getSituationStr() ?>
								</div>
							</div>

							<?php if ($item->getStart()): ?>

								<div class="col-md-6">
									<div class="form-group">
										<b>Data Inicial: </b> <?= $item->getStart()->format('d/m/Y') ?>
									</div>
								</div>

							<?php endif; ?>

							<?php if ($item->getEnd()): ?>

								<div class="col-md-6">
									<div class="form-group">
										<b>Data Final: </b> <?= $item->getEnd()->format('d/m/Y') ?>
									</div>
								</div>

							<?php endif; ?>

							<?php if ($item->getAccount()): ?>

							<div class="col-md-6">
								<div class="form-group">
									<b>Conta Débito: </b> <?= $item->getAccount()->getAccountDescription() ?>
								</div>
							</div>
							
							<?php endif; ?>

							<div class="col-12">
								<div class="form-group">
									<b>Objeto do contrato: </b> <?= $item->getObject() ?>
								</div>
							</div>
							<div class="col-12 text-center">
								<div class="form-group">
									<a href="<?= $item->getDoc() ?>" target="_blank">
										<i class="fa fa-file fa-2x" title="Anexo"></i><br>
										Anexo
									</a>
								</div>
							</div>
						</div>

					<?php endforeach; ?>


				<?php endif; ?>
			</div>
		</div>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/functions/financial/contracts.js?v=<?= time() ?>"></script>