<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Centro de Custos</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_CENTRODECUSTO_CRIACAO_EDICAO)): ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-success" onclick="openModal(0)"><i class="fa fa-plus"></i>Adicionar</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nameCostCenterFilter">Nome</label>
                                <input class="form-control" type="text" id="nameCostCenterFilter" name="name"
                                       placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="responsibleCostCenterFilter">Responsável</label>
                                <select class="form-select" name="responsible"
                                        id="responsibleCostCenterFilter">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($users as $u): ?>
                                        <option value="<?= $u->getId() ?>"><?= $u->getName() ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="directoryCostCenterFilter">Diretório</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                       name="directoryCostCenterFilter" id="directoryCostCenterFilter"
                                       list="directoryList" required>
                                <datalist id="directoryList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option
                                                value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-12 text-end mt-auto m-b-20">
                            <button class="btn btn-danger" type="reset"
                                    onclick="resetTable('CostCenter')"><i class="fa fa-eraser" aria-hidden="true"></i>
                                Limpar
                            </button>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-filter"
                                                                             aria-hidden="true"></i>
                                Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limitCostCenter"
                                onchange="getLimit(this.value, 'CostCenter')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startCostCenter"></span> a <span id="endCostCenter"></span> de
                            <span id="totalCostCenter"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="tableCostCenter" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Código</th>
                                <th class="text-center">Diretório</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Responsável</th>
                                <th class="text-center">Área</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderCostCenter m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationCostCenter" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Centro de Custo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="costCenterId" id="costCenterId">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="directory">Diretório</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                       name="directory" id="directory" list="directoryList" required>
                                <datalist id="directoryList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option
                                                value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input id="name" placeholder="Nome" name="name" type="text" class="form-control"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="responsible">Responsável</label>
                                <select class="form-select" name="responsible" required id="responsible">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($users as $u): ?>
                                        <option value="<?= $u->getId() ?>"><?= $u->getName() ?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_CENTRODECUSTO_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_CENTRODECUSTO_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/costCenter.js?v=<?= time() ?>"></script>
