<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Contas de Diretórios</h5>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="directory">Diretório:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                       name="directory" id="directory" list="accountsDebit">
                                <datalist id="accountsDebit">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="origin">Apelido:</label>
                                <select class="form-select" name="nickname" id="nickname">
                                    <option value="" selected>Selecione</option>
                                    <option value="3">OR - OUTROS RECURSOS - DOAÇÕES PRIVADAS</option>
                                    <option value="4">FP - FUNDO PARTIDÁRIO</option>
                                    <option value="2">FP - POLÍTICA DA MULHER</option>
                                    <option value="1">OR CAMPANHA ELEITORAL - DOAÇÕES PRIVADAS</option>
                                    <option value="5">FP CAMPANHA ELEITORAL - FUNDO PARTIDÁRIO PARA CAMPANHA ELEITORAL
                                    </option>
                                    <option value="6">FEFC GERAL</option>
                                    <option value="7">FEFC MULHER</option>
                                    <option value="8">FEFC MULHER NEGRA</option>
                                    <option value="9">FEFC HOMEM NEGRO</option>
                                    <option value="10">FP POLÍTICA DA MULHER CAMPANHA ELEITORAL</option>
                                    <option value="11">FEFC INDÍGENA</option>
                                    <!-- INVESTIMENTO -->
                                    <option value="12">OR - OUTROS RECURSOS - DOAÇÕES PRIVADAS - INVESTIMENTO</option>
                                    <option value="13">FP - FUNDO PARTIDÁRIO INVESTIMENTO</option>
                                    <option value="14">FP - POLÍTICA DA MULHER INVESTIMENTO</option>
                                    <option value="15">FEFC GERAL - INVESTIMENTO</option>
                                    <option value="16">FEFC MULHER - INVESTIMENTO</option>
                                    <option value="17">FEFC MULHER NEGRA - INVESTIMENTO</option>
                                    <option value="18">FEFC HOMEM NEGRO - INVESTIMENTO</option>
                                    <option value="19">FEFC INDÍGENA - INVESTIMENTO</option>
                                </select>
                            </div>
                        </div>
                        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">Estado:</label>
                                    <input type="text" class="form-control"
                                           value="<?= $user->getState()->getEstado() ?>"
                                           disabled readonly>
                                    <input type="hidden" id="state" name="state"
                                           value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="city">Cidade:</label>
                                    <select class="form-select" id="city" name="city" type="city">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_CITY): ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">Estado:</label>
                                    <input type="text" class="form-control"
                                           value="<?= $user->getState()->getEstado() ?>"
                                           disabled readonly>
                                    <input type="hidden" id="state" name="state"
                                           value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="city">Cidade:</label>
                                    <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                           disabled readonly>
                                    <input type="hidden" id="city" name="city" value="<?= $user->getCity()->getId() ?>">
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="stateAffiliatedFilter">Estado:</label>
                                    <select class="form-select" id="stateAffiliatedFilter" name="state"
                                            onchange="getCities(this.value, 'city')">
                                        <option value="0">Selecione</option>
                                        <?php foreach ($states as $state): ?>
                                            <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="city">Cidade:</label>
                                    <select class="form-select" id="city" name="city" type="city">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="extract">Possui Extrato?</label>
                                <select class="form-select" name="extract" id="extract">
                                    <option value="" selected>Selecione</option>
                                    <option value="1">Sim</option>
                                    <option value="2">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="begin">Inicia em:</label>
                                <input class="form-control" id="begin" name="begin" type="date"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="end">Finaliza em:</label>
                                <input class="form-control" id="end" name="end" type="date"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-md-6 text-end">
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_EXPORTACAO)): ?>
                                <button class="btn btn-success" type="button" onclick="csvExtract()">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    Extratos
                                </button>
                                <button class="btn btn-primary" type="button" onclick="csv()">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    Exportar
                                </button>
                            <?php endif; ?>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_CRIACAO_EDICAO)): ?>
                                <button class="btn btn-warning" type="button" onclick="add()">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                            <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                                  aria-hidden="true"></i>
                                Limpar
                            </button>
                        </div>
                    </div>
                </form>
                <div id="message" class="alert" role="alert" style="display:none"></div>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Diretório</th>
                                <th class="text-center">CNPJ</th>
                                <th class="text-center">Apelido</th>
                                <th class="text-center">Banco</th>
                                <th class="text-center">Agência</th>
                                <th class="text-center">Conta</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div id="loader" class="loader"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Conta de Diretório</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formModal" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="accountId" id="accountId">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="directoryModal">Diretório:<span class="text-danger"> *</span></label>
                                <input class="form-control" type="search" placeholder="Pesquisar" required
                                       name="directoryModal" id="directoryModal" list="directoryModalList">
                                <datalist id="directoryModalList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie['nome'] ?>"><?= $directorie['cnpj'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="origin">Apelido:<span class="text-danger"> *</span></label>
                                <select class="form-select" name="nicknameModal" id="nicknameModal" required>
                                    <option value="" selected>Selecione</option>
                                    <option value="3">OR - OUTROS RECURSOS - DOAÇÕES PRIVADAS</option>
                                    <option value="4">FP - FUNDO PARTIDÁRIO</option>
                                    <option value="2">FP - POLÍTICA DA MULHER</option>
                                    <option value="1">OR CAMPANHA ELEITORAL - DOAÇÕES PRIVADAS</option>
                                    <option value="5">FP CAMPANHA ELEITORAL - FUNDO PARTIDÁRIO PARA CAMPANHA ELEITORAL
                                    </option>
                                    <option value="6">FEFC GERAL</option>
                                    <option value="7">FEFC MULHER</option>
                                    <option value="8">FEFC MULHER NEGRA</option>
                                    <option value="9">FEFC HOMEM NEGRO</option>
                                    <option value="10">FP POLÍTICA DA MULHER CAMPANHA ELEITORAL</option>
                                    <option value="11">FEFC INDÍGENA</option>
                                    <!-- INVESTIMENTO -->
                                    <option value="12">OR - OUTROS RECURSOS - DOAÇÕES PRIVADAS - INVESTIMENTO</option>
                                    <option value="13">FP - FUNDO PARTIDÁRIO INVESTIMENTO</option>
                                    <option value="14">FP - POLÍTICA DA MULHER INVESTIMENTO</option>
                                    <option value="15">FEFC GERAL - INVESTIMENTO</option>
                                    <option value="16">FEFC MULHER - INVESTIMENTO</option>
                                    <option value="17">FEFC MULHER NEGRA - INVESTIMENTO</option>
                                    <option value="18">FEFC HOMEM NEGRO - INVESTIMENTO</option>
                                    <option value="19">FEFC INDÍGENA - INVESTIMENTO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="bankModal">Banco:<span class="text-danger"> *</span></label>
                                <input class="form-control" type="search" placeholder="Pesquisar" required
                                       name="bankModal" id="bankModal" list="bankModalList">
                                <datalist id="bankModalList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($banks as $bank): ?>
                                        <option value="<?= $bank->getName() ?>"><?= $bank->getCod() ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agency">Agência:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="agencyModal" name="agencyModal" type="text" required>
                            </div>
                        </div>
                        <!--
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agency">Dígito da agência:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="agencyDigitModal" name="agencyDigitModal" required type="text">
                            </div>
                        </div>
                        -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="account">Conta:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="accountModal" required name="accountModal" type="text">
                            </div>
                        </div>
                        <!--
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="account">Dígito da conta:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="accountDigitModal" required name="accountDigitModal" type="text">
                            </div>
                        </div>
                        -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateStart">Marco Zero:</label>
                                <input class="form-control" id="dateStart" name="dateStart" type="date">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="valueStart">Valor Inicial:</label>
                                <input class="form-control" id="valueStart" name="valueStart" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="accounts">Conta Contábil:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                       name="accountingAccount" id="accountingAccount" list="accounts">
                                <datalist id="accounts">
                                    <?php foreach ($accounts

                                    as $s): ?>
                                    <option value="<?= $s->getAccountDescription() ?>">
                                        <?= $s->getAccountDescription() ?>
                                    <option>
                                        <?php endforeach ?>
                                </datalist>
                                <br>
                                <div id="duplicatedAccountingDebitForm2"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="messageForm" class="alert" role="alert" style="display:none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_CRIACAO_EDICAO, false, true) ?>;
    var userAdmin = '<?= $user->isAdminNational() ?>';
    var stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>;
    var type = <?= $user->getType() ?>;
</script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/financial/directoryAccounts.js?v=<?= time() ?>"></script>