<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Extrato: <?= $account->getDirectory()->getName() ?>
                    - <?= $account->getDirectory()->getCnpj() ?></h5>
                <p>
                    Agência: <?= $account->getAgencyString() ?><br>
                    Conta: <?= $account->getAccountString() ?><br>
                    Banco: <?= $account->getBank()->getName() ?><br>
                    Tipo: <b><?= $account->getNicknameString() ?></b>
                </p>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="begin">Inicia em:</label>
                                <input class="form-control" id="begin" name="begin" type="date"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="end">Finaliza em:</label>
                                <input class="form-control" id="end" name="end" type="date"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="validation">Validação:</label>
                                <select class="form-select" id="validation" name="validation" type="city">
                                    <option value="">Todos</option>
                                    <option value="1">Válido</option>
                                    <option value="-1">Inválido</option>
                                    <option value="2">Não validado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 text-end">
                            <!--
                            <button class="btn btn-warning" type="button" onclick="csv()">
                                <i class="fa fa-download" aria-hidden="true"></i> Exportar
                            </button>
                            -->
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_CRIACAO_EDICAO)): ?>
                                <button class="btn btn-primary" type="button" onclick="add('<?= $account->getId() ?>')">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                            <button class="btn btn-danger" type="reset" onclick="resetTable()">
                                <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                            </button>
                        </div>
                    </div>
                </form>
                <div id="message" class="alert" role="alert" style="display:none"></div>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Usuário</th>
                                <th class="text-center">Importado em</th>
                                <th class="text-center">Inicia em</th>
                                <th class="text-center">Finaliza em</th>
                                <th class="text-center">Válido/Inválido</th>
                                <th class="text-center">Extrato</th>
                                <th class="text-center">Deletar</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div id="loader" class="loader"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importação de extrato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formModal" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="accountId" id="accountId">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateStart">Data Inicio:</label>
                                <input class="form-control" id="dateStart" name="dateStart" type="date">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateEnd">Data Fim:</label>
                                <input class="form-control" id="dateEnd" name="dateEnd" type="date">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <span class="fileselector">
                                    <label class="btn btn-block btn-orange text-white w-100" for="attachmentExtract"
                                           id="attachmentExtractBtn">
                                        <input class="upload-file-selector" id="attachmentExtract" type="file"
                                               name="attachmentExtract">
                                        <i class="fa fa-paperclip margin-correction"></i>
                                        <span id="attachmentExtractLabel" default="Anexar Extrato">Anexar extrato</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="messageForm" class="alert" role="alert" style="display:none"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times"
                                                                                            aria-hidden="true"></i>
                        Cancelar
                    </button>
                    <button type="submit" id="save" class="btn btn-success"><i class="fa fa-save"
                                                                               aria-hidden="true"></i> Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalModalLabel">Editar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formEditModal">
                <input type="hidden" id="accountIdModal" name="accountId">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="begin">Inicia em:</label>
                                <input class="form-control" id="beginModal" name="begin" type="date"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="end">Finaliza em:</label>
                                <input class="form-control" id="endModal" name="end" type="date"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validation">Validação:</label>
                                <select class="form-select" id="validationModal" name="validation" type="city">
                                    <option value="">Todos</option>
                                    <option value="1">Válido</option>
                                    <option value="-1">Inválido</option>
                                    <option value="2" disabled>Não validado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Comentário:</label>
                                <textarea id="messageModal" name="message" class="form-control" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_CRIACAO_EDICAO, false, true) ?>;
    let accountID = '<?= $account->getId() ?>';
    let beginFilter = '<?= $begin ?>';
    let endFilter = '<?= $end ?>';
    var type = <?= $user->getType() ?>;
</script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/financial/directoryExtract.js?v=<?= time() ?>"></script>