<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Extrato</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter" autocomplete="off" class="form-group">
                    <div class="row">
                        <div class="col-md-3 my-1">
                            <label for="directoryFilter">Diretório</label>
                            <input class="form-control" type="search" placeholder="Pesquisar"
                                   onchange="getAccount(this.value)"
                                   name="directory" id="directoryFilter" list="accountsDebit">
                            <datalist id="accountsDebit">
                                <option value="" selected>Selecione</option>
                                <?php foreach ($directories as $directorie): ?>
                                    <option
                                            value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                <?php endforeach ?>
                            </datalist>
                        </div>
                        <div class="col-md-3 my-1">
                            <label for="directoryAccount">Conta:</label>
                            <select class="form-select" name="account" id="directoryAccount"
                                    onchange="setDateStart(this.value)" required>
                                <option value="" selected>Selecione</option>
                            </select>
                        </div>
                        <div class="col-md-2 my-1">
                            <label for="startFilter">Dê</label>
                            <input id="startFilter" name="start" class="form-control" type="text"
                                   placeholder="Dê dd/mm/AAAA" data-mask="99/99/9999" required>
                        </div>
                        <div class="col-md-2 my-1">
                            <label for="startFilter">Até</label>
                            <input id="endFilter" name="end" class="form-control" type="text"
                                   placeholder="Até dd/mm/AAAA" data-mask="99/99/9999">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 my-1">
                            <label for="conciliateFilter">Conciliado</label>
                            <select name="conciliate" id="conciliateFilter" class="form-select">
                                <option value="">Todos</option>
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                        <div class="col-md-2 my-1">
                            <label for="accountedFilter">Contabilizado</label>
                            <select name="accounted" id="accountedFilter" class="form-select">
                                <option value="">Todos</option>
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                        <div class="col text-end mt-auto">
                            <button class="btn btn-danger my-1" type="reset" onclick="resetTable()"><i class="fa fa-eraser"></i> Limpar
                            </button>
                            <button class="btn btn-primary my-1 m-l-10" type="submit"><i class="fa fa-filter"></i> Buscar</button>
                        </div>
                    </div>
                </form>
                <div class="row table-responsive-md">
                    <div class="col">
                        <table class="table table-hover" id="tableTotal">
                            <thead>
                            <tr>
                                <th>
                                    Saldo Inicial: <b><span id="startBalance"></span><span id="startDateBalance"></span></b>
                                </th>
                                <th>
                                    Entradas: <b><span class="text-success" id="totalEntries"></span></b>
                                </th>
                                <th>
                                    Saídas: <b><span class="text-danger" id="totalExits"></span></b>
                                </th>
                                <th>
                                    Saldo Final: <b><span id="endBalance"></span></b>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row mt-3 table-responsive-xxl">
                    <div class="col">
                        <table class="table table-bordered table-striped" id="table">
                            <thead>
                            <tr>
                                <th class="text-center">Data</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Identificador único</th>
                                <th class="text-center">Número do extrato</th>
                                <th class="text-center">Descrição</th>
                                <th class="text-center">Conciliado</th>
                                <th class="text-center">Contabilizado</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Saldo</th>
                            </tr>
                            </thead>
                            <tbody id="tableBody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderTable" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/financial/extract.js?v=<?= time() ?>"></script>
