<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title"><?= $title ?></h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="modal-body custom-scrollbar">
                        <div class="col-md-4">
                            <select class="form-select" id="month" name="month">
                                <option value="" selected disabled>Selecione o mês</option>
                                <option value="0">Atual</option>
                                <option value="1">Último mês</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <?php if($user->getExportAccess() == 1): ?>
                            <button type="reset" onclick="csv()" class="btn btn-info"><i class="fa fa-download"
                                    aria-hidden="true"></i> Exportar</button>
                            <?php endif; ?>
                        </div>
                        <form id="import">
                            <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-success"><i
                                    class="fa fa-upload" aria-hidden="true"></i> Importar
                                Taxas</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Lançamento de doações em conta</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                Orientações de uso:
                <ul>
                    <li>O arquivo importado deve estar no formado <b>CSV UTF-8 (Delimitado por vírgulas)</b>.</li>
                    <li>Todas as colunas do arquivo de demonstração devem estar preenchidas.</li>
                    <li>Aquivo de demonstação: <a type="button" class="btn btn-success"
                            href="https://gestao.novo.org.br/uploads/comunicados/importa-doacoes-conta.csv" target="blank"><i
                                class="fa fa-download" aria-hidden="true"></i> Download</a>.</li>
                </ul>
                <hr>
                <form id="formDonations">
                    <div class="modal-body custom-scrollbar">
                        <div class="row">
                            <div class="col-md-5">
                                <label for="directory">Diretório: </label><br>
                                <select class="form-select" id="directory" name="directory" required>
                                    <option value="" selected disabled>Selectione o Diretório</option>
                                    <?php foreach($directories as $d): ?>
                                    <option value="<?= $d->getId() ?>"><?= $d->getName() ?></option>
                                    <?php endforeach ;?>
                                </select>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="fileDonations">Arquivo CSV: </label><br>
	                                <span class="fileselector">
										<label class="btn btn-danger" for="fileDonations" style="margin-top: -1px">
										<input class="upload-file-selector" id="fileDonations" type="file" required name="fileDonations">
										<i class="fa fa-paperclip margin-correction"></i>
											<span id="fileDonationsLabel" class="input-file"
											      default="Anexar Arquivo">Anexar Arquivo</span>
										</label>
									</span>
                                </div>
                            </div>
                        </div>
                        <div id="messageImport" class="alert alert-danger d-none"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger"><i class="fa fa-eraser"
                                aria-hidden="true"></i> Limpar</button>
                        <button type="submit" id="save" class="btn btn-success"><i class="fa fa-upload"
                                aria-hidden="true"></i> Lançar Doações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
	
	$(document).ready(function (){
		inputFile();
	})
	
const formDonations = document.getElementById('formDonations');
const divMessageImport = document.getElementById('messageImport');
formDonations.addEventListener('submit', e => {
    $('#import').addClass('disabled');
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('formDonations');
    fetch("<?= BASEURL ?>financeiro/lanca-doacoes", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json'
        },
        body: new FormData(formDonations)
    }).then(response => {
        closeLoading();
        $('#import').removeClass('disabled');
        divMessageImport.classList.add("alert-danger");
        divMessageImport.classList.remove("alert-success");
        divMessageImport.classList.remove("d-none");
        response.json().then(json => {
            divMessageImport.innerHTML = json.message;
            divMessageImport.style.display = 'block';
            if (response.status === 201) {
                $('#import').addClass('disabled');
                divMessageImport.classList.add("alert-success");
                divMessageImport.classList.remove("alert-danger");
                divMessageImport.classList.remove("d-none");
            }
        });
    });
});
</script>

<!--Modal Arquivo CSV-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card-header">
                <h5 class="modal-title">Importação</h5>
	            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form id="form">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" id="userId" name="userId" value="<?= $user->getId() ?>">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="alert alert-info" role="alert">
                                    Atenção,<br> Para importação, a planilha deve estar no formato<br>
                                    <b>CSV UTF-8 (Delimitado por vírgulas) (*.csv).</b><br><br>
                                    São necessárias apenas 3 colunas, sendo:
                                    <ul>
                                        <li>Invoice.</li>
                                        <li>Valor Liquido.</li>
                                        <li>Data de pagamento/deposito(dd/mm/aaaa).</li>
                                    </ul>
                                    <b>Por segurança, o limite para importação são de 9.000 receitas por vez.</b>
                                </div>
                                <label for="file">Arquivo CSV: </label><br>
                                <input class="upload-file-selector" id="file" type="file" name="file" required>
                            </div>
                        </div>
                    </div>
                    <div id="message" class="alert alert-danger d-none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
var month = 0;

const form = document.getElementById('filter');
form.addEventListener('submit', e => {
    e.preventDefault();
    let formData = formDataToJson('filter');
    month = 0;
    $("#table tbody").empty();
    generateTable();
})

function csv() {
    let formData = formDataToJson('filter');
    month = formData.month;
    window.open(`<?= BASEURL ?>api/financeiro/exportCsvFinancialReport/?month=${month}`, '_blank');
}

const formImport = document.getElementById('form');
const messageDiv = document.getElementById('message');
formImport.addEventListener('submit', e => {
    e.preventDefault();
    showLoading();
    fetch(`<?= BASEURL ?>financeiro/importa-planilha-financeiro`, {
        method: 'POST',
        credentials: "same-origin",
        headers: {
            'Accept': 'application/json',
        },
        body: new FormData(formImport),
    });
    closeLoading();
    messageDiv.textContent = 'Dados enviados com sucesso, aguarde alguns minutos para consultá-los novamente!';
    messageDiv.classList.add("alert-success");
    messageDiv.classList.remove("alert-danger");
    messageDiv.classList.remove("d-none");
    setTimeout(function() {
        location.reload();
    }, 3000);
});
</script>