<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="tabbed-card">
                    <ul class="pull-right nav nav-pills nav-secondary" id="pills-clrtabsuccess"
                        role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#areaTab" role="tab"
                               aria-controls="pills-clrhome" aria-selected="true">Áreas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#subAreaTab" role="tab"
                               aria-controls="pills-clrcontact" aria-selected="false">
                                Sub-áreas
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-4">

                        <div class="tab-pane p-3 active" id="areaTab">
                            <div class="row g-3 align-items-center m-b-30 m-t-30">
                                <div class="col-auto">
                                    <span>Exibir </span>
                                </div>
                                <div class="col-auto">
                                    <select class="form-control form-select" id="limitArea"
                                            onchange="getLimit(this.value, 'Area')">
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <span> registros</span>
                                </div>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_AREA_SUB_AREA_CRIACAO_EDICAO)): ?>
                                    <div class="col text-end">
                                        <a class="btn btn-success" onclick="openModalArea(0)"><i class="fa fa-plus"></i>
                                            Adicionar</a>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Exibindo de <span id="startArea"></span> a <span id="endArea"></span> de
                                        <span id="totalArea"></span> registros</p>
                                </div>
                            </div>
                            <div class="row table-responsive-xl">
                                <div class="col-12">
                                    <table id="tableArea" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <div class="spinner-border loaderArea m-t-10" role="status">
                                        <span class="sr-only mx-auto">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-end">
                                <nav aria-label="...">
                                    <ul class="pagination justify-content-end pagination-primary"
                                        id="paginationArea" style="top: auto">

                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="tab-pane p-3" id="subAreaTab">
                            <div class="row g-3 align-items-center m-b-30 m-t-30">
                                <div class="col-auto">
                                    <span>Exibir </span>
                                </div>
                                <div class="col-auto">
                                    <select class="form-control form-select" id="limitSubArea"
                                            onchange="getLimit(this.value, 'SubArea')">
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <span> registros</span>
                                </div>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_AREA_SUB_AREA_CRIACAO_EDICAO)): ?>
                                    <div class="col text-end">
                                        <a class="btn btn-success" onclick="openModalSubArea(0)"><i
                                                    class="fa fa-plus"></i>
                                            Adicionar</a>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Exibindo de <span id="startSubArea"></span> a <span id="endSubArea"></span> de
                                        <span id="totalSubArea"></span> registros</p>
                                </div>
                            </div>
                            <div class="row table-responsive-xl">
                                <div class="col-12">
                                    <table id="tableSubArea" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">Área</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <div class="spinner-border loaderSubArea m-t-10" role="status">
                                        <span class="sr-only mx-auto">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-end">
                                <nav aria-label="...">
                                    <ul class="pagination justify-content-end pagination-primary"
                                        id="paginationSubArea" style="top: auto">

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modalArea" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Área</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formArea" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="areaId" id="areaId">
                    <div class="row">

                        <div class="mb-3">
                            <label for="nameArea">Nome</label>
                            <input id="nameArea" placeholder="Nome" name="name" type="text" class="form-control"
                                   required>
                        </div>

                        <div class="mb-1">
                            <label for="">Diretórios</label>
                        </div>

                        <?php foreach ($directories as $directorie): ?>
                            <div class="mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="<?= $directorie['id'] ?>"
                                           id="directories<?= $directorie['id'] ?>" name="directories[]" required>
                                    <label class="form-check-label" for="directories<?= $directorie['id'] ?>">
                                        <?= $directorie['nome'] ?>
                                    </label>
                                </div>
                            </div>
                        <?php endforeach; ?>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modalSubArea" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Sub-área</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formSubArea" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="subAreaId" id="subAreaId">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="nameSubArea">Nome</label>
                                <input id="nameSubArea" placeholder="Nome" name="name" type="text" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="areaSubArea">Área</label>
                                <select class="form-select" name="area" required id="areaSubArea">
                                    <option value="">Selecionar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_AREA_SUB_AREA_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ORCAMENTOS_AREA_SUB_AREA_CRIACAO_EDICAO, false, true) ?>;
</script>

<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/management.js?v=<?= time() ?>"></script>
