<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Conciliação OFX</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form method="POST" enctype="multipart/form-data" id="formOfx">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="directory">Diretório</label>
								<input class="form-control" type="search" placeholder="Pesquisar"
								       onchange="getAccount()"
								       name="directory" id="directory" list="accountsDebit" required>
								<datalist id="accountsDebit">
									<option value="" selected>Selecione</option>
									<?php foreach ($directories as $directorie): ?>
										<option
											value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
									<?php endforeach ?>
								</datalist>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label for="directoryAccount">Conta:</label>
								<select class="form-select" name="account" id="directoryAccount" required>
									<option value="" selected>Selecione</option>
								</select>

							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="file">Arquivo: </label><br>
								<span class="fileselector">
									<label class="btn btn-orange text-white" for="file" style="margin-top: -1px">
									<input class="upload-file-selector" id="file" type="file" required name="file"
									       accept=".ofx">
									<i class="fa fa-paperclip margin-correction"></i>
										<span id="fileLabel" class="input-file"
										      default="Anexar Arquivo">Anexar Arquivo</span>
									</label>
								</span>
							</div>
						</div>
						<div class="col-12 text-end" id="submitDiv">
							<div class="form-group">
								<button type="submit" class="btn btn-success">Enviar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row" id="detailsTransactions" style="display: none">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h2>Transações</h2>
				<b><span id="directoryName"></span> - <span id="originStr" </span></b>
				<br>
				<b>Período:</b> <span id="start"></span> - <span id="end"></span><br>
				<b><span id="bank"></span> - <span id="agency"></span> - <span id="account"></span></b>

				<form id="formTable">
					<input type="hidden" id="ofxFileId" name="ofxFileId" value="0">
					<table class="table table-bordered table-responsive m-t-30" id="table">
						<thead>
						<tr>
							<th class="text-center">Data</th>
							<th class="text-center">Tipo</th>
							<th class="text-center">Valor</th>
							<th class="text-center">Identificador único</th>
							<th class="text-center">Número do extrato</th>
							<th class="text-center">Descrição</th>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div class="row m-t-30">
						<div class="col-md-8" style="display: none" id="refreshDiv">
							<a class="btn btn-danger my-1 text-white" onclick="resetForm()">Limpar</a>
							<a class="btn btn-success my-1 text-white" onclick="refreshTable()">Atualizar</a>
						</div>
						<div class="col text-end" id="saveDiv" style="display: none">
							<button type="submit" class="btn btn-success my-1">Conciliar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 175px); top: 40%"
     role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal de Exclusão -->
<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Alterar Status para Cancelado</h5>
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>

			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col text-center my-4">
						<i class="fa fa-exclamation-triangle text-danger fa-4x mx-4"></i>
					</div>
				</div>
				<div class="row">
					<div class="col f-14 text-center">
						<h5 class="title">Você tem certeza que deseja alterar o status do Pagamento para Cancelado?</h5>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col text-end">
						<a class="btn btn-danger text-white" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
						<a class="btn btn-success text-white" id="confirmCancel">Confirmar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="<?= BASEURL ?>assets/functions/financial/ofx.js"></script>