<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-12">
						<h5 class="title">
							Pagamentos <?= ucfirst($subSection) ?>
						</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label for="dueDateBeginOfxList<?= $subSection ?>Filter">Vencimento de:</label>
								<input class="form-control" type="date" id="dueDateBeginOfxList<?= $subSection ?>Filter" name="dueDateBegin" value="">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="dueDateEndOfxList<?= $subSection ?>Filter">Vencimento até:</label>
								<input class="form-control" type="date" id="dueDateEndOfxList<?= $subSection ?>Filter" name="dueDateEnd" value="">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="statusOfxList<?= $subSection ?>Filter">Status:</label>
								<select class="form-select" id="statusOfxList<?= $subSection ?>Filter" name="status">
									<option value="-1">Todos</option>
									<option value="0">Análise</option>
									<option value="6">Análise OK</option>
									<option value="1">Pendência</option>
									<option value="2">Agendado</option>
									<option value="3">Efetuado</option>
									<option value="4">Aguardando Aprovação</option>
									<option value="5">Cancelado</option>
									<option value="8">Estornado</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="originOfxList<?= $subSection ?>Filter">Origem da Despesa:</label>
								<select class="form-select" id="originOfxList<?= $subSection ?>Filter" name="origin">
									<option value="0">Todos</option>
									<option value="1">Campanha Eleitoral</option>
									<option value="2">Política da Mulher</option>
									<option value="3" selected>Outros Recursos</option>
									<option value="4">Fundo Partidário</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="valueOfxList<?= $subSection ?>Filter">Valor:</label>
								<input class="form-control" type="text" id="valueOfxList<?= $subSection ?>Filter" name="value" value="">
							</div>
						</div>
						<?php if ($user->accountingPermission()): ?>
							<div class="col-md-2">
								<div class="form-group">
									<label for="accountingOfxList<?= $subSection ?>Filter">Contabilização:</label>
									<select class="form-select" id="accountingOfxList<?= $subSection ?>Filter" name="accounting">
										<option value="">Todos</option>
										<option value="1">Aprovado</option>
										<option value="2">Pendente</option>
									</select>
								</div>
							</div>
						<?php endif; ?>
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label for="directoryOfxList<?= $subSection ?>Filter">Diretório:</label>
								<input class="form-control" type="search" placeholder="Pesquisar" name="directory"
								       id="directoryOfxList<?= $subSection ?>Filter" list="directoryList">
								<datalist id="directoryList">
									<option value="" selected>Selecione</option>
									<?php foreach ($directories as $directorie): ?>
										<option value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
									<?php endforeach ?>
								</datalist>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="userOfxList<?= $subSection ?>Filter">Usuário:</label>
								<input class="form-control" type="search" placeholder="Pesquisar" name="user"
								       id="userOfxList<?= $subSection ?>Filter" list="userList">
								<datalist id="userList">
									<option value="" selected>Selecione</option>
									<?php foreach ($users as $u): ?>
										<option value="<?= $u['name'] ?>"><?= $u['name'] ?></option>
									<?php endforeach ?>
								</datalist>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="cpfCnpjOfxList<?= $subSection ?>Filter">CNPJ/CPF Fornecedor:</label>
								<input class="form-control" type="text" id="cpfCnpjOfxList<?= $subSection ?>Filter" name="cpfCnpj"
								       placeholder="CNPJ/CPF">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="providerOfxList<?= $subSection ?>Filter">Nome Fornecedor:</label>
								<input class="form-control" type="search" placeholder="Pesquisar" name="provider"
								       id="providerOfxList<?= $subSection ?>Filter" list="providerList">
								<datalist id="providerList">
									<option value="" selected>Selecione</option>
									<?php foreach ($providers as $provider): ?>
										<option value="<?= $provider->getName() ?>"><?= $provider->getName() ?></option>
									<?php endforeach ?>
								</datalist>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="type">Tipo da despesa:</label>
								<select class="form-select" name="type" id="typeOfxList<?= $subSection ?>Filter" onchange="expense()">
									<option value="" selected>Selecione</option>
									<option value="4">Combustíveis</option>
									<option value="6">Compra de Ativos</option>
									<option value="9">Contas de Consumo</option>
									<option value="8">Despesa de Escritório</option>
									<option value="5">Evento</option>
									<option value="10">Gastos com Alimentação</option>
									<option value="13">Gastos com Impulsionamentos</option>
									<option value="18">GRU´s</option>
									<!--<option value="1">Hospedagem/Viagens</option>-->
									<option value="12">Locação</option>
									<option value="7">Mão de Obra/Prestação de Serviços</option>
									<option value="3">Material Impresso</option>
									<option value="17">Viagens e Hospedagem</option>
									<option value="16" <?= $user->isAdminNational() ? '' : 'style="display:block"' ?>>Repasse/Transferência à Diretórios</option>
									<option value="15">Serviços Contábeis</option>
									<option value="14">Serviços Jurídicos</option>
									<option value="2">Taxi</option>
									<option value="11">Outros</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row g-3 align-items-center m-b-30">
						<div class="col-auto">
							<span>Exibir </span>
						</div>
						<div class="col-auto">
							<select class="form-control form-select" id="limitOfxList<?= $subSection ?>"
							        onchange="getLimit(this.value, 'OfxList<?= $subSection ?>')">
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
						</div>
						<div class="col-auto">
							<span> registros</span>
						</div>
						<div class="col text-end m-b-30">
							<?php if($user->accountingPermission()): ?>
								<button class="btn btn-success text-white"
								        onclick="csvAccounting()"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Exportação Contábil
								</button>
								<button class="btn btn-info text-white"
								        onclick="csvFiscal()"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Exportação Fiscal
								</button>
							<?php endif; ?>
							<button class="btn btn-secondary text-white"
							        onclick="csv()"><i class="fa fa-download" aria-hidden="true"></i> Exportar
							</button>
							<button class="btn btn-danger" type="reset"
							        onclick="resetTable('OfxList<?= $subSection ?>')"><i class="fa fa-eraser" aria-hidden="true"></i> Limpar
							</button>
							<button class="btn btn-primary text-white" type="submit">
								<i class="fa fa-filter" aria-hidden="true"></i> Filtrar
							</button>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col">
						<p>Exibindo de <span id="startOfxList<?= $subSection ?>"></span> a <span id="endOfxList<?= $subSection ?>"></span> de
							<span id="totalOfxList<?= $subSection ?>"></span> registros</p>
					</div>
				</div>
				<div class="row table-responsive-xxl custom-scrollbar" >
					<div class="col-12">
						<table id="tableOfxList<?= $subSection ?>" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">Registro</th>
								<th class="text-center">Valor</th>
								<th class="text-center">Vencimento</th>
								<th class="text-center">Status</th>
								<th class="text-center">Diretório</th>
								<th class="text-center">Usuário</th>
								<th class="text-center">Origem</th>
								<th class="text-center">Fornecedor</th>
								<th class="text-center">CNPJ/CPF</th>
								<th class="text-center">Anexos</th>
								<th class="text-center">Ações</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<div class="spinner-border loaderOfxList<?= $subSection ?> m-t-10" role="status">
							<span class="sr-only mx-auto">Loading...</span>
						</div>
					</div>
				</div>
				<div class="row text-end">
					<nav aria-label="...">
						<ul class="pagination justify-content-end pagination-primary"
						    id="paginationOfxList<?= $subSection ?>" style="top: auto">
						
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

	var type = <?= $user->getType() ?>;
	var sessions = 'OfxList<?= $subSection ?>';
	var mask = 'valueOfxList<?= $subSection ?>Filter';
    var accountingPermission = null;
	
</script>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/paymentsTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/financial/ofxList.js?v=<?= time() ?>"></script>