<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Pendencias de OFX</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="directoryOfxPendencyFilter">Diretório</label>
                                <input class="form-control" type="search" placeholder="Pesquisar"
                                       onchange="getAccount(this.value)"
                                       name="directory" id="directoryOfxPendencyFilter" list="accountsDebit">
                                <datalist id="accountsDebit">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option
                                                value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="directoryAccountOfxPendencyFilter">Conta:</label>
                                <select class="form-select" name="account" id="directoryAccountOfxPendencyFilter">
                                    <option value="" selected>Selecione</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="statusOfxPendencyFilter">Status:</label>
                                <select class="form-select" name="status" id="statusOfxPendencyFilter">
                                    <option value="">Todos</option>
                                    <option value="1" selected>Pendente</option>
                                    <option value="2">Conciliado</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="startOfxPendencyFilter">Dê:</label>
                                <input class="form-select" name="start" id="startOfxPendencyFilter"
                                       placeholder="dd/mm/AAAA" data-mask="99/99/9999"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="endOfxPendencyFilter">Dê:</label>
                                <input class="form-select" name="end" id="endOfxPendencyFilter"
                                       placeholder="dd/mm/AAAA" data-mask="99/99/9999"/>
                            </div>
                        </div>
                        <div class="col-md-6 text-end mt-auto m-b-20">
                            <button class="btn btn-danger my-1" type="reset"
                                    onclick="resetTable('OfxPendency')"><i class="fa fa-eraser" aria-hidden="true"></i>
                                Limpar
                            </button>
                            <button class="btn btn-primary text-white  my-1" type="submit">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30 m-t-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limitOfxPendency"
                                onchange="getLimit(this.value, 'OfxPendency')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startOfxPendency"></span> a <span id="endOfxPendency"></span> de
                            <span id="totalOfxPendency"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xxl custom-scrollbar">
                    <div class="col-12">
                        <table id="tableOfxPendency" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Data</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Diretório</th>
                                <th class="text-center">Conta</th>
                                <th class="text-center">Identificador único</th>
                                <th class="text-center">Número do extrato</th>
                                <th class="text-center">Descrição</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderOfxPendency m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationOfxPendency" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Exclusão -->
<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Conciliação</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center my-4">
                        <i class="fa fa-exclamation-triangle text-danger fa-4x mx-4"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col f-14 text-center">
                        <h5 class="title">Você tem certeza que deseja excluir esta conciliação do Pagamento?</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col text-end">
                        <a class="btn btn-danger text-white" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                        <a class="btn btn-success text-white" id="confirmCancel">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Vinculo-->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vincular Lançamentos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                <form id="linkForm" method="post">
                    <input type="hidden" id="ofxLineId" name="ofxLineId">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="interaction">Lançamentos(separados por vírgula)</label>
                                <input class="form-control" id="interaction" name="transactions"
                                       placeholder="Lançamentos" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 175px); top: 40%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>
<script>
    var listPendency = [];
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONCILIACAO_PENDENTES_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_CONCILIACAO_PENDENTES_CRIACAO_EDICAO, false, true) ?>;
</script>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/financial/ofxPendency.js?v=<?= time() ?>"></script>

