<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Gerador de Recibos</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                Preencha as informações abaixo para gerar os recibos desejados.<br><br>
                Orientações de uso:
                <ul>
                    <li>São permitidos gerar no máximo 15 recibos por vez.</li>
                    <li>Todos os campos são obrigatórios.</li>
                    <li>O campo Ínico precisa ser menos do que o campo Fim.</li>
                    <li>Ao confirmar, um arquivo <b>.zip</b> será gerado e baixado em sua máquina, para descompactar
                        baixe e instale esse programa gratuito: <a href="https://www.win-rar.com/" target="blank">Abrir
                            <i class="fa fa-external-link" aria-hidden="true"></i></a>.</li>
                    <li>Para gerar apenas um recibo insira o mesmo número nos campos ínico e Fim.</li>
                </ul>
                <hr>
                <div id="message" class="alert d-none" role="alert"></div>
                <form id="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="directory">Diretório:</label>
                                <select class="form-select" id="directory" name="directory">
                                    <?php foreach($directories as $directory): ?>
                                    <option value="<?= $directory->getId() ?>"
                                        <?= $directory->getId() == 1 ? 'selected' : '' ?>>
                                        <?= $directory->getName() ?>
                                    </option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="account">Conta:</label>
                                <select class="form-select" id="account" name="account">
                                    <option value="" selected>Selecione</option>
                                    <option value="DC">Doação para Campanha</option>
                                    <option value="OR" selected>Outros Recursos</option>
                                    <option value="FP">Fundo Partidário</option>
                                    <option value="FE">Fundo Especial de Financiamento de Campanha</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="search">Gerar por:</label>
                            <div class="form-group">
                                <input type="radio" name="type" onclick="change(this.value);" value="number" />
                                <label for="number">Número</label><br>
                                <input type="radio" name="type" onclick="change(this.value);" value="cpf" />
                                <label for="cpf">CPF</label>
                            </div>
                        </div>
                    </div>
                    <div class="row d-none" id="numberDiv">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="begin">Início:</label>
                                <input type="number" class="form-control" id="begin" name="begin" value="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="end">Fim:</label>
                                <input type="number" class="form-control" id="end" name="end" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row d-none" id="cpfDiv">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cpf">CPF:</label>
                                <input type="string" class="form-control" id="cpf" name="cpf" value=""
                                    data-mask="999.999.999-99">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="year">Ano:</label>
                                <select id="year" name="year" class="form-control">
                                    <option value="<?= date('Y') ?>" selected><?= date('Y') ?></option>
                                    <option value="<?= date('Y') - 1 ?>"><?= date('Y') - 1 ?></option>
                                    <option value="<?= date('Y') - 2 ?>"><?= date('Y') - 2 ?></option>
                                    <option value="<?= date('Y') - 3 ?>"><?= date('Y') - 3 ?></option>
                                    <option value="<?= date('Y') - 4 ?>"><?= date('Y') - 4 ?></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:end">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick="resetFilter()"><i
                                        class="fa fa-eraser" aria-hidden="true"></i> Limpar</button>
                                <button type="submit" id="generate" class="btn btn-success"><i class="fa fa-cog"
                                        aria-hidden="true"></i> Gerar Recibo(s)</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Lançamento de Recibos</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                Orientações de uso:
                <ul>
                    <li>O arquivo importado deve estar no formado <b>CSV UTF-8 (Delimitado por vírgulas)</b>.</li>
                    <li>São necessárias apenas duas colunas na planilha, sendo invoice e o próprio número do recibo.
                    </li>
                    <li>Evite importar uma quantidade muito grande de recibos por vez.</li>
                    <li>Aquivo de demonstação: <a type="button" class="btn btn-success"
                            href="https://gestao.novo.org.br/uploads/comunicados/importa-recibo.csv" target="blank"><i
                                class="fa fa-download" aria-hidden="true"></i> Download</a>.</li>
                </ul>
                <hr>
                <div id="messageImport" class="alert d-none" role="alert"></div>
                <form id="formImport">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="file">Arquivo:</label>
                            <input type="file" id="file" name="file">
                        </div>
                        <div class="col-md-6" style="text-align:end">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick=""><i class="fa fa-times"
                                        aria-hidden="true"></i> Cancelar</button>
                                <button type="submit" id="import" class="btn btn-success"><i class="fa fa-upload"
                                        aria-hidden="true"></i> Lançar Recibos</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
const form = document.getElementById('form');
const divMessage = document.getElementById('message');
form.addEventListener('submit', e => {
    $('#generate').addClass('disabled');
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('form');
    fetch("<?= BASEURL ?>financeiro/gera-recibo", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        $('#generate').removeClass('disabled');
        divMessage.classList.add("alert-danger");
        divMessage.classList.remove("alert-success");
        divMessage.classList.remove("d-none");
        response.json().then(json => {
            divMessage.innerHTML = json.message;
            divMessage.style.display = 'block';
            if (response.status === 201) {
                $('#generate').addClass('disabled');
                divMessage.classList.add("alert-success");
                divMessage.classList.remove("alert-danger");
                divMessage.classList.remove("d-none");
            }
        });
    });
});

function change(myRadio) {
    const numberDiv = document.getElementById('numberDiv');
    const cpfDiv = document.getElementById('cpfDiv');
    if (myRadio == 'number') {
        numberDiv.classList.remove("d-none");
        cpfDiv.classList.add("d-none");
    } else {
        numberDiv.classList.add("d-none");
        cpfDiv.classList.remove("d-none");
    }
}

function resetFilter() {
    numberDiv.classList.add("d-none");
    cpfDiv.classList.add("d-none");
}
</script>

<script>
const formImport = document.getElementById('formImport');
const divMessageImport = document.getElementById('messageImport');
formImport.addEventListener('submit', e => {
    $('#import').addClass('disabled');
    e.preventDefault();
    showLoading();
    let formData = formDataToJson('formImport');
    fetch("<?= BASEURL ?>financeiro/lanca-recibos", {
        method: "POST",
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json'
        },
        body: new FormData(formImport)
    }).then(response => {
        closeLoading();
        $('#import').removeClass('disabled');
        divMessageImport.classList.add("alert-danger");
        divMessageImport.classList.remove("alert-success");
        divMessageImport.classList.remove("d-none");
        response.json().then(json => {
            divMessageImport.innerHTML = json.message;
            divMessageImport.style.display = 'block';
            if (response.status === 201) {
                $('#import').addClass('disabled');
                divMessageImport.classList.add("alert-success");
                divMessageImport.classList.remove("alert-danger");
                divMessageImport.classList.remove("d-none");
            }
        });
    });
});

</script>

<style>
.radio {
    width: 7%;
    display: inline-flex;
    height: 100%;
}
</style>