<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Nome:</label>
                                <input class="form-control" id="name" name="name" type="text"
                                       placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select class="form-select" id="status" name="status">
                                    <option value="paid" selected>Pago</option>
                                    <option value="pending">Pendente</option>
                                    <option value="canceled">Cancelada</option>
                                    <option value="accumulated">Acumulado</option>
                                    <option value="reversed">Estornado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="origin">Origem Transação:</label>
                                <select class="form-select" id="origin" name="origin">
                                    <option value="">Todos</option>
                                    <option value="1">Doação</option>
                                    <option value="2" selected>Filiação</option>
                                    <option value="3">Doação Campanha</option>
                                    <option value="4">Evento</option>
                                    <option value="5">Complemento de Filiação</option>
                                    <option value="6">Doação Maquininha</option>
                                    <option value="8">Plano de Contribuição</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="plan">Periodicidade:</label>
                                <select class="form-select" id="plan" name="plan">
                                    <option value="" selected>Todos</option>
                                    <option value="-1">Avulsa</option>
                                    <option value="1" selected>Mensal</option>
                                    <option value="12">Anual</option>
                                    <option value="24">Bienal</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="payment">Forma pagamento:</label>
                                <select class="form-select" id="payment" name="payment">
                                    <option value="" selected>Todos</option>
                                    <option value="1" selected>Cartão</option>
                                    <option value="2">Boleto</option>
                                    <option value="11">PIX</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="typeDate">Data:</label>
                                <select class="form-select" id="typeDate" name="typeDate">
                                    <option value="data_criacao" selected>Data Criação</option>
                                    <option value="data_pago">Data Pago</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="begin">Inicia em:</label>
                                <input class="form-control"
                                       id="begin"
                                       name="begin"
                                       type="date"
                                       value="<?= date('Y-m-01') ?>"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="end">Finaliza em:</label>
                                <input class="form-control"
                                       id="end"
                                       name="end"
                                       type="date"
                                       value="<?= date('Y-m-t') ?>"
                                       placeholder="Ex.: dd/mm/aaaa">
                            </div>
                        </div>
                        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">Estado Título:</label>
                                    <select class="form-select" id="state" name="state"
                                            onchange="getCities(this.value)">
                                        <option value="">Selecione</option>
                                        <?php foreach ($states as $state): ?>
                                            <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="city">Cidade Título:</label>
                                    <select class="form-select" id="city" name="city" type="city">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">Estado Título:</label>
                                    <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                           disabled readonly>
                                    <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="city">Cidade Título:</label>
                                    <select class="form-select" id="city" name="city" type="city">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">Estado Título:</label>
                                    <input type="text" class="form-control"
                                           value="<?= $user->getState()->getSigla() ?>" disabled readonly>
                                    <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">Cidade Título:</label>
                                    <input type="text" class="form-control"
                                           value="<?= $user->getCity()->getCidade() ?>" disabled readonly>
                                    <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="col <?= $user->getType() != 3 ? 'd-none' : '' ?>" id="directoryDiv">
                            <div class="form-group">
                                <label for="directory">Destino:</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="directory"
                                       id="directory" list="directoryList">
                                <datalist id="directoryList">
                                    <option value="" selected>Selecione</option>
                                    <?php foreach ($directories as $directorie): ?>
                                        <option value="<?= $directorie['nome'] ?>"><?= $directorie['nome'] ?></option>
                                    <?php endforeach ?>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Exibindo <span id="partial"></span> de <span id="total"></span>
                        </div>
                        <div class="col text-end">
                            <i id="export" style="margin-left:10px; font-size: 150%; display:none"
                               class="fa fa-info-circle" data-toggle="tooltip" title="Atenção: devido à LGPD, teremos que formalizar este tipo de acesso para exportação.
                                Favor encaminhar e-mail para acesso@novo.org.br solicitando o acesso e copiando seu presidente estadual ou municipal."></i>
                            <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL &&
                                \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_RELATORIODETRANSACOES_EXPORTACAO)): ?>
                                <button id="export" type="submit" onclick="exportFinancialReport()"
                                        class="btn btn-secondary">
                                    <i class="fa fa-file-download" aria-hidden="true"></i> Relatório Financeiro
                                </button>
                            <?php endif; ?>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_RELATORIODETRANSACOES_EXPORTACAO)): ?>
                                <button id="export" type="submit" onclick="csv()" class="btn btn-primary"><i
                                            class="fa fa-file-download" aria-hidden="true"></i> Exportar
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                                  aria-hidden="true"></i>
                                Limpar
                            </button>
                            <button class="btn btn-success" type="submit"><i class="fa fa-filter"
                                                                             aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <label>
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </label>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Criação</th>
                                <th class="text-center">Pago</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Cidade</th>
                                <th class="text-center">Origem</th>
                                <th class="text-center">Plano</th>
                                <th class="text-center">Forma</th>
                                <th class="text-center">Destino</th>
                                <th class="text-center">Recibo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div class="watermark"><?= $user->getName() ?></div>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="loader" class="loader"></div>
                <div style="display: none" id="message" class="alert" role="alert"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="confidentialityAgreementForm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
                </div>
                <div class="modal-body text-justify custom-scrollbar">
                    <p>Prezado(a) <?= $user->getName() ?>,</p>
                    <p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a manter o
                        absoluto sigilo,
                        tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e sobre
                        todos os materiais disponibilizados.</p>
                    <p>Este acesso ficará registrado no sistema.</p>
                    <p>A divulgação e utilização não autorizada de informações, configura indisciplina partidária grave
                        nos termos do artigo 18, inciso XI do estatuto partidário.</p>
                </div>
                <div class="modal-footer">
                    <a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
                    <button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
                </div>
                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
            </div>
        </form>
    </div>
</div>

<script>
    var index = partial = state = city = 0;
    var total = plan = payment = 1;
    var name = directory = '';
    var typeDate = 'data_criacao';
    var status = 'paid';
    var origin = '2';
    var begin = '<?= date('Y-m-01 00:00:00') ?>';
    var end = '<?= date('Y-m-t 23:59:59') ?>';

    const form = document.getElementById('filter');
    form.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        partial = index = 0;
        total = 1;
        name = formData.name;
        typeDate = formData.typeDate;
        begin = formData.begin;
        end = formData.end;
        status = formData.status;
        origin = formData.origin;
        plan = formData.plan;
        payment = formData.payment;
        state = formData.state;
        city = formData.city;
        directory = formData.directory;
        $("#table tbody").empty();
        generateTable();
    })

    function resetTable() {
        index = partial = state = city = 0;
        total = plan = payment = 1;
        name = directory = '';
        typeDate = 'data_criacao';
        status = 'paid';
        origin = '2';
        begin = '<?= date('Y-m-01 00:00:00') ?>';
        end = '<?= date('Y-m-t 23:59:59') ?>';
        $("#table tbody").empty();
        generateTable();
    }

    function generateMembershipList(transactions) {
        let receipt = '';
        if (transactions.status == 'Pago') {
            receipt = `<a class="text-primary" title="recibo"
							href="<?= BASEURL ?>financeiro/recibos/${transactions.id}"
                        	target="_blank">
                            <i class="fa fa-file"></i> Recibo
                        </a>`;
        }
        return `<tr>
                    <td class="text-center">${transactions.id}</td>
                    <td class="text-center"><a href="<?= BASEURL ?>filiados/${transactions.tb_pessoa_id}" target="_blank">${transactions.name} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    <td class="text-center">${transactions.value}</td>
                    <td class="text-center">${transactions.status}</td>
                    <td class="text-center">${transactions.created}</td>
                    <td class="text-center">${transactions.payed}</td>
                    <td class="text-center">${transactions.state}</td>
                    <td class="text-center">${transactions.city}</td>
                    <td class="text-center">${transactions.origin}</td>
                    <td class="text-center">${transactions.plan}</td>
                    <td class="text-center">${transactions.payment}</td>
                    <td class="text-center">${transactions.directory}</td>
					<td class="text-center">${receipt}</td>
                </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            $('#loader').show();
            fetch(`<?= BASEURL ?>api/financeiro/transacoes/?index=${index}&name=${name}&typeDate=${typeDate}&begin=${begin}&end=${end}&status=${status}&origin=${origin}&plan=${plan}&payment=${payment}&state=${state}&city=${city}&directory=${directory}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    $('#loader').hide();
                    total = json.total;
                    partial = json.partial;
                    let membershipList = json.message;
                    let options = membershipList.map(generateMembershipList);
                    $("#table tbody").append(options);
                    $('#total').text(total);
                    $('#partial').text(partial);
                });
            });
        }
    }

    $(document).ready(function () {
        <?php if ($user->getLevel() == 2): ?>
        getCities(<?= $user->getState()->getId() ?>);
        <?php endif; ?>
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
        <?php if($user->getExportAccess() == 0): ?>
        document.getElementById("export").disabled = true;
        document.getElementById("i").style.display = "";
        <?php else: ?>
        document.getElementById("export").disabled = false;
        <?php endif; ?>
    });

    function csv() {
        window.open(`<?= BASEURL ?>api/financeiro/exportCsvTransactions/?index=${index}&name=${name}&typeDate=${typeDate}&begin=${begin}&end=${end}&status=${status}&origin=${origin}&plan=${plan}&payment=${payment}&state=${state}&city=${city}&directory=${directory}`, '_blank');
    }

    function exportFinancialReport() {
        try {
            const params = new URLSearchParams({
                index, name, typeDate, begin, end,
                status, origin, plan, payment,
                state, city, directory
            });

            const url = `<?= BASEURL ?>api/financeiro/exporta-relatorio-financeiro/?${params}`;
            window.open(url, '_blank');
        } catch (error) {
            console.error('Erro ao exportar relatório:', error);
            alert('Erro ao gerar relatório. Tente novamente.');
        }
    }

    <?php if(!$term): ?>
    $(window).on('load', function () {
        $("#modal").modal({
            backdrop: "static", //remove abilidfsaty to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
    });
    <?php endif ?>
</script>

<script>
    const agreementForm = document.getElementById('confidentialityAgreementForm');
    const divMessageForm = document.getElementById('messageForm');
    agreementForm.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('confidentialityAgreementForm');
        fetch('<?= BASEURL ?>api/sistema/termo/transactions', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            response.json().then(json => {
                if (response.status === 201) {
                    document.getElementById("save").disabled = true;
                    $('#modal').modal('hide');
                }
            });
        });
    });
</script>
