<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Espaço NOVO - Extrato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<!--dados pessoais-->
<div class="card p-5">

    <body>
        <table>
            <tr>
                <td colspan="5" class="center"><b>RECIBO DE DOAÇÃO - VIA DOADOR<b></td>
            </tr>
            <tr>
                <td colspan="5" class="left"><b>INSTRUÇÕES<b><br>
                    <p class="recuo">As doações para campanha eleitoral são limitadas a dez por cento dos
                        rendimentos brutos auferidos pela pessoa física no ano anterior à eleição, excetuando-se doações
                        estimáveis em dinheiro relativas à utilização de bens móveis ou imóveis de propriedade do
                        doador, desde que o valor da doação não ultrapasse R$ 80.000,00 (oitenta mil reais). (Lei no
                        9.504/97, art. 23, § 1°, I e § 7o). A doação acima dos limites fixados em lei sujeita o infrator
                        ao pagamento de multa no valor de 5 a 10 vezes a quantia em excesso. (Lei no 9.504/97, art. 23,
                        § 3o, e art. 81, § 2o).</p>
                    <p class="recuo">No campo CPF/CNPJ informe o número do CPF para as doações de pessoa física ou o número do CNPJ
                        no caso de doações de partidos políticos ou doações recebidas pelo partido de candidatos.</p>
                </td>
            </tr>
            <tr>
                <td colspan="4">«Diretório_Código»</td>
                <td><b>Numeração:</b> «Numeração_TSE»</td>
            </tr>
            <tr>
                <td colspan="4"><b>Partido Político</b><br>30 - NOVO - PARTIDO NOVO</td>
                <td>CNPJ: «CNPJ_Diretório»</td>
            </tr>
            <tr>
                <td colspan="5" class="center"><b>( «DC» ) Doação para Campanha ( «OR» ) Outros recursos ( «FP» ) Fundo Partidário ( «FE» )
                    Fundo Especial de Financiamento de Campanha</b></td>
            </tr>
            <tr>
                <td colspan="4"><b>Doação efetuada por:</b><br>«Cliente»</td>
                <td><b>CPF/CNPJ:</b><br>«CPF»</td>
            </tr>
            <tr>
                <td colspan="5" class="left"><b>Dados bancários do Doador</b></td>
            </tr>
            <tr>
                <td><b>Nº Banco:</b></td>
                <td><b>Nº Agência:</b></td>
                <td><b>Nº Conta Corrente:</b></td>
                <td><b>Nº Cheque:</b></td>
                <td><b>Nº DOC/TED/Operação:</b><br>«N_DOCTEDOperação»</td>
            </tr>
            <tr>
                <td colspan="5" class="left"><b>Estimável em dinheiro - descrição resumida dos bens/serviços recebidos em doação:</b></td>
            </tr>
            <tr>
                <td colspan="5" class="left"><b>Outra forma de arrecadação - descrição do tipo - nº do documento</b><br>«Tipo»
                </td>
            </tr>
            <tr>
                <td colspan="4"><b>Valor em R$:</b><br>«Valor_pago»</td>
                <td><b>Valor por extensor:</b><br>«Extenso»</td>
            </tr>
            <tr>
                <td colspan="4"><b>Nome do doador originário (Se o doador for partido, comitê ou candidato):</b></td>
                <td><b>CPF/CNPJ do doador originário:</b></td>
            </tr>
            <tr>
                <td colspan="4"><b>Nome do responsável pela emissão do recibo:</b><br>«Presidente»</td>
                <td><b>CPF do responsavél pela emissão do recibo:</b><br>«CPF_Presidente»</td>
            </tr>
            <tr>
                <td colspan="4"><b>Assinatura do responsável pela emissão do recibo:</b></td>
                <td><b>Data da emissão do recibo:</b><br>«Dt_Pagamento»</td>
            </tr>
        </table><br>
        <table>
            <tr>
                <td colspan="5" class="center"><b>RECIBO DE DOAÇÃO - VIA DIREÇÃO PARTIDÁRIA<b></td>
            </tr>
            <tr>
                <td colspan="4"><b>«Diretório_Código»</b></td>
                <td><b>Numeração:</b><br>«Numeração_TSE»</td>
            </tr>
            <tr>
                <td colspan="4"><b>Partido Político:</b><br>30 - NOVO - PARTIDO NOVO</td>
                <td><b>CNPJ:</b><br>«CNPJ_Diretório»</td>
            </tr>
            <tr>
                <td colspan="5" class="center"><b>( ) Doação para Campanha ( X ) Outros recursos ( ) Fundo Partidário ( )
                    Fundo Especial de Financiamento de Campanha</b></td>
            </tr>
            <tr>
                <td colspan="4"><b>Doação efetuada por:</b><br>«Cliente»</td>
                <td><b>CPF/CNPJ:</b><br>«CPF»</td>
            </tr>
            <tr>
                <td colspan="5"><b>Endereço do doador:</b></td>
            </tr>
            <tr>
                <td colspan="4"><b>Assinatura do doador:</b></td>
                <td><b>Telefone do doador (com DDD):</b></td>
            </tr>
            <tr>
                <td colspan="5"><b>Dados bancários do Doador</b></td>
            </tr>
            <tr>
                <td><b>Nº Banco:</b></td>
                <td><b>Nº Agência:</b></td>
                <td><b>Nº Conta Corrente:</b></td>
                <td><b>Nº Cheque:</b></td>
                <td><b>Nº DOC/TED/Operação:</b><br>«N_DOCTEDOperação»</td>
            </tr>
            <tr>
                <td colspan="5" class="left"><b>Estimável em dinheiro - descrição resumida dos bens/serviços recebidos em doação:</b></td>
            </tr>
            <tr>
                <td colspan="5" class="left"><b>Outra forma de arrecadação - descrição do tipo - nº do documento:</b><br>«Tipo»</td>
            </tr>
            <tr>
                <td colspan="4"><b>Valor em R$:</b><br>«Valor_pago»</td>
                <td><b>Valor por extensor:</b><br>«Extenso»</td>
            </tr>
            <tr>
                <td colspan="4"><b>Nome do doador originário (Se o doador for partido, comitê ou candidato):</b></td>
                <td><b>CPF/CNPJ do doador originário:</b></td>
            </tr>
            <tr>
                <td colspan="4"><b>Nome do responsável pela emissão do recibo:</b><br>«Presidente»</td>
                <td><b>CPF do responsavél pela emissão do recibo:</b><br>«CPF_Presidente»</td>
            </tr>
            <tr>
                <td colspan="4"><b>Assinatura do responsável pela emissão do recibo:</b></td>
                <td><b>Data da emissão do recibo:</b><br>«Dt_Pagamento»</td>
            </tr>
        </table>
    </body>
</div>

</html>
<style>
table {
    width: 100%;
    font-size: 0.6rem;
    font-family: system-ui;
}

td {
    border: 1px solid grey
}

th,
td {
    padding: 0;
    padding: 5px;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
}

.center {
    text-align: center;
}

.recuo { text-indent:4em }

</style>