<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header border-bottom">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Cadastro de Questão</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="form" class="form-group" novalidate>
                    <input id="questionId" name="questionId" type="hidden"
                           value="<?= $question ? $question->getId() : 0 ?>">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="active">Status<span class="text-danger"> *</span></label>
                            <select id="active" name="active" class="form-select" type="text" required>
                                <option value="1" <?= $question && $question->isActive() ? 'selected' : '' ?>>
                                    Ativo
                                </option>
                                <option value="0" <?= $question && !$question->isActive() ? 'selected' : '' ?>>
                                    Inativo
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="name">Pergunta<span class="text-danger"> *</span> </label>
                            <textarea id="name" name="name" required
                                      class="form-control" rows="5"><?= $question ? $question->getText() : '' ?></textarea>
                        </div>
                    </div>
                    <?php if ($question): ?>

                        <div class="row">
                            <div class="col-md-9 m-t-20">
                                <div class="row">
                                    <label for="options">Alternativas<span class="text-danger"> *</span></label>
                                </div>
                                <?php for ($i = 0; $i < 4; $i++): ?>
                                    <div class="mb-2">
                                        <input id="options<?= $i ?>" name="options[]"
                                               class="form-control" type="text"
                                               placeholder="Alternativa"
                                               value="<?= $options[$i] && $options[$i]->getName() ? $options[$i]->getName() : '' ?>">
                                    </div>
                                <?php endfor; ?>
                            </div>
                            <div class="col-md-3 m-t-20">
                                <div class="row">
                                    <label for="points">Valor da Alternativa<span
                                                class="text-danger"> *</span></label>
                                </div>
                                <?php for ($i = 0; $i < 4; $i++): ?>
                                    <div class="mb-2">
                                        <select id="points<?= $i ?>" name="points[]"
                                                class="form-select" type="text">
                                            <option value="0">0</option>
                                            <option
                                                <?= $options[$i] && $options[$i]->getPoints() == '2' ? 'selected' : '' ?>>
                                                2
                                            </option>
                                            <option
                                                <?= $options[$i] && $options[$i]->getPoints() == '1' ? 'selected' : '' ?>>
                                                1
                                            </option>
                                            <option
                                                <?= $options[$i] && $options[$i]->getPoints() == '-1' ? 'selected' : '' ?>>
                                                -1
                                            </option>
                                            <option
                                                <?= $options[$i] && $options[$i]->getPoints() == '-2' ? 'selected' : '' ?>>
                                                -2
                                            </option>
                                        </select>
                                    </div>
                                <?php endfor; ?>
                            </div>
                        </div>

                    <?php else: ?>

                        <div class="row" id="alternativesRow">
                            <div class="col-md-9" id="alternativesCol">
                                <div class="mb-2">
                                    <label for="options">Alternativas<span class="text-danger"> *</span></label>
                                    <input id="options1" name="options[]" class="form-control" type="text"
                                           value="Concordo Totalmente"
                                           placeholder="Alternativa">
                                </div>
                                <div class="mb-2">
                                    <input id="options3" name="options[]" class="form-control" type="text"
                                           value="Concordo Parcialmente"
                                           placeholder="Alternativa">
                                </div>
                                <div class="mb-2">
                                    <input id="options4" name="options[]" class="form-control" type="text"
                                           value="Discordo Parcialmente"
                                           placeholder="Alternativa">
                                </div>
                                <div class="mb-2">
                                    <input id="options2" name="options[]" class="form-control" type="text"
                                           placeholder="Alternativa" value="Discordo Totalmente">
                                </div>
                            </div>
                            <div class="col-md-3" id="pointsCol">
                                <div class="mb-2">
                                    <label for="points">Valor da Alternativa<span
                                                class="text-danger"> *</span></label>
                                    <select id="points2" name="points[]" class="form-select" type="text">
                                        <option value="">Selecione</option>
                                        <option>2</option>
                                        <option>1</option>
                                        <option>-1</option>
                                        <option>-2</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <select id="points3" name="points[]" class="form-select" type="text">
                                        <option value="">Selecione</option>
                                        <option>2</option>
                                        <option>1</option>
                                        <option>-1</option>
                                        <option>-2</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <select id="points4" name="points[]" class="form-select" type="text">
                                        <option value="">Selecione</option>
                                        <option>2</option>
                                        <option>1</option>
                                        <option>-1</option>
                                        <option>-2</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <select id="points1" name="points[]" class="form-select" type="text">
                                        <option value="">Selecione</option>
                                        <option>2</option>
                                        <option>1</option>
                                        <option>-1</option>
                                        <option>-2</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    <?php endif; ?>

                    <div class="row">
                        <div class="col-md-12 text-end m-t-30">
                            <div class="form-group">
                                <a class="btn btn-danger text-white" href="<?= BASEURL ?>questionarios/questoes"
                                   type="reset">Cancelar</a>
                                <button class="btn btn-success" type="submit">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="spinner-border spinner-card loaderTop" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/questionnaires/questionView.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>