<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header border-bottom">
				<div class="row">
					<div class="col">
						<h5 class="title">Cadastro de Questionário</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="form" class="form-group" novalidate>
					<input id="questionnaireId" name="questionnaireId" type="hidden"
					       value="<?= $questionnaire ? $questionnaire->getId() : 0 ?>">
					<div class="row">
						<div class="col">
							<label for="title">Título<span class="text-danger"> *</span> </label>
							<input id="title" name="title" required placeholder="Título" class="form-control"
							       value="<?= $questionnaire ? $questionnaire->getTitle() : '' ?>">
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label for="start">Data Início<span class="text-danger"> *</span> </label>
							<input id="start" name="start" required placeholder="dd/mm/AAAA" class="form-control"
							       data-mask="99/99/9999"
							       value="<?= $questionnaire ? $questionnaire->getStart()->format('d/m/Y') : '' ?>">
						</div>
						<div class="col-md-5">
							<label for="end">Data Fim </label>
							<input id="end" name="end" placeholder="dd/mm/AAAA" class="form-control"
							       data-mask="99/99/9999"
							       value="<?= $questionnaire && $questionnaire->getEnd() ? $questionnaire->getEnd()->format('d/m/Y') : '' ?>">
						</div>
						<div class="col-md-2">
							<label for="active">Status<span class="text-danger"> *</span></label>
							<select id="active" name="active" class="form-select" type="text" required>
								<option value="1" <?= $questionnaire && $questionnaire->isActive() ? 'selected' : '' ?>>
									Ativo
								</option>
								<option
									value="0" <?= $questionnaire && !$questionnaire->isActive() ? 'selected' : '' ?>>
									Inativo
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label>Questões <span class="text-danger">*</span> </label>
						</div>
					</div>

					<?php foreach ($questions as $question): ?>
						<div class="form-check">
							<input class="form-check-input m-t-10" type="checkbox" value="<?= $question->getId() ?>"
							       id="questions<?= $question->getId() ?>" name="questions[]" required
								<?= in_array($question->getId(), $arrQuestions) ? 'checked' : '' ?>>
							<label class="form-check-label" for="questions<?= $question->getId() ?>"
							       style="margin-top: 7px;">
								<?= $question->getText() ?>
							</label>
						</div>
					<?php endforeach; ?>

					<div class="row">
						<div class="col-md-12 text-end m-t-30">
							<div class="form-group">
								<a class="btn btn-danger text-white" href="<?= BASEURL ?>questionarios"
								   type="reset">Cancelar</a>
								<button class="btn btn-success" type="submit">Salvar</button>
							</div>
						</div>
					</div>
				</form>
				<div class="spinner-border spinner-card loaderTop" style="width: 5rem; height: 5rem;" role="status">
					<span class="sr-only mx-auto">Loading...</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/functions/questionnaires/questionnaireView.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>