<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header border-bottom">
				<div class="row">
					<div class="col-md-8">
						<h5 class="title">Questionários</h5>
					</div>
					<div class="col-md-4">
						<a class="btn btn-blue pull-right" href="<?= BASEURL ?>questionarios/cadastro"><i
								class="fa fa-plus"></i> Questionário</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="responsibleFilter">Responsável</label>
								<select id="responsibleFilter" name="responsible" class="form-control form-select">
									<option value="" selected>Todos</option>
									<?php foreach ($users as $u): ?>
										<option value="<?= $u->getId() ?>"><?= $u->getName() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="activeFilter">Status</label>
								<select class="form-control form-select" id="activeFilter" name="active">
									<option value="1">Ativo</option>
									<option value="0">Inativo</option>
								</select>
							</div>
						</div>
						
						<div class="col-md-4 mt-auto text-end">
							<div class="form-group">
								<button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
								<button class="btn btn-blue" type="submit">Filtrar</button>
							</div>
						</div>
					</div>
				</form>
				<div class="row g-3 align-items-center m-b-30 m-t-30">
					<div class="col-auto">
						<span>Exibir </span>
					</div>
					<div class="col-auto">
						<select class="form-control form-select" id="limit"
						        onchange="getLimit(this.value, 'Questionnaires')">
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
					<div class="col-auto">
						<span> registros</span>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p>Exibindo de <span id="startQuestionnaires"></span> a <span id="endQuestionnaires"></span> de <span
								id="totalQuestionnaires"></span> registros</p>
					</div>
				</div>
				<div class="row table-responsive-lg">
					<div class="col-12">
						<table id="tableQuestionnaires" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">Questionário</th>
								<th class="text-center">Responsável</th>
								<th class="text-center">Status</th>
								<th class="text-center">Ações</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<div class="spinner-border loaderQuestionnaires" role="status">
							<span class="sr-only mx-auto">Loading...</span>
						</div>
					</div>
				</div>
				<div class="row text-end">
					<nav aria-label="...">
						<ul class="pagination justify-content-end pagination-primary"
						    id="paginationQuestionnaires" style="top: auto">
						
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/questionnaires/questionnaires.js?v=<?= time() ?>"></script>