<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Filiações de Campanhas</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
					<div class="form-group">
						<label for="status">Status</label>
							<select class="form-select" id="status" name="status">
							<option value="" selected>Todos</option>
							<option value="1">Aguardando Pgto</option>
							<option value="-1">Cadastrado</option>
							<option value="9">Desfiliado</option>
							<option value="13">Filiação Suspensa por Pendência Titulo</option>
							<option value="7">Filiado</option>
							<option value="8">Refiliado</option>
							<option value="4">Impugnação Solicitada</option>
							<option value="6">Impugnado</option>
							<option value="2">Período Impugnação</option>
						</select>
					</div>
				</div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="campaign">Campanha:</label>
                        <input type="text" id="campaign" name="campaign" class="form-control" list="campaignsList">
                        <datalist id="campaignsList">
							<option value="" selected>Selecione</option>
							<?php foreach ($campaigns as $campaign): ?>
							    <option value="<?= $campaign->getName() ?>"></option>
							<?php endforeach ?>
						</datalist>
                    </div>
                </div>
                <div class="col-md-2">
					<div class="form-group">
						<label for="exemption">isenção</label>
							<select class="form-select" id="exemption" name="exemption">
							<option value="">Todos</option>
							<option value="1">Filiado Isento</option>
							<option value="2">Filiado Não Isento</option>
						</select>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                            aria-hidden="true"></i> Limpar</button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div style="display: none" id="divMessage" class="alert" role="alert"></div>
                </div>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th class="text-center">Data Solicitação</th>
                            <th class="text-center">Status Filiado</th>
                            <th class="text-center">Isenção</th>
                            <th class="text-center">Campanha</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/campaigns/affiliations.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
