<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Campanhas do NOVO</h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_CAMPANHASDONOVO_CRIACAO_EDICAO)): ?>
                <div class="col text-end">
                    <button type="button" onclick="changeModal('show')" class="btn btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nova Campanha
                    </button>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nameFilter">Nome:</label>
                        <input type="text" id="nameFilter" name="nameFilter" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="descriptionFilter">Descrição:</label>
                        <input type="text" id="descriptionFilter" name="descriptionFilter" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col text-end">
                <div class="form-group">
                    <a type="button" class="btn btn-primary" href="<?= BASEURL ?>campanhas/filiacoes/"
                       target="_blank">
                        <i class="fa fa-users" aria-hidden="true"></i> Filiações de Campanhas</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div style="display: none" id="divMessage" class="alert" role="alert"></div>
                </div>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Criação</th>
                        <th class="text-center">Responsável</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Link Campanha</th>
                        <th class="text-center">Arrecadado</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de Campanha</h5>
            </div>
            <form id="formModal">
                <input type="hidden" id="campaign" name="campaign">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Nome:</label>
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-23">
                            <div class="form-group">
                                <label for="description">Descrição:</label>
                                <textarea id="description" name="description" class="form-control" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="divMessageModal" class="alert" role="alert" style="display: none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col text-end">
                        <button class="btn btn-danger" type="button" onclick="changeModal('hide')">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                        </button>
                        <button class="btn btn-success" id="save" type="submit">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let user = '<?= $user->getName() ?>';
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_CAMPANHASDONOVO_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_CAMPANHASDONOVO_CRIACAO_EDICAO, false, true) ?>;
</script>

<script src="<?= BASEURL ?>assets/functions/campaigns/index.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>