<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Campanhas de Filiação Resultados</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Nome Indicado:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="indicator">Nome Indicador:</label>
                        <input type="text" id="indicator" name="indicator" class="form-control">
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <select class="form-select" name="state" id="state" onchange="getCities(this.value)">
                                <option value="">Selecione</option>
                                <option value="1">Acre</option>
                                <option value="2">Alagoas</option>
                                <option value="3">Amazonas</option>
                                <option value="4">Amapá</option>
                                <option value="5">Bahia</option>
                                <option value="6">Ceará</option>
                                <option value="7">Distrito Federal</option>
                                <option value="8">Espírito Santo</option>
                                <option value="9">Goiás</option>
                                <option value="10">Maranhão</option>
                                <option value="11">Minas Gerais</option>
                                <option value="12">Mato Grosso do Sul</option>
                                <option value="13">Mato Grosso</option>
                                <option value="14">Pará</option>
                                <option value="15">Paraíba</option>
                                <option value="16">Pernambuco</option>
                                <option value="17">Piauí</option>
                                <option value="18">Paraná</option>
                                <option value="19">Rio de Janeiro</option>
                                <option value="20">Rio Grande do Norte</option>
                                <option value="21">Rondônia</option>
                                <option value="22">Roraima</option>
                                <option value="23">Rio Grande do Sul</option>
                                <option value="24">Santa Catarina</option>
                                <option value="25">Sergipe</option>
                                <option value="26">São Paulo</option>
                                <option value="27">Tocantins</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select class="form-select" name="city" id="city">
                                <option value="">Cidade</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getEstado() ?>"
                                   disabled readonly>
                            <input type="hidden" id="state" name="state"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select class="form-select" id="city" name="city">
                                <option value="" selected>Todas</option>
                                <?php foreach ($cities as $city) : ?>
                                    <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getEstado() ?>"
                                   disabled readonly>
                            <input type="hidden" id="state" name="state"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                   disabled readonly>
                            <input type="hidden" id="city" name="city"
                                   value="<?= $user->getCity()->getCidade() ?>">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="statusAffiliatedFilter">Status:</label>
                        <select class="form-select" id="statusAffiliatedFilter" name="status">
                            <option value="">Todos</option>
                            <option value="1">Aguardando Pgto</option>
                            <option value="0">Cadastrado (Não filiado)</option>
                            <option value="9">Desfiliado</option>
                            <option value="13">Filiação Suspensa por Pendência Titulo</option>
                            <option value="7">Filiado e Refiliado</option>
                            <option value="8">Refiliado</option>
                            <option value="6">Impugnado</option>
                            <option value="2">Período Impugnação</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="beginDate">Início Período:</label>
                        <input type="date" id="beginDate" name="beginDate" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="finalDate">Final Período:</label>
                        <input type="date" id="finalDate" name="finalDate" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_CAMPANHASDEFILIACAO_EXPORTACAO)): ?>
                        <button id="export" type="button" onclick="csv()" class="btn btn-primary">
                            <i class="fa fa-download" aria-hidden="true"></i> Exportar
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div style="display: none" id="divMessage" class="alert" role="alert"></div>
                </div>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Indicador</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Data Solicitação</th>
                        <th class="text-center">Data Filiação</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Cidade</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/campaigns/membershipCampaignsResults.js?v=<?= time() ?>"></script>
