<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5 class="title">Cursos</h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CURSOS_CRIACAO_EDICAO)): ?>
                <div class="col-md-6 text-end">
                    <a class="btn btn-success"
                       href="<?= BASEURL ?>libertas/cursos/cadastro"><i class="fa fa-plus"></i>
                        Curso
                    </a>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row m-b-30">
                <div class="col-md-8">
                    <label for="title">Curso</label>
                    <input type="text" name="title" id="titleLibertasCoursesFilter" class="form-control">
                </div>
                <div class="col-md-4 mt-auto text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable('LibertasCourses')">Limpar</button>
                    <button class="btn btn-success" type="submit">Filtrar</button>
                </div>
            </div>
        </form>
        <div class="row g-3 align-items-center m-b-30 m-t-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitLibertasCourses"
                        onchange="getLimit(this.value, 'LibertasCourses')">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startLibertasCourses"></span> a <span id="endLibertasCourses"></span> de
                    <span id="totalLibertasCourses"></span> registros</p>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table class="table table-bordered table-striped" id="tableLibertasCourses">
                    <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Curso</th>
                        <th class="text-center">Preço</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderLibertasCourses" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary"
                    id="paginationLibertasCourses" style="top: auto">

                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CURSOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CURSOS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/libertas-courses/index.js?v=<?= time() ?>"></script>