<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="title">Cadastro de Curso</h3>
            </div>
            <form class="card-body form-group was-validated" novalidate id="register" method="post">
                <input type="hidden" name="id" value="<?= $course ? $course->getId() : '' ?>">
                <div class="row">
                    <div class="col-md-7">
                        <label for="title">Título do Curso <span class="text-danger">*</span> </label>
                        <input id="title" name="title" class="form-control" type="text"
                               value="<?= $course ? $course->getTitle() : '' ?>"
                               placeholder="Título do Curso" required>
                    </div>
                    <div class="col-md-3">
                        <label for="img">Link da Imagem <span class="text-danger">*</span> </label>
                        <input id="img" name="img" class="form-control" type="text"
                               value="<?= $course ? $course->getImg() : '' ?>"
                               placeholder="Link da Imagem" required>
                    </div>
                    <div class="col-md-2">
                        <label for="idMoodle">ID Moodle <span class="text-danger">*</span> </label>
                        <input id="idMoodle" name="idMoodle" class="form-control" type="text"
                               value="<?= $course ? $course->getIdMoodle() : '' ?>"
                               placeholder="ID Moodle" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="description">Descrição <span class="text-danger">*</span></label>
                        <textarea id="description" name="description" type="text" class="form-control description""
                                  required rows="15"><?= $course ? $course->getDescription() : '' ?></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="value">Valor</label>
                        <input class="form-control" type="number" name="value" id="value" placeholder="Valor" required
                               value="<?= $course ? $course->getPrice() : '' ?>" min="0" step="0.01">
                    </div>
                    <div class="col-md-3">
                        <label for="plots">Parcelas</label>
                        <input class="form-control" type="number" min="1" max="12" name="plots" id="plots"
                               placeholder="Parcelas"
                               required value="<?= $course ? $course->getPlots() : '' ?>">
                    </div>
                    <div class="col-md-3">
                        <label for="active">Status</label>
                        <select class="form-control" id="active" name="active" required>
                            <option value="1">Aberto</option>
                            <option value="0" <?= $course && !$course->isActive() ? 'selected' : '' ?>>Encerrado
                            </option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col text-end m-t-30">
                        <button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/libertas-courses/register.js?v=<?= time() ?>"></script>