<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Indicações de Filiação</h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FILIADOS_INDICACOESDEFILIACAO_CRIACAO_EDICAO)): ?>
                <div class="col text-end">
                    <a type="button" href="<?= BASEURL ?>filiacao/nova-indicacao/" class="btn btn-success"
                       target="_blank">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nova Indicação
                    </a>
                    <a type="button" href="<?= BASEURL ?>filiacao/nova-indicacao/cpm" class="btn btn-primary"
                       target="_blank">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nova Indicação CPM
                    </a>
                </div>
            <?php endif; ?>
        </div>
        <div class="row">
            <div class="col text-begin">
                <a type="button"
                   href="https://gestao.novo.org.br/uploads/comunicados/FORMULARIO FILIACAO (FICHA) V4.pdf"
                   class="btn btn-primary" target="_blank">
                    <i class="fa fa-download" aria-hidden="true"></i> Modelo Ficha de Filiação
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="state">Estado:</label>
                        <select class="form-control" name="state" id="state" onchange="getCities(this.value)">
                            <option value="">Selecione</option>
                            <?php foreach ($states as $state): ?>
                                <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                            <?php endforeach ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="city">Cidade:</label>
                        <select class="form-control" name="city" id="city">
                            <option value="">Cidade</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="">Selecione</option>
                            <option value="1">Aguardando aprovação de filiação</option>
                            <option value="2">Aguardando aprovação do filiado</option>
                            <option value="4">Período de Impugnação</option>
                            <option value="5">Filiado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div style="display: none" id="messageFormUpdate" class="alert" role="alert"></div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Data Solicitação</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Cidade</th>
                        <th class="text-center">Solicitante</th>
                        <th class="text-center">Ficha de Filiação</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reenvio</h5>
            </div>
            <form id="formModal">
                <input type="hidden" id="modalId" name="modalId">
                <div class="modal-body">
                    <div class="row">
                        <label>Selecione por onde o link será enviado:</label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-check-label mr-2 mb-2" for="whatsapp">WhatsApp:</label>
                            <input name="whatsapp" type="checkbox" id="whatsapp">
                        </div>
                        <div class="col">
                            <label class="form-check-label mr-2 mb-2" for="email">E-mail:</label>
                            <input name="email" type="checkbox" id="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="divMessageFormData" class="alert" role="alert" style="display: none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col text-end">
                        <button class="btn btn-danger" type="button" onclick="changeModal('hide')">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                        </button>
                        <button class="btn btn-success" id="save" type="submit">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FILIADOS_INDICACOESDEFILIACAO_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FILIADOS_INDICACOESDEFILIACAO_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/filiation/index.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
