<div class="card w-75 mx-auto" id="register">
    <div class="card-header bg-primary text-center">
        <h2 class="title">FORMULÁRIO DE FILIAÇÃO</h2>
    </div>
    <div class="row">
        <div class="col-md-12 mx-0">
            <form id="msform">
                <input type="hidden" name="cpm" id="cpm">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active" id="personal"><strong>Dados Pessoais</strong></li>
                    <li id="address"><strong>Endereço</strong></li>
                    <li id="voterTitle"><strong>Título de Eleitor</strong></li>
                    <li id="irpf"><strong>Declaração de Isenção</strong></li>
                </ul>
                <!-- fieldsets -->
                <!-- STEP 1 -->
                <fieldset id="step-1">
                    <div class="form-card">
                        <h4 class="title text-primary">Dados Pessoais</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cpf">CPF:</label>
                                    <input id="cpf" name="cpf" type="text" class="form-control"
                                        data-mask="999.999.999-99" onblur="setData(this.value)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Nome Completo:</label>
                                    <input id="name" name="name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="birth">Nascimento:</label>
                                    <input id="birth" placeholder="dd/mm/aaaa" name="birth" data-mask="99/99/9999"
                                        type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <input id="email" name="email" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="cellPhone">WhatsApp:</label>
                                    <input type="hidden" name="cellPhoneDialCode">
                                    <input type="hidden" name="cellPhoneIso2">
                                    <input id="cellPhone" name="cellPhone" type="tel" class="form-control"
                                        onkeyup="maskCellPhone()">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="sex">Sexo:</label>
                                    <select id="sex" name="sex" class="form-control">
                                        <option value="0">Selecione</option>
                                        <option value="1">Homem</option>
                                        <option value="2">Mulher</option>
                                        <option value="3">Não quero informar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="membershipForm">Ficha de Filiação:</label>
                                    <input id="membershipForm" name="membershipForm" type="file" class="form-control" style="opacity: 1; position: initial;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="changeStep(1, 'next')" class="next btn btn-success">Confirmar
                    </button>
                </fieldset>
                <!-- STEP 1 -->
                <!-- STEP 2 -->
                <fieldset id="step-2">
                    <div class="form-card">
                        <h4 class="title text-primary">Endereço</h4>
                        <div class="row">
                            <div class="col">
                                <label class="form-check-label mr-2 mb-2" for="addressOutside">Reside no
                                    exterior</label>
                                <input name="addressOutside" onchange="addressFields(this.checked)" type="checkbox"
                                    id="addressOutside">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 d-none" id="addressCountryDiv">
                                <div class="form-group">
                                    <label for="addressCountry">País:</label>
                                    <select id="addressCountry" name="addressCountry" class="form-control">
                                        <option value="">Selecione</option>
                                        <?php foreach ($countries as $item): ?>
                                        <option value="<?= $item->getId() ?>"><?= $item->getNome() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col col-md-2">
                                <div class="form-group">
                                    <label for="zipCode">CEP:</label>
                                    <input class="form-control" value="" name="zipCode" data-mask="99999-999"
                                        type="text" id="zipCode" />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="addressInsideDiv">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="ufId">Estado:</label>
                                    <select id="ufId" name="ufId" class="form-control"
                                        onchange="getCitiesByState(this.value, 'cityId')">
                                        <option value="">Selecione</option>
                                        <?php foreach ($states as $item): ?>
                                        <option value="<?= $item->getSigla() ?>"><?= $item->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="cityId">Cidade:</label>
                                    <select id="cityId" name="cityId" class="form-control">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row d-none" id="addressOutsideDiv">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="uf">Estado:</label>
                                    <input class="form-control" name="uf" type="text" id="uf" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="city">Cidade:</label>
                                    <input class="form-control" name="city" type="text" id="city" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="street">Logradouro:</label>
                                    <input class="form-control" name="street" type="text" id="street" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="number">Número:</label>
                                    <input class="form-control" min="0" name="number" type="number" id="number" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="district">Bairro:</label>
                                    <input class="form-control" name="district" value="" type="text" id="district" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="complement">Complemento:</label>
                                    <input class="form-control" name="complement" type="text" id="complement" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="changeStep(2, 'back')" class="previous btn btn-danger">Voltar
                    </button>
                    <button type="button" onclick="changeStep(2, 'next')" class="next btn btn-success">Confirmar
                    </button>
                </fieldset>
                <!-- STEP 2 -->
                <!-- STEP 3 -->
                <fieldset id="step-3">
                    <div class="form-card">
                        <h4 class="title text-primary">Título de Eleitor</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="originVoterTitle">Origem:</label>
                                    <select id="originVoterTitle" name="originVoterTitle" class="form-control"
                                        onchange="voterTitleFields(this.value)">
                                        <option value="2">Título do Brasil </option>
                                        <option value="1">Título do Exterior
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="mother">Nome da Mãe:</label>
                                    <input id="mother" name="mother" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="voterTitleNumber">Título de eleitor:</label>
                                    <input id="voterTitleNumber" name="voterTitleNumber" type="text"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="voterTitleZone">Zona:</label>
                                    <input id="voterTitleZone" placeholder="Zona" name="voterTitleZone" data-mask="9999"
                                        type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="voterTitleSection">Seção:</label>
                                    <input id="voterTitleSection" placeholder="Seção" name="voterTitleSection"
                                        data-mask="9999" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2" id="titleNationalVoterTitleUF">
                                <div class="form-group">
                                    <label for="voterTitleUF">UF eleitoral:</label>
                                    <select id="voterTitleUF" name="voterTitleUF" class="form-control"
                                        onchange="getCitiesByState(this.value, 'voterTitleCity')">
                                        <option value="">Selecione</option>
                                        <?php foreach ($states as $item): ?>
                                        <option value="<?= $item->getId() ?>"><?= $item->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" id="titleNationalVoterTitleCity">
                                <div class="form-group">
                                    <label for="voterTitleCity">Município Eleitoral:</label>
                                    <select id="voterTitleCity" name="voterTitleCity" class="form-control">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" id="titleInternationalVoterTitleCountry" style="display:none">
                                <div class="form-group">
                                    <label for="voterTitleCountry">País:</label>
                                    <select id="voterTitleCountry" name="voterTitleCountry" class="form-control">
                                        <option value="">Selecione</option>
                                        <?php foreach ($countries as $item): ?>
                                        <option value="<?= $item->getId() ?>"><?= $item->getNome() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" id="titleInternationalVoterTitleCityString" style="display:none">
                                <div class="form-group">
                                    <label for="voterTitleCityString">Município Eleitoral:</label>
                                    <input id="voterTitleCityString" name="voterTitleCityString" type="text"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="changeStep(3, 'back')" class="previous btn btn-danger">Voltar
                    </button>
                    <button type="button" onclick="changeStep(3, 'next')" class="next btn btn-success">Confirmar
                    </button>
                </fieldset>
                <!-- STEP 3 -->
                <!-- STEP 4 -->
                <fieldset id="step-4">
                    <div id="irpfDiv">
                        <div class="form-card">
                            <h4 class="title text-primary">Declaração de Isenção</h4>
                            <div class="col-md-12">
                                <label for="originVoterTitle">Pessoa isenta da declaração do Imposto de renda?</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <select id="exemption" name="exemption" class="form-control" required>
                                        <option value="" selected>Selecione</option>
                                        <option value="0">Não</option>
                                        <option value="1">Sim</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button onclick="changeStep(4, 'back')" type="button" id="backFinalButton"
                            class="previous btn btn-danger">Voltar
                        </button>
                        <button type="submit" id="saveRegister" class="btn btn-success">Finalizar Solicitação</button>
                    </div>
                </fieldset>
                <div class="form-card d-none" id="finalDiv">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="mt-2 d-none alert alert-danger" id="divMessageFormData">Erro</div>
                            <a href="<?= BASEURL ?>filiacao/" type="button" id="saveRegister"
                                class="btn btn-success">Realizar nova solicitação</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col">
                <div class="mt-2 d-none alert alert-danger" id="divMessageFormRegister">Erro</div>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/filiation/newIndication.js?v=<?= time() ?>"></script>
<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<link rel="stylesheet" href="<?= BASEURL ?>assets/css/register.css">

<script>
    var cpm = '<?= $cpm ?>';
</script>

