<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-4">
				<h5 class="title">Documentos</h5>
			</div>
			<div class="col-md-8 text-end">
				<a class="btn btn-success"
				   href="<?= BASEURL ?>assinatura-eletronica/documentos/cadastro"><i class="fa fa-plus"></i>
					Novo Documento
				</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row m-b-30">
				<div class="col-md-8">
					<label for="title">Assunto</label>
					<input type="text" name="title" id="titleSignatureDocsFilter" class="form-control">
				</div>
				<div class="col-md-4 mt-auto text-end">
					<button class="btn btn-danger" type="reset" onclick="resetTable('SignatureDocs')">Limpar</button>
					<button class="btn btn-success" type="submit">Filtrar</button>
				</div>
			</div>
		</form>
		<div class="row g-3 align-items-center m-b-30 m-t-30">
			<div class="col-auto">
				<span>Exibir </span>
			</div>
			<div class="col-auto">
				<select class="form-control form-select" id="limitSignatureDocs"
				        onchange="getLimit(this.value, 'SignatureDocs')">
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-auto">
				<span> registros</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Exibindo de <span id="startSignatureDocs"></span> a <span id="endSignatureDocs"></span> de
					<span id="totalSignatureDocs"></span> registros</p>
			</div>
		</div>
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table class="table table-bordered table-striped" id="tableSignatureDocs">
					<thead>
					<tr>
						<th class="text-center">Id</th>
						<th class="text-center">Data</th>
						<th class="text-center">Assunto</th>
						<th class="text-center">Usuário</th>
						<th class="text-center">Ações</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="spinner-border loaderSignatureDocs" role="status">
					<span class="sr-only mx-auto">Loading...</span>
				</div>
			</div>
		</div>
		<div class="row text-end">
			<nav aria-label="...">
				<ul class="pagination justify-content-end pagination-primary"
				    id="paginationSignatureDocs" style="top: auto">

				</ul>
			</nav>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/signature/docs.js?v=<?= time() ?>"></script>