<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h3 class="title">Envio de Documento em Massa</h3>
			</div>
			<form class="card-body form-group" id="formFile" method="POST" enctype="multipart/form-data"
			      action="<?= BASEURL ?>assinatura-eletronica/documentos/importacao">
				<input type="hidden" name="id" value="<?= $doc->getId() ?>">
				<div class="row">
					<div class="col">
						<label for="title">Assunto</label>
						<input id="title" name="title" class="form-control" type="text"
						       value="<?= $doc->getTitle() ?>" readonly>
					</div>
				</div>
				<br>
				<b>Template do arquivo CSV:</b> Nome, E-mail,
				<?php foreach ($variables as $variable): ?>
					<?= $variable ?>,
				<?php endforeach; ?>


				<div class="row m-t-30">
					<div class="col-md-3" id="addImg1">
						<div class="form-group">
							<span class="fileselector">
								<label class="btn btn-danger" for="file">
								<input class="upload-file-selector" id="file" type="file" accept="image/*" name="file">
								<i class="fa fa-paperclip margin-correction"></i>
									<span id="fileLabel" class="input-file"
									      default="Anexar Arquivo">Anexar Arquivo</span>
								</label>
							</span>
						</div>
					</div>
					<div class="col text-end mt-auto">
						<button type="submit" id="save" class="btn btn-success">
							Salvar
						</button>
					</div>
				</div>
			</form>
			<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
				<span class="sr-only mx-auto">Loading...</span>
			</div>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/functions/signature/import.js?v=<?= time() ?>"></script>