<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h3 class="title">Cadastro de Documento</h3>
			</div>
			<form class="card-body form-group was-validated" novalidate id="register" method="post">
				<input type="hidden" name="id" value="<?= $doc ? $doc->getId() : '' ?>">
				<div class="row">
					<div class="col">
						<label for="title">Assunto <span class="text-danger">*</span> </label>
						<input id="title" name="title" class="form-control" type="text"
						       value="<?= $doc ? $doc->getTitle() : '' ?>"
						       placeholder="Assunto" required>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="description">Descrição <span class="text-danger">*</span></label>
						<textarea id="description" name="description" type="text" class="form-control description"
						          required rows="15"><?= $doc ? $doc->getText() : '' ?></textarea>
					</div>
				</div>

				<div class="row">
					<div class="col text-end m-t-30">
						<button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/signature/register.js?v=<?= time() ?>"></script>