<div class="card">
	<div class="card-header">
		<h3 class="title">Envio de Documento</h3>
	</div>
	<form class="card-body form-group was-validated" novalidate id="register" method="post">
		<input type="hidden" name="id" value="<?= $doc->getId() ?>">
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="title">Assunto</label>
					<input id="title" name="title" class="form-control" type="text"
					       value="<?= $doc->getTitle() ?>" readonly>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="name">Nome <span class="text-danger">*</span></label>
					<input id="name" name="name" class="form-control" type="text"
					       placeholder="Nome" required>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="email">E-mail <span class="text-danger">*</span></label>
					<input id="email" name="email" class="form-control" type="email"
					       placeholder="E-mail" required>
				</div>
			</div>
		</div>

		<?php if ($variables): ?>
			<hr>
			<h4>Variáveis</h4>
			<div class="row">
				<?php foreach ($variables as $variable): ?>
					<div class="col-md-4">
						<div class="form-group">
							<label for="<?= $variable ?>"><?= $variable ?></label>
							<input id="<?= $variable ?>" name="<?= $variable ?>" class="form-control" type="text"
							       placeholder="<?= $variable ?>">
						</div>
					</div>
				<?php endforeach; ?>
			</div>
		<?php endif; ?>
		<div class="row">
			<div class="col m-t-30 text-end">
				<button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
			</div>
		</div>
	</form>
	<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
		<span class="sr-only mx-auto">Loading...</span>
	</div>
</div>

<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/signature/sendDoc.js?v=<?= time() ?>"></script>