<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5 class="title">Assinaturas - <?= $doc->getTitle() ?></h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row m-b-30">
						<div class="col-md-4">
							<label for="name">Nome</label>
							<input type="text" name="name" id="nameSignatureSignaturesFilter" class="form-control">
						</div>
						<div class="col-md-4">
							<label for="email">E-mail</label>
							<input type="text" name="email" id="emailSignatureSignaturesFilter" class="form-control">
						</div>
						<div class="col-md-4 mt-auto text-end">
							<button class="btn btn-danger" type="reset" onclick="resetTable('SignatureSignatures')">
								Limpar
							</button>
							<button class="btn btn-success" type="submit">Filtrar</button>
						</div>
					</div>
				</form>
				<div class="row g-3 align-items-center m-b-30 m-t-30">
					<div class="col-auto">
						<span>Exibir </span>
					</div>
					<div class="col-auto">
						<select class="form-control form-select" id="limitSignatureSignatures"
						        onchange="getLimit(this.value, 'SignatureSignatures')">
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
					<div class="col-auto">
						<span> registros</span>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p>Exibindo de <span id="startSignatureSignatures"></span> a <span
								id="endSignatureSignatures"></span> de
							<span id="totalSignatureSignatures"></span> registros</p>
					</div>
				</div>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table class="table table-bordered table-striped" id="tableSignatureSignatures">
							<thead>
							<tr>
								<th class="text-center">Nome</th>
								<th class="text-center">E-mail</th>
								<th class="text-center">Envio</th>
								<th class="text-center">Assinatura</th>
								<th class="text-center">Status</th>
								<th class="text-center">Documento</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<div class="spinner-border loaderSignatureSignatures" role="status">
							<span class="sr-only mx-auto">Loading...</span>
						</div>
					</div>
				</div>
				<div class="row text-end">
					<nav aria-label="...">
						<ul class="pagination justify-content-end pagination-primary"
						    id="paginationSignatureSignatures" style="top: auto">

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="duplicateModal" tabindex="-1" role="dialog" aria-labelledby="duplicateModal"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Solicitação de segunda via</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<form id="duplicateForm">
				<input type="hidden" name="doc" id="doc" value="0">
				<div class="modal-body custom-scrollbar">
					<div class="row">
						<div class="col">
							<div class="form-group">
								Deseja mesmo reenviar o documento para <span id="name"></span>
							</div>
						</div>
					</div>
					<div class="modal-footer text-end">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" id="save" class="btn btn-success">Confirmar</button>
					</div>
			</form>
		</div>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script>

	var idDoc = <?= $doc->getId() ?>

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/signature/signatures.js?v=<?= time() ?>"></script>
