<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?php echo $title ?></h5>
            </div>
            <div class="card-body">
            <iframe src="https://app.powerbi.com/view?r=eyJrIjoiMTMxMWQyNTAtNGE3Yi00NThjLTg4Y2EtNDY1ZTNlMjhjZGViIiwidCI6IjI3MTMxYmVlLTVjZDUtNDhkNi04MDcxLTVmZDY2MjA5ZTAzYyJ9" style="width:100%; height:860px"></iframe>
            </div>
        </div>
    </div> 
</div>