<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title"><?php echo $title ?></h5>
            </div>
            <div class="card-body">
            <iframe src="<?= $dashboard ?>" style="width:100%; height:980px"></iframe>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="confidentialityAgreementForm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
                </div>
                <div class="modal-body text-justify custom-scrollbar">
                    <p>Prezado(a) <?= $user->getName() ?>,</p>
                    <p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a manter o absoluto sigilo, 
                        tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e sobre todos os materiais disponibilizados.</p> 
                    <p>Este acesso ficará registrado no sistema.</p>
                    <p>A divulgação e utilização não autorizada de informações, configura indisciplina partidária grave nos termos do artigo 18, inciso XI do estatuto partidário.</p>
                </div>
                <div class="modal-footer">
                    <a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
                    <button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
                </div>
                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
            </div>
        </form>
    </div>
</div>

<script>
    <?php if(!$term): ?>
    $(window).on('load', function() {
        $("#modal").modal({
            backdrop: "static", //remove abilidfsaty to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
    });
    <?php endif ?>

    const agreementForm = document.getElementById('confidentialityAgreementForm');
    const divMessageForm = document.getElementById('messageForm');
    agreementForm.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('confidentialityAgreementForm');
        fetch('<?= BASEURL ?>api/sistema/termo/dashboard', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            response.json().then(json => {
                if (response.status === 201) {
                    document.getElementById("save").disabled = true;
                    $('#modal').modal('hide');
                }
            });
        });
    });
</script>