<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Relatório Juventude</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="affiliateIdYouthSearchFilter">Filiado ID:</label>
                        <input class="form-control" id="affiliateIdYouthSearchFilter" name="affiliatedId" type="text"
                               placeholder="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nameYouthSearchFilter">Nome:</label>
                        <input class="form-control" id="nameYouthSearchFilter" name="name" type="text"
                               placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpfYouthSearchFilter">CPF:</label>
                        <input class="form-control" id="cpfYouthSearchFilter" name="cpf" type="text"
                               placeholder="CPF" data-mask="000.000.000-00">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="phoneYouthSearchFilter">Telefone:</label>
                        <input class="form-control" id="phoneYouthSearchFilter" name="phone" type="text"
                               placeholder="Telefone" data-mask="(99)99999-9999">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emailYouthSearchFilter">Email:</label>
                        <input class="form-control" id="emailYouthSearchFilter" name="email" type="text"
                               placeholder="Email">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="genderYouthSearchFilter">Genero:</label>
                        <select class="form-select" id="genderYouthSearchFilter" name="gender">
                            <option value="">Todos</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                            <option value="3">Não quero informar</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="typeDateYouthSearchFilter">Data:</label>
                        <select class="form-select" id="typeDateYouthSearchFilter" name="typeDate">
                            <option value="" selected>Selecione</option>
                            <option value="data_criacao">Data Cadastro</option>
                            <option value="data_filiacao">Data Filiação</option>
                            <option value="data_refiliacao">Data Refiliação</option>
                            <option value="data_filiacao_refiliacao">Data Filiação e Refiliação</option>
                            <option value="data_desfiliacao">Data Desfiliação</option>
                            <option value="data_solicitacao_filiacao">Data Solicita Filiação</option>
                            <option value="data_solicitacao_refiliacao">Data Solicita Refiliação</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="beginYouthSearchFilter">Inicia em:</label>
                        <input class="form-control" id="beginYouthSearchFilter" name="begin" type="text"
                               placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="endYouthSearchFilter">Finaliza em:</label>
                        <input class="form-control" id="endYouthSearchFilter" name="end" type="text"
                               placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="statusYouthSearchFilter">Status:</label>
                        <select class="form-select" id="statusYouthSearchFilter" name="status">
                            <option value="">Todos</option>
                            <option value="1">Aguardando Pgto</option>
                            <option value="0">Cadastrado (Não filiado)</option>
                            <option value="9">Desfiliado</option>
                            <option value="13">Filiação Suspensa por Pendência Titulo</option>
                            <option value="7">Filiado e Refiliado</option>
                            <option value="8">Refiliado</option>
                            <option value="6">Impugnado</option>
                            <option value="2">Período Impugnação</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="irpfYouthSearchFilter">Isento IRPF:</label>
                        <select class="form-select" id="irpfYouthSearchFilter" name="irpf">
                            <option value="" selected>Selecione</option>
                            <option value="1">Sim</option>
                            <option value="-1">Não</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="exemptionYouthSearchFilter">Isento Filiação:</label>
                        <select class="form-select" id="exemptionYouthSearchFilter" name="exemption">
                            <option value="" selected>Selecione</option>
                            <option value="1">Sim</option>
                            <option value="-1">Não</option>
                        </select>
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateYouthSearchFilter">Estado Título:</label>
                            <select class="form-select" id="stateYouthSearchFilter" name="state"
                                    onchange="getCities(this.value, 'cityYouthSearchFilter')">
                                <option value="0">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cityYouthSearchFilter">Cidade Título:</label>
                            <select class="form-select" id="cityYouthSearchFilter" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateYouthSearchFilter">Estado Título:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" id="stateYouthSearchFilter" name="state"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cityYouthSearchFilter">Cidade Título:</label>
                            <select class="form-select" id="cityYouthSearchFilter" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateYouthSearchFilter">Estado Título:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" id="stateYouthSearchFilter" name="state"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cityYouthSearchFilter">Cidade Título:</label>
                            <select class="form-select" id="cityYouthSearchFilter" name="city" type="city">
                                <option value="" selected>Todas</option>
                                <?php foreach ($cities as $city) : ?>
                                    <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="state2YouthSearchFilter">Estado Residência:</label>
                        <select class="form-select" id="state2YouthSearchFilter" name="state2"
                                onchange="getCitiesAdress(this.value, 'city2YouthSearchFilter')">
                            <option value="" selected>Selecione</option>
                            <?php foreach ($states as $state): ?>
                                <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="city2YouthSearchFilter">Cidade Residência:</label>
                        <select class="form-select" id="city2YouthSearchFilter" name="city2" type="city">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="ageBeginYouthSearchFilter">Idade Inicio:</label>
                        <input class="form-control" id="ageBeginYouthSearchFilter" name="ageBegin" type="number">
                    </div>
                    <input class="form-control" id="ageEndYouthSearchFilter" name="ageEnd" type="hidden"
                           value="30">
                </div>


                <div class="col-md-2">
                    <div class="form-group">
                        <label for="situationYouthSearchFilter">Situação</label>
                        <select class="form-select" id="situationYouthSearchFilter" name="situation">
                            <option value="">Selecione</option>
                            <option value="Adimplente">Adimplente</option>
                            <option value="Inadimplente">Inadimplente</option>
                            <option value="Isento">Isento</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="mesoregionYouthSearchFilter">Mesorregião:</label>
                        <select class="form-select" id="mesoregionYouthSearchFilter" name="mesoregion">
                            <option value="" selected>Selecione</option>
                            <?php foreach ($mesoregions as $mesoregion): ?>
                                <option value="<?= $mesoregion['id'] ?>"><?= $mesoregion['name'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="municipalLeaderYouthSearchFilter">Líder municipal?</label>
                        <select class="form-select" id="municipalLeaderYouthSearchFilter" name="municipalLeader">
                            <option value="">Selecione</option>
                            <?php foreach ($municipalLeaderOptions as $option): ?>
                                <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="voluntaryInterestYouthSearchFilter">Interesse em ser voluntário?</label>
                        <select class="form-select" id="voluntaryInterestYouthSearchFilter"
                                name="voluntaryInterest">
                            <option value="">Selecione</option>
                            <?php foreach ($voluntaryInterestOptions as $option): ?>
                                <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="candidateInterestYouthSearchFilter">Interesse em ser candidato?</label>
                        <select class="form-select" id="candidateInterestYouthSearchFilter"
                                name="candidateInterest">
                            <option value="">Selecione</option>
                            <?php foreach ($candidateInterestOptions as $option): ?>
                                <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="studentYouthSearchFilter">Estudante?</label>
                        <select class="form-select" id="studentYouthSearchFilter" name="student">
                            <option value="">Selecione</option>
                            <?php foreach ($studentOptions as $option): ?>
                                <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="joinedWhatsAppGroupYouthSearchFilter">Entrou no grupo de WhatsApp?</label>
                        <select class="form-select" id="joinedWhatsAppGroupYouthSearchFilter"
                                name="joinedWhatsAppGroup">
                            <option value="">Selecione</option>
                            <?php foreach ($joinedWhatsAppGroupOptions as $option): ?>
                                <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <hr>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="orderByYouthSearchFilter">Ordenar Por:</label>
                        <select class="form-select" id="orderByYouthSearchFilter" name="orderBy">
                            <option value="tp.id-desc">ID DESC</option>
                            <option value="tp.id-asc">ID ASC</option>
                            <option value="tp.data_criacao-desc">Data Cadastro DESC</option>
                            <option value="tp.data_criacao-asc">Data Cadastro ASC</option>
                            <option value="data_filiacao_refiliacao-desc">Data Filiação DESC</option>
                            <option value="data_filiacao_refiliacao-asc">Data Filiação ASC</option>
                            <option value="data_solicitacao-desc">Data Solicitação DESC</option>
                            <option value="data_solicitacao-asc">Data Solicitação ASC</option>
                            <option value="data_desfiliacao-desc">Data Desfiliação DESC</option>
                            <option value="data_desfiliacao-asc">Data Desfiliação ASC</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p>Exibindo de <span id="startYouthSearch"></span> a <span id="endYouthSearch"></span> de
                            <span
                                    id="totalYouthSearch"></span> registros</p>
                    </div>
                    <div class="col-md-8 text-end">
                        <button class="btn btn-danger" type="reset" onclick="resetTable('YouthSearch')">
                            <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                        </button>
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row align-items-center m-b-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitYouthSearch"
                        onchange="getLimit(this.value, 'YouthSearch')">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row table-responsive">
            <div class="col-12">
                <table id="tableYouthSearch" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Filiação</th>
                        <th class="text-center">UF</th>
                        <th class="text-center">Cidade</th>
                        <th class="text-center">Idade</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">Líder municipal?</th>
                        <th class="text-center">Interesse em ser voluntário?</th>
                        <th class="text-center">Interesse em ser candidato?</th>
                        <th class="text-center">Estudante?</th>
                        <th class="text-center">Entrou no grupo de WhatsApp?</th>
                        <th class="text-center">Útima Edição</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div class="watermark"><?= $user->getName() ?></div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderYouthSearch m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary" id="paginationYouthSearch"
                    style="top: auto"></ul>
            </nav>
        </div>
    </div>
</div>


<!-- Modal Comentários -->
<div class="modal fade" id="commentModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="commentRegister">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar novo comentário!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="commentName">Nome</label>
                                <input class="form-control" id="commentName" disabled readonly>
                                <input type="hidden" id="status" name="status" value="9">
                            </div>
                        </div>
                        <input type="hidden" id="pessoaId" name="pessoaId">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="status">Comentário</label>
                                <input class="form-control" type="text" id="comment" name="comment">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 d-none alert alert-danger" id="divMessageFormComment">Erro</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>
                        Salvar comentário
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Lista Comentários -->
<div class="modal fade" id="commentListModal" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista de Comentários</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered table-striped" id="dataTable">
                            <thead>
                            <tr>
                                <th>Data Registro</th>
                                <th>Usuário</th>
                                <th>Comentário</th>
                                <th>Status</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td colspan="4" class="text-center">
                                    <div class="spinner-border loaderTable" role="status" style="display: none">
                                        <span class="sr-only mx-auto">Loading...</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Pesquisa -->
<div class="modal fade" id="searchModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="searchRegister">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchNameModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="municipalLeader">Líder municipal?</label>
                                <select class="form-select" id="municipalLeader" name="municipalLeader" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($municipalLeaderOptions as $option): ?>
                                        <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="voluntaryInterest">Interesse em ser voluntário?</label>
                                <select class="form-select" id="voluntaryInterest" name="voluntaryInterest" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($voluntaryInterestOptions as $option): ?>
                                        <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="candidateInterest">Interesse em ser candidato?</label>
                                <select class="form-select" id="candidateInterest" name="candidateInterest" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($candidateInterestOptions as $option): ?>
                                        <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="student">Estudante?</label>
                                <select class="form-select" id="student" name="student" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($studentOptions as $option): ?>
                                        <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="joinedWhatsAppGroup">Entrou no grupo de WhatsApp?</label>
                                <select class="form-select" id="joinedWhatsAppGroup" name="joinedWhatsAppGroup"
                                        required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($joinedWhatsAppGroupOptions as $option): ?>
                                        <option value="<?= $option->getId() ?>"><?= $option->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="searchPessoaId" name="pessoaId">
                        <input type="hidden" name="userAdmin" value="<?= $user->getId() ?>">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    var stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>
</script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/youth/search.js?v=<?= time() ?>"></script>