<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Acessos Moodle</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_AUTOINSCRICAOMOODLE_CRIACAO_EDICAO)): ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-success" onclick="openModal(0)"><i class="fa fa-plus"></i> Adicionar</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="emailAutoEnrollmentFilter">E-mail:</label>
                                <input class="form-control" type="text" id="emailAutoEnrollmentFilter" name="email"
                                       placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="autoAutoEnrollmentFilter">Auto Inscrição:</label>
                                <select class="form-control form-select" id="autoAutoEnrollmentFilter"
                                        name="autoAutoEnrollmentFilter">
                                    <option value="">Todos</option>
                                    <option value="1">Sim</option>
                                    <option value="-1">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="legislativeAgentAutoEnrollmentFilter">Mandatário Vereador:</label>
                                <select class="form-control form-select" id="legislativeAgentAutoEnrollmentFilter"
                                        name="legislativeAgentAutoEnrollmentFilter">
                                    <option value="">Todos</option>
                                    <option value="1">Sim</option>
                                    <option value="-1">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="executiveAgentAutoEnrollmentFilter">Mandatário Prefeito:</label>
                                <select class="form-control form-select" id="executiveAgentAutoEnrollmentFilter"
                                        name="executiveAgentAutoEnrollmentFilter">
                                    <option value="">Todos</option>
                                    <option value="1">Sim</option>
                                    <option value="-1">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="statusAutoEnrollmentFilter">Status:</label>
                                <select class="form-control form-select" id="statusAutoEnrollmentFilter"
                                        name="statusAutoEnrollmentFilter">
                                    <option value="">Todos</option>
                                    <option value="1">Ativo</option>
                                    <option value="-1">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 text-end mt-auto m-b-20">
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_AUTOINSCRICAOMOODLE_CRIACAO_EDICAO)): ?>
                                <button class="btn btn-success" type="reset" onclick="csvImport()">
                                    <i class="fa fa-file-import" aria-hidden="true"></i> Importação CSV
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-danger" type="reset" onclick="resetTable('AutoEnrollment')">
                                <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                            </button>
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limitAutoEnrollment"
                                onchange="getLimit(this.value, 'AutoEnrollment')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startAutoEnrollment"></span> a <span id="endAutoEnrollment"></span> de
                            <span id="totalAutoEnrollment"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="tableAutoEnrollment" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">E-mail</th>
                                <th class="text-center">Auto Inscrição</th>
                                <th class="text-center">Mandatário Vereador</th>
                                <th class="text-center">Mandatário Prefeito</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderAutoEnrollment m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationAutoEnrollment" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestão de Acesso Moodle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="autoEnrollmentId" id="autoEnrollmentId">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input id="email" placeholder="E-mail" name="email" type="email" class="form-control"
                                       required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" name="auto_enrollment" value="1"
                                       id="auto_enrollment">
                                <label for="auto_enrollment">
                                    Auto Inscrição
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="1" id="mandatario_legislativo"
                                       name="mandatario_legislativo">
                                <label for="mandatario_legislativo">
                                    Mandatário Vereador
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" value="1" id="mandatario_executivo"
                                       name="mandatario_executivo">
                                <label for="mandatario_executivo">
                                    Mandatário Prefeito
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="submit" id="save" class="btn btn-success">
                        <i class="fa fa-check" aria-hidden="true"></i> Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="modalImportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Importar Planilha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formImport">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" id="userId" name="userId" value="<?= $user->getId() ?>">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>
                                    Atenção,<br> Para importação, a planilha deve estar no formato<br>
                                    <b>CSV UTF-8 (Delimitado por vírgulas) (*.csv).</b><br><br>
                                    Faça do download do modelo de importação <b>
                                        <a target="_blank"
                                           href="https://gestao.novo.org.br/uploads/acessosMoodle/modeloImportacao.csv">
                                            Clicando aqui!</a></b>
                                </label>
                                <hr>
                                <label for="file">Arquivo CSV: </label><br>
                                <input class="upload-file-selector" id="file" type="file" name="file"
                                       style="position: static; opacity: 1;" required>
                            </div>
                        </div>
                    </div>
                    <div id="messageImport" class="alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="submit" id="save" class="btn btn-success">
                        <i class="fa fa-check" aria-hidden="true"></i> Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_AUTOINSCRICAOMOODLE_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_AUTOINSCRICAOMOODLE_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/libertas-auto-enrollment/index.js?v=<?= time() ?>"></script>