<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Redirecionamentos Moodle</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_MOODLEREDIRECTS_CRIACAO_EDICAO)) : ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-success" onclick="openModal(0)">
                                <i class="fa fa-plus"></i> Adicionar</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="shortLinkMoodleRedirectFilter">Link Curto:</label>
                                <input class="form-control" type="text" id="shortLinkMoodleRedirectFilter"
                                       name="shortLinkMoodleRedirectFilter">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="moodleLinkMoodleRedirectFilter">Link Moodle:</label>
                                <input class="form-control" type="text" id="moodleLinkMoodleRedirectFilter"
                                       name="moodleLinkMoodleRedirectFilter">
                            </div>
                        </div>
                        <div class="col-md-4 text-end mt-auto m-b-20">
                            <button class="btn btn-danger" type="reset" onclick="resetTable('MoodleRedirect')">
                                <i class="fa fa-eraser" aria-hidden="true"></i>Limpar
                            </button>
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limitMoodleRedirect"
                                onchange="getLimit(this.value, 'MoodleRedirect')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startMoodleRedirect"></span> a <span
                                    id="endMoodleRedirect"></span> de
                            <span id="totalMoodleRedirect"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="tableMoodleRedirect" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Link Curto</th>
                                <th class="text-center">Link Moodle</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderMoodleRedirect m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationMoodleRedirect" style="top: auto">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="moodleRedirectId" id="moodleRedirectId">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="shortLink">Link curto</label>
                                <input type="text" value="" class="form-control" id="shortLinkModal" name="shortLink"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="moodleLink">Link moodle</label>
                                <input type="text" class="form-control" id="moodleLinkModal" name="moodleLink" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-select" id="statusModal" name="status" required>
                                    <option value="">Selecione</option>
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="submit" id="save" class="btn btn-success">
                        <i class="fa fa-check" aria-hidden="true"></i> Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_MOODLEREDIRECTS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_MOODLEREDIRECTS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/libertas-auto-enrollment/moodleRedirect.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>