<div class="card">
	<div class="card-header">
		<h5 class="title">Agendamento</h5></div>
	<div class="card-body">
		<div class="modal-body no-padding custom-scrollbar">
			<form id="filter">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="nameFilter">Nome</label>
							<input type="text" id="nameFilter" name="nameFilter" class="form-control"
							       placeholder="Nome">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="statusFilter">Status</label>
							<select type="text" id="statusFilter" name="statusFilter" class="form-select">
								<option value="">Selecione...</option>
								<option value="0">Não encontrado</option>
								<option value="1">Agendado</option>
								<option value="2">Realizado</option>
								<option value="3">Cancelado</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 text-end m-t-45">
						<a class="btn btn-success" onclick="openModal(0)">Agendamento <i
								class="fa fa-plus"></i></a>
						<button type="button" class="btn btn-danger" onclick="resetTable()">Limpar</button>
						<button type="button" class="btn btn-info" onclick="filter()">Filtrar</button>
					</div>
				</div>
			</form>
			Exibindo <span id="partial"></span> de <span id="total"></span><br><br>
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="affiliatedTable" class="table table-striped table-bordered">
						<thead>
						<tr>
							<th class="text-center">Candidato</th>
							<th class="text-center">Status</th>
							<th class="text-center">Horário</th>
							<th class="text-center">Link</th>
							<th class="text-center">Ações</th>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
					<div id="loader" class="loader"></div>
				</div>
				<div class="col">
					<div class="footer">
						<div id="message" class="alert d-none"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Novo Agendamento</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<form id="form">
				<div class="modal-body custom-scrollbar">
					<div class="row">
						<div class="col">
							<input type="hidden" id="appointmentId" name="appointmentId">
							<div id="divSelect" class="form-group">
								<label for="affiliated">Candidato</label>
								<select type="text" id="affiliated" name="affiliated" required class="form-select">
									<option value="">Selecione...</option>
									<?php foreach ($affiliateds as $a): ?>
										<option value="<?= $a['id'] ?>"><?= $a['nome'] ?></option>
									<?php endforeach; ?>
								</select>
							</div>
							<div id="divAfilliated" class="form-group d-none">
								<label for="affiliated2">Candidato</label>
								<input type="text" id="affiliated2" name="affiliated2" class="form-control" readonly>
							</div>
							<div class="form-group">
								<label for="status">Status</label>
								<select id="status" name="status" required class="form-select">
									<option value="">Selecione...</option>
									<option value="0">Não encontrado</option>
									<option value="1">Agendado</option>
									<option value="2">Realizado</option>
									<option value="3">Cancelado</option>
								</select>
							</div>
							<div class="form-group">
								<label for="appointment">Horário</label>
								<input type="text" id="appointment" name="appointment" placeholder="dd/mm/AAAA HH:mm"
								       class="form-control" data-mask="00/00/0000 00:00">
							</div>
							<div class="form-group">
								<label for="link">Link da Reunião</label>
								<input type="text" id="link" name="link" placeholder="Link" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-info text-end" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-success">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	const form = document.getElementById('form');
	const divMessage = document.getElementById('message');

	function openModal(id) {
		form.reset();
		document.getElementById('divAfilliated').classList.add('d-none');
		document.getElementById('divSelect').classList.remove('d-none');
		$("#appointmentId").val(id);

		if (id > 0) {
			showLoading();
			fetch(`<?= BASEURL ?>api/filiados/agendamento/` + id, {
				method: 'GET',
				credentials: "same-origin",
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
				}
			}).then(response => {
				response.json().then(json => {
					let aux = json.message[0];
					$("#affiliated2").val(aux.affiliated);
					$("#appointment").val(aux.appointment);
					$("#link").val(aux.link);
					$("#status").val(aux.status);
					document.getElementById('divAfilliated').classList.remove('d-none');
					document.getElementById('divSelect').classList.add('d-none');
					$("#affiliated").prop('required', '');
					closeLoading();
				});
			});
		}
		$("#modal").modal('show');
	}

	function changeMessageType(type) {
		if (type === 'ok') {
			divMessage.classList.remove('alert-danger');
			divMessage.classList.remove('d-none');
			divMessage.classList.add('alert-info');
		}

		if (type === 'error') {
			divMessage.classList.remove('alert-info');
			divMessage.classList.remove('d-none');
			divMessage.classList.add('alert-danger');
		}
	}

	function getAppointments() {
		showLoading();
		let name = $("#nameFilter").val();
		let status = $("#statusFilter").val();
		fetch(`<?= BASEURL ?>api/filiados/agendamento/?name=${name}&status=${status}`, {
			method: 'GET',
			credentials: "same-origin",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			}
		}).then(response => {
			response.json().then(json => {
				let appointments = json.message;
				let html = appointments.map(generateTable);
				$("#affiliatedTable tbody").empty();
				$("#affiliatedTable tbody").append(html);
				closeLoading();
			});
		});
	}

	function filter() {
		$("#affiliatedTable tbody").empty();
		getAppointments();
	}

	function resetTable() {
		$("#nameFilter").val('');
		$("#statusFilter").val('');
		$("#affiliatedTable tbody").empty();
		getAppointments();
	}

	function generateTable(json) {

		let icons = `<i class="fa fa-pencil text-info" title="Editar" onclick="openModal(${json.id})"></i>`;

		return `
            <tr>
                <td class="text-center">${json.affiliated}</td>
                <td class="text-center">${json.aux}</td>
                <td class="text-center">${json.appointment}</td>
                <td class="text-center">${json.link}</td>
                <td class="text-center">${icons}</td>
            </tr>
        `;
	}

	form.addEventListener('submit', e => {
		e.preventDefault();
		showLoading();
		let formData = formDataToJson('form');
		fetch(`<?= BASEURL ?>api/filiados/agendamento/`, {
			method: 'POST',
			credentials: "same-origin",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(formData),
		}).then(response => {
			response.json().then(json => {
				changeMessageType(json.status);
				message.textContent = json.message;
				if (json.status == 'ok') {
					$("#modal").modal('hide');
					window.location.reload();
				}
			});
		});
	});

	$(document).ready(function () {
		getAppointments();
	});
</script>