<div class="container">
	<div class="card">
		<div class="card-header">
			<h5 class="title">Black List</h5>
		</div>
		<div class="card-body mt-5">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="dataTable" class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>Nome</th>
							<th>Data</th>
							<th>CPF</th>
							<th>Usuário</th>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($blackList as $user): ?>
							<tr>
								<td><a href="<?= BASEURL ?>filiados/<?= $user->getAffiliated()->getId() ?>"
								       target="_blank"><?= $user->getAffiliated()->getName() ?></a></td>
								<td><?= $user->getCreated()->format('d/m/Y') ?></td>
								<td><?= \App\Helpers\Utils::formatCpf($user->getCpf()) ?></td>
								<td><?= $user->getUser()->getName() ?></td>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>