<link rel="stylesheet" href="<?= BASEURL ?>assets/css/intlTelInput.min.css">
<script src="<?= BASEURL ?>assets/js/intlTelInput.min.js"></script>
<script src="<?= BASEURL ?>assets/js/moment.min.js"></script>
<!--dados pessoais-->
<style>
	#personalData {
		border-bottom: 2px solid #EF5A23 !important;
		border-right: 2px solid #EF5A23 !important;
		border-left: 2px solid #EF5A23 !important;
		padding: 0 20px !important;
		margin-bottom: 20px !important;
	}
</style>

<form id="msform" method="post">
	<input type="hidden" name="id" value="<?= $affiliated->getId() ?>">
	<div class="row">
		<div class="col">
			<div id="divMessageFormRegister" class="alert alert-danger d-none" role="alert"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5 class="title">DADOS PESSOAIS</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="name">Nome Completo</label>
								<input id="name" placeholder="Nome Completo" name="name"
								       value="<?= $affiliated->getName() ?>" type="text" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="birth">Data de Nascimento</label>
								<input id="birth" placeholder="dd/mm/AAAA" name="birth"
								       value="<?= $affiliated->getDataNascimento() ? $affiliated->getDataNascimento()->format('d/m/Y') : '' ?>"
								       data-mask="99/99/9999" type="text" class="form-control" required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="rg">RG</label>
								<input id="rg" placeholder="RG" name="rg" value="<?= $affiliated->getRg() ?>"
								       type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="issuingAgency">Órgão Expedidor</label>
								<input id="issuingAgency" placeholder="Órgão Expedido" name="issuingAgency"
								       value="<?= $affiliated->getOrgaoExpedidor() ?>" type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Telefone Fixo</label>
								<input type="hidden" name="phoneDialCode">
								<input type="hidden" name="phoneIso2">
								<input id="phone" placeholder="Telefone Fixo" name="phone" type="tel"
								       class="form-control" onkeyup="maskPhone()" data-mask="(99) 9999-9999"
								       value="<?= $phone ? $phone->getTelefone(true) : '' ?>">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="cellPhone">Telefone Celular</label>
								<input type="hidden" name="cellPhoneDialCode">
								<input type="hidden" name="cellPhoneIso2">
								<input id="cellPhone" placeholder="Telefone Celular" name="cellPhone" type="tel"
								       class="form-control" onkeyup="maskCellPhone()"
								       value="<?= $cellPhone ? $cellPhone->getTelefone(true) : '' ?>">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5 class="title">TÍTULO DE ELEITOR</h5>
				</div>
				<div class="card-body">
					<?php if ($affiliated->getPendenciaTitulo()): ?>
						<div class="row">
							<div class="col">
								<div class="alert alert-danger"><b>Favor regularizar seu titulo</b></div>
							</div>
						</div>
					<?php endif; ?>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="originVoterTitle">Origem título de eleitor</label>
								<select id="originVoterTitle" name="originVoterTitle" class="form-select"
								        onchange="voterTitleFields(this.value)">
									<option value="2"
										<?= $affiliated->getTituloEleitoralPaisId() ? $affiliated->getTituloEleitoralPaisId()->getId() == 33 ? 'selected' : '' : '' ?>>
										Título
										do Brasil
									</option>
									<option
										<?= $affiliated->getTituloEleitoralPaisId() ? $affiliated->getTituloEleitoralPaisId()->getId() != 33 ? 'selected' : '' : '' ?>
										value="1">Título do Exterior
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="mother">Nome da Mãe</label>
								<input id="mother" name="mother" value="<?= $affiliated->getNomeMae() ?>" type="text"
								       class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="voterTitle">Título de eleitor</label>
								<input id="voterTitle" placeholder="Título de eleitor" name="voterTitle"
								       value="<?= $affiliated->getTituloEleitoral() ?>" type="text"
								       class="form-control">
							</div>
						</div>
						<div class="col col-md-3">
							<div class="form-group">
								<label for="voterTitleZone">Zona</label>
								<input id="voterTitleZone" placeholder="Zona" name="voterTitleZone"
								       value="<?= $affiliated->getTituloEleitoralZona() ?>" type="text"
								       class="form-control">
							</div>
						</div>
						<div class="col col-md-3">
							<div class="form-group">
								<label for="voterTitleSection">Seção</label>
								<input id="voterTitleSection" placeholder="Seção" name="voterTitleSection"
								       value="<?= $affiliated->getTituloEleitoralSecao() ?>" type="text"
								       class="form-control">
							</div>
						</div>
					</div>
					<div class="row" id="titleNational"
						<?= $affiliated->getTituloEleitoralPaisId() ? $affiliated->getTituloEleitoralPaisId()->getId() != 33 ? 'style="display: none"' : '' : '' ?>>
						<div class="col-md-6">
							<div class="form-group">
								<label for="voterTitleUF">UF eleitoral</label>
								<select id="voterTitleUF" name="voterTitleUF" class="form-select"
								        onchange="getCities(this.value, 'voterTitleCity')">
									<option value="">Selecione</option>
									<?php foreach ($states as $item): ?>
										<option value="<?= $item->getId() ?>"
											<?= $affiliated->getTituloEleitoralUfId() &&
											$item->getId() == $affiliated->getTituloEleitoralUfId()->getId() ? 'selected' : '' ?>><?= $item->getSigla() ?>
										</option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="voterTitleCity">Município Eleitoral</label>
								<select id="voterTitleCity" name="voterTitleCity" class="form-select">
									<option value="">Selecione a cidade</option>
									<?php foreach ($voterTitleCities as $item): ?>
										<option value="<?= $item->getId() ?>"
											<?= $affiliated->getTituloEleitoralMunicipioId() &&
											$item->getId() == $affiliated->getTituloEleitoralMunicipioId()->getId() ? 'selected' : '' ?>><?= $item->getCidade() ?>
										</option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
					</div>
					<div class="row" id="titleInternational"
						<?= $affiliated->getTituloEleitoralPaisId() ? $affiliated->getTituloEleitoralPaisId()->getId() == 33 ? 'style="display: none"' : '' : 'style="display: none"' ?>>
						<div class="col-md-4">
							<div class="form-group">
								<label for="voterTitleCountry">País</label>
								<select id="voterTitleCountry" name="voterTitleCountry" class="form-select">
									<?php foreach ($countries as $item): ?>
										<option value="<?= $item->getId() ?>"
											<?= $affiliated->getTituloEleitoralPaisId() ? $item->getId() == $affiliated->getTituloEleitoralPaisId()->getId() ? 'selected' : '' : '' ?>>
											<?= $item->getNome() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<label for="voterTitleCityString">Município Eleitoral</label>
								<input id="voterTitleCityString" placeholder="Município Eleitoral"
								       name="voterTitleCityString"
								       value="<?= $affiliated->getTituloEleitoralMunicipio() ?>" type="text"
								       class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<form id="addressForm">
				<div class="card">
					<div class="card-header">
						<h5 class="title">ENDEREÇO</h5>
					</div>
					<div class="card-body ">
						<div class="row">
							<div class="col">
								<div class="form-check">
									<input <?= $address ? $address->getResideExterior() ? 'checked' : '' : '' ?>
										class="form-check-input" name="addressOutside"
										onchange="addressFields(this.checked)" type="checkbox" value="1"
										id="addressOutside">
									<label class="form-check-label" for="addressOutside"> Resido no
										exterior </label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col <?= $address ? !$address->getResideExterior() ? 'd-none' : '' : '' ?>"
							     id="addressCountryDiv">
								<div class="form-group">
									<label for="addressCountry">País</label>
									<select id="addressCountry" name="addressCountry" class="form-select">
										<?php foreach ($countries as $item): ?>
											<option value="<?= $item->getId() ?>"
												<?= $address ? $item->getId() == $address->getTbPaisId() ? 'selected' : '' : '' ?>>
												<?= $item->getNome() ?></option>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
							<div class="col col-md-6">
								<div class="form-group">
									<label for="zipCode">
										CEP
									</label>
									<input class="form-control"
									       value="<?= \App\Helpers\Utils::onlyNumbers($address ? $address->getCep() : '') ?>"
									       name="zipCode" data-mask="99999-999" type="text" id="zipCode"
									       placeholder="Cep"/>
								</div>
							</div>
						</div>
						<div class="row <?= $address ? $address->getResideExterior() ? 'd-none' : '' : '' ?>"
						     id="addressInsideDiv">
							<div class="col-md-6">
								<div class="form-group">
									<label for="ufId">
										Estado
									</label>
									<select id="ufId" name="ufId" class="form-select"
									        onchange="getCities(this.value, 'cityId')">
										<option value="">Selecione</option>
										<?php foreach ($states as $item): ?>
											<option value="<?= $item->getSigla() ?>"
												<?= $address ? $item->getId() == $address->getStateId() ? 'selected' : '' : '' ?>>
												<?= $item->getSigla() ?></option>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="cityId">
										Cidade
									</label>
									<select id="cityId" name="cityId" class="form-select">
										<option value="">Selecione a cidade</option>
										<?php foreach ($addressCities as $item): ?>
											<option value="<?= $item->getCidade() ?>"
												<?= $address ? $item->getId() == $address->getTbCidadeId() ? 'selected' : '' : '' ?>>
												<?= $item->getCidade() ?></option>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
						</div>
						<div class="row <?= $address ? !$address->getResideExterior() ? 'd-none' : '' : '' ?>"
						     id="addressOutsideDiv">
							<div class="col-md-6">
								<div class="form-group">
									<label for="uf">
										Estado
									</label>
									<input class="form-control" value="<?= $address ? $address->getEstado() : '' ?>"
									       name="uf" type="text" id="uf" placeholder="Estado"/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="city">
										Cidade
									</label>
									<input class="form-control" value="<?= $address ? $address->getCidade() : '' ?>"
									       name="city" type="text" id="city" placeholder="Cidade"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<label for="street">
										Logradouro
									</label>
									<input class="form-control" value="<?= $address ? $address->getEndereco() : '' ?>"
									       name="street" type="text" id="street" placeholder="Logradouro "/>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="number">
										Número
									</label>
									<input class="form-control" value="<?= $address ? $address->getNumero() : '' ?>"
									       min="0" name="number" type="number" id="number" placeholder="Número"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="district">
										Bairro
									</label>
									<input class="form-control" value="<?= $address ? $address->getBairro() : '' ?>"
									       name="district" type="text" id="district" placeholder="Bairro"/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="complement">
										Complemento
									</label>
									<input class="form-control"
									       value="<?= $address ? $address->getComplemento() : '' ?>" name="complement"
									       type="text" id="complement" placeholder="Complemento"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5 class="title">OUTRAS INFORMAÇÕES</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="education">Escolaridade</label>
								<select id="education" name="education" class="form-control">
									<?php foreach ($education as $item): ?>
										<option value="<?= $item->getId() ?>"
											<?= $affiliated->getEscolaridade()->getId() == $item->getId() ? 'selected' : '' ?>>
											<?= $item->getEscolaridade() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="profession">Profissão</label>
								<input id="profession" placeholder="Profissão" name="profession"
								       value="<?= $affiliated->getProfissao() ?>" type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="gender">Gênero</label>
								<select id="gender" name="gender" class="form-control">
									<?php foreach ($genders as $item): ?>
										<option value="<?= $item->getId() ?>"
											<?= $affiliated->getGenero()->getId() == $item->getId() ? 'selected' : '' ?>>
											<?= $item->getGenero() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="civilStatus">Estado Civil</label>
								<select id="civilStatus" name="civilStatus" class="form-control">
									<?php foreach ($civilStatus as $item): ?>
										<option value="<?= $item->getId() ?>"
											<?= $affiliated->getEstadoCivil()->getId() == $item->getId() ? 'selected' : '' ?>>
											<?= $item->getEstadocivil() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-end">
							<button class="btn btn-success text-white" type="submit">Confirmar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<?php if($user->isAdminNational()): ?>
	<!--alterar senha-->
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h5 class="title">SALVAR SENHA</h5>
			</div>
			<div class="card-body">
				<form id="formPassword">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="password">Nova senha</label>
								<input id="password" name="password" placeholder="Nova senha" type="password"
								       class="form-control" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="password2">Confirme a Nova Senha</label>
								<input id="password2" name="password2" placeholder="Confirme a Nova Senha"
								       type="password" class="form-control" required>
							</div>
						</div>
					</div>
					<input type="hidden" id="id" name="id" value="<?= $affiliated->getId() ?>">
					<input type="hidden" id="name" name="name" value="<?= $affiliated->getName() ?>">
					<input type="hidden" id="email" name="email" value="<?= $affiliated->getEmail() ?>">
					<div class="row">
						<div class="col text-end">
							<button type="submit" class="btn btn-success">Salvar Senha</button>
						</div>
					</div>
				</form>
				<div style="display: none" class="alert" id="divMessagePassword"></div>
			</div>
		</div>
	</div>
	<!-- fim alterar senha-->
	<?php endif; ?>
	<?php if($user->isAdminNational() || !$user->isAdminNational() && $indication): ?>
	<!--alterar e-mail-->
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h5 class="title">SALVAR E-MAIL</h5>
			</div>
			<div class="card-body">
				<form id="formEmail">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="email2">Digite novo E-mail</label>
								<input id="email2" name="email2" placeholder="Digite novo E-mail" type="email"
								       class="form-control" value="<?= $affiliated->getEmail() ?>" required>
								<input type="hidden" id="id" name="id" value="<?= $affiliated->getId() ?>">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col text-end">
							<button type="submit" class="btn btn-success">Salvar E-mail</button>
						</div>
					</div>
				</form>
				<div style="display: none" class="alert" id="divMessageEmail"></div>
			</div>
		</div>
	</div>
	<?php endif; ?>
</div>

<script>
	const formPassword = document.getElementById('formPassword');
	const divMessagePassword = document.getElementById('divMessagePassword');
	formPassword.addEventListener('submit', e => {
		showLoading();
		e.preventDefault();
		let formData = formDataToJson('formPassword');
		fetch("<?= BASEURL ?>api/filiados/alterar-senha", {
			method: "PUT",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			response.json().then(json => {
				divMessagePassword.textContent = json.message;
				divMessagePassword.style.display = 'block';
				if (response.status === 201) {
					divMessagePassword.classList.add("alert-success");
					divMessagePassword.classList.remove("alert-danger");
					formPassword.reset();
				} else {
					divMessagePassword.classList.add("alert-danger");
					divMessagePassword.classList.remove("alert-success");
				}
			});
		});
	})
</script>

<script>
	const formEmail = document.getElementById('formEmail');
	const divMessageEmail = document.getElementById('divMessageEmail');
	formEmail.addEventListener('submit', e => {
		showLoading();
		e.preventDefault();
		let formData = formDataToJson('formEmail');
		fetch("<?= BASEURL ?>api/filiados/alterar-email", {
			method: "PUT",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			response.json().then(json => {
				divMessageEmail.textContent = json.message;
				divMessageEmail.style.display = 'block';
				divMessageEmail.classList.add("alert-danger");
				divMessageEmail.classList.remove("alert-success");
				if (response.status === 201) {
					divMessageEmail.classList.add("alert-success");
					divMessageEmail.classList.remove("alert-danger");
					window.location.href =
						'<?= BASEURL ?>filiados/editar/<?=$affiliated->getId() ?>';
				}
			});
		});
	})
</script>

<script>
	var diaCode = -1;

	function maskCellPhone() {
		if (diaCode == cellPhone.getSelectedCountryData().dialCode) {
			return;
		}
		diaCode = cellPhone.getSelectedCountryData().dialCode;
		$('#cellPhone').unmask();
		$('#cellPhone').mask('999999999999');
		if (diaCode == 55) {
			$('#cellPhone').mask('(99) 99999-99999');
		}
	}

	function maskPhone() {
		if (diaCode2 == phone.getSelectedCountryData().dialCode) {
			return;
		}
		diaCode2 = phone.getSelectedCountryData().dialCode;
		$('#phone').unmask();
		$('#phone').mask('999999999999');
		if (diaCode2 == 55) {
			$('#phone').mask('(99)99999-99999');
		}
	}

	$(document).ready(function () {
		maskCellPhone();
		maskPhone();
	});

	function validateVoterTitle(inscricao) {
		var paddedInsc = inscricao.replace(/\D+/g, '');
		var dig1 = 0;
		var dig2 = 0;
		var tam = paddedInsc.length;
		var digitos = paddedInsc.substr(tam - 2, 2);
		var estado = paddedInsc.substr(tam - 4, 2);
		var titulo = paddedInsc.substr(0, tam - 2);
		var exce = (estado == '01') || (estado == '02');
		dig1 = (titulo.charCodeAt(0) - 48) * 9 + (titulo.charCodeAt(1) - 48) * 8 +
			(titulo.charCodeAt(2) - 48) * 7 + (titulo.charCodeAt(3) - 48) * 6 +
			(titulo.charCodeAt(4) - 48) * 5 + (titulo.charCodeAt(5) - 48) * 4 +
			(titulo.charCodeAt(6) - 48) * 3 + (titulo.charCodeAt(7) - 48) * 2;
		var resto = (dig1 % 11);
		if (resto == 0) {
			if (exce) {
				dig1 = 1;
			} else {
				dig1 = 0;
			}
		} else {
			if (resto == 1) {
				dig1 = 0;
			} else {
				dig1 = 11 - resto;
			}
		}
		dig2 = (titulo.charCodeAt(8) - 48) * 4 + (titulo.charCodeAt(9) - 48) * 3 + dig1 * 2;
		resto = (dig2 % 11);
		if (resto == 0) {
			if (exce) {
				dig2 = 1;
			} else {
				dig2 = 0;
			}
		} else {
			if (resto == 1) {
				dig2 = 0;
			} else {
				dig2 = 11 - resto;
			}
		}
		if ((digitos.charCodeAt(0) - 48 == dig1) && (digitos.charCodeAt(1) - 48 == dig2)) {
			return true; // Titulo valido
		} else {
			return false;
		}
	}

	function validateForm(step) {
		let errors = '';
		const formData = formDataToJson('msform');
		switch (step) {
			case 1:
				const dateMax = moment(new Date()).subtract(16, 'years');
				const dateMin = moment(new Date()).subtract(120, 'years');
				if (formData.name.trim() == '') errors += '<b>Nome Completo</b> é obrigatório<br>';
				if (!moment(formData.birth, 'DD/MM/YYYY', true).isValid()) errors +=
					'<b>Data de Nascimento</b> valor inválido<br>';
				if (formData.cellPhone.replace(/\D+/g, '').length < 8) errors += '<b>Telefone Celular</b> inválido<br>';
				if (moment(formData.birth, 'DD/MM/YYYY', true).isValid() &&
					moment(formData.birth, 'DD/MM/YYYY').format('YYYY/MM/DD') > dateMax.format('YYYY/MM/DD')) {
					errors += '<b>Minimo 16 anos</b><br>';
				}
				if (moment(formData.birth, 'DD/MM/YYYY', true).isValid() &&
					moment(formData.birth, 'DD/MM/YYYY').format('YYYY/MM/DD') < dateMin.format('YYYY/MM/DD')) {
					errors += '<b>Máximo 120 anos</b><br>';
				}
				break;
			case 2:
				if (formData.zipCode.trim() == '') errors += '<b>CEP</b> é obrigatório<br>';
				if (formData.street.trim() == '') errors += '<b>Logradouro</b> é obrigatório<br>';
				if (formData.number.trim() == '') errors += '<b>Número</b> é obrigatório<br>';
				if (formData.district.trim() == '') errors += '<b>Bairro</b> é obrigatório<br>';
				if (formData.addressOutside == 1) {
					if (formData.addressCountry.trim() == '') errors += '<b>País</b> é obrigatório<br>';
					if (formData.city.trim() == '') errors += '<b>Cidade</b> é obrigatório<br>';
				} else {
					if (formData.ufId.trim() == '') errors += '<b>Estado</b> é obrigatório<br>';
					if (formData.cityId.trim() == '') errors += '<b>Cidade</b> é obrigatório<br>';
				}
				break;
			case 3:
				if (formData.mother.trim() == '') errors += '<b>Nome da Mãe</b> é obrigatório<br>';
				if (formData.voterTitleZone.trim() == '') errors += '<b>Zona</b> é obrigatório<br>';
				if (formData.voterTitleSection.trim() == '') errors += '<b>Seção</b> é obrigatório<br>';
				if (formData.originVoterTitle == 2) { //brasil
					if (formData.voterTitleUF.trim() == '') errors += '<b>UF eleitoral</b> é obrigatório<br>';
					if (formData.voterTitleCity.trim() == '') errors += '<b>Município Eleitoral</b> é obrigatório<br>';
				} else {
					if (formData.voterTitleCountry.trim() == '') errors += '<b>País eleitoral</b> é obrigatório<br>';
					if (formData.voterTitleCityString.trim() == '') errors +=
						'<b>Município Eleitoral</b> é obrigatório<br>';
				}
				if (!validateVoterTitle(formData.voterTitle)) errors += '<b>Título de eleitor</b> inválido<br>';
				break;
		}
		if (errors != '') {
			divMessageForm.innerHTML = errors;
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			divMessageForm.classList.remove("d-none");
			return false;
		}
		return true;

	}

	function changeStep(current, option) {
		if (option == 'next') {
			if (!validateForm(current)) {
				return;
			}
		}
		divMessageForm.classList.add("d-none");
		document.getElementById(`step-${current}`).style.display = 'none';
		const progressbar = document.querySelectorAll('#progressbar li');
		if (option == 'next') {
			if (!validateForm(current)) {
				return;
			}
			document.getElementById(`step-${current + 1}`).style.display = 'block';
			progressbar[current].classList.add('active');
		} else {
			document.getElementById(`step-${current - 1}`).style.display = 'block';
			progressbar[current - 1].classList.remove('active')
		}
	}

	const form = document.getElementById('msform')
	const divMessageForm = document.getElementById('divMessageFormRegister');
	form.addEventListener('submit', e => {
		form.phoneDialCode.value = phone.getSelectedCountryData().dialCode;
		form.phoneIso2.value = phone.getSelectedCountryData().iso2;
		form.cellPhoneDialCode.value = cellPhone.getSelectedCountryData().dialCode;
		form.cellPhoneIso2.value = cellPhone.getSelectedCountryData().iso2;
		e.preventDefault();
		if (!validateForm(4)) {
			return;
		}
		showLoading();
		let formData = formDataToJson('msform');
		fetch("<?= BASEURL ?>api/filiados/editar", {
			method: "POST",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			response.json().then(json => {
				divMessageForm.textContent = json.message;
				divMessageForm.classList.add("alert-danger");
				divMessageForm.classList.remove("alert-success");
				divMessageForm.classList.remove("d-none");
				if (response.status === 201) {
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					//window.location.href = '<?= BASEURL ?>filiados/<?=$affiliated->getId() ?>';
				}
			});
		});
	})

	$(document).ready(function () {
		$("#zipCode").keyup(function () {
			loadAddress();
		});
		<?php if(!$address): ?>
		addressFields(false);
		<?php endif ;?>
	});

	function politicalPartyDiv(value) {
		$('#politicalPartyDiv').hide();
		if (value == 1 || value == 2) {
			$('#politicalPartyDiv').show();
		}
	}

	function voterTitleFields(type) {
		$('#titleInternational').hide();
		$('#titleNational').show();
		if (type == 1) {
			$('#titleInternational').show();
			$('#titleNational').hide();
		}
	}

	function addressFields(type) {
		$('#addressInsideDiv').removeClass('d-none');
		$('#addressOutsideDiv').removeClass('d-none');
		$('#addressCountryDiv').removeClass('d-none');
		if (type == false) {
			$('#addressOutsideDiv').addClass('d-none');
			$('#addressCountryDiv').addClass('d-none');
		} else {
			$('#addressInsideDiv').addClass('d-none');
		}
	}

	function loadAddress() {
		var cep = $('#zipCode').val().replace(/\D/g, '');
		var validacep = /^[0-9]{8}$/;
		if (validacep.test(cep)) {
			$.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
				if (!("erro" in dados)) {
					$("#street").val(dados.logradouro);
					$("#district").val(dados.bairro);
					$(`#cityId option[value='${dados.localidade}']`).attr('selected', 'selected');
					$("#uf").val(dados.uf);
					$("#city").val(dados.localidade);
					$(`#addressCountry option[value='33']`).attr('selected', 'selected');
					if (dados.uf != $('#ufId').val()) {
						$(`#ufId option[value=${dados.uf}]`).attr('selected', 'selected');
						$('#ufId').trigger('change');
					}
				}
			});
		}
	}

	function getCityOptionName(city) {
		return `<option value="${city.name}">${city.name}</option>`;
	}

	function getCities(state, divCities) {
		fetch(`<?= BASEURL ?>api/sistema/cidades/${state}`, {
			method: "GET",
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => {
			response.json().then(json => {
				let cities = json.message;
				let options;
				if (divCities == 'cityId') { //address em string
					options = '<option value="">Selecione a cidade</option>' + cities.map(
						getCityOptionName);
				} else { //voter title int id
					options = '<option value="">Selecione a cidade</option>' + cities.map(getCityOptionId);
				}
				document.getElementById(divCities).innerHTML = options;
				loadAddress();
			});
		});
	}

	function getCityOptionId(city) {
		return `<option value="${city.id}">${city.name}</option>`;
	}

	var cellPhone = window.intlTelInput(document.querySelector('#cellPhone'), {
		"initialCountry": 'br'
	});
	var phone = window.intlTelInput(document.querySelector('#phone'), {
		"initialCountry": 'br'
	});
</script>