<div class="card">
	<div class="card-header">
		<h5 class="title">Pedidos de Impugnação</h5>
	</div>
	<div class="card-body">
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table id="dataTable" class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>Data</th>
						<th>Nome</th>
						<th>Solicitante</th>
						<th>Justificativa</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($impeachments as $impeachment): ?>
						<tr class="middle">
							<td><?= $impeachment->getCreated()->format('d/m/Y') ?></td>
							<td><a href="<?= BASEURL ?>filiados/<?= $impeachment->getTarget()->getId() ?>"
							       target="_blank"><?= $impeachment->getTarget()->getName() ?></a></td>
							<td><?= $impeachment->getUser()->getName() ?></td>
							<td><?= $impeachment->getMsg() ?></td>
						</tr>
					<?php endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>