<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">Relatório Consultar Pessoas</h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_GESTAODECADASTROS_CRIACAO_EDICAO)): ?>
                <div class="col-md-8 text-end">
                    <a type="button" href="<?= BASEURL ?>consulta/novo-cadastro/" class="btn btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i> Novo Cadastro</a>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="affiliateIdAffiliatedFilter">Filiado ID:</label>
                        <input class="form-control" id="affiliateIdAffiliatedFilter" name="affiliatedId" type="text"
                               placeholder="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nameAffiliatedFilter">Nome:</label>
                        <input class="form-control" id="nameAffiliatedFilter" name="name" type="text"
                               placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpfAffiliatedFilter">CPF:</label>
                        <input class="form-control" id="cpfAffiliatedFilter" name="cpf" type="text"
                               placeholder="CPF" data-mask="000.000.000-00">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emailAffiliatedFilter">Email:</label>
                        <input class="form-control" id="emailAffiliatedFilter" name="email" type="text"
                               placeholder="Email">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="genderAffiliatedFilter">Genero:</label>
                        <select class="form-select" id="genderAffiliatedFilter" name="gender">
                            <option value="">Todos</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                            <option value="3">Não quero informar</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="typeDateAffiliatedFilter">Data:</label>
                        <select class="form-select" id="typeDateAffiliatedFilter" name="typeDate">
                            <option value="" selected>Selecione</option>
                            <option value="data_criacao">Data Cadastro</option>
                            <option value="data_filiacao">Data Filiação</option>
                            <option value="data_refiliacao">Data Refiliação</option>
                            <option value="data_filiacao_refiliacao">Data Filiação e Refiliação</option>
                            <option value="data_desfiliacao">Data Desfiliação</option>
                            <option value="data_solicitacao_filiacao">Data Solicita Filiação</option>
                            <option value="data_solicitacao_refiliacao">Data Solicita Refiliação</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="beginAffiliatedFilter">Inicia em:</label>
                        <input class="form-control" id="beginAffiliatedFilter" name="begin" type="text"
                               placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="endAffiliatedFilter">Finaliza em:</label>
                        <input class="form-control" id="endAffiliatedFilter" name="end" type="text"
                               placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="statusAffiliatedFilter">Status:</label>
                        <select class="form-select" id="statusAffiliatedFilter" name="status">
                            <option value="">Todos</option>
                            <option value="1">Aguardando Pgto</option>
                            <option value="0">Cadastrado (Não filiado)</option>
                            <option value="9">Desfiliado</option>
                            <option value="13">Filiação Suspensa por Pendência Titulo</option>
                            <option value="7" selected>Filiado e Refiliado</option>
                            <option value="8">Refiliado</option>
                            <option value="6">Impugnado</option>
                            <option value="2">Período Impugnação</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="irpfAffiliatedFilter">Isento IRPF:</label>
                        <select class="form-select" id="irpfAffiliatedFilter" name="irpf">
                            <option value="" selected>Selecione</option>
                            <option value="1">Sim</option>
                            <option value="-1">Não</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="exemptionAffiliatedFilter">Isento Filiação:</label>
                        <select class="form-select" id="exemptionAffiliatedFilter" name="exemption">
                            <option value="" selected>Selecione</option>
                            <option value="1">Sim</option>
                            <option value="-1">Não</option>
                        </select>
                    </div>
                </div>
                <!--
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="agroupAffiliatedFilter">Agrupar por:</label>
                        <select class="form-select" id="agroupAffiliatedFilter" name="agroup">
                            <option value="nome" selected>Nome (ordem alfabética)</option>
                            <option value="data_filiacao">Data Filiação</option>
                            <option value="data_refiliacao">Data Refiliação</option>
                            <option value="data_desfiliacao">Data Desfiliação</option>
                            <option value="data_solicitacao_filiacao">Data Solicita Filiação</option>
                            <option value="data_solicitacao_refiliacao">Data Solicita Refiliação</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ordinationAffiliatedFilter">Por ordem:</label>
                        <select class="form-select" id="ordinationAffiliatedFilter" name="ordination">
                            <option value="ASC" selected>Mais antigo (A -Z)</option>
                            <option value="DESC">Mais recente (Z - A)</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="row">
                    <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="stateAffiliatedFilter">Estado Título:</label>
                                <select class="form-select" id="stateAffiliatedFilter" name="state"
                                        onchange="getCities(this.value, 'cityAffiliatedFilter')">
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                        <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cityAffiliatedFilter">Cidade Título:</label>
                                <select class="form-select" id="cityAffiliatedFilter" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="stateAffiliatedFilter">Estado Título:</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                       disabled readonly>
                                <input type="hidden" id="stateAffiliatedFilter" name="state"
                                       value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cityAffiliatedFilter">Cidade Título:</label>
                                <select class="form-select" id="cityAffiliatedFilter" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    <?php else: ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="stateAffiliatedFilter">Estado Título:</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                       disabled readonly>
                                <input type="hidden" id="stateAffiliatedFilter" name="state"
                                       value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cityAffiliatedFilter">Cidade Título:</label>
                                <select class="form-select" id="cityAffiliatedFilter" name="city" type="city">
                                    <option value="" selected>Todas</option>
                                    <?php foreach ($cities as $city) : ?>
                                        <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state2AffiliatedFilter">Estado Residência:</label>
                            <select class="form-select" id="state2AffiliatedFilter" name="state2"
                                    onchange="getCitiesAdress(this.value, 'city2AffiliatedFilter')">
                                <option value="" selected>Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="city2AffiliatedFilter">Cidade Residência:</label>
                            <select class="form-select" id="city2AffiliatedFilter" name="city2" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="ageBeginAffiliatedFilter">Idade Inicio:</label>
                            <input class="form-control" id="ageBeginAffiliatedFilter" name="ageBegin" type="number">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="ageEndAffiliatedFilter">Idade Final:</label>
                            <input class="form-control" id="ageEndAffiliatedFilter" name="ageEnd" type="number">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="situationAffiliatedFilter">Situação</label>
                            <select class="form-select" id="situationAffiliatedFilter" name="situation">
                                <option value="">Selecione</option>
                                <option value="Adimplente">Adimplente</option>
                                <option value="Inadimplente">Inadimplente</option>
                                <option value="Isento">Isento</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="mesoregionAffiliatedFilter">Mesorregião:</label>
                            <select class="form-select" id="mesoregionAffiliatedFilter" name="mesoregion">
                                <option value="" selected>Selecione</option>
                                <?php foreach ($mesoregions as $mesoregion): ?>
                                    <option value="<?= $mesoregion['id'] ?>"><?= $mesoregion['name'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Exibindo de <span id="startAffiliated"></span> a <span id="endAffiliated"></span> de <span
                                    id="totalAffiliated"></span> registros</p>
                    </div>
                    <div class="col-md-8 text-end">
                        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_GESTAODECADASTROS_EXPORTACAO)): ?>
                            <button id="export" type="button" onclick="csv()" class="btn btn-primary">
                                <i class="fa fa-download" aria-hidden="true"></i> Exportar
                            </button>
                        <?php endif; ?>
                        <button class="btn btn-danger" type="reset" onclick="resetTable('Affiliated')">
                            <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                        </button>
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <?php if ($user->getTypeView() == 1): ?>
            <div class="row align-items-center m-b-30">
                <div class="col-auto">
                    <span>Exibir </span>
                </div>
                <div class="col-auto">
                    <select class="form-control form-select" id="limitAffiliated"
                            onchange="getLimit(this.value, 'Affiliated')">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col-auto">
                    <span> registros</span>
                </div>
            </div>
            <div class="row table-responsive-xl">
                <div class="col-12">
                    <table id="tableAffiliated" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>F.ID</th>
                            <th>Nome</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Solicitação</th>
                            <th class="text-center">Filiação</th>
                            <th class="text-center">Desfiliação</th>
                            <th class="text-center">UF</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Idade</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="watermark"><?= $user->getName() ?></div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="spinner-border loaderAffiliated m-t-10" role="status">
                        <span class="sr-only mx-auto">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row text-end">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end pagination-primary" id="paginationAffiliated"
                        style="top: auto"></ul>
                </nav>
            </div>
        <?php endif; ?>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog" role="document">
        <form id="confidentialityAgreementForm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
                </div>
                <div class="modal-body text-justify custom-scrollbar">
                    <p>Prezado(a) <?= $user->getName() ?>,</p>
                    <p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a manter o
                        absoluto sigilo,
                        tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e sobre
                        todos os materiais disponibilizados.</p>
                    <p>Este acesso ficará registrado no sistema.</p>
                    <p>A divulgação e utilização não autorizada de informações, configura indisciplina partidária grave
                        nos termos do artigo 18, inciso XI do estatuto partidário.</p>
                </div>
                <div class="modal-footer">
                    <a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
                    <button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var term = <?= (int)$term ?>;
    var stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>
</script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/affiliated/index.js?v=<?= time() ?>"></script>