<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Últimas Filiações</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label for="startDate">Data Inicial:</label>
								<input class="form-control" id="startDate" name="startDate" type="text" required
								       placeholder="Data Inicial"
								       value="<?= (new DateTime())->sub(new DateInterval('P10D'))->format('d/m/Y'); ?>">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="name">Nome:</label>
								<input class="form-control" id="name" name="name" type="text" placeholder="Nome">
							</div>
						</div>
						<?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
							<div class="col-md-2">
								<div class="form-group">
									<label for="state">Estado:</label>
									<select class="form-select" id="state" name="state"
									        onchange="getCities(this.value)">
										<option value="">Selecione</option>
										<?php foreach ($states as $state): ?>
											<option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="city">Cidade:</label>
									<select class="form-select" id="city" name="city" type="city">
										<option value="">Selecione</option>
									</select>
								</div>
							</div>
						<?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
							<div class="col-md-2">
								<div class="form-group">
									<label for="state">Estado:</label>
									<input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
									       disabled readonly>
									<input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="city">Cidade:</label>
									<select class="form-select" id="city" name="city" type="city">
										<option value="">Selecione</option>
									</select>
								</div>
							</div>
						<?php else: ?>
							<div class="col-md-2">
								<div class="form-group">
									<label for="state">Estado:</label>
									<input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
									       disabled readonly>
									<input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label for="state">Cidade:</label>
									<input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
									       disabled readonly>
									<input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
								</div>
							</div>
						<?php endif; ?>
						<div class="col-md-2">
							<div class="form-group">
								<label for="irpf">Isenção:</label>
								<select class="form-select" id="irpf" name="irpf">
									<option value="-1">Selecione</option>
									<option value="1">Filiação Isenta</option>
									<option value="0">Filiação Não Isenta</option>
								</select>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col text-end">
							<button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
							<button class="btn btn-success" type="submit">Filtrar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="card-body">
				Exibindo <span id="partial"></span> de <span id="total"></span>
				<label>
					<div style="display: none" id="messageForm" class="alert" role="alert"></div>
				</label>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table id="table" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>Nome</th>
								<th class="text-center">Filiação</th>
								<th class="text-center">Plano</th>
								<th class="text-center">Tipo</th>
								<th class="text-center">UF</th>
								<th class="text-center">Municipio</th>
								<th class="text-center">Status</th>
								<th class="text-center">Telefone</th>
								<th class="text-center">Isenção</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div id="loader" class="loader"></div>
				<div style="display: none" id="message" class="alert" role="alert"></div>
			</div>
		</div>
	</div>

	<script>
		var index = partial = state = city = 0;
		var total = 1;
		var name = '';
		const form = document.getElementById('filter');

		form.addEventListener('submit', e => {
			e.preventDefault();
			let formData = formDataToJson('filter');
			partial = index = 0;
			total = 1;
			name = formData.name;
			state = formData.state;
			city = formData.city;
			$("#table tbody").empty();
			generateTable();
		})

		function resetTable() {
			index = partial = state = city = 0;
			total = 1;
			name = '';
			form.reset();
			$("#table tbody").empty();
			generateTable();
		}

		function generateMembershipList(solicitations) {
			return `<tr>
                    <td><a href="<?= BASEURL ?>filiados/${solicitations.id}" target="_blank">${solicitations.name}
                    <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    <td class="text-center">${solicitations.filiation}</td>
                    <td class="text-center">${solicitations.plan}</td>
                    <td class="text-center">${solicitations.payment}</td>
                    <td class="text-center">${solicitations.uf}</td>
                    <td class="text-center">${solicitations.city}</td>
                    <td class="text-center">${solicitations.status}</td>
                    <td class="text-center">
                         <a rel="noopener" href="https://api.whatsapp.com/send?phone=${solicitations.phone.replace(/\\D+/g, '')}" target="_blank">
                        ${solicitations.phone}
                    </a>
                    </td>
                    <td class="text-center">${solicitations.exemption}</td>
                   </tr>`;
		}

		function setaDadosModal(valor) {
			document.getElementById('id').value = valor;
		}

		function generateTable() {
			if (total > partial) {
				const startDate = document.getElementById('startDate').value;
				const irpf = document.getElementById('irpf').value;
				$('#loader').show();
				fetch(`<?= BASEURL ?>api/filiados/ultimas-filiacoes/?index=${index}&name=${name}&state=${state}&city=${city}&irpf=${irpf}&startDate=${startDate} `, {
					method: "GET",
					credentials: 'same-origin',
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					}
				}).then(response => {
					response.json().then(json => {
						$('#loader').hide();
						total = json.total;
						partial = json.partial;
						let membershipList = json.message;
						let options = membershipList.map(generateMembershipList);
						$("#table tbody").append(options);
						$('#total').text(total);
						$('#partial').text(partial);
					});
				});
			}
		}

		$(document).ready(function () {
			<?php if ($user->getLevel() == 2): ?>
			getCities(<?= $user->getState()->getId() ?>);
			<?php endif; ?>
			generateTable();
			$(window).scroll(function () {
				if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
					index++;
					generateTable();
				}
			});
		});
	</script>