<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Pesquisa Nº <?= $quiz->getId() ?>
                    - <?= $quiz->getCreated()->format('d/m/Y H:i:s') ?> </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <b>Filiado: </b> <?= $quiz->getUser()->getName() ?>
                        <a class="btn btn-sm btn-info" href="<?= BASEURL ?>filiados/<?= $quiz->getUser()->getId() ?>"
                           target="_blank">Detalhes</a>
                        <br>
                        <b>N° Filiado: </b> <?= $quiz->getUser()->getFiliadoiD() ?> <br>
                        <b>Filiado desde: </b>
                        <?= $quiz->getUser()->getFiliado() == 7 ?
                            $quiz->getUser()->getDataFiliacao()->format('d/m/Y') : $quiz->getUser()->getDataRefiliacao()->format('d/m/Y') ?>

                    </div>
                    <div class="col-md-4">
                        <b>Nascimento: </b> <?= $quiz->getUser()->getDataNascimento() ? $quiz->getUser()->getDataNascimento()->format('d/m/Y') : '' ?>
                        <br>
                        <b>Gênero: </b> <?= $quiz->getUser()->getGenero()->getGenero() ?>
                    </div>
                    <div class="col-md-4">
                        <b>UF Eleitoral: </b> <?= $quiz->getUser()->getTituloEleitoralUfId() ? $quiz->getUser()->getTituloEleitoralUfId()->getEstado() : '' ?> <br>
                        <b>Município Eleitoral: </b> <?= $quiz->getUser()->getTituloEleitoralMunicipioId() ? $quiz->getUser()->getTituloEleitoralMunicipioId()->getCidade() : '' ?> <br>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col">
                        <b>1 - De modo geral, a população entende melhor os discursos
                            com conteúdo mais emocional do que racional.</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion1()) ?>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col">
                        <b>2 - As atividades relacionadas ao trabalho dos dirigentes do
                            Novo (em nível municipal, estadual e nacional) são plenamente compreendidas pelos
                            filiados do partido. </b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion2()) ?>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col">
                        <b> 3 - O modelo de gestão do Novo, em que os cargos de direção
                            são exercidos por voluntários, tem funcionado bem ao longo do tempo. </b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion3()) ?>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-12">
                        <b>4 - A estrutura organizacional do Novo, com seus diversos órgãos como Diretórios,
                            CEP, DAM e DAC tem atendido as necessidades do partido de forma satisfatória.
                            Responda
                            com sua percepção sobre cada órgão:</b>
                    </div>
                    <div class="col-md-4">
                        <b>Diretório Nacional</b> <br>
                        <?= $quiz->answer2ToString($quiz->getQuestion4a()) ?>
                    </div>
                    <div class="col-md-4">
                        <b>Diretório Estadual</b> <br>
                        <?= $quiz->answer2ToString($quiz->getQuestion4b()) ?>
                    </div>
                    <div class="col-md-4">
                        <b>Diretório Municipal</b> (se houver) <br>
                        <?= $quiz->answer2ToString($quiz->getQuestion4c()) ?>
                    </div>
                    <div class="col-md-4">
                        <b>CEP - Comissão de Ética Partidária</b> <br>
                        <?= $quiz->answer2ToString($quiz->getQuestion4d()) ?>
                    </div>
                    <div class="col-md-4">
                        <b>DAM - Departamento de Apoio ao Mandatário</b> <br>
                        <?= $quiz->answer2ToString($quiz->getQuestion4e()) ?>
                    </div>
                    <div class="col-md-4">
                        <b>DAC - Departamento de Apoio ao Candidato</b> <br>
                        <?= $quiz->answer2ToString($quiz->getQuestion4f()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>5 - As divergências e debates entre filiados, dirigentes e
                            mandatários do Novo ocorrem de forma produtiva e respeitosa. </b><br>
                        R: <?= $quiz->answerToString($quiz->getQuestion5()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>6 - Pode-se dizer que os filiados do Novo têm acesso pleno às
                            informações relevantes do partido através dos meios de comunicação existentes, a
                            saber, e-mails, redes sociais e o conteúdo disponível no Espaço Novo.</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion6()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>7 - O propósito do Novo, sua razão de existir, pode ser
                            sintetizada como a de melhorar a vida dos brasileiros de forma sustentável por
                            meio de uma transformação política baseada nos princípios da liberdade.</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion7()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>8 - O Novo pode fazer alianças ou coligações com outros
                            partidos, sem, necessariamente, abrir mão de seus valores e seus princípios.</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion8()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>9 - O Novo só poderá crescer se contar com uma estrutura
                            profissional condizente com suas aspirações como, por exemplo, dirigentes
                            partidários remunerados.</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion9()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>10 - Pode-se afirmar que o Novo tem como objetivo no longo
                            prazo ser reconhecido como um partido político capaz de realizar mudanças profundas na
                            política por meio de lideranças inspiradoras, capazes de promover a liberdade e o
                            protagonismo do cidadão. </b><br>
                        R: <?= $quiz->answerToString($quiz->getQuestion10()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>11 - A utilização do fundo partidário para manutenção do partido deve permanecer vetada, não
                            devendo ser pauta de discussão em nenhuma hipótese.</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion11()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>12 - De modo geral, os filiados do Novo têm a oportunidade
                            de
                            serem ouvidos por seus respectivos Diretórios Municipais e Estaduais pelos meios
                            disponíveis, como e-mail, grupos de WhatsApp, telefone e reuniões presenciais ou
                            remotas.</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion12()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>13 - A seleção e a formação de candidatos têm se mostrado
                            adequada e necessária para que o Novo garanta a qualidade de seus candidatos e
                            futuros mandatários. </b><br>
                        R: <?= $quiz->answerToString($quiz->getQuestion13()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <b>14 - Aos mandatários do Novo, deve ser permitida a candidatura a
                            outros cargos, mesmo que isso signifique a interrupção do mandato vigente, desde que
                            seja uma decisão conjunta dos diretórios partidários envolvidos.</b>
                    </div>
                    <div class="col-md-4">
                        <b>Executivo</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion14a()) ?>

                    </div>
                    <div class="col-md-4">
                        <b>Legislativo</b> <br>
                        R: <?= $quiz->answerToString($quiz->getQuestion14b()) ?>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <b>15 - Gostaria de deixar alguma crítica ou sugestão?</b> <br>
                        R: <?= $quiz->getObs() ?>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
