<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">Pedidos de Refiliação</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input class="form-control" id="name" name="name" type="text" placeholder="Nome">
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado(titulo)</label>
                            <select class="form-select" id="state" name="state"
                                    onchange="getCities(this.value)">
                                <option value="">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade(titulo)</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado(titulo)</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade(titulo)</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado(titulo)</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Cidade(titulo)</label>
                            <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                   disabled readonly>
                            <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col text-end m-t-45">
                    <button class="btn btn-danger" type="reset" onclick="resetTable()">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                </div>
            </div>
        </form>
        Exibindo <span id="partial"></span> de <span id="total"></span>
        <label>
            <div style="display: none" id="messageForm" class="alert" role="alert"></div>
        </label>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">UF</th>
                        <th class="text-center">Municipio</th>
                        <th class="text-center">Data Solicitação</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="loader" class="loader"></div>
        <div style="display: none" id="message" class="alert" role="alert"></div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/affiliated/reaffiliation.js?v=<?= time() ?>"></script>
<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FILIADOS_PEDIDOSDEREFILIACAO_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FILIADOS_PEDIDOSDEREFILIACAO_CRIACAO_EDICAO, false, true) ?>;
    $(document).ready(function () {
        <?php if ($user->getLevel() == 2): ?>
        getCities(<?= $user->getState()->getId() ?>);
        <?php endif; ?>
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
    });
</script>