<div class="row">
	<div class="col">
		<div class="card">
            <div class="card-header bg-gradient">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
                            <i class="fas fa-calendar-alt text-primary"></i>
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="title">Mensagens agendadas</h5>
                        <small class="text-muted">Mensagens agendadas para envio automático para interação com a inteligência artificial.</small>
                    </div>
                </div>
                <hr>
            </div>
			<div class="card-body">
				<form id="filter">
					<div class="row m-b-30">
						<div class="col-md-2">
							<label for="name">Nome</label>
							<input type="text" 
                                name="name" 
                                id="nameSchedulesFilter" 
                                class="form-control">
						</div>
						<div class="col-md-2">
							<label for="phone">Telefone</label>
							<input type="text" 
                                name="phone" 
                                id="phoneSchedulesFilter" 
                                class="form-control" 
                                data-mask="(99)99999-9999"
                                placeholder="(99)99999-9999">
						</div>
						<div class="col-md-2">
							<label for="collector">Cobrador</label>
                            <select name="collector" 
                                id="collectorSchedulesFilter" 
                                class="form-control">
                                <option value="">Todos</option>
                                <?php foreach ($collectors as $collector): ?>
                                    <option value="<?= $collector->getId() ?>"><?= $collector->getName() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
						<div class="col-md-2">
							<label for="type">Tipo</label>
							<select name="type" 
                                id="typeSchedulesFilter" 
                                class="form-control">
								<option value="">Todos</option>
								<option value="1">Cobrança</option>
								<option value="2">Lembrete</option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="status">Status</label>
							<select name="status" 
                                id="statusSchedulesFilter" 
                                class="form-control">
								<option value="">Todos</option>
								<option value="scheduled">Agendado</option>
								<option value="sent">Enviado</option>
								<option value="error">Erro</option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="date">Data Agendamento</label>
							<input type="date" 
                                name="date" 
                                id="dateSchedulesFilter" 
                                class="form-control">
						</div>
					</div>
					<div class="row">
                    <div class="col-auto">
						<span>Exibir </span>
					</div>
					<div class="col-auto">
						<select class="form-control form-select" id="limitSchedules"
						        onchange="getLimit(this.value, 'Schedules')">
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
					<div class="col-auto">
						<span> registros</span>
					</div>
						<div class="col-md-12 mt-auto text-end">
							<button class="btn btn-danger" 
                                type="reset" 
                                onclick="resetTable('Schedules')">
								<i class="fa fa-trash"></i> Limpar
							</button>
							<button class="btn btn-success" type="submit">
								<i class="fa fa-search"></i> Filtrar
							</button>
						</div>
                        
					</div>
				</form>
				<div class="row">
					<div class="col">
						<p>Exibindo de <span id="startSchedules"></span> a <span
								id="endSchedules"></span> de
							<span id="totalSchedules"></span> registros</p>
					</div>
				</div>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table class="table table-bordered table-striped" id="tableSchedules">
							<thead>
							<tr>
                                <th class="text-center">Status</th>
                                <th>Nome</th>
                                <th class="text-center">Transação</th>
								<th class="text-center">Telefone</th>
								<th class="text-center">Cobrador</th>
								<th class="text-center">Tipo</th>
								<th class="text-center">Data Agendamento</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<div class="spinner-border loaderSchedules" role="status">
							<span class="sr-only mx-auto">Loading...</span>
						</div>
					</div>
				</div>
				<div class="row text-end">
					<nav aria-label="...">
						<ul class="pagination justify-content-end pagination-primary"
						    id="paginationSchedules" style="top: auto">
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/affiliated/schedules.js?v=<?= time() ?>"></script>

<style>
    #tableSchedules {
        width: 100%;
        table-layout: fixed;
    }
    
    #tableSchedules th {
        width: 11%;  /* (100% - 23%) ÷ 7 */
    }
    
    #tableSchedules th:last-child {
        width: 23%;
    }
</style>