<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-4">
				<h5 class="title">Últimas solicitações de filiação</h5>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="name">Nome:</label>
						<input class="form-control" id="name" name="name" type="text" placeholder="Nome">
					</div>
				</div>
				<?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
					<div class="col-md-2">
						<div class="form-group">
							<label for="state">Estado:</label>
							<select class="form-select" id="state" name="state" onchange="getCities(this.value)">
								<option value="">Selecione</option>
								<?php foreach ($states as $state): ?>
									<option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="city">Cidade:</label>
							<select class="form-select" id="city" name="city" type="city">
								<option value="">Selecione</option>
							</select>
						</div>
					</div>
				<?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
					<div class="col-md-2">
						<div class="form-group">
							<label for="state">Estado:</label>
							<input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
							       disabled readonly>
							<input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="city">Cidade:</label>
							<select class="form-select" id="city" name="city" type="city">
								<option value="">Selecione</option>
							</select>
						</div>
					</div>
				<?php else: ?>
					<div class="col-md-2">
						<div class="form-group">
							<label for="state">Estado:</label>
							<input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
							       disabled readonly>
							<input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="state">Cidade:</label>
							<input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
							       disabled readonly>
							<input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
						</div>
					</div>
				<?php endif; ?>
				<div class="col-md-2">
					<div class="form-group">
						<label for="status">Status:</label>
						<select class="form-select" id="status" name="status" type="status">
							<option value="">Selecione</option>
							<option value="7">Filiado</option>
							<option value="8">Refiliado</option>
							<option value="4">Impugnação solicitada</option>
							<option value="1">Aguardando Pagamento Filiação</option>
							<option value="3">Aguardando Pagamento Refiliação</option>
							<option value="2">Período Impugnação Filiação</option>
							<option value="14">Período Impugnação Refiliação</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="type">Insenção:</label>
						<select class="form-select" id="type" name="type">
							<option value="">Selecione</option>
							<option value="1">Filiação Isenta</option>
							<option value="2">Filiação Não Isenta</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="paymentForm">Forma Pagamento:</label>
						<select class="form-select" id="paymentForm" name="paymentForm">
							<option value="">Selecione</option>
							<option value="2">Boleto</option>
							<option value="1">Cartão</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="plan">Plano:</label>
						<select class="form-select" id="plan" name="plan">
							<option value="">Selecione</option>
							<option value="1">Mensal</option>
							<option value="6">Semestral</option>
							<option value="12">Anual</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="order">Ordernar por:</label>
						<select class="form-select" id="order" name="order">
							<option value="tp.data_criacao" selected>Data Criação</option>
							<option value="tp.data_solicitacao_filiacao">Data Solicitação Filiação</option>
							<option value="tp.data_solicitacao_filiacao">Data Solicitação Refiliação</option>
							<option value="tp.data_filiacao">Data Filiação</option>
							<option value="tp.data_refiliacao">Data Refiliação</option>
							<option value="ta.forma_pagamento">Forma Pagamento</option>
							<option value="ta.periodicidade">Plano Pagamento</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="orderType">Por ordem:</label>
						<select class="form-select" id="orderType" name="orderType">
							<option value="">Selecione</option>
							<option value="ASC">Crescente</option>
							<option value="DESC" selected>Decrescente</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="dateFilter">Data:</label>
						<select class="form-select" id="dateFilter" name="dateFilter">
							<option value="">Selecione</option>
							<option value="1">Solicitacao</option>
							<option value="2">Filiacao</option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="dateFilterBegin">Inicia em:</label>
						<input class="form-control" type="text" id="dateFilterBegin" name="dateFilterBegin"
						       data-mask="99/99/9999">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="dateFilterEnd">Finaliza em:</label>
						<input class="form-control" type="text" id="dateFilterEnd" name="dateFilterEnd"
						       data-mask="99/99/9999">
					</div>
				</div>
				<div class="col text-end m-t-45">
					<button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
					<button class="btn btn-success" type="submit">Filtrar</button>
				</div>
			</div>
		</form>
	</div>
	<div class="card-body">
		Exibindo <span id="partial"></span> de <span id="total"></span>
		<label>
			<div style="display: none" id="messageForm" class="alert" role="alert"></div>
		</label>
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table id="table" class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>Nome</th>
						<th class="text-center">Titulo</th>
						<th class="text-center">Solicitação</th>
						<th class="text-center">Filiação</th>
						<th class="text-center">Tipo</th>
						<th class="text-center">Plano</th>
						<th class="text-center">UF</th>
						<th class="text-center">Municipio</th>
						<th class="text-center">Status</th>
						<th></th>
						<th></th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div id="loader" class="loader"></div>
		<div style="display: none" id="message" class="alert" role="alert"></div>
	</div>
</div>
<div class="container">
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<form id="eventForm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Descreva o motivo:</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body custom-scrollbar">
						<div class="alert alert-warning" role="alert">
							Atenção,</br>
							Para realizar esta ação, esteja alinhado com o Diretório do titulo e com a CEP!
						</div>
						<textarea class="form-control" id="reason" name="reason" rows="6" cols="50"></textarea>
						<input type="hidden" id="id" name="id" value="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-success">Confirmar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	const eventForm = document.getElementById('eventForm');
	const divMessageForm = document.getElementById('messageForm');

	eventForm.addEventListener('submit', e => {
		e.preventDefault();
		showLoading();
		let formData = formDataToJson('eventForm');
		fetch(`<?= BASEURL ?>api/filiados/impugnar/`, {
			method: 'POST',
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			response.json().then(json => {
				divMessageForm.innerHTML = json.message;
				divMessageForm.style.display = 'block';
				if (response.status === 201) {
					$('#myModal').modal('hide');
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					setTimeout(function () {
						window.location.href =
							"<?= BASEURL ?>filiados/ultimas-solicitacoes";
					}, 1900);
				}
			});
		});
	});
</script>

<script>
	var index = partial = state = city = status = 0;
	var total = 1;
	var name = type = paymentForm = plan = dateFilter = dateFilterBegin = dateFilterEnd = '';
	var order = 'tp.data_criacao';
	var orderType = 'DESC';

	const form = document.getElementById('filter');

	form.addEventListener('submit', e => {
		e.preventDefault();
		let formData = formDataToJson('filter');
		partial = index = 0;
		total = 1;
		name = formData.name;
		state = formData.state;
		city = formData.city;
		status = formData.status;
		type = formData.type;
		paymentForm = formData.paymentForm;
		plan = formData.plan;
		order = formData.order;
		orderType = formData.orderType;
		dateFilter = formData.dateFilter;
		dateFilterBegin = formData.dateFilterBegin;
		dateFilterEnd = formData.dateFilterEnd;
		$("#table tbody").empty();
		generateTable();
	})

	function resetTable() {
		index = partial = state = city = status = 0;
		total = 1;
		name = type = paymentForm = plan = dateFilter = dateFilterBegin = dateFilterEnd = '';
		order = 'tp.data_criacao';
		orderType = 'DESC';
		$("#table tbody").empty();
		generateTable();
	}

	function generateMembershipList(solicitations) {
		var button = '<button type="button" class="btn btn-success">Filiação Normal</button>';
		if (solicitations.exemption == 'Filiação Isenta') {
			button = '<button type="button" class="btn btn-info">Filiação Isenta</button>';
		}
		return `<tr>
                    <td><a href="<?= BASEURL ?>filiados/${solicitations.id}" target="_blank">${solicitations.name}
                        <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    <td class="text-center">${solicitations.title}</td>
                    <td class="text-center">${solicitations.solicitation}</td>
                    <td class="text-center">${solicitations.filiation}</td>
                    <td class="text-center">${solicitations.payment}</td>
                    <td class="text-center">${solicitations.plan}</td>
                    <td class="text-center">${solicitations.uf}</td>
                    <td class="text-center">${solicitations.city}</td>
                    <td class="text-center">${solicitations.status}</td>
                    <td class="text-center">${button}</td>
                    <td class="text-center"><button type="button" class="btn btn-danger" data-toggle="modal" onclick="setaDadosModal('${solicitations.id}')" data-target="#myModal"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> Impugnar</button></td> 
                </tr>`;
	}

	function setaDadosModal(valor) {
		document.getElementById('id').value = valor;
	}

	function generateTable() {
		if (total > partial) {
			$('#loader').show();
			fetch(`<?= BASEURL ?>api/filiados/solicitations/?index=${index}&name=${name}&state=${state}&city=${city}&status=${status}&type=${type}&paymentForm=${paymentForm}&plan=${plan}&order=${order}&orderType=${orderType}&dateFilter=${dateFilter}&dateFilterBegin=${dateFilterBegin}&dateFilterEnd=${dateFilterEnd} `, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					$('#loader').hide();
					total = json.total;
					partial = json.partial;
					let membershipList = json.message;
					let options = membershipList.map(generateMembershipList);
					$("#table tbody").append(options);
					$('#total').text(total);
					$('#partial').text(partial);
				});
			});
		}
	}

	$(document).ready(function () {
		<?php if ($user->getLevel() == 2): ?>
		getCities(<?= $user->getState()->getId() ?>);
		<?php endif; ?>
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});
</script>