<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title"><?= $title ?></h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
            <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control" id="name" name="name" type="text" placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-select" id="status" name="status">
                                    <option value="" selected>Todos</option>
                                    <option value="1">Aguardando Pgto</option>
                                    <option value="0">Cadastrado (Não filiado)</option>
                                    <option value="9">Desfiliado</option>
                                    <option value="13">Filiação Suspensa por Pendência Titulo</option>
                                    <option value="7">Filiado</option>
                                    <option value="8">Refiliado</option>
                                    <option value="6">Impugnado</option>
                                    <option value="2">Período Impugnação</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado Título</label>
                                <select class="form-select" id="state" name="state" onchange="getCities(this.value)">
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">Cidade Título</label>
                                <select class="form-select" id="city" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado Título</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                    disabled readonly>
                                <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">Cidade Título</label>
                                <select class="form-select" id="city" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <?php else: ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado Título</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                    disabled readonly>
                                <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">Cidade Título</label>
                                <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                    disabled readonly>
                                <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                            </div>
                        </div>
                        <?php endif; ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state2">Estado Residência</label>
                                <select class="form-select" id="state2" name="state2" onchange="getCitiesAdress(this.value)">
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city2">Cidade Residência</label>
                                <select class="form-select" id="city2" name="city2" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="typeDate">Data</label>
                                <select class="form-select" id="typeDate" name="typeDate">
                                    <option value="data_criacao">Data Cadastro</option>
                                    <option value="data_filiacao" selected>Data Filiação</option>
                                    <option value="data_refiliacao">Data Refiliação</option>
                                    <option value="data_desfiliacao">Data Desfiliação</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="begin">Inicia em</label>
                                <input class="form-control" id="begin" name="begin" type="text"
                                    placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="end">Finaliza em</label>
                                <input class="form-control" id="end" name="end" type="text"
                                    placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ordination">Agrupar por:</label>
                                <select class="form-select" id="agroup" name="agroup">
                                    <option value="nome" selected>Nome (ordem alfabética)</option>
                                    <option value="data_filiacao">Data Filiação</option>
                                    <option value="data_refiliacao">Data Refiliação</option>
                                    <option value="data_desfiliacao">Data Desfiliação</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ordination">Por ordem:</label>
                                <select class="form-select" id="ordination" name="ordination">
                                    <option value="ASC" selected>Mais antigo (A -Z)</option>
                                    <option value="DESC">Mais recente (Z - A)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <?php if($user->getExportAccess() == 1): ?>
                                <button type="reset" onclick="csv()" class="btn btn-info">Exportar <i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                            <?php endif; ?>
                            <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function csv() {
        let formData = formDataToJson('filter');
        partial = 0;
        index = 0;
        total = 1;
        state = formData.state;
        city = formData.city;
        state2 = formData.state2;
        city2 = formData.city2;
        status = formData.status;
        ordination = formData.ordination;
        typeDate = formData.typeDate;
        begin = formData.begin;
        end = formData.end;
        agroup = formData.agroup;
        name = formData.name;
        affiliatedId = formData.affiliatedId;
        window.open(`<?= BASEURL ?>api/filiados/exportCsv/?state=${state}&city=${city}&state2=${state2}&city2=${city2}&status=${status}&agroup=${agroup}&ordination=${ordination}&name=${name}&typeDate=${typeDate}&begin=${begin}&end=${end}`,'_blank');
    }
</script>