<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">Quem Indicou</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input class="form-control" id="name" name="name" type="text">
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado</label>
                            <select class="form-select" id="state" name="state"
                                    onchange="getCities(this.value)">
                                <option value="">UF</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getSigla() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="city">Cidade</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Cidade</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="city">Cidade</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Cidade</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado</label>
                            <input type="text" class="form-control"
                                   value="<?= $user->getState()->getSigla() ?>" disabled>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="state">Cidade</label>
                            <input type="text" class="form-control"
                                   value="<?= $user->getCity()->getCidade() ?>" disabled>
                            <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col text-end m-t-45">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FILIADOS_QUEMINDICOU_EXPORTACAO)): ?>
                        <button id="export" type="button" onclick="csv()" class="btn btn-info">Exportar</button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                    <button class="btn btn-success" type="submit">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        Exibindo <span id="partial"></span> de <span id="total"></span>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr class="text-center">
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Quem Indicou</th>
                        <th>Origem</th>
                        <th>Evento</th>
                        <th>Municipio</th>
                        <th>UF</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="loader" class="loader"></div>
        <div style="display: none" id="message" class="alert" role="alert"></div>
    </div>
</div>

<script>
    var index = 0;
    var partial = 0;
    var total = 1;
    var state = 0;
    var city = 0;
    var name = '';

    const form = document.getElementById('filter');
    form.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        partial = 0;
        index = 0;
        total = 1;
        state = formData.state;
        city = formData.city;
        name = formData.name;
        $("#table tbody").empty();
        generateTable();
    })

    function resetTable() {
        index = 0;
        partial = 0;
        total = 1;
        state = 0;
        city = 0;
        name = '';
        $("#table tbody").empty();
        generateTable();
    }

    function generateMembershipList(indicator) {
        return `<tr class="text-center">
                    <td>${indicator.created_at}</td>                                                                   
                    <td><a href="<?= BASEURL ?>filiados/${indicator.id}" target="_blank">${indicator.name} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    <td><a href="<?= BASEURL ?>filiados/${indicator.indicatorId}" target="_blank">${indicator.indicator} <i class="fa fa-external-link" aria-hidden="true"></i></a></td> 
                    <td>${indicator.origin}</td>
                    <td>${indicator.event}</td>                   
                    <td>${indicator.city}</td>
                    <td>${indicator.uf}</td>
                </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            $('#loader').show();
            fetch(`<?= BASEURL ?>api/filiados/quem-indicou/?index=${index}&name=${name}&state=${state}&city=${city}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    $('#loader').hide();
                    total = json.total;
                    partial = json.partial;
                    let membershipList = json.message;
                    let options = membershipList.map(generateMembershipList);
                    $("#table tbody").append(options);
                    $('#total').text(total);
                    $('#partial').text(partial);
                });
            });
        }
    }

    $(document).ready(function () {
        <?php if ($user->getLevel() == 2): ?>
        getCities(<?= $user->getState()->getId() ?>);
        <?php endif; ?>
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
    });

    function csv() {
        let formData = formDataToJson('filter');
        state = formData.state;
        city = formData.city;
        name = formData.name;
        window.open(`<?= BASEURL ?>api/filiados/exporta-quem-indicou/?state=${state}&city=${city}&name=${name}`, '_blank');
    }
</script>