<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Categorias</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_CATEGORIAS_CRIACAO_EDICAO)): ?>
                    <div class="col-md-12 text-end m-b-30">
                        <button class="btn btn-success text-end" onclick="openModal(0)"><i class="fa fa-plus"></i>
                            Adicionar Categoria
                        </button>
                    </div>
                <?php endif; ?>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="categoryTable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Responsável</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div style="display: none" id="message" class="alert" role="alert"></div>

            </div>
        </div>
    </div>
</div>

<!--Modal Cadastro-->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form id="form">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="categoryId" id="categoryId">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="category">Nome</label>
                                <input id="category" name="category" placeholder="Categoria" type="text"
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="resposible">Responsável</label>
                                <select id="responsible" name="responsible" class="form-control" required>
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal PopUp-->
<div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle">Remover Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="confirmation">Deseja remover esta categoria?</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success text-end" type="button" onclick="delete()">Sim</button>
                    <button class="btn btn-info" data-bs-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_CATEGORIAS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_CATEGORIAS_CRIACAO_EDICAO, false, true) ?>;

    const formAdd = document.getElementById('form');
    const confirmationForm = document.getElementById('confirmationForm');
    const divMessageForm = document.getElementById('messageForm');
    const divMessage = document.getElementById('message');
    let categories;

    function openModal(id) {
        formAdd.reset();
        $("#categoryId").val(id);
        $("#categoryModal").modal('show');

        if (id > 0) {
            for (var i = 0; i < categories.length; i++) {
                if (categories[i].id === id) {
                    $("#category").val(categories[i].name);
                    $("#responsible").val(categories[i].responsibleId);
                }
            }
        }
    }

    function openPopUp(id) {
        $("#popUp").modal('show');
    }

    function getCategories() {
        showLoading();
        fetch(`<?= BASEURL ?>api/ouvidoria/categorias/`, {
            method: 'GET',
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                categories = json.message;
                let categoriesHtml = categories.map(generateTableBody);
                $("#categoryTable tbody").empty();
                $("#categoryTable tbody").append(categoriesHtml);
            });
        });
    }

    function generateTableBody(json) {
        let action = '';
        if (canUpdate) action = ` <a onclick="openModal(${json.id})" title="Editar ${json.name}"><i class="fa fa-pencil text-info"></i></a> `;
        if (canDelete) action += ` <a onclick="remove(${json.id})" title="Remover ${json.name}"><i class="fa fa-times text-danger" ></i></a> `;
        return `
            <tr>
                <td>${json.name}</td>
                <td class="text-center">${json.responsible}</td>
                <td class="text-center">${action}</td>
            </tr>
        `;
    }

    formAdd.addEventListener('submit', e => {
        $("#save").addClass('disabled');
        e.preventDefault();
        showLoading();
        let method = 'POST';
        let formData = formDataToJson('form');
        if (formData.categoryId > 0) {
            method = 'PUT';
        }
        fetch(`<?= BASEURL ?>api/ouvidoria/categorias/`, {
            method: method,
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-success");
            divMessageForm.classList.remove('alert-danger');
            $("#save").removeClass('disabled');
            response.json().then(json => {
                divMessageForm.textContent = json.message;
                divMessageForm.style.display = 'block';
                if (response.status === 201) {
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    formAdd.reset();
                    // total, index = 0;
                    $("#categoryTable tbody").empty();
                    getCategories();
                    $("#categoryModal").modal('hide');
                }
            });
        });
    });

    function remove(id) {
        showLoading();
        fetch(`<?= BASEURL ?>api/ouvidoria/categorias/` + id, {
            method: 'DELETE',
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            closeLoading();
            $("#popUp").modal('hide');
            response.json().then(json => {
                divMessage.classList.add("alert-success");
                divMessage.classList.remove("alert-danger");
                divMessage.style.display = 'block';
                divMessage.textContent = json.message;
                getCategories();
            });
        });
    }

    function getUsers() {
        fetch(`<?= BASEURL ?>api/ouvidoria/categorias/mostra-usuarios/`, {
            method: 'GET',
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        }).then(response => {
            response.json().then(json => {
                let users = json.message;
                let usersHtml = users.map(generateSelect);
                $("#responsible").append(usersHtml);
            });
        });
    }

    function generateSelect(json) {
        return `
            <option value="${json.id}">${json.name}</option>
        `;
    }

    $(document).ready(function () {
        getCategories();
        getUsers();
    });
</script>