<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Respostas Frequentes</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::OUVIDORIA_RESPOSTASFREQUENTES_CRIACAO_EDICAO)): ?>
                    <div class="col-md-12 text-end m-b-30">
                        <button class="btn btn-success text-end" onclick="openModal(0)">
                            <i class="fa fa-plus"></i> Adicionar Resposta
                        </button>
                    </div>
                <?php endif; ?>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table class="table table-bordered table-striped" id="answerTabel">
                            <thead>
                            <tr>
                                <th>Resposta</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div style="display: none" id="message" class="alert" role="alert"></div>
            </div>
        </div>
    </div>
</div>

<!--Modal Cadastro-->
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Resposta Frequente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form id="form">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" id="answerId" name="answerId">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="answer">Resposta</label>
                                <textarea id="answer" name="answer" placeholder="Resposta" class="form-control"
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="display: none" class="alert" id="messageForm" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="save">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal PopUp-->
<div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle">Remover Resposta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="confirmation">Deseja remover a resposta?</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success text-end" type="button" onclick="remove()">Sim</button>
                    <button class="btn btn-info" data-bs-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const answerForm = document.getElementById('form');
    const divMessageForm = document.getElementById('messageForm');
    const divMessage = document.getElementById('message');
    let answers;

    function openModal(id) {
        answerForm.reset();
        $("#answerModal").modal('show');
        $("#answerId").val(id);

        if (id > 0) {
            for (var i = 0; i < answers.length; i++) {
                if (answers[i].id === id) {
                    $("#answer").val(answers[i].answer);
                }
            }
        }
    }

    function openPopUp(id) {
        $("#popUp").modal('show');
    }

    answerForm.addEventListener('submit', e => {
        $("save").addClass('disabled');
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('form');
        let method = 'POST';
        if (formData.answerId > 0) {
            method = 'PUT';
        }
        fetch(`<?= BASEURL ?>api/ouvidoria/respostas/`, {
            method: method,
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-success");
            divMessageForm.classList.remove('alert-danger');
            $("#save").removeClass('disabled');
            response.json().then(json => {
                divMessageForm.textContent = json.message;
                divMessageForm.style.display = 'block';
                if (response.status === 201) {
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    answerForm.reset();
                    //total, index = 0;
                    $("#answerTabel tbody").empty();
                    getAnswers();
                    $("#answerModal").modal('hide');
                }
            });
        });
    });

    function getAnswers() {
        showLoading();
        fetch(`<?= BASEURL ?>api/ouvidoria/respostas/`, {
            method: 'GET',
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                answers = json.message;
                let answersHtml = answers.map(generateTableBody);
                $("#answerTabel tbody").empty();
                $("#answerTabel tbody").append(answersHtml);
            });
        });
    }

    function generateTableBody(json) {
        let action = '';
        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::OUVIDORIA_RESPOSTASFREQUENTES_CRIACAO_EDICAO)): ?>
        action +=
            ` <a onclick="openModal(${json.id})" title="Editar Resposta ${json.id}"><i class="fa fa-pencil text-info"></i></a> `;
        <?php endif; ?>
        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::OUVIDORIA_RESPOSTASFREQUENTES_REMOCAO)): ?>
        action +=
            ` <a onclick="remove(${json.id})" title="Remover Resposta ${json.id}"><i class="fa fa-times text-danger"></i></a> `;
        <?php endif; ?>
        return `
            <tr>
                <td>${json.answer}</td>
                <td class="text-center">${action}</td>
            </tr>
        `;

    }

    function remove(id) {
        showLoading();
        fetch(`<?= BASEURL ?>api/ouvidoria/respostas/` + id, {
            method: 'DELETE',
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            closeLoading();
            $("#popUp").modal('hide');
            response.json().then(json => {
                getAnswers();
                divMessage.classList.add("alert-success");
                divMessage.classList.remove("alert-danger");
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
            })
        })
    }

    $(document).ready(function () {
        getAnswers();
    });
</script>