<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Solicitações</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="subject">Assunto</label>
								<select id="subject" name="subject" class="form-control">
									<option value="">Assunto</option>
									<?php foreach ($subjects as $subject): ?>
										<option value="<?= $subject->getId() ?>"><?= $subject->getName() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="destiny">Destino</label>
								<select id="destiny" name="destiny" class="form-control">
									<option value="">Destino</option>
									<?php foreach ($categories as $categorie): ?>
										<option value="<?= $categorie->getId() ?>"><?= $categorie->getName() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="status">Status</label>
								<select id="status" name="status" class="form-control">
									<option value="0">Aberto</option>
									<option value="1">Respondido</option>
									<option value="-1">Todos</option>
								</select>
							</div>
						</div>
						<div class="col text-end m-t-45">
							<button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
							<button class="btn btn-success" type="submit">Filtrar</button>
						</div>
					</div>
				</form>
				<p>Exibindo <span id="partial"></span> de <span id="total"></span></p>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table class="table table-bordered table-striped" id="requestsTable">
							<thead>
							<tr>
								<th class="text-center">Id</th>
								<th class="text-center">Data</th>
								<th class="text-center">Requerente</th>
								<th class="text-center">Destino</th>
								<th class="text-center">Manifestação</th>
								<th class="text-center">Status</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div style="display: none" id="message" class="alert" role="alert"></div>

			</div>
		</div>
	</div>
</div>

<script>

	var index = partial = status = destiny = subject = 0;
	var total = 1;

	const form = document.getElementById('filter');

	form.addEventListener('submit', e => {
		e.preventDefault();
		let formData = formDataToJson('filter');
		partial = 0;
		index = 0;
		total = 1;
		status = formData.status;
		destiny = formData.destiny;
		subject = formData.subject;
		$("#requestsTable tbody").empty();
		generateTable();
	})


	function resetTable() {
		index = partial = status = destiny = subject = 0;
		total = 1;
		$("#requestsTable tbody").empty();
		generateTable();
	}


	function generateRequestsTable(requests) {
		let anonimous = 'Anônimo';
		let status = 'Aberto';
		if (requests.anonymous == 0) anonimous = requests.name;
		if (requests.status == 1) status = 'Respondido';
		return `<tr class='middle'>
                    <td class="text-center">${requests.id}</td>
                    <td class="text-center">${requests.date}</td>
                    <td class="text-center"><a href="<?= BASEURL?>ouvidoria/solicitacoes/${requests.id}">${anonimous}</a></td>
                    <td class="text-center">${requests.destiny}</td>
                    <td class="text-center">${requests.ombudsmanSubject}</td>
                    <td class="text-center">${status}</td>
                </tr>`;
	}

	function generateTable() {
		if (total > partial) {
			$('#loader').show();
			fetch(`<?= BASEURL ?>api/ouvidoria/solicitacoes/?index=${index}&status=${status}&destiny=${destiny}&subject=${subject}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					$('#loader').hide();
					$('#total').text(json.total);
					$('#partial').text(json.partial);
					total = json.total;
					partial = json.partial;
					let options = json.message.map(generateRequestsTable);
					$("#requestsTable tbody").append(options);
				});
			});
		}
	}

	$(document).ready(function () {
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});
</script>