<div class="row">
    <div class="card">
        <div class="card-header">
            <h5 class="title">Solicitações</h5>
        </div>

        <div class="row card-body mt-3">
            <div class="col">

                <?php if ($user == $ombudsman->getDestiny()->getResponsible() && $ombudsman->getStatus() == 0): ?>
                    <form id="redirect">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select id="destiny" name="destiny" class="form-select">
                                        <option value="">Destino</option>
                                        <?php foreach ($categories as $categorie): ?>
                                            <option <?= $categorie->getId() == $ombudsman->getDestiny()->getId() ? 'selected' : '' ?>
                                                    value="<?= $categorie->getId() ?>"><?= $categorie->getName() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <button class="btn btn-success" type="submit">Redirecionar</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                <?php endif; ?>

                <div class="row">
                    <div class="col">
                        <b>Requerente:</b>
                        <?= !$ombudsman->isAnonymous() ? $ombudsman->getRequester()->getName() : 'Anônimo' ?>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <b>Destino:</b> <?= $ombudsman->getDestiny()->getName() ?>
                    </div>
                    <div class="col-md-4">
                        <b>Manifestação:</b> <?= $ombudsman->getOmbudsmanSubject()->getName() ?>
                    </div>
                    <?php if ($ombudsman->getAttachment() != ''): ?>
                        <div class="col-md-4">
                            <a class="btn btn-sm btn-success my-auto px-4" href="<?= $ombudsman->getAttachment() ?>"
                               target="_blank">Anexo</a>
                        </div>
                    <?php endif; ?>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <b>Descrição:</b> <?= $ombudsman->getDescription() ?>
                    </div>
                </div>
                <br>

                <?php foreach ($ombudsmanResponses as $ombudsmanResponse): ?>
                    <div class="row">
                        <div class="col">
                            <hr>
                            <?php if ($ombudsmanResponse->getUserAdmin()): ?>
                                <b>Resposta
                                    (<?= "{$ombudsmanResponse->getUserAdmin()->getName()} {$ombudsmanResponse->getCreated()->format('d/m/Y H:i')}" ?>
                                    )</b>
                            <?php else: ?>
                                <b>Usuário
                                    (<?= "{$ombudsmanResponse->getCreated()->format('d/m/Y H:i')}" ?>
                                    )</b>
                            <?php endif; ?>
                            <br>
                            <?= nl2br($ombudsmanResponse->getAnswer()) ?>
                        </div>
                    </div>
                <?php endforeach; ?>

                <?php if ($user == $ombudsman->getDestiny()->getResponsible() && $ombudsman->getStatus() == 0): ?>
                    <br>
                    <hr>
                    <form id="form">
                        <div class="row">
                            <div class="col">
                                <label for="answer">Posicionamento frente a Solicitação:</label>
                                <textarea name="answer" id="answer" rows="7" class="w-100"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <input type="hidden" name="idOmbudsman" value="<?= $ombudsman->getId() ?>">
                        </div>
                        <div class="row pb-3">
                            <div class="col text-end mt-3">
                                <button type="submit" class="btn btn-success">Responder</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col">
                            <div style="display: none" class="mt-2 alert alert-danger" id="divMessageForm">Erro</div>
                        </div>
                    </div>

                    <script>
                        const formAdd = document.getElementById('form');
                        const divMessageForm = document.getElementById('divMessageForm');
                        const formRedirect = document.getElementById('redirect');
                        formRedirect.addEventListener('submit', e => {
                            e.preventDefault();
                            showLoading();
                            let method = 'PUT';
                            let formData = formDataToJson('redirect');
                            fetch("<?= BASEURL ?>api/ouvidoria/redirecionar/<?= $ombudsman->getId() ?>", {
                                method: method,
                                credentials: 'same-origin',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(formData)
                            }).then(response => {
                                closeLoading();
                                divMessageForm.classList.add("alert-danger");
                                divMessageForm.classList.remove("alert-success");
                                response.json().then(json => {
                                    divMessageForm.textContent = json.message;
                                    divMessageForm.style.display = 'block';
                                    if (response.status === 200) {
                                        divMessageForm.classList.add("alert-success");
                                        divMessageForm.classList.remove("alert-danger");
                                        formRedirect.reset();
                                        setTimeout(function () {
                                            window.location.href = "<?= BASEURL ?>ouvidoria/solicitacoes";
                                        }, 1000);
                                    }
                                });
                            });
                        });

                        formAdd.addEventListener('submit', e => {
                            e.preventDefault();
                            showLoading();
                            let method = 'POST';
                            let formData = formDataToJson('form');
                            fetch("<?= BASEURL ?>ouvidoria/resposta", {
                                method: method,
                                credentials: 'same-origin',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(formData)
                            }).then(response => {
                                closeLoading();
                                divMessageForm.classList.add("alert-danger");
                                divMessageForm.classList.remove("alert-success");
                                $('#save').removeClass('disabled');
                                response.json().then(json => {
                                    divMessageForm.textContent = json.message;
                                    divMessageForm.style.display = 'block';
                                    if (response.status === 201) {
                                        divMessageForm.classList.add("alert-success");
                                        divMessageForm.classList.remove("alert-danger");
                                        formAdd.reset();
                                        setTimeout(function () {
                                            window.location.href = "<?= BASEURL ?>ouvidoria/solicitacoes";
                                        }, 2000);
                                    }
                                });
                            });
                        });

                    </script>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
