
<!-- Modal de Exclusão -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Excluir <span id="elementDelete"></span></h5>
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>

			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col text-center my-4">
						<i class="fa fa-exclamation-triangle text-danger fa-4x mx-4"></i>
					</div>
				</div>
				<div class="row">
					<div class="col f-14 text-center">
						<h5 class="title">Você tem certeza que deseja fazer isso?</h5>
						Sua ação será permanente e você não poderá recuperar os dados excluídos!
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col text-end">
						<a class="btn btn-danger text-white" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
						<a class="btn btn-success text-white" id="confirmDelete">Confirmar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>
</div>
</div>
</div>

<footer class="footer">
	<div class="container-fluid text-center">
		©
		<script>
			document.write(new Date().getFullYear());</script>
		,
		Desenvolvido por <a href="https://www.lifecode.dev/" class="text-yellow" target="_blank">Life Code</a>
	</div>
</footer>
</body>
<script src="<?= BASEURL ?>assets/js/bootstrap/popper.min.js"></script>
<script src="<?= BASEURL ?>assets/js/bootstrap/bootstrap.min.js"></script>
<script src="<?= BASEURL ?>assets/js/notify/bootstrap-notify.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.mask.js"></script>
<script src="<?= BASEURL ?>assets/functions/functions.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/tooltip-init.js"></script>
<?php if (\App\Helpers\Session::get('errorMsg')): ?>
	<script>
		showNotify('danger', '<?= \App\Helpers\Session::get('errorMsg') ?>', 3000);
	</script>
	<?php \App\Helpers\Session::forgot('errorMsg'); ?>
<?php endif; ?>
</html>
