<?php

use App\Helpers\Validator;
use App\Models\Entities\SystemFeatures;

?>
<!DOCTYPE html>
<html lang="pt-br" style="overflow-y: scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg" type="image/x-icon">
    <link rel="shortcut icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg" type="image/x-icon">
    <title>Admin | <?= $title ?? 'NOVO' ?></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/icofont.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/themify.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/animate.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/style.css">
    <link id="color" rel="stylesheet" href="<?= BASEURL ?>assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/tour.css">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/all.css">
    <link rel="stylesheet" type="text/css" href="<?= BASEURL ?>assets/css/newStyle.css?v=<?= time() ?>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
          integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
          crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>
<!-- Loader ends-->

<!-- page-wrapper Start -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div class="page-main-header">
        <div class="main-header-right row m-0">
            <div class="main-header-left">
                <div class="logo-wrapper" style="margin: auto">
                    <a href="<?= BASEURL ?>">
                        <img height="50px" src="<?= BASEURL ?>assets/img/novo-admin-azul.svg">
                    </a>
                </div>
                <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="align-center"
                                               id="sidebar-toggle"></i></div>
            </div>
            <div class="left-menu-header col">
                <ul>
                    <li>
                        <span class="text-primary"><?= $user->getName() ?></span>
                    </li>
                </ul>
            </div>
            <div class="nav-right col pull-right right-menu p-0">
                <ul class="nav-menus">
                    <li class="add-to-bookmark">
                        <a href="<?= BASEURL ?>logout"><i class="bookmark-icon" data-feather="log-out"></i>Sair</a>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
        </div>
    </div>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper sidebar-icon">
        <!-- Page Sidebar Start-->
        <header class="main-nav">
            <nav>
                <div class="main-navbar mt-3">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="mainnav">
                        <ul class="nav-menu custom-scrollbar">

                            <!-- Dashboard -->
                            <li>
                                <a class="nav-link link-nav <?= $section == 'home' ? 'active-dash' : '' ?>"
                                   href="<?= BASEURL ?>"
                                   aria-label="Dashboard">
                                    <i class="fa fa-home p-2"></i>
                                    <span> Início</span>
                                </a>
                            </li>

                            <?php if (ENV != 'prod'): ?>
                                <li>
                                    <a href="<?= BASEURL ?>agenda"
                                       class="<?= $section == 'schedule' ? ' active-dash' : '' ?> nav-link link-nav">
                                        <i class="fa fa-calendar-alt p-2"></i>
                                        <span class="ms-2">Agenda</span>
                                    </a>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('administrativo')): ?>

                                <!-- Administrativo -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'administrative' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-folder p-2 p-2"></i><span> Administrativo</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'administrative' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::ADMINISTRATIVO_ORCADOXREALIZADO_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>financeiro/orcamentos-detalhes"
                                                       class="<?= $section == 'budgetsDetails' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-dollar p-2"></i>
                                                        <span class="ms-2">Orçado x Realizado</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('cadastros')): ?>
                                <!-- Cadastros -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'records' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-dollar p-2"></i><span>Cadastros</span>
                                    </a>
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'records' ? 'block' : 'none' ?>;">
                                        <div class="container">
                                            <div class="row">
                                                <ul>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_ACESSOSADMIN_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>cadastros/usuarios"
                                                               class="<?= $section == 'users' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-user-shield p-2"></i>
                                                                <span class="ms-2">Acessos Admin</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_COMUNICACAO_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>area-diretorio/comunicado/comunicacao/"
                                                               class="<?= $section == 'communication' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-comments p-2"></i>
                                                                <span class="ms-2">Comunicação</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_CONTRATOS_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>financeiro/contratos"
                                                               class="<?= $section == 'contracts' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-file-signature p-2"></i>
                                                                <span class="ms-2">Contratos</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_DOCUMENTOSLOCAIS_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>area-diretorio/documentos-locais/"
                                                               class="<?= $section == 'localDocuments' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-folder p-2"></i>
                                                                <span class="ms-2">Documentos Locais</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_FORNECEDORES_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>cadastros/fornecedores"
                                                               class="<?= $section == 'supplier' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-truck p-2"></i>
                                                                <span class="ms-2">Fornecedores</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_FUNCIONALIDADESDOSISTEMA_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>cadastros/funcionalidades-sistema"
                                                               class="<?= $section == 'systemFeatures' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-cogs p-2"></i>
                                                                <span class="ms-2">Funcionalidades do sistema</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_GESTAODECOMUNICADOS_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>cadastros/gestao-comunicados"
                                                               class="<?= $section == 'managementCommunicated' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-envelope p-2"></i>
                                                                <span class="ms-2">Gestão de Comunicados</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_MESORREGIOES_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>consulta/mesorregioes"
                                                               class="<?= $section == 'mesoregions' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-map p-2"></i>
                                                                <span class="ms-2">Mesorregiões</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                </ul>

                                                <!-- Submenu -->
                                                <div class="col mega-box">
                                                    <div class="link-section">
                                                        <div class="submenu-title">
                                                            <h5 class="menu-item">Orçamentos</h5>
                                                            <div class="according-menu"><i
                                                                        class="fa fa-angle-<?= $subMenu == 'records' && $subSectionActive == 'budgets' ? 'down' : 'right' ?>"></i>
                                                            </div>
                                                        </div>

                                                        <!-- Submenu -->
                                                        <div class="submenu-content opensubmegamenu"
                                                             style="display: <?= $subMenu == 'records' && $subSectionActive == 'budgets' ? 'block' : 'none' ?>">
                                                            <ul>
                                                                <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_ORCAMENTOS_AREA_SUB_AREA_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/gerenciamento"
                                                                           class="<?= $subSection == 'management' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-sitemap p-2"></i>
                                                                            <span class="ms-2">Área/Sub-área</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_ORCAMENTOS_CENTRODECUSTO_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/centro-de-custo"
                                                                           class="<?= $subSection == 'costCenter' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-calculator p-2"></i>
                                                                            <span class="ms-2">Centro de Custo</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_ORCAMENTOS_ORCAMENTOANUAL_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/orcamentos"
                                                                           class="<?= $subSection == 'budgets' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-calendar p-2"></i>
                                                                            <span class="ms-2">Orçamento Anual</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Submenu -->
                                                <ul>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_PLANODECONTAS_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>financeiro/plano-de-contas"
                                                               class="<?= $section == 'chartOfAccounts' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-list p-2"></i>
                                                                <span class="ms-2">Plano de Contas</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_PERMISSOES_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>cadastros/permissoes"
                                                               class="<?= $section == 'permissions' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-lock p-2"></i>
                                                                <span class="ms-2">Permissões</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_CATEGORIAS_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>ouvidoria/categorias"
                                                               class="<?= $section == 'category' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-users p-2"></i>
                                                                <span class="ms-2">Ouvidoria Responsáveis</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_SETORES_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>cadastros/setores"
                                                               class="<?= $section == 'sectors' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-building p-2"></i>
                                                                <span class="ms-2">Setores</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::CADASTROS_TIPOSDEUSUARIOS_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>cadastros/tipos-usuario"
                                                               class="<?= $section == 'usersType' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-users p-2"></i>
                                                                <span class="ms-2">Tipos de usuários
                                                        </span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('consultas')): ?>
                                <!-- Consultas -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'search' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-search p-2 p-2"></i><span> Consultas</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'search' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::CONSULTAS_ADIMP_INADIMP_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>financeiro/adimplencia"
                                                       class="<?= $section == 'defaulters' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-check-circle p-2"></i>
                                                        <span class="ms-2">Adimp/Inadimp</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::CONSULTAS_CANDIDATOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>consulta/candidatos"
                                                       class="<?= $section == 'candidates' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user p-2"></i>
                                                        <span class="ms-2">Candidatos</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::CONSULTAS_DIRETORIOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>cadastros/diretorios"
                                                       class="<?= $section == 'directories' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-building p-2"></i>
                                                        <span class="ms-2">Diretórios</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::CONSULTAS_DESFILIACOES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>consulta/desfiliacoes"
                                                       class="<?= $section == 'disaffiliation' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-minus p-2"></i>
                                                        <span class="ms-2">Desfiliações</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::CONSULTAS_GESTAODECADASTROS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>filiados"
                                                       class="<?= $section == 'managementRecords' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-users-gear p-2"></i>
                                                        <span class="ms-2">Consulta Filiados</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::CONSULTAS_ULTIMASFILIACOES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>filiados/ultimas-filiacoes"
                                                       class="<?= $section == 'latestAffiliations' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-plus p-2"></i>
                                                        <span class="ms-2">Últimas Filiações</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('dam')): ?>
                                <!-- DAM -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'dam' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-user-tie p-2 p-2"></i><span> DAM</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'dam' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::DAM_DOSSIE_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>dam/dossie"
                                                       class="<?= $section == 'dossie' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-file-lines p-2"></i>
                                                        <span class="ms-2">Dossiê</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DAM_GABINETES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>dam/gabinetes"
                                                       class="<?= $section == 'cabinets' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-building-user p-2"></i>
                                                        <span class="ms-2">Gabinetes</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DAM_INTERACOES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>dam/interacoes"
                                                       class="<?= $section == 'interactions' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-handshake p-2"></i>
                                                        <span class="ms-2">Interações</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DAM_PROJETOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>dam/projetos"
                                                       class="<?= $section == 'projects' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-tasks p-2"></i>
                                                        <span class="ms-2">Projetos</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DAM_TAGS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>dam/tags"
                                                       class="<?= $section == 'tags' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-tags p-2"></i>
                                                        <span class="ms-2">Tags</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('diretorios')): ?>
                                <!-- Diretórios -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'directories' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-building p-2 p-2"></i><span> Diretórios</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'directories' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::DIRETORIOS_CONTASDEDIRETORIOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>financeiro/contas-diretorios"
                                                       class="<?= $section == 'directoryAccounts' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-building-columns p-2"></i>
                                                        <span class="ms-2">Contas de Diretórios</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DIRETORIOS_CONVENCOES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>consulta/convencoes"
                                                       class="<?= $section == 'conventions' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-handshake p-2"></i>
                                                        <span class="ms-2">Convenções</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DIRETORIOS_EVENTOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>eventos"
                                                       class="<?= $section == 'events' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-calendar-days p-2"></i>
                                                        <span class="ms-2">Eventos</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DIRETORIOS_INDICACAODEDIRETORIOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>indicacoes"
                                                       class="<?= $section == 'leadersIndications' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-check p-2"></i>
                                                        <span class="ms-2">Indicação de Dirigentes</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::CONSULTAS_DIRIGENTES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>consulta/dirigentes"
                                                       class="<?= $section == 'managers' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-tie p-2"></i>
                                                        <span class="ms-2">Dirigentes</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>area-diretorio/relatorio-financeiro"
                                                       class="<?= $section == 'financialReport' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-file-invoice-dollar p-2"></i>
                                                        <span class="ms-2">Relatório Financeiro</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DIRETORIOS_REUNIOES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>area-diretorio/reunioes"
                                                       class="<?= $section == 'meetings' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-users-rectangle p-2"></i>
                                                        <span class="ms-2">Reuniões</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::DIRETORIOS_TRILHASDOCONHECIMENTO_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>area-diretorio/trilha-do-conhecimento"
                                                       class="<?= $section == 'trails' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-graduation-cap p-2"></i>
                                                        <span class="ms-2">Trilhas do Conhecimento</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('educacao')): ?>
                                <!-- Educação -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'education' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-graduation-cap p-2"></i><span>Educação</span>
                                    </a>
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'education' ? 'block' : 'none' ?>;">
                                        <div class="container">
                                            <div class="row">

                                                <!-- Submenu -->
                                                <div class="col mega-box">
                                                    <div class="link-section">
                                                        <div class="submenu-title">
                                                            <h5 class="menu-item">Instituto Libertas</h5>
                                                            <div class="according-menu"><i
                                                                        class="fa fa-angle-<?= $subMenu == 'education' && $subSectionActive == 'libertas' ? 'down' : 'right' ?>"></i>
                                                            </div>
                                                        </div>

                                                        <!-- Submenu -->
                                                        <div class="submenu-content opensubmegamenu"
                                                             style="display: <?= $subMenu == 'education' && $subSectionActive == 'libertas' ? 'block' : 'none' ?>">
                                                            <ul>
                                                                <?php if (Validator::validatePermission(SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_AUTOINSCRICAOMOODLE_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>libertas/auto-inscricao-moodle"
                                                                           class="<?= $subSection == 'autoEnrollment' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-user-graduate p-2"></i>
                                                                            <span class="ms-2">Auto Inscrição Moodle</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CUPONS_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>libertas/cupons"
                                                                           class="<?= $subSection == 'libertasCourseCoupon' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-ticket p-2"></i>
                                                                            <span class="ms-2">Cupons</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CURSOS_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>libertas/cursos"
                                                                           class="<?= $subSection == 'libertasCourses' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-book-open p-2"></i>
                                                                            <span class="ms-2">Cursos</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_MOODLEREDIRECTS_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>libertas/redirecionamentos-moodle"
                                                                           class="<?= $subSection == 'moodleRedirect' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-link p-2"></i>
                                                                            <span class="ms-2">Redirecionamentos Moodle</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('filiados')): ?>
                                <!-- Filiados -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'affiliated' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-users p-2 p-2"></i><span> Filiados</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'affiliated' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::FILIADOS_COMOCONHECEU_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>filiados/como-conheceu"
                                                       class="<?= $section == 'knowledge' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-lightbulb p-2"></i>
                                                        <span class="ms-2">Como Conheceu</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::FILIADOS_AGENDAMENTOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>filiados/mensagens-agendadas"
                                                       class="<?= $section == 'schedules' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-calendar-days p-2"></i>
                                                        <span class="ms-2">Agendamentos</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::FILIADOS_INDICACOESDEFILIACAO_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>filiacao"
                                                       class="<?= $section == 'affiliatedIndications' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-plus p-2"></i>
                                                        <span class="ms-2">Indicações de Filiação</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::FILIADOS_PEDIDOSDEIMPUGNACAO_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>filiados/impugnacao"
                                                       class="<?= $section == 'impeachment' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-xmark p-2"></i>
                                                        <span class="ms-2">Pedidos de Impugnação</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::FILIADOS_PEDIDOSDEREFILIACAO_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>consulta/refiliacao"
                                                       class="<?= $section == 'reaffiliation' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-check p-2"></i>
                                                        <span class="ms-2">Pedidos de Refiliação</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::FILIADOS_QUEMINDICOU_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>filiados/quem-indicou"
                                                       class="<?= $section == 'whoIndicated' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-user-tag p-2"></i>
                                                        <span class="ms-2">Quem Indicou</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('financeiro')): ?>
                                <!-- Financeiro    -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'financial' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-dollar p-2"></i><span>Financeiro</span>
                                    </a>
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'financial' ? 'block' : 'none' ?>;">
                                        <div class="container">
                                            <div class="row">
                                                <ul>
                                                    <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_APROVACOESPENDENTES_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>financeiro/aprovacao"
                                                               class="<?= $section == 'approved' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-clock-rotate-left p-2"></i>
                                                                <span class="ms-2">Aprovações Pendentes</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                </ul>

                                                <!-- Submenu -->
                                                <div class="col mega-box">
                                                    <div class="link-section">
                                                        <div class="submenu-title">
                                                            <h5 class="menu-item">Conciliação</h5>
                                                            <div class="according-menu"><i
                                                                        class="fa fa-angle-<?= $subMenu == 'financial' && $subSectionActive == 'conciliation' ? 'down' : 'right' ?>"></i>
                                                            </div>
                                                        </div>

                                                        <!-- Submenu -->
                                                        <div class="submenu-content opensubmegamenu"
                                                             style="display: <?= $subMenu == 'financial' && $subSectionActive == 'conciliation' ? 'block' : 'none' ?>">
                                                            <ul>
                                                                <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_CONCILIACAO_EXTRATOS_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/conciliacao/extrato"
                                                                           class="<?= $subSection == 'extract' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-file-lines p-2"></i>
                                                                            <span class="ms-2">Extratos</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_CONCILIACAO_IMPORTACAO_CRIACAO_EDICAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/conciliacao/importar"
                                                                           class="<?= $subSection == 'import' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-file-import p-2"></i>
                                                                            <span class="ms-2">Importação</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_CONCILIACAO_IUGU_CRIACAO_EDICAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/conciliacao-iugu"
                                                                           class="<?= $subSection == 'conciliationIugu' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-credit-card p-2"></i>
                                                                            <span class="ms-2">IUGU</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_CONCILIACAO_PENDENTES_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/conciliacao/pendentes"
                                                                           class="<?= $subSection == 'pendentes' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-clock p-2"></i>
                                                                            <span class="ms-2">Pendentes</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_CONCILIACAO_REDE_CRIACAO_EDICAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>financeiro/conciliacao-rede"
                                                                           class="<?= $subSection == 'conciliationRede' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-credit-card p-2"></i>
                                                                            <span class="ms-2">REDE</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Submenu -->
                                                <ul>
                                                    <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_CONTASAPAGARETRANSFERENCIAS_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>financeiro/contas-a-pagar"
                                                               class="<?= $section == 'billsToPay' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-money-bill-transfer p-2"></i>
                                                                <span class="ms-2">Solicitações de pagamentos</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_DOADORES_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>consulta/doadores"
                                                               class="<?= $section == 'donors' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-hand-holding-dollar p-2"></i>
                                                                <span class="ms-2">Doadores</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_RECIBOS_CRIACAO_EDICAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>financeiro/recibos"
                                                               class="<?= $section == 'receipts' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-receipt p-2"></i>
                                                                <span class="ms-2">Recibos</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::FINANCEIRO_RELATORIODETRANSACOES_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>financeiro/transacoes"
                                                               class="<?= $section == 'transactions' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-file-invoice-dollar p-2"></i>
                                                                <span class="ms-2">Relatório de Transações</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('gestao')): ?>
                                <!-- Gestão -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'management' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-gears p-2 p-2"></i><span> Gestão</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'management' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::GESTAO_ACESSOS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>consulta/acessos"
                                                       class="<?= $section == 'access' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-lock p-2"></i>
                                                        <span class="ms-2">Acessos</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::GESTAO_PAINELDEGESTAO_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>dashboard/gestao"
                                                       class="<?= $section == 'management' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-chart-line p-2"></i>
                                                        <span class="ms-2">Painel de Gestão</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::GESTAO_PLANEJAMENTOELEITORAL_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>dashboard/planejamento-eleitoral"
                                                       class="<?= $section == 'electoralPlanning' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-check-to-slot p-2"></i>
                                                        <span class="ms-2">Planejamento Eleitoral</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('juventude')): ?>
                                <!-- Juventude -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'youth' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-person p-2 p-2"></i><span> Juventude</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'youth' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::JUVENTUDE_CONSULTAS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>juventude/consulta"
                                                       class="<?= $section == 'search' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-search p-2"></i>
                                                        <span class="ms-2">Consultas</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::JUVENTUDE_REUNIOES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>area-diretorio/reunioes/juventude"
                                                       class="<?= $section == 'meetingsYouth' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-users-rectangle p-2"></i>
                                                        <span class="ms-2">Reuniões</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>


                            <?php if (Validator::validateMenuPermission('orientacoes')): ?>
                                <!-- Orientações -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'orientations' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-location-arrow p-2 p-2"></i><span> Orientações</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'orientations' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::ORIENTACOES_JURIDICOLEGAL_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>area-diretorio/comunicado/legal/"
                                                       class="<?= $section == 'legal' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-gavel p-2"></i>
                                                        <span class="ms-2">Jurídico Legal</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::ORIENTACOES_LGPDNEWS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>lgpd"
                                                       class="<?= $section == 'news' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-shield p-2"></i>
                                                        <span class="ms-2">LGPD News</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::ORIENTACOES_MINUTASCONTRATUAIS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>area-diretorio/comunicado/minutas/"
                                                       class="<?= $section == 'minutes' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-file-signature p-2"></i>
                                                        <span class="ms-2">Minutas Contratuais</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::ORIENTACOES_PROCESSOSFINANCEIROS_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>area-diretorio/comunicado/processos-financeiros/"
                                                       class="<?= $section == 'financialProcess' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-money-bills p-2"></i>
                                                        <span class="ms-2">Processos Financeiros</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('ouvidoria')): ?>
                                <!-- Ouvidoria -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'ombudsman' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-headset p-2 p-2"></i><span> Ouvidoria</span>
                                    </a>

                                    <!-- Submenu -->
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'ombudsman' ? 'block' : 'none' ?>;">
                                        <ul>
                                            <?php if (Validator::validatePermission(SystemFeatures::OUVIDORIA_RESPOSTASFREQUENTES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>ouvidoria/respostas-frequentes"
                                                       class="<?= $section == 'frequent-answers' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-comments p-2"></i>
                                                        <span class="ms-2">Respostas Frequentes</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (Validator::validatePermission(SystemFeatures::OUVIDORIA_SOLICITACOES_VISUALIZACAO)): ?>
                                                <li>
                                                    <a href="<?= BASEURL ?>ouvidoria/solicitacoes"
                                                       class="<?= $section == 'requests' ? 'active active-dash' : '' ?> menu-item">
                                                        <i class="fa fa-inbox p-2"></i>
                                                        <span class="ms-2">Solicitações</span>
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php endif; ?>

                            <?php if (Validator::validateMenuPermission('sussecoDoFiliado')): ?>
                                <!-- Sucesso do Filiado -->
                                <li class="dropdown pointer">
                                    <a class="nav-link menu-title <?= $subMenu == 'affiliateSuccess' ? 'active active-dash' : '' ?>">
                                        <i class="fa fa-trophy p-2"></i><span>Sucesso do Filiado</span>
                                    </a>
                                    <div class="mega-menu-container menu-content"
                                         style="display: <?= $subMenu == 'affiliateSuccess' ? 'block' : 'none' ?>;">
                                        <div class="container">
                                            <div class="row">
                                                <ul>
                                                    <?php if (Validator::validatePermission(SystemFeatures::SUCESSODOFILIADO_CAMPANHASDEFILIACAO_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>campanhas/campanhas-filiacao"
                                                               class="<?= $section == 'membershipCampaigns' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-users-between-lines p-2"></i>
                                                                <span class="ms-2">Campanhas de Filiação</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                    <?php if (Validator::validatePermission(SystemFeatures::SUCESSODOFILIADO_CAMPANHASDONOVO_VISUALIZACAO)): ?>
                                                        <li>
                                                            <a href="<?= BASEURL ?>campanhas"
                                                               class="<?= $section == 'campaigns' ? 'active active-dash' : '' ?> menu-item">
                                                                <i class="fa fa-bullhorn p-2"></i>
                                                                <span class="ms-2">Campanhas do NOVO</span>
                                                            </a>
                                                        </li>
                                                    <?php endif; ?>
                                                </ul>

                                                <!-- Submenu -->
                                                <div class="col mega-box">
                                                    <div class="link-section">
                                                        <div class="submenu-title">
                                                            <h5 class="menu-item">NOVO Mobiliza</h5>
                                                            <div class="according-menu"><i
                                                                        class="fa fa-angle-<?= $subMenu == 'affiliateSuccess' && $subSectionActive == 'mobilize' ? 'down' : 'right' ?>"></i>
                                                            </div>
                                                        </div>
                                                        <!-- Submenu -->
                                                        <div class="submenu-content opensubmegamenu"
                                                             style="display: <?= $subMenu == 'affiliateSuccess' && $subSectionActive == 'mobilize' ? 'block' : 'none' ?>">
                                                            <ul>
                                                                <?php if (Validator::validatePermission(SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_BENEFICIOS_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>beneficios"
                                                                           class="<?= $subSection == 'mobilize-benefits' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-gift p-2"></i>
                                                                            <span class="ms-2">Benefícios</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_MISSOES_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>missoes"
                                                                           class="<?= $subSection == 'missions' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-flag p-2"></i>
                                                                            <span class="ms-2">Missões</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_MISSOESREALIZADAS_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>missoes-realizadas"
                                                                           class="<?= $subSection == 'mobilize-missions-completes' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-trophy p-2"></i>
                                                                            <span class="ms-2">Missões Realizadas</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                                <?php if (Validator::validatePermission(SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_SOLICITACOESDEBENEFICIOS_VISUALIZACAO)): ?>
                                                                    <li>
                                                                        <a href="<?= BASEURL ?>beneficios-solicitacoes"
                                                                           class="<?= $subSection == 'mobilize-request-benefits' ? 'active active-dash' : '' ?> menu-item">
                                                                            <i class="fa fa-hand-holding-heart p-2"></i>
                                                                            <span class="ms-2">Solicitações de Benefícios</span>
                                                                        </a>
                                                                    </li>
                                                                <?php endif; ?>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <?php endif; ?>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                </div>
            </nav>
        </header>

        <div class="page-body">
            <!-- Container-fluid starts-->
            <div class="container-fluid m-t-20">
                <div class="row">
                    <div class="col-xl-12">
                        <!-- Page Sidebar Ends-->
                        <!-- latest jquery-->
                        <script src="<?= BASEURL ?>assets/js/jquery-3.5.1.min.js"></script>
                        <!-- feather icon js-->
                        <script
                                src="<?= BASEURL ?>assets/js/icons/feather-icon/feather.min.js"></script>
                        <script
                                src="<?= BASEURL ?>assets/js/icons/feather-icon/feather-icon.js"></script>
                        <!-- Sidebar jquery-->
                        <script src="<?= BASEURL ?>assets/js/sidebar-menu.js"></script>
                        <!-- Theme js-->
                        <script src="<?= BASEURL ?>assets/js/script.js"></script>
                        <script src="<?= BASEURL ?>assets/js/jquery.mask.js"></script>
                        <!-- Plugins JS start-->
                        <script
                                src="<?= BASEURL ?>assets/js/scrollable/perfect-scrollbar.min.js"></script>
                        <script src="<?= BASEURL ?>assets/js/scrollable/scrollable-custom.js"></script>
                        <script>
                            var baseUrl = '<?= BASEURL ?>';
                            var currentUser = {
                                id: <?= $user->getId() ?>,
                                name: '<?= $user->getName() ?>',
                            };
                        </script>
