<div class="card">
    <div class="card-header text-center">
        <h3 class="title">Filiados</h3>
    </div>
    <div class="card-body">
        <div class="col">
            <form id="filter">
                <div class="row">
                    <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="state">Estado</label>
                                <select class="form-select" id="state" name="state" onchange="getCities(this.value)">
                                    <option value="">Selecione</option>
                                    <option value="0">Reside no Exterior</option>
                                    <?php foreach ($states as $state): ?>
                                        <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="city">Cidade</label>
                                <select class="form-select" id="city" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado Título</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                       disabled readonly>
                                <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="city">Cidade Título</label>
                                <select class="form-select" id="city" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    <?php else: ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Estado Título</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                       disabled readonly>
                                <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="state">Cidade Título</label>
                                <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                       disabled readonly>
                                <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-select" id="status" name="status">
                                <option value="">Selecione</option>
                                <?php foreach ($status as $statu): ?>
                                    <option value="<?= $statu->getId() ?>">
                                        <?= $statu->getStatus() == 'Aprovado' ? "Filiado" : "Refiliado" ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <button class="btn btn-danger" type="reset" onclick="resetGraphicsData()">Limpar</button>
                        <button class="btn btn-success" type="submit">Filtrar</button>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4">
                <canvas height="300px" id="graphicAffiliatedsByStatus" class="chartjs"></canvas>
            </div>
            <div class="col-md-4">
                <canvas height="300px" id="graphicAffiliatedsByStates" class="chartjs"></canvas>
            </div>
            <div class="col-md-4">
                <canvas height="300px" id="graphicAffiliatedsByCities" class="chartjs"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<div class="card">
    <div class="card-header text-center">
        <h3 class="title">Ouvidoria</h3>
    </div>
    <div class="card-body">
        <div class="col">
            <form id="filterOmbudsman">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateStart">Dê:</label>
                            <input id="dateStart" name="dateStart" class="form-control" placeholder="dd/mm/AAAA"
                                   data-mask="99/99/9999">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dateEnd">Até:</label>
                            <input id="dateEnd" name="dateEnd" class="form-control" placeholder="dd/mm/AAAA"
                                   data-mask="99/99/9999">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="category">Categoria</label>
                            <select class="form-select" id="category" name="category">
                                <option value="0" selected>Todas</option>
                                <?php foreach ($categories as $category): ?>
                                    <option value="<?= $category->getId() ?>"><?= $category->getName() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="subject">Assunto</label>
                            <select class="form-select" id="subject" name="subject">
                                <option value="0" selected>Todos</option>
                                <?php foreach ($subjects as $subject): ?>
                                    <option value="<?= $subject->getId() ?>"><?= $subject->getName() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="statusOmbudsman">Status</label>
                            <select class="form-select" id="statusOmbudsman" name="statusOmbudsman">
                                <option value="-1" selected>Todos</option>
                                <option value="0">Em Análise</option>
                                <option value="1">Respondido</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <button class="btn btn-danger" type="reset" onclick="resetGraphicsOmbudsman()">Limpar
                        </button>
                        <button class="btn btn-success" type="submit">Filtrar</button>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas height="200px" id="OmbudsmanBySubject" class="chartjs"></canvas>
            </div>
            <div class="col-md-6">
                <canvas height="200px" id="OmbudsmanByStatus" class="chartjs"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <canvas height="150px" id="OmbudsmanByDestiny" class="chartjs"></canvas>
            </div>
        </div>
    </div>
</div>

<script>

    var baseUrlMap = '<?= BASEURL_MAP ?>';

</script>

<script>
    var status = subject = category = uf = city = dateStart = dateEnd = 0;
    var statusOmbudsman = -1;

    google.charts.load('current', {
        'packages': ['corechart']
    });
    const filter = document.getElementById('filter');
    filter.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        uf = formData.state;
        city = formData.city;
        status = formData.status;
        graphicsData();
    });

    const filterOmbudsman = document.getElementById('filterOmbudsman');
    filterOmbudsman.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filterOmbudsman');
        dateStart = formData.dateStart;
        dateEnd = formData.dateEnd;
        statusOmbudsman = formData.statusOmbudsman;
        category = formData.category;
        subject = formData.subject;
        graphicsData();
    });

    function resetGraphicsData() {
        status = city = 0;
        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
        uf = 0;
        <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
        uf = <?= $user->getState()->getId() ?>;
        <?php endif; ?>
        graphicsData();
    }

    function resetGraphicsOmbudsman() {
        subject = category = dateStart = dateEnd = 0;
        statusOmbudsman = -1;
        graphicsData();
    }

    var graphicAffiliatedsByStatusEl = new Chart(document.getElementById("graphicAffiliatedsByStatus"), {
        type: 'horizontalBar',
        options: {
            responsive: true
        }
    });

    var graphicAffiliatedsByStatesEl = new Chart(document.getElementById("graphicAffiliatedsByStates"), {
        "type": "horizontalBar",
        "options": {
            "scales": {
                "yAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
    });

    var graphicAffiliatedsByCitiesEl = new Chart(document.getElementById("graphicAffiliatedsByCities"), {
        "type": "horizontalBar",
        "options": {
            "scales": {
                "yAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
    });


    function graphicAffiliatedsByStatus() {
        fetch(`<?= BASEURL ?>api/dashboard/filiados-por-status/?city=${city}&uf=${uf}&status=${status}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                graphicAffiliatedsByStatusEl.data = {
                    "labels": json.keys,
                    "datasets": [{
                        "label": "Distribuição por Status",
                        "data": json.values,
                        "fill": false,
                        "backgroundColor": json.rgb,
                        "borderColor": json.rgb,
                        "borderWidth": 1
                    }]
                };
                graphicAffiliatedsByStatusEl.update();
            });
        });

    }

    function graphicAffiliatedsByState() {
        fetch(`<?= BASEURL ?>api/dashboard/filiados-por-estado/?city=${city}&uf=${uf}&status=${status}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                graphicAffiliatedsByStatesEl.data = {
                    "labels": json.keys,
                    "datasets": [{
                        "label": "Distribuição por UF",
                        "data": json.values,
                        "fill": false,
                        "backgroundColor": json.rgb,
                        "borderColor": json.rgb,
                        "borderWidth": 1
                    }]
                };
                graphicAffiliatedsByStatesEl.update();
            });
        });

    }

    function graphicAffiliatedsByCity() {
        fetch(`<?= BASEURL ?>api/dashboard/filiados-por-cidade/?city=${city}&uf=${uf}&status=${status}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                graphicAffiliatedsByCitiesEl.data = {
                    "labels": json.keys,
                    "datasets": [{
                        "label": "Distribuição por Cidade",
                        "data": json.values,
                        "fill": false,
                        "backgroundColor": json.rgb,
                        "borderColor": json.rgb,
                        "borderWidth": 1
                    }]
                };
                graphicAffiliatedsByCitiesEl.update();
            });
        });

    }

    var graphicOmbudsmanBySubjectEl = new Chart(document.getElementById("OmbudsmanBySubject"), {
        type: 'horizontalBar',
        options: {
            responsive: true
        }
    });

    var graphicOmbudsmanByStatusEl = new Chart(document.getElementById("OmbudsmanByStatus"), {
        "type": "horizontalBar",
        options: {
            responsive: true
        }
    });

    var graphicOmbudsmanByDestinyEl = new Chart(document.getElementById("OmbudsmanByDestiny"), {
        "type": "bar",
        options: {
            responsive: true
        }
    });

    function graphicOmbudsmanByStatus() {
        fetch(`<?= BASEURL ?>api/dashboard/ouvidoria-por-status/?start=${dateStart}&end=${dateEnd}&subject=${subject}&category=${category}&status=${statusOmbudsman}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                graphicOmbudsmanByStatusEl.data = {
                    "labels": json.keys,
                    "datasets": [{
                        "label": "Solicitações por Status",
                        "data": json.values,
                        "fill": false,
                        "backgroundColor": json.rgb,
                        "borderColor": json.rgb,
                        "borderWidth": 1
                    }]
                };
                graphicOmbudsmanByStatusEl.update();
            });
        });
    }

    function graphicOmbudsmanBySubject() {
        fetch(`<?= BASEURL ?>api/dashboard/ouvidoria-por-assunto/?start=${dateStart}&end=${dateEnd}&subject=${subject}&category=${category}&status=${statusOmbudsman}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                graphicOmbudsmanBySubjectEl.data = {
                    "labels": json.keys,
                    "datasets": [{
                        "label": "Solicitações por Assunto",
                        "data": json.values,
                        "fill": false,
                        "backgroundColor": json.rgb,
                        "borderColor": json.rgb,
                        "borderWidth": 1
                    }]
                };
                graphicOmbudsmanBySubjectEl.update();
            });
        });
    }

    function graphicOmbudsmanByDestiny() {
        fetch(`<?= BASEURL ?>api/dashboard/ouvidoria-por-destino/?start=${dateStart}&end=${dateEnd}&subject=${subject}&category=${category}&status=${statusOmbudsman}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                graphicOmbudsmanByDestinyEl.data = {
                    "labels": json.keys,
                    "datasets": [{
                        "label": "Solicitações por Categoria",
                        "data": json.values,
                        "fill": false,
                        "backgroundColor": json.rgb,
                        "borderColor": json.rgb,
                        "borderWidth": 1
                    }]
                };
                graphicOmbudsmanByDestinyEl.update();
            });
        });
    }

    function graphicsData() {
        graphicAffiliatedsByStatus();
        graphicAffiliatedsByState();
        graphicAffiliatedsByCity();
        graphicOmbudsmanBySubject();
        graphicOmbudsmanByStatus();
        graphicOmbudsmanByDestiny();
    }

    $(document).ready(function () {
        <?php if ($user->getLevel() == 2): ?>
        getCities(<?= $user->getState()->getId() ?>);
        <?php endif; ?>
        graphicsData();
    });
</script>
