.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.single-marker-cluster {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #DD6D25;
    color: black;
    font-size: 14px;
    margin: auto;
    white-space: nowrap;
    font-weight: 600;
    box-shadow: 0 0 20px #DD6D25;
    min-width: 30px;
    text-align: center;
}

.single-marker-cluster div {
    position: relative!important;
    top: calc(50% - 10px)!important;
    margin: 2px!important;
}

.leaflet-marker-icon.marker-cluster-custom.leaflet-zoom-animated.leaflet-interactive {
    aspect-ratio: 1 / 1 !important;
    width: auto !important;
    height: auto !important;
    padding: 5px;
    z-index: 547;
    /*background: rgba(41, 182, 246, .5) !important;*/
    border-radius: 50% !important;
}

.marker-cluster span {
    line-height: 30px;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 4px !important;
    right: 4px !important;
}
