/*hr {
    background-color: #717171;
}*/

[class*="col-"] {
    margin-top: auto;
}
.loaderTop {
    display: none;
}

@media (max-width: 800px) and  (min-width: 500px) {
    .card-login {
        width: 60%;
    !important;
    }
}

@media (min-width: 800px) {
    .card-login {
        width: 40%;
    !important;
    }
}

.form-group input[type=file] {
    opacity: 0;
    /*max-width: 25%;*/
    position: absolute;
    top: 20px;
    /*right: 0;*/
    /*bottom: 0;*/
    left: 0;
    width: 100%;
    /*height: 100%;*/
    z-index: 100
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    z-index: 9999;
!important;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    z-index: 9999;
!important;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.loaderTop {
    position: absolute;
    z-index: 8888;
    margin-left: calc(50% - 3.75rem);
    margin-top: 3rem;
}

.badge {
    cursor: pointer;
!important;
}

.loaderTable {
    margin-top: 10px;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-link {
    margin: 5px 0;
}

@media screen and (min-width: 975px) {
    footer {
        margin-left: 150px;
    }
}

@media screen and (max-width: 974px) {
    footer {
        margin-left: 0;
    }
}

nav {
    margin-top: 20px;
!important;
}

@media screen and (max-width: 1470px) {
    .page-main-header .main-header-right .left-menu-header {
        flex: 0 0 20%;
    }
}

.w-150 {
    width: 150px;
}

.pointer {
    cursor: pointer;
}

.btn-blue {
    background-color: #020283;
!important;
    color: white;
}

.btn-blue:hover {
    color: white;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-submenu li a.active-dash,
.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .mega-menu-container .mega-box .link-section .submenu-content.opensubmegamenu ul li a.active-dash {
    color: #DD6D25;
    background: white;
    font-weight: bold;
}

.page-wrapper.compact-wrapper .page-body-wrapper .active-dash .according-menu i {
    color: white;
!important;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu {
    height: calc(100vh - 120px);
!important;
    overflow-y: auto;
}

@media only screen and (max-width: 991px) {
    .page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu {
        height: calc(100vh - 80px);
    !important;
    }
}

i {
    cursor: pointer;
}

.default {
    cursor: default;
!important;
}

.introjs-tooltipbuttons {
    text-align: left
}

.introjs-skipbutton {
    margin-left: 5px;
    float: left
}

.introjs-tooltip-title {
    float: right
}

.introjs-tooltip {
    direction: rtl
}

.introjs-prevbutton {
    border: 1px solid #d4d4d4;
    float: right
}

.introjs-nextbutton {
    border: 1px solid #d4d4d4;
    float: left
}

.introjs-bullets ul li {
    float: right
}

i.active {
    background: rgb(245, 247, 251);
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

table {
    font-size: 90%;
}

.tui-full-calendar-popup-detail .tui-full-calendar-content {
    font-weight: 500;
}

.iconCheck {
    color: #FFC107;
}

.iconCheck:hover {
    color: #198754;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu:hover.custom-scrollbar {
    color: rgba(87%, 43%, 15%, .2)
}

.bg-warning {
    background: #E2C636;
}

.kanban-board-header.bg-danger ~ .kanban-drag {
    background-color: rgba(82, 18, 24, .3);
}

.kanban-box, .kanban-item {
    cursor: pointer;!important;
}

.full-height {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}
.board-full-height {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}
.drag-full-height {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.kanban-drag {
    max-height: 700px;
}

.text-justify {
    text-align: justify;
}

.blb {
    border-left: 1px solid black
}

.tox.tox-tinymce.is-invalid {
    border-color: #dc3545;
    border-width: 1px;
}

.tox.tox-tinymce.is-valid {
    border-color: #198754;
    border-width: 1px;
}

#searchList {
    margin-top:-70px;
    width: 400px;
    max-height: 400px;
    overflow-y: auto
}

@media (max-width: 760px) and (min-width: 621px) {
    #searchList {
        max-width: 300px;
    }
}

@media (max-width: 620px) {
    #searchList {
       max-width: 150px;
        margin-left: -20px;
    }
}

@media (max-width: 575px) {
    #searchList {
        margin-top:-20px;
    }
}

#searchUl .add-to-bookmark:hover {
    background-color: rgba(22, 142, 234, 0.1);
}

#searchUl .add-to-bookmark.not:hover {
    background-color: white;
}

.add-to-bookmark {
    padding: 10px;
    border-radius: 5px;
}

.not-allowed {
    cursor: not-allowed;
}

.spinner-card {
    position: fixed;
    display: none;
    z-index: 9999;
    right: calc(50% - 5rem);
    top: calc(50% - 5rem);
}

.fc-title{
    font-weight: 700;
}

.boll {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

select[data-ssid] {
    pointer-events: none;
    opacity: 0;
    display: flex !important;
    position: absolute;
}

.w-200 {
    width: 200px;
}

.btn.btn-link {
    box-shadow: none; !important;
}

.spinner-card {
    position: fixed;
    display: none;
    z-index: 9999;
    right: calc(50% - 2.5rem);
    top: calc(50% - 10rem);
}

.btn-orange {
    background-color: #F36F21;
    border: solid 1px #F36F21
}

label.btn-orange.is-invalid {
    border: solid 1px #dc3545!important;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .mega-menu-container .mega-box .link-section .submenu-content.opensubmegamenu ul li a {
    padding-left: 65px!important;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .mega-menu-container ul li a {
    margin-bottom: 0;
    line-height: 1.9;
    padding: 6px 25px 6px 32px;
    font-size: 13px;
    font-weight: 400;
    color: #242934;
    position: relative;
    cursor: pointer;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .mega-menu-container ul li a.active-dash {
    color: #F36F21!important;
    background-color: white!important;
    font-weight: bold;
}

.tr-danger td {
    background-color: #C72B3A !important;
    color: white !important;
    font-weight: bold !important;
}

.tr-success td {
    background-color: #1B4C43 !important;
    color: white !important;
    font-weight: bold !important;
}

.tr-warning td {
    background-color: #E2C636 !important;
    color: white !important;
    font-weight: bold !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
    background-color: rgba(228, 110, 36, .8)!important;
    border-color: #F36F21!important;
}

.btn-outline-primary.active {
    background-color: rgb(228, 110, 36)!important;
    border-color: #F36F21!important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus,  .btn-primary:focus {
    webkit-box-shadow: 0 0 0 0.1rem rgba(228, 110, 36, 0.5)!important;
    box-shadow: 0 0 0 0.1rem rgba(228, 110, 36, 0.5)!important;
}

#myToast {
    position: fixed;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
    display: block;
}

.menu-item {
    display: flex !important;
    align-items: center !important;
    color: #6c757d !important;  /* cor text-secondary do Bootstrap */
    font-weight: normal !important;
}

/* Menu item */
.menu-item:hover {
    color: #f17021 !important;  /* cor mais escura no hover */
    text-decoration: none;
}

/* Botão success */
.btn-success:hover {
    background-color: #218838 !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.btn-success {
    transition: all 0.3s ease;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}