body {
    font-family: Arial;
!important;
    text-align: justify !important;
}

h3 {
    font-family: Arial;
!important;
}

table {
    width: 100%;
    font-size: 10px;
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    font-family: Arial;
!important;
}

.table {
    font-size: 12px;
    border: 1px solid black;
}

.table td, .table th {
    border: 1px solid black;
}

.table thead td, .table thead th {
    border-bottom-width: 2px
}

tr {
    margin: 5px;
}

td, th {
    padding: 5px;
}

.text-center {
    text-align: center;
!important;
}

.upper {
    text-transform: uppercase;
}

#tableFooter {
    border-top: solid 2px rgb(180, 180, 180);
}

#tableFooter td {
    vertical-align: middle;
    border-top: solid 2px rgb(180, 180, 180);
}

#tableHeader tr td {
    border-top: solid 2px rgb(180, 180, 180);
}

#tableHeader {
    border-bottom: solid 2px rgb(180, 180, 180);
}

.company th {
    font-weight: normal;
    text-align: left;
}

.company td {
    padding: 0 5px;
    margin: 0;
    text-transform: uppercase;
}

.company {
    border: 1px solid grey;
    font-family: Arial;
!important;
}

p {
    text-indent: 50px;
!important;
}

.invert {
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}

.border {
    border: solid 1px black;
}

.w-80 {
    width: 80%;
}

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.right {
    float: right;
    margin-left: 10px;
}

.left {
    float: left;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2); }
.row > * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y); }

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%; }

.text-end {
    text-align: right !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}