#msform .action-button {
    width: 100px;
}
#msform .action-button-previous {
    width: 100px;
}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}
fieldset ul{
    border-bottom: 2px solid #f36f21;
}
#msform fieldset .form-card {
    text-align: left;
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}
#msform fieldset:not(:first-of-type) {
    display: none
}
* {
    margin: 0;
    padding: 0
}
html {
    height: 100%
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}
#progressbar .active {
    color: #000000
}
#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}
#progressbar #address:before {
    font-family: FontAwesome;
    content: "\f041"
}
#progressbar #voterTitle:before {
    font-family: FontAwesome;
    content: "\f040"
}
#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}
#progressbar #terms:before {
    font-family: FontAwesome;
    content: "\f00c"
}
#progressbar #irpf:before {
    font-family: FontAwesome;
    content: "\f155"
}
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}
#progressbar li.active:before,
#progressbar li.active:after {
    background: #f36f21
}