.fileselector {
    margin: 10px;
}
.upload-file-selector {
    display: none;
}
.margin-correction {
    margin-right: 10px;
}
.modal{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%)}.loader{position:relative;text-align:center;margin:35px auto 35px auto;z-index:9999;display:block;width:80px;height:80px;border:10px solid rgba(0,0,0,.3);border-radius:50%;border-top-color:#000;animation:spin 1s ease-in-out infinite;-webkit-animation:spin 1s ease-in-out infinite}@keyframes spin{to{-webkit-transform:rotate(360deg)}}@-webkit-keyframes spin{to{-webkit-transform:rotate(360deg)}}.modal-backdrop.show{opacity:.75}

label {
  margin-top: 10px;!important;
  font-size: 18px;!important;
}

.sidebar ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.sidebar ::-webkit-scrollbar-button:start:decrement, .sidebar ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}

.sidebar ::-webkit-scrollbar-track-piece {
    background-color: #888;
    -webkit-border-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

.sidebar ::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    -webkit-border-radius: 8px;
}

.sidebar ::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    -webkit-border-radius: 8px;
}

.card-header{
    background-color: #187247 !important;
    color: white;
}

hr{
    background-color: #187247 !important;
}