<div class="card">
    <div class="card-header">
        <div class="row text-center">
            <div class="col-md-12">
                <h5 class="title">Indicação de Dirigentes (Núcleo, Comissão Provisória Municipal ou Diretório)</h5>
            </div>
        </div>
        <br>
        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_INDICACAODEDIRETORIOS_CRIACAO_EDICAO)): ?>
            <div class="row">
                <div class="col text-center">
                    <a type="button" href="<?= BASEURL ?>indicacoes/indica-nucleo/" class="btn btn-success"
                       target="_blank">
                        <i class="fa fa-plus" aria-hidden="true"></i> Adicionar Núcleo
                    </a>
                    <a type="button" href="<?= BASEURL ?>indicacoes/indica-diretorio/" class="btn btn-primary"
                       target="_blank">
                        <i class="fa fa-plus" aria-hidden="true"></i> Adicionar Comissão/Diretório
                    </a>
                </div>
            </div>
        <?php endif; ?>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="type">Tipo:</label>
                        <select class="form-select" name="type" id="type">
                            <option value="">Selecione</option>
                            <option value="1">Núcleo</option>
                            <option value="2">Comissão Provisória</option>
                            <option value="3">Diretório</option>
                        </select>
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <select class="form-select" name="state" id="state" onchange="getCities(this.value)">
                                <option value="">Selecione</option>
                                <option value="1">Acre</option>
                                <option value="2">Alagoas</option>
                                <option value="3">Amazonas</option>
                                <option value="4">Amapá</option>
                                <option value="5">Bahia</option>
                                <option value="6">Ceará</option>
                                <option value="7">Distrito Federal</option>
                                <option value="8">Espírito Santo</option>
                                <option value="9">Goiás</option>
                                <option value="10">Maranhão</option>
                                <option value="11">Minas Gerais</option>
                                <option value="12">Mato Grosso do Sul</option>
                                <option value="13">Mato Grosso</option>
                                <option value="14">Pará</option>
                                <option value="15">Paraíba</option>
                                <option value="16">Pernambuco</option>
                                <option value="17">Piauí</option>
                                <option value="18">Paraná</option>
                                <option value="19">Rio de Janeiro</option>
                                <option value="20">Rio Grande do Norte</option>
                                <option value="21">Rondônia</option>
                                <option value="22">Roraima</option>
                                <option value="23">Rio Grande do Sul</option>
                                <option value="24">Santa Catarina</option>
                                <option value="25">Sergipe</option>
                                <option value="26">São Paulo</option>
                                <option value="27">Tocantins</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select class="form-select" name="city" id="city">
                                <option value="">Cidade</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateDefaultersFilter">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getEstado() ?>"
                                   disabled readonly>
                            <input type="hidden" id="state" name="state"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select class="form-select" id="city" name="city">
                                <option value="" selected>Todas</option>
                                <?php foreach ($cities as $city) : ?>
                                    <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-select" name="status" id="status">
                            <option value="">Selecione</option>
                            <!--
                            <option value="1">Indicação</option>
                            <option value="2">Formalização</option>
                            -->
                            <option value="5">Análise DE</option>
                            <option value="6">Análise DN</option>
                            <option value="3">Ativo</option>
                            <option value="4">Encerrado</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="order">Ordenar por:</label>
                        <select id="order" name="order" class="form-select">
                            <option value="createdAt" selected>Data Solicitação</option>
                            <option value="refreshStatus">Atualização Status</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="seq">Sequência:</label>
                        <select id="seq" name="seq" class="form-select">
                            <option value="desc" selected>Decrescente</option>
                            <option value="asc">Crescente</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_INDICACAODEDIRETORIOS_EXPORTACAO)): ?>
                        <button id="export" type="button" onclick="csv()" class="btn btn-primary">
                            <i class="fa fa-download" aria-hidden="true"></i> Exportar
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div style="display: none" id="messageFormUpdate" class="alert" role="alert"></div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col text-end">
                <div class="form-group">
                    <a type="button" class="btn btn-primary" href="<?= BASEURL ?>indicacoes/lista-membros/"
                       target="_blank">
                        <i class="fa fa-users" aria-hidden="true"></i> Listagem de Membros</a>
                </div>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="tableIndicates" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Cidade</th>
                        <th class="text-center">Solicitante</th>
                        <th class="text-center">Data Solicitação</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Atualização Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    var stateUser = '<?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>';
    var userType = '<?= $user->getType() ?>';
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_INDICACAODEDIRETORIOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_INDICACAODEDIRETORIOS_CRIACAO_EDICAO, false, true) ?>;
</script>

<script src="<?= BASEURL ?>assets/functions/indications/index.js?v=<?= time() ?>"></script>

<style>
    .actions-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .action-link a {
        display: flex;
        align-items: center;
        gap: 5px;
    }
</style>