<div class="card">
    <div class="card-header bg-gradient">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
                    <i class="fas fa-users text-primary"></i>
                </div>
            </div>
            <div class="col">
                <h5 class="title">Indicação de Dirigentes</h5>
                <small class="text-muted">Registro e aprovação de indicações para Comissões Provisórias Municipais e Diretórios Municipais.</small>
            </div>
        </div>
        <hr>
    </div>
    <div class="card-body">
        <form id="form">
            <input type="hidden" name="indicationId" id="indicationId"
                   value="<?= $indication ? $indication->getId() : '' ?>">
            <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="stateCheckbox" name="stateCheckbox"
                                   onclick="setState()">
                            <label class="form-check-label" for="state">Estadual</label>
                        </div>
                    </div>
                </div><br>
            <?php endif; ?>
            <div class="row">
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <select class="form-control form-select" id="state" name="state"
                                    onchange="getCities(this.value, 'city')" required>
                                <option value="">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"
                                        <?= $indication ? $state->getId() == $indication->getState()->getId() ? 'selected' : '' : '' ?>>
                                        <?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" id="cityDiv">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select name="city" id="city" class="form-control form-select" required>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="stateDefaultersFilter">Estado:</label>
                        <input type="text" class="form-control" value="<?= $user->getState()->getEstado() ?>"
                               disabled
                                readonly>
                        <input type="hidden" id="state" name="state" value="<?= $user->getState()->getId() ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city">Cidade:</label>
                        <select class="form-select" id="city" name="city">
                            <option value="" selected>Todas</option>
                            <?php foreach ($cities as $city) : ?>
                                <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <?php endif; ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="type">Tipo:</label>
                        <select name="type" id="type" class="form-control form-select" required>
                            <option value="">Selecione</option>
                            <option value="2" <?= $indication ? $indication->getType() == 2 ? 'selected' : '' : '' ?>>
                                Comissão Provisória
                            </option>
                            <option value="3" <?= $indication ? $indication->getType() == 3 ? 'selected' : '' : '' ?>>
                                Diretório
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <?php if ($user->getType() == 3): ?>
                        <select name="status" id="status" class="form-control form-select" required>
                            <option value="">Selecione</option>
                            <option value="5" <?= $indication ? $indication->getStatus() == 5 ? 'selected' : '' : '' ?>
                                    selected>
                                Análise DE
                            </option>
                            <option value="6" <?= $indication ? $indication->getStatus() == 6 ? 'selected' : '' : '' ?>>
                                Análise DN
                            </option>
                            <option value="3" <?= $indication ? $indication->getStatus() == 3 ? 'selected' : '' : '' ?>>
                                Ativo
                            </option>
                            <option value="4" <?= $indication ? $indication->getStatus() == 4 ? 'selected' : '' : '' ?>>
                                Encerrado
                            </option>
                        </select>
                        <?php elseif($indication && $user->getType() != 3 && $indication->getStatus() == 5): ?>
                            <select name="status" id="status" class="form-control form-select" required>
                                <option value="">Selecione</option>
                                <option value="5" <?= $indication ? $indication->getStatus() == 5 ? 'selected' : '' : '' ?>
                                        selected>
                                    Análise DE
                                </option>
                                <option value="6" <?= $indication ? $indication->getStatus() == 6 ? 'selected' : '' : '' ?>>
                                    Análise DN
                                </option>
                            </select>
                        <?php elseif(!$indication && $user->getType() != 3): ?>
                            <select name="status" id="status" class="form-control form-select" required>
                                <option value="">Selecione</option>
                                <option value="5" <?= $indication ? $indication->getStatus() == 5 ? 'selected' : '' : '' ?>
                                        selected>
                                    Análise DE
                                </option>
                            </select>
                        <?php else: ?>
                                <input type="text" 
                                class="form-control" 
                                value="<?= $indication ? $indication->getStatusString() : '' ?>" readonly>

                            <input type="hidden" name="status" id="status" value="<?= $indication ? $indication->getStatus() : '' ?>">
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="zipCode">CEP:</label>
                        <input class="form-control" name="zipCode" data-mask="99999-999" type="text" id="zipCode"
                           value="<?= $indication ? $indication->getZipCode() : '' ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="street">Logradouro:</label>
                        <input class="form-control" type="text" id="street" name="street"
                            value="<?= $indication ? $indication->getStreet() : '' ?>">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="number">Número:</label>
                        <input class="form-control" name="number" type="number" id="number"
                            value="<?= $indication ? $indication->getNumber() : '' ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="district">Bairro:</label>
                        <input class="form-control" type="text" id="district" name="district"
                            value="<?= $indication ? $indication->getDistrict() : '' ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="complement">Complemento:</label>
                        <input class="form-control" name="complement" type="text" id="complement"
                            value="<?= $indication ? $indication->getComplement() : '' ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="totalArea">Área total do imóvel (m²):</label>
                        <input class="form-control" name="totalArea" type="text" id="totalArea"
                            value="<?= $indication ? $indication->getTotalArea() : '' ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="totalAreaUsed">Área utilizada (m²):</label>
                        <input class="form-control" name="totalAreaUsed" type="text" id="totalAreaUsed"
                            value="<?= $indication ? $indication->getTotalAreaUsed() : '' ?>">
                    </div>
                </div>
                <!-- Anexos -->
                <div class="row">
                    <?php if ($indication && $indication->getIptu()): ?>
                    <div class="col-md-12">
                        <a type="button" 
                            class="btn btn-success" 
                            href="<?= $indication->getIptu() ?>"
                            target="_blank">
                            <i class="fa fa-image" aria-hidden="true"></i> Foto do cartão IPTU
                        </a>
                        <button type="button" class="btn btn-danger"
                            onclick="eraseDoc('<?= $indication->getId() ?>', 1)">
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                        </button>
                    </div>
                    <?php endif; ?>
                    <?php if ($indication && $indication->getLeaseAgreement()): ?>
                        <div class="col-md-12" style="margin-top: 5px;">
                            <a type="button" 
                                class="btn btn-success"
                                href="<?= $indication->getLeaseAgreement() ?>" target="_blank">
                                <i class="fa fa-file" aria-hidden="true"></i> Contrato de cessão ou locação
                            </a>
                            <button type="button" 
                                    class="btn btn-danger"
                                    onclick="eraseDoc('<?= $indication->getId() ?>', 2)">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                            </button>
                        </div>
                    <?php endif; ?>
                    <?php if ($indication && $indication->getNewMembersAta()): ?>
                        <div class="col-md-12 approval-info" style="margin-top: 15px;">
                            <a type="button" 
                                class="btn btn-primary"
                                href="<?= $indication->getNewMembersAta() ?>" 
                                target="_blank">
                                <i class="fa fa-file-alt" aria-hidden="true"></i> 
                                Ata de indicação de novos membros - <u>Data de lançamento: <?= $indication->getNewMembersAtaDate() ? $indication->getNewMembersAtaDate()->format('d/m/Y') : '' ?></u>
                            </a>
                            <?php if ($user->getType() == 3 && $indication->getNewMembersAtaStatus() == 0): ?>
                                <button type="button" class="btn btn-success"
                                    onclick="analysis('<?= $indication->getId() ?>', 1)">
                                    Aprovar <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-danger"
                                    onclick="analysis('<?= $indication->getId() ?>', 2)">
                                    Rejeitar <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            <?php endif; ?>
                            <?php if ($indication->getNewMembersAtaStatus() == 1): ?>
                                <div class="approval-info text-success" style="margin-top: 15px;">
                                    <p class="mb-1">
                                        <i class="fas fa-check-circle"></i> Aprovado
                                    </p>
                                    <small>
                                        Aprovado por: <strong><?= $indication->getUserAnalysisNewMembersAta()->getName() ?></strong>
                                    </small>
                                </div>
                            <?php endif; ?>
                            <?php if ($indication->getNewMembersAtaStatus() == 2): ?>
                                <div class="approval-info-danger" style="margin-top: 15px;">
                                    <p class="mb-1">
                                        <i class="fas fa-check-circle"></i> Rejeitado
                                    </p>
                                    <small>
                                        Rejeitado por: <strong><?= $indication->getUserAnalysisNewMembersAta()->getName() ?></strong><br>
                                        Motivo: <strong><?= $indication->getRejectReason() ?></strong>
                                    </small>
                                </div>

                            <?php endif; ?>
                        </div> 
                        <?php if ($user->getType() == 3 && $indication->getNewMembersAtaStatus() == 0): ?>
                        <div class="col-md-6 approval-info" style="margin-top: 15px;">
                            <label for="rejectReason">Motivo da rejeição:</label>
                            <input type="text" 
                                name="rejectReason" 
                                id="rejectReason" 
                                class="form-control" 
                                placeholder="Digite o motivo da rejeição">
                        </div>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
            </div>
            
            <hr>
            <!-- Anexar novos arquivos -->
            <div class="row" style="margin-top: 15px;">
                <!-- IPTU -->

                <?php if ($user->getType() == 3 || !$indication || $indication && !$indication->getIptu() || $indication && $indication->getStatus() == 1): ?>                
                <div class="col-md-3">
                    <div class="form-group d-flex align-items-start gap-3">

                        <span class="fileselector flex-grow-1">
                            <label class="btn btn-block btn-orange text-white d-flex flex-column align-items-center w-100"
                                for="iptu"
                                id="iptuBtn"
                                role="button"
                                aria-label="Selecionar arquivo do IPTU">
                                <input class="upload-file-selector" 
                                    id="iptu"
                                    type="file"
                                    name="iptu"
                                    accept=".pdf"
                                    aria-required="true"
                                    onchange="handleFileButtons('iptu', 'iptuBtn')">
                                <i class="fa fa-paperclip margin-correction" aria-hidden="true"></i>
                                <span id="iptuLabel" 
                                    default="Anexar IPTU" 
                                    class="text-truncate text-center" 
                                    style="max-width: 180px; overflow: hidden;"></span>
                                Anexar Cartão IPTU                                                
                            </label>
                        </span> 
                        <button class='btn btn-danger remove' 
                            type='button'
                            aria-label="Remover arquivo"
                            onclick="clean('iptu', 'iptuBtn', '')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <?php endif; ?>

                <!-- Contrato de cessão/locação -->
                <?php if ($user->getType() == 3 || !$indication || $indication && !$indication->getLeaseAgreement() == 1 || $indication && $indication->getStatus() == 1): ?>
                <div class="col-md-3">
                    <div class="form-group d-flex align-items-start gap-3">

                        <span class="fileselector flex-grow-1">
                            <label class="btn btn-block btn-orange text-white d-flex flex-column align-items-center w-100"
                                for="leaseAgreement"
                                id="leaseAgreementBtn"
                                role="button"
                                aria-label="Selecionar arquivo do contrato">
                                <input class="upload-file-selector" 
                                    id="leaseAgreement"
                                    type="file"
                                    name="leaseAgreement"
                                    accept=".pdf,.jpg,.jpeg,.png"
                                    aria-required="true"
                                    onchange="handleFileButtons('leaseAgreement', 'leaseAgreementBtn')">
                                <i class="fa fa-paperclip margin-correction" aria-hidden="true"></i>
                                <span id="leaseAgreementLabel" 
                                    default="Anexar Contrato" 
                                    class="text-truncate text-center" 
                                    style="max-width: 180px; overflow: hidden;"></span>
                                Anexar Contrato de Cessão/Locação                                                
                            </label>
                        </span> 
                        <button class='btn btn-danger remove' 
                            type='button'
                            aria-label="Remover arquivo"
                            onclick="clean('leaseAgreement', 'leaseAgreementBtn', '')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <?php endif; ?>
                </div><hr>

                <!-- Ata de indicação de novos membros -->
                <?php if (!$indication || $indication && $indication->getStatus() == 5): ?>
                <div class="row align-items-start">
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- Ata de Indicação -->
                            <div class="col-md-12">
                                <div class="form-group d-flex align-items-start gap-3">
                                    <span class="fileselector flex-grow-1">
                                        <label class="btn btn-block btn-orange text-white d-flex flex-column align-items-center w-100"
                                                for="newMembersAta"
                                                id="newMembersAtaBtn"
                                                role="button"
                                                aria-label="Selecionar arquivo da Ata">
                                            <input class="upload-file-selector" 
                                                id="newMembersAta"
                                                type="file"
                                                name="newMembersAta"
                                                accept=".pdf,.jpg,.jpeg,.png"
                                                aria-required="true"
                                                onchange="handleFileButtons('newMembersAta', 'newMembersAtaBtn')">
                                            <i class="fa fa-paperclip margin-correction" aria-hidden="true"></i>
                                            <span id="newMembersAtaLabel" 
                                                default="Anexar Ata" 
                                                class="text-truncate text-center" 
                                                style="max-width: 180px; overflow: hidden;"></span>
                                            Ata de indicação de novos membros                                                
                                        </label>
                                    </span> 
                                    <button class='btn btn-danger remove' 
                                        type='button'
                                        aria-label="Remover arquivo"
                                        onclick="clean('newMembersAta', 'newMembersAtaBtn', '')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <!-- Data de Lançamento -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="newMembersAtaDate">Data de lançamento:</label>
                            <input class="form-control" 
                                id="newMembersAtaDate" 
                                name="newMembersAtaDate" 
                                type="date">
                        </div>
                    </div>
                </div>
                <?php endif; ?>
            
                <hr style="height: 2px; background: orange;">

                <!-- Composição dos Cargos -->
                <div class="card-header bg-gradient text-center">
                    <div class="d-flex flex-column align-items-center">
                        <!-- Ícone -->
                        <div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center mb-3" style="width: 64px; height: 64px;">
                            <i class="fas fa-id-card text-primary fa-lg"></i>
                        </div>
                        <!-- Título e Descrição -->
                        <div class="col-md-8 text-center">
                            <h5 class="title">Composição dos Cargos</h5>
                            <small class="text-muted d-block mb-4">Preencha as informações dos membros indicados para cada cargo da comissão.</small>
                        </div>
                        <!-- Seleção de Cargo -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex gap-2">
                                    <select name="office" 
                                        id="office" 
                                        class="form-control form-select"
                                        style="font-size: 20px;">
                                        <option value="">Selecione</option>
                                        <option value="1">Presidente</option>
                                        <option value="2">Vice Presidente</option>
                                        <option value="3">Secretário Administrativo</option>
                                        <option value="4">Secretário de Finanças</option>

                                        <option value="5">Secretário de Relações Institucionais e Legal</option>
                                    </select>
                                    <button type="button" 
                                            title="Adicionar Dirigente" 
                                            class="btn btn-success"
                                            id="add-leader">
                                        <i class="fa fa-plus" 
                                            style="color: #F36F21"></i> Adicionar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Histórico de Indicações -->
                <div class="row">
                    <div id="divCloned"></div>
                    <!-- Botão de visualizar anteriores melhorado -->
                    <?php if($user->isAdminNational() && $disabledIndication): ?>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button 
                                title="Visualizar Anteriores" 
                                type="button"
                                class="btn btn-outline-primary btn-lg" 
                                id="view-previous" 
                                onclick="viewPrevious()">
                                <i class="fa fa-history me-2"></i>
                                Histórico de Indicações
                            </button>
                        </div>
                    </div>
                    <div id="divCloned2">
                        <hr>
                        <div class="row justify-content-end d-none" id="export-data-div">
                            <div class="col">
                                <h4 class="mb-0 text-primary">
                                    <i class="fa fa-history me-2"></i>
                                    Histórico de Indicações
                                </h4>
                                <small class="text-muted">Visualize e exporte o histórico completo de indicações desta indicação</small>
                            </div>
                            <div class="col text-end">
                                <button 
                                    title="Exportar Dados" 
                                    type="button"
                                    class="btn btn-success btn-lg me-2" 
                                    id="export-data" 
                                    onclick="exportData()">
                                    <i class="fa fa-file-excel me-2"></i>
                                    Exportar para Excel
                                </button>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>
                </div>
                <div class="col-12 text-center">
                    <div class="spinner-border m-t-10" role="status" id="loaderData" style="opacity: 0">
                        <span class="sr-only mx-auto">Loading...</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                    </div>
                </div>
                <div class="col text-center" id="buttonsDiv">
                    <a type="button" class="btn btn-danger text-white" href="<?= BASEURL ?>indicacoes/">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_INDICACAODEDIRETORIOS_CRIACAO_EDICAO)): ?>
                        <button id="save" type="submit" class="btn btn-success">
                            <i class="fa fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    <?php endif; ?>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/indications/indicatesDirectory.js?v=<?= time() ?>"></script>

<script>
    var stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>;
    var editValid = <?= $indication ? $user->getType() != 3 && $indication->getStatus() == 6 ? 1 : 0 : 0 ?>;
    var levelUser = <?= $user->getLevel() ?>;

    $(document).ready(function () {
        if (stateUser > 0) getCities(stateUser, 'city');
        $("#zipCode").keyup(function () {
            loadAddress2();
        });
        <?php if($indication && $indication->getLevel() == 2): ?>
        document.getElementById("stateCheckbox").checked = true;
        $('#city').attr('readonly', true);
        $('#city').attr("style", "pointer-events: none;");
        <?php endif; ?>
    });
</script>

<style>
.readonly-option {
    background-color: #f5f5f5;
    color: #999;
}
.approval-info {
    padding: 10px;
    border-left: 3px solid #198754;
    background-color: #f8f9fa;
}
.approval-info-danger {
    padding: 10px;
    border-left: 3px solid #dc3545;
    background-color: #f8f9fa;
    color: #dc3545;
}

</style>