<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Indicação de Dirigentes (Núcleos)</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="form">
            <input type="hidden" name="indicationId" id="indicationId"
                   value="<?= $indication ? $indication->getId() : '' ?>">
            <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="stateCheckbox" name="stateCheckbox"
                                   onclick="setState()">
                            <label class="form-check-label" for="state">Estadual</label>
                        </div>
                    </div>
                </div><br>
            <?php endif; ?>
            <div class="row">
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <select class="form-control form-select" id="state" name="state"
                                    onchange="getCities(this.value, 'city')" required>
                                <option value="">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"
                                        <?= $indication ? $state->getId() == $indication->getState()->getId() ? 'selected' : '' : '' ?>>
                                        <?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" id="cityDiv">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select name="city" id="city" class="form-control form-select" required>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateDefaultersFilter">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getEstado() ?>"
                                   disabled
                                   readonly>
                            <input type="hidden" id="state" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select class="form-select" id="city" name="city">
                                <option value="" selected>Todas</option>
                                <?php foreach ($cities as $city) : ?>
                                    <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="type">Tipo:</label>
                        <select name="type" id="type" class="form-control form-select" required>
                            <option value="">Selecione</option>
                            <option value="1" <?= $indication ? $indication->getType() == 1 ? 'selected' : '' : '' ?>
                                    selected>
                                Núcleo
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select name="status" id="status" class="form-control form-select" required>
                            <option value="">Selecione</option>
                            <option value="5" <?= $indication ? $indication->getStatus() == 5 ? 'selected' : '' : '' ?>
                                    selected>
                                Análise DE
                            </option>
                            <option value="6" <?= $indication ? $indication->getStatus() == 6 ? 'selected' : '' : '' ?> <?= $user->getType() != 3 ? "disabled" : '' ?>>
                                Análise DN
                            </option>
                            <option value="3" <?= $indication ? $indication->getStatus() == 3 ? 'selected' : '' : '' ?> <?= $user->getType() != 3 ? "disabled" : '' ?>>
                                Ativo
                            </option>
                            <option value="4" <?= $indication ? $indication->getStatus() == 4 ? 'selected' : '' : '' ?> <?= $user->getType() != 3 ? "disabled" : '' ?>>
                                Encerrado
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <?php if ($indication || 1 == 1): ?>
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="zipCode">CEP:</label>
                            <input class="form-control" name="zipCode" data-mask="99999-999" type="text" id="zipCode"
                                   value="<?= $indication ? $indication->getZipCode() : '' ?>">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="street">Logradouro:</label>
                            <input class="form-control" type="text" id="street" name="street"
                                   value="<?= $indication ? $indication->getStreet() : '' ?>">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="number">Número:</label>
                            <input class="form-control" name="number" type="number" id="number"
                                   value="<?= $indication ? $indication->getNumber() : '' ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="district">Bairro:</label>
                            <input class="form-control" type="text" id="district" name="district"
                                   value="<?= $indication ? $indication->getDistrict() : '' ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="complement">Complemento:</label>
                            <input class="form-control" name="complement" type="text" id="complement"
                                   value="<?= $indication ? $indication->getComplement() : '' ?>">
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <hr>
            <div class="row">
                <div class="row">
                    <label for="office">Cargo:</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select name="office" id="office" class="form-control form-select">
                                <?php for($i = 1; $i <= 50; $i++): ?>
                                    <option value="<?= $i ?>">Líder <?= $i ?></option>
                                <?php endfor; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button title="Adicinar Dirigente" class="btn btn-success text-end"
                                id="add-leader">
                            <i class="fa fa-plus" style="color: #F36F21"></i> Adicionar
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div id="divCloned"></div>
            </div>
            <div class="col-12 text-center">
                <div class="spinner-border m-t-10" role="status" id="loaderData" style="opacity: 0">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </div>
            </div>
            <div class="col text-center" id="buttonsDiv">
                <a type="button" class="btn btn-danger text-white" href="<?= BASEURL ?>indicacoes/">
                    <i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>

                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_INDICACAODEDIRETORIOS_CRIACAO_EDICAO)): ?>
                    <button id="save" type="submit" class="btn btn-success">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
                <?php endif; ?>
            </div>
        </form>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/indications/indicatesCore.js?v=<?= time() ?>"></script>

<script>
    var stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>;
    var editValid = <?= $indication ? $user->getType() != 3 && $indication->getStatus() == 6 ? 1 : 0 : 0 ?>;
    var levelUser = <?= $user->getLevel() ?>;

    $(document).ready(function () {
        if (stateUser > 0) getCities(stateUser, 'city');
        $("#zipCode").keyup(function () {
            loadAddress2();
        });
        <?php if($indication && $indication->getLevel() == 2): ?>
        document.getElementById("stateCheckbox").checked = true;
        $('#city').attr('readonly', true);
        $('#city').attr("style", "pointer-events: none;");
        <?php endif; ?>
    });
</script>