<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Cadastro de Fornecedores</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_FORNECEDORES_CRIACAO_EDICAO)): ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-success" onclick="openModal(0)"><i class="fa fa-plus"></i>Adicionar</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nameResponsibleProviderFilter">Nome Responsável</label>
                                <input class="form-control" type="text" id="nameResponsibleProviderFilter"
                                       name="nameResponsible" placeholder="Nome Responsável">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="corporateNameProviderFilter">Razão Social</label>
                                <input class="form-control" type="text" id="corporateNameProviderFilter"
                                       name="corporateName" placeholder="Razão Social">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cpfCnpjProviderFilter">CPF/CNPJ</label>
                                <input class="form-control" type="text" id="cpfCnpjProviderFilter"
                                       name="cpfCnpj" placeholder="CPF/CNPJ"
                                       onkeyup="maskCpfCnpjKeyUp(this.value, 'cpfCnpjProviderFilter')">
                            </div>
                        </div>
                        <div class="col-12 text-end mt-auto m-b-20">
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_FORNECEDORES_EXPORTACAO)): ?>
                                <button class="btn btn-primary" type="button" onclick="csv()"><i class="fa fa-download"
                                                                                                 aria-hidden="true"></i>
                                    Exportar
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-danger mx-1" type="reset" onclick="resetTable('Provider')">
                                <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                            </button>
                            <button class="btn btn-success mx-1" type="submit">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limitProvider"
                                onchange="getLimit(this.value, 'Provider')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startProvider"></span> a <span id="endProvider"></span> de
                            <span id="totalProvider"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="tableProvider" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Razão Social</th>
                                <th class="text-center">Responsável</th>
                                <th class="text-center">CPF/CNPJ</th>
                                <th class="text-center">Telefone</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderProvider m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationProvider" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Fornecedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="supplierId" id="id" value="0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type">Categoria</label>
                                <select id="type" name="type" class="form-select" required>
                                    <option value="">Selecionar</option>
                                    <option value="1">Pessoa Física</option>
                                    <option value="2">Pessoa Jurídica</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cpfCnpj">CPF/CNPJ</label>
                                <input id="cpfCnpj" placeholder="CPF/CNPJ" name="cpfCnpj" type="text"
                                       class="form-control" required onkeyup="maskCpfCnpjKeyUp(this.value, 'cpfCnpj')">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="name">Razão Social</label>
                                <input id="name" placeholder="Razão Social" name="name" type="text"
                                       class="form-control text-uppercase"
                                       onkeyup="this.value = this.value.toUpperCase();" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nameResponsible">Nome do Responsável</label>
                                <input id="nameResponsible" placeholder="Nome do Responsável" name="nameResponsible"
                                       type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cpfResponsible">CPF do Responsável</label>
                                <input id="cpfResponsible" placeholder="CPF do Responsável" name="cpfResponsible"
                                       type="text" class="form-control"
                                       onkeyup="maskCpfCnpjKeyUp(this.value, 'cpfResponsible')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Telefone</label>
                                <input id="phone" placeholder="Telefone" name="phone" type="text"
                                       class="form-control" onkeyup="maskPhone(this.value, 'phone')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input id="email" placeholder="E-mail" name="email" type="text"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="accounts">Conta Crédito</label>
                                <input class="form-control" type="search" placeholder="Pesquisar" name="creditAccount"
                                       id="inputAccounts" list="accounts">
                                <datalist id="accounts">
                                    <?php foreach ($accounts

                                    as $s): ?>
                                    <option value="<?= $s->getAccountDescription() ?>">
                                        <?= $s->getAccountDescription() ?>
                                    <option>
                                        <?php endforeach ?>
                                </datalist>
                                <br>
                                <div id="duplicatedAccountingDebitForm2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="paymentMethod">Forma Pagamento: </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="radio" id="billet" name="paymentMethod" value="1"
                                               style="transform: scale(2.0); margin-right: 10px;">
                                        <label for="billet">Boleto</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="radio" id="deposit" name="paymentMethod" value="2"
                                               style="transform: scale(2.0); margin-right: 10px;">
                                        <label for="deposit">Depósito</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="bankData" style="display: none">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cod">Código</label>
                                        <input id="cod" placeholder="Código" name="cod" type="text"
                                               class="form-control" data-mask="999" onkeyup="getBank(this.value)">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="bank">Banco</label>
                                        <select id="bank" name="bank" class="form-select">
                                            <option value="">Selecionar</option>
                                            <?php foreach ($banks as $bank): ?>
                                                <option value="<?= $bank->getId() ?>">
                                                    <?= $bank->getCod() ?> - <?= $bank->getName() ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="agency">Agência</label>
                                        <input id="agency" placeholder="Agência" name="agency" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="account">Conta</label>
                                        <input id="account" placeholder="Conta" name="account" type="text"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2rem)" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_FORNECEDORES_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_FORNECEDORES_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/records/provider.js?v=<?= time() ?>"></script>