<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h5 class="title"><?php echo $title ?></h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="eventGeralRegistrationsFilter">Evento:</label>
                        <input class="form-control" type="search" placeholder="Pesquisar"
                               id="eventGeralRegistrationsFilter" name="event" list="listEvents">
                        <datalist id="listEvents">
                            <option value="" selected>Selecione</option>
                            <?php foreach ($events as $e): ?>
                                <option value="<?= $e['nome'] ?>"></option>
                            <?php endforeach ?>
                        </datalist>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nameGeralRegistrationsFilter">Nome:</label>
                        <input class="form-control" id="nameGeralRegistrationsFilter" name="name" type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpfEventsCheckinFilter">CPF:</label>
                        <input class="form-control" id="cpfGeralRegistrationsFilter" name="cpf" type="text"
                               data-mask="999.999.999-99">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="statusEventsCheckinFilter">Status:</label>
                        <select class="form-select" id="statusGeralRegistrationsFilter" name="status">
                            <option value="" selected>Todos</option>
                            <option value="confirmado">Confirmado</option>
                            <option value="pendente">Pendente</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="stateGeralRegistrationsFilter">Estado:</label>
                                <select class="form-select" id="stateGeralRegistrationsFilter" name="state"
                                        onchange="getCities(this.value, 'cityGeralRegistrationsFilter')">
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                        <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cityGeralRegistrationsFilter">Cidade:</label>
                                <select class="form-select" id="cityGeralRegistrationsFilter" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="stateGeralRegistrationsFilter">Estado:</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                       disabled readonly>
                                <input type="hidden" id="stateGeralRegistrationsFilter" name="state"
                                       value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cityGeralRegistrationsFilter">Cidade:</label>
                                <select class="form-select" id="cityGeralRegistrationsFilter" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    <?php else: ?>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="stateGeralRegistrationsFilter">Estado:</label>
                                <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                       disabled readonly>
                                <input type="hidden" id="stateGeralRegistrationsFilter" name="state"
                                       value="<?= $user->getState()->getId() ?>">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cityGeralRegistrationsFilter">Cidade:</label>
                                <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                       disabled readonly>
                                <input type="hidden" id="cityGeralRegistrationsFilter" name="city"
                                       value="<?= $user->getCity()->getId() ?>">
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="genderGeralRegistrationsFilter">Genero:</label>
                            <select class="form-select" id="genderGeralRegistrationsFilter" name="gender">
                                <option value="">Todos</option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                                <option value="3">Não quero informar</option>
                                <option value="4">Desconhecido</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row g-3 align-items-center m-b-30">
                        <div class="col-auto">
                            <span>Exibir </span>
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-select" id="limitGeralRegistrations"
                                    onchange="getLimit(this.value, 'GeralRegistrations')">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <span> registros</span>
                        </div>
                    </div>
                </div>
                <div class="col-9 text-end">
                    <div class="form-group">
                        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_EVENTOS_EXPORTACAO)): ?>
                            <button id="export" type="button" onclick="csv()" class="btn btn-primary">
                                <i class="fa fa-download" aria-hidden="true"></i> Exportar
                            </button>
                        <?php endif; ?>
                        <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                            Filtrar
                        </button>
                        <button class="btn btn-danger" type="reset" onclick="resetTable('GeralRegistrations')"><i
                                    class="fa fa-eraser" aria-hidden="true"></i> Limpar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startGeralRegistrations"></span> a <span id="endGeralRegistrations"></span> de
                    <span id="totalGeralRegistrations"></span> registros</p>
            </div>
        </div>
        <div class="row table-responsive-xl custom-scrollbar">
            <div class="col-12">
                <table id="tableGeralRegistrations" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Genero</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Status Inscrição</th>
                        <th class="text-center">Nome Evento</th>
                        <th class="text-center">Data Evento</th>
                        <th class="text-center">Cidade/Estado</th>
                        <th class="text-center">Quem indicou</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderGeralRegistrations m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary"
                    id="paginationGeralRegistrations" style="top: auto">
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    let stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>;
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_EVENTOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_EVENTOS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/events/allRegistrations.js?v=<?= time() ?>"></script>