<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-10">
				<h5 class="title"><?= $title ?></h5>
			</div>
			<div class="col-md-2 text-end">
				<button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#registerModal">
				<i class="fa fa-plus" aria-hidden="true"></i> Adicionar Participante</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<label for="codeEventsCheckinFilter">Código:</label>
						<input class="form-control" id="codeEventsCheckinFilter" name="code" type="text">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="nameEventsCheckinFilter">Nome:</label>
						<input class="form-control" id="nameEventsCheckinFilter" name="name" type="text">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="cpfEventsCheckinFilter">CPF:</label>
						<input class="form-control" id="cpfEventsCheckinFilter" name="cpf" type="text" data-mask="999.999.999-99">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="statusEventsCheckinFilter">Status:</label>
						<select class="form-select" id="statusEventsCheckinFilter" name="status">
							<option value="" selected>Todos</option>
							<option value="confirmado">Confirmado</option>
							<option value="pendente">Pendente</option>
						</select>
					</div>
				</div>
				<div class="col-3 text-end">
					<div class="form-group">
						<button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar</button>
						<button class="btn btn-danger" type="reset" onclick="resetTable('EventsCheckin')"><i class="fa fa-eraser" aria-hidden="true"></i> Limpar</button>
					</div>
				</div>
			</div>
		</form>
		<div class="row g-3 align-items-center m-b-10">
			<div class="col">
				<p>Exibindo de <span id="startEventsCheckin"></span> a <span id="endEventsCheckin"></span> de
					<span id="totalEventsCheckin"></span> registros</p>
			</div>
			<div class="col-auto">
				<span>Exibir </span>
			</div>
			<div class="col-auto">
				<select class="form-control form-select" id="limitEventsCheckin"
				        onchange="getLimit(this.value, 'EventsCheckin')">
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-auto">
				<span> registros</span>
			</div>
		</div>
		<form id="eventForm">
			<div id="messageForm" class="alert d-none" role="alert"></div>
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="tableEventsCheckin" class="table table-bordered table-striped">
						<thead>
						<tr>
							<th class="text-center">Código</th>
							<th class="text-center">Nome</th>
							<th class="text-center">CPF</th>
							<th class="text-center">Status</th>
							<th class="text-center">Data checkin</th>
							<th class="text-center">Check-in</th>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<div class="spinner-border loaderEventsCheckin m-t-10" role="status">
						<span class="sr-only mx-auto">Loading...</span>
					</div>
				</div>
			</div>
			<div class="row text-end">
				<nav aria-label="...">
					<ul class="pagination justify-content-end pagination-primary"
					    id="paginationEventsCheckin" style="top: auto">

					</ul>
				</nav>
			</div>
		</form>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="registerModalLabel">Novo Participante</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="formRegister" enctype="multipart/form-data" method="post" class="was-validated" novalidate>
				<div class="modal-body custom-scrollbar">
					<input type="hidden" name="eventId" id="eventId" value="<?= $events->getId() ?>">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="cpfRegister">CPF:</label>
									<input class="form-control" id="cpfRegister" name="cpf" type="text"
									       data-mask="999.999.999-99" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="nameRegister">Nome:</label>
									<input class="form-control" id="nameRegister" name="name" type="text" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12	">
								<div class="form-group">
									<label for="emailRegister">E-mail:</label>
									<input class="form-control" id="emailRegister" name="email" type="email" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12	">
								<div class="form-group">
									<label for="phoneRegister">Telefone:</label>
									<input class="form-control" id="phoneRegister" name="phone" type="text"
									       data-mask="(99) 99999-9999" required>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
						<button type="submit" id="saveRegister" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Confirmar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/js/clipboard.min.js"></script>
<script src="<?= BASEURL ?>assets/js/jquery.creditCardValidator.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/events/checkin.js?v=<?= time() ?>"></script>