<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Cupons do Evento</h5>
            </div>
            <div class="col text-end">
                <button type="button" onclick="changeModal('#exampleModal', 'show')" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Novo Cupom
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="event">Evento:</label>
                        <input type="text" id="event" name="event" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="">Selecione</option>
                            <option value="1">Ativo</option>
                            <option value="2">Desativado</option>
                            <option value="3">Cancelado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                            aria-hidden="true"></i> Limpar</button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div style="display: none" id="divMessage" class="alert" role="alert"></div>
                </div>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th class="text-center">Evento</th>
                            <th class="text-center">Código</th>
                            <th class="text-center">Usuário</th>
                            <th class="text-center">Criação</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Min/Max por pessoa</th>
                            <th class="text-center">Usados</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Cupom</h5>
            </div>
            <form id="formModal">
                <input type="hidden" id="eventId" name="eventId" value="<?= $event ?>">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Nome:</label>
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="code">Código:</label>
                                <input type="text" id="code" name="code" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="type">Tipo:</label>
                                <select class="form-control" name="type" id="type" onchange="setType(this.value)">
                                    <option value="">Selecione</option>
                                    <option value="1">Porcentagem</option>
                                    <option value="2">Valor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 d-none" id="valueDiv">
                            <div class="form-group">
                                <label for="value">Valor:</label>
                                <input type="text" id="value" name="value" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 d-none" id="porcentDiv">
                            <div class="form-group">
                                <label for="porcent">Porcentagem:</label>
                                <input type="number" id="porcent" name="porcent" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="max">Limite:</label>
                                <input type="number" id="max" name="max" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select class="form-control" name="status" id="status">
                                    <option value="">Selecione</option>
                                    <option value="1">Ativo</option>
                                    <option value="3">Desativado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="minPerson">Limite Min por Pessoa:</label>
                                <input type="number" id="minPerson" name="minPerson" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                                <label for="maxPerson">Limite Max por Pessoa:</label>
                                <input type="number" id="maxPerson" name="maxPerson" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row d-none">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateBegin">Data inicio:</label>
                                <input type="date" id="dateBegin" name="dateBegin" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateFinal">Data fim:</label>
                                <input type="date" id="dateFinal" name="dateFinal" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="divMessageFormData" class="alert" role="alert" style="display: none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col text-end">
                        <button class="btn btn-danger" type="button" onclick="changeModal('#exampleModal', 'hide')">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
                        <button class="btn btn-success" id="save" type="submit">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/events/coupons.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>

<script>
    let eventId = <?= $event ?>;
</script>
