<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-8">
				<h5 class="title"><?php echo $title ?></h5>
			</div>
			<div class="col-md-4 text-end">
				<a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#docsModal" href="#"
				   target="_blank"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar Documento!</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table class="table table-bordered table-striped" id="dataTable">
					<thead>
					<tr>
						<th class="text-center">Tipo</th>
						<th class="text-center">Criação</th>
						<th class="text-center">Usuário</th>
						<th class="text-center">Descrição</th>
						<th class="text-center"></th>
					</tr>
					</thead>
					<tbody>
					<?php if ($documents): ?>
						<?php foreach ($documents as $document): ?>
							<tr>
								<td class="text-center"><?= $document->getTypeString() ?></td>
								<td class="text-center"><?= $document->getCreated()->format('d/m/Y H:i:s') ?></td>
								<td class="text-center"><?= $document->getUser()->getName() ?></td>
								<td class="text-center"><?= $document->getDescription() ?></td>
								<td class="text-center"><a type="button" class="btn btn-secondary"
								                           href="<?= BASEURL ?>uploads/eventos/<?= $document->getName() ?>"
								                           target="_blank">Download</a></td>
							</tr>
						<?php endforeach; ?>
					<?php else: ?>
						<tr>
							<td colspan="5" class="text-center">Nenhum documento cadastrado</td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- docsModal -->
<div class="modal fade" id="docsModal" tabindex="-1" role="dialog" aria-labelledby="docsModal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header card-header">
				<h5 class="modal-title">Documentos</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<form id="docsForm" enctype="multipart/form-data" method="post">
				<div class="modal-body custom-scrollbar">
					<input type="hidden" name="event" id="event" value="<?= $event->getId() ?>">
					<div class="row">
						<div class="col-md-6">
							<label for="doc">Arquivo:</label>
							<input id="doc" name="doc" class="form-control" type="file"
							       style="opacity: 1; border: 0px;padding-bottom: 10%;">
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="type">Tipo</label>
								<select class="form-select" id="type" name="type">
									<option value="" disable selected>Todos</option>
									<option value="1">Autorização</option>
									<option value="2">Comunicado</option>
									<option value="3">Outros</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<label for="docsFile">Descrição:</label>
							<textarea class="form-control" id="description" name="description" rows="8" cols="50"
							          placeholder="Opcional"></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="docsMessageForm" class="alert text-center d-none" role="alert"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" id="saveDocs" class="btn btn-success">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	const docsMessageForm = document.getElementById('docsMessageForm');
	$("#docsForm").submit(function (e) {
		event.preventDefault();
		showLoading();
		$.ajax({
			type: 'POST',
			url: '<?= BASEURL ?>eventos/salva-documento/',
			data: new FormData(this),
			processData: false,
			contentType: false
		})
			.done(function (json) {
				closeLoading();
				docsMessageForm.classList.add("alert-success");
				docsMessageForm.classList.remove("alert-danger");
				docsMessageForm.textContent = json.message;
				docsMessageForm.classList.remove("d-none");
				document.getElementById("saveDocs").disabled = true;
				setTimeout(function () {
					location.reload();
				}, 2500);
			})
			.fail(function (json) {
				closeLoading();
				docsMessageForm.classList.add("alert-danger");
				docsMessageForm.classList.remove("alert-success");
				docsMessageForm.textContent = json.responseJSON.message;
				docsMessageForm.classList.remove("d-none");
			});
	});

	$(document).ready(function () {
	});
</script>