<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">Listagem de Eventos</h5>
            </div>
            <div class="col-md-8 text-end">
                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_EVENTOS_CRIACAO_EDICAO)): ?>
                    <a type="button" class="btn btn-success" href="<?= BASEURL ?>eventos/adicionar-evento"
                       target="_blank"><i class="fa fa-plus"></i> Adicionar Evento</a>
                <?php endif; ?>
                <a type="button" class="btn btn-primary" href="<?= BASEURL ?>eventos/participantes-geral"
                   target="_blank"><i class="fa fa-users"></i> Lista geral de participantes</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="nameEventsFilter">Nome</label>
                        <input class="form-control" id="nameEventsFilter" name="nameEventsFilter" type="text"
                               placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="directoryEventsFilter">Diretório Organizador</label>
                        <select class="form-select" id="directoryEventsFilter" name="directory">
                            <option value="" selected>Todos</option>
                            <?php foreach ($directorys as $directory): ?>
                                <option value="<?= $directory->getId() ?>"><?= $directory->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="specieEventsFilter">Modelo</label>
                        <select class="form-select" id="specieEventsFilter" name="specie">
                            <option value="" selected>Todos</option>
                            <option value="5">Tradicional</option>
                            <option value="7">Tradicional (Grátis + Doação)</option>
                            <option value="6">Vaquinha</option>
                            <option value="1">Loja</option>
                            <option value="3">Lives</option>
                            <option value="2">Mobilização</option>
                            <option value="4">Política da Mulher</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="statusEventsFilter">Status</label>
                        <select class="form-select" id="statusEventsFilter" name="status">
                            <option value="" selected>Todos</option>
                            <option value="ativo" selected>Ativo</option>
                            <option value="pendente">Pendente</option>
                            <option value="cancelado">Cancelado</option>
                            <option value="finalizado">Finalizado</option>
                        </select>
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateEventsFilter">Estado</label>
                            <select class="form-select" id="stateEventsFilter" name="state"
                                    onchange="getCities(this.value, 'cityEventsFilter')">
                                <option value="">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cityEventsFilter">Cidade</label>
                            <select class="form-select" id="cityEventsFilter" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateEventsFilter">Estado</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" id="EventsFilter"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cityEventsFilter">Cidade</label>
                            <select class="form-select" id="cityEventsFilter" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateEventsFilter">Estado</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" id="EventsFilter"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cityEventsFilter">Cidade</label>
                            <select class="form-select" id="cityEventsFilter" name="city" type="city">
                                <option value="" selected>Todas</option>
                                <?php foreach ($cities as $city) : ?>
                                    <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col-md-6">
                    <div class="row g-3 align-items-center m-b-30">
                        <div class="col-auto">
                            <span>Exibir </span>
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-select" id="limitEvents"
                                    onchange="getLimit(this.value, 'Events')">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <span> registros</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group text-end m-t-45">
                        <div class="col ">
                            <button class="btn btn-danger" type="reset" onclick="resetTable('Events')">Limpar</button>
                            <button class="btn btn-success" type="submit">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startEvents"></span> a <span id="endEvents"></span> de
                    <span id="totalEvents"></span> registros</p>
            </div>
        </div>
        <form id="eventForm">
            <div class="row table-responsive-xl custom-scrollbar" style="overflow-x: auto">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="tableEvents" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Data</th>
                                <th class="text-center">Organizador</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Modelo</th>
                                <th class="text-center">Cidade</th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="spinner-border loaderEvents m-t-10" role="status">
                        <span class="sr-only mx-auto">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row text-end">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end pagination-primary"
                        id="paginationEvents" style="top: auto">

                    </ul>
                </nav>
            </div>
        </form>
    </div>
</div>

<!-- Modal de Cancelamento -->
<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar Evento</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center my-4">
                        <i class="fa fa-exclamation-triangle text-danger fa-4x mx-4"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col f-14 text-center">
                        <h5 class="title">Você tem certeza que deseja fazer isso?</h5>
                        Sua ação será permanente e você não poderá recuperar os dados excluídos!
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col text-end">
                        <a class="btn btn-danger text-white" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                        <a class="btn btn-success text-white" id="confirmCancel">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>


<script>

    var userLevel = '<?= $user->getLevel() ?>';
    var userState = '<?= $user->getState() ? $user->getState()->getId() : 0 ?>';
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_EVENTOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_EVENTOS_CRIACAO_EDICAO, false, true) ?>;


</script>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/events/events.js?v=<?= time() ?>"></script>
