<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title"><?= $title ?></h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input class="form-control" id="cpf" name="cpf" type="text">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select class="form-select" id="status" name="status">
                            <option value="" selected>Todos</option>
                            <option value="confirmado">Confirmado</option>
                            <option value="pendente">Pendente</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ticket">Tipo de Ingresso:</label>
                        <select class="form-select" id="ticket" name="ticket">
                            <option value="" selected>Todos</option>
                            <?php foreach ($tickets as $ticket): ?>
                                <option value="<?= $ticket['descricao'] ?>"><?= $ticket['descricao'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="gender">Genero:</label>
                        <select class="form-select" id="gender" name="gender">
                            <option value="" selected>Todos</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                            <option value="3">Não quero informar</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row text-left">
                <div class="col">
                    <div class="form-group">
                        <span class="btn btn-sm btn-success text-white" style='font-size: 20px;'>
                            <i class="fa fa-check"
                               aria-hidden="true"></i> Total arrecadado: <?= 'R$ ' . $valuesConfirmed['value'] ?> </span>
                        <span class="btn btn-sm btn-warning text-white" style='font-size: 20px;'>
                            <i class="fa fa-exclamation-triangle"
                               aria-hidden="true"></i> Pendentes: <?= 'R$ ' . $valuesPending['value'] ?> </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_EVENTOS_EXPORTACAO)): ?>
                        <button class="btn btn-warning text-white" type="button"
                                onclick="csvTransactions(<?= $events->getId() ?>)">
                            <i class="fa fa-usd" aria-hidden="true"></i> Transações
                        </button>
                        <button class="btn btn-primary text-white" type="button" onclick="csv(<?= $events->getId() ?>)">
                            <i class="fa fa-download" aria-hidden="true"></i> Exportar
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div style="display: none" id="divMessage" class="alert" role="alert"></div>
                </div>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Situação</th>
                        <th class="text-center">E-mail</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">UF</th>
                        <th class="text-center">Município</th>
                        <th class="text-center">Tipo Ingresso</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Forma Pagamento</th>
                        <th class="text-center">Data inscrição</th>
                        <th class="text-center">Quem indicou</th>
                        <th class="text-center">Status</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/events/participants.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>

<script>
    let id = <?= $events->getId() ?>;
</script>
