<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title"><?= $title ?></h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Nome Reporter:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="vehicle">Veículo:</label>
                        <input type="text" id="vehicle" name="vehicle" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="phone">Telefone:</label>
                        <input type="text" id="phone" name="phone" class="form-control" data-mask="(99) 99999-9999">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="type">Profissionais:</label>
                        <select class="form-control" name="type" id="type">
                            <option value="">Todos</option>
                            <option value="1">Camera</option>
                            <option value="2">Fotógrafo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <button class="btn btn-primary text-white" type="button" onclick="csv(<?= $event ?>)">
                        <i class="fa fa-download" aria-hidden="true"></i> Exportar</button>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                            aria-hidden="true"></i> Limpar</button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div style="display: none" id="divMessage" class="alert" role="alert"></div>
                </div>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nome Reporter:</th>
                            <th class="text-center">Veículo</th>
                            <th class="text-center">Telefone</th>
                            <th class="text-center">Profissionais</th>
                            <th class="text-center">Cadastro</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/events/press.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>

<script>
    let eventId = <?= $event ?>;
</script>
