<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-12">
				<h5 class="title"><?= $title ?></h5>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="nameEventsRegistrationFilter">Nome</label>
						<input class="form-control" id="nameEventsRegistrationFilter" name="name" type="text">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="cpfEventsRegistrationFilter">CPF</label>
						<input class="form-control" id="cpfEventsRegistrationFilter" name="cpf" type="text">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="statusEventsRegistrationFilter">Status</label>
						<select class="form-select" id="statusEventsRegistrationFilter" name="status">
							<option value="" selected>Todos</option>
							<option value="confirmado">Confirmado</option>
							<option value="pendente">Pendente</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="ticketEventsRegistrationFilter">Tipo de Ingresso</label>
						<select class="form-select" id="ticketEventsRegistrationFilter" name="ticket">
							<option value="" selected>Todos</option>
							<?php foreach ($tickets as $ticket): ?>
								<option value="<?= $ticket['descricao'] ?>"><?= $ticket['descricao'] ?></option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="col-12 text-end m-t-45">
					<div class="form-group">
						<button class="btn btn-info text-white" type="button" onclick="csv(<?= $events->getId() ?>)">Exportar
						</button>
						<button class="btn btn-danger" type="reset" onclick="resetTable('EventsRegistration')">Limpar</button>
						<button class="btn btn-success" type="submit">Filtrar</button>
					</div>
				</div>
			</div>
			<div class="row text-left">
				<div class="col">
                            <span class="btn btn-sm btn-info text-white" style='font-size: 20px;'>Total arrecadado:
                                <?= 'R$ ' . $valuesConfirmed['value'] ?> </span>
					<span class="btn btn-sm btn-success" style='font-size: 20px;'>Pendentes:
                                <?= 'R$ ' . $valuesPending['value'] ?> </span>
				</div>
			</div>
		</form>
		<div class="row g-3 align-items-center m-b-30 m-t-30">
			<div class="col-auto">
				<span>Exibir </span>
			</div>
			<div class="col-auto">
				<select class="form-control form-select" id="limitEventsRegistration"
				        onchange="getLimit(this.value, 'EventsRegistration')">
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-auto">
				<span> registros</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Exibindo de <span id="startEventsRegistration"></span> a <span id="endEventsRegistration"></span> de
					<span id="totalEventsRegistration"></span> registros</p>
			</div>
		</div>
		<div class="row table-responsive-xl" >
			<div class="col custom-scrollbar" style="overflow-x: auto">
				<table id="tableEventsRegistration" class="table table-bordered table-striped">
					<thead>
					<tr class="text-center">
						<th class="text-center">Nome</th>
						<th class="text-center">Situação</th>
						<th class="text-center">E-mail</th>
						<th class="text-center">Telefone</th>
						<th class="text-center">CPF</th>
						<th class="text-center">UF</th>
						<th class="text-center">Municipio</th>
						<th class="text-center">Tipo Ingresso</th>
						<th class="text-center">Valor</th>
						<th class="text-center">Forma Pagamento</th>
						<th class="text-center">Data inscrição</th>
						<th class="text-center">Quem indicou</th>
						<th class="text-center">Status</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="spinner-border loaderEventsRegistration m-t-10" role="status">
					<span class="sr-only mx-auto">Loading...</span>
				</div>
			</div>
		</div>
		<div class="row text-end">
			<nav aria-label="...">
				<ul class="pagination justify-content-end pagination-primary"
				    id="paginationEventsRegistration" style="top: auto">

				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/events/registrations.js?v=<?= time() ?>"></script>

<script>
    let id = <?= $events->getId() ?>;
</script>