<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h5 class="title">Cadastro de evento</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <select name="model" id="model" class="form-select" onchange="appear(this.value)" required>
                        <option value="" selected disabled hidden>Selecione o modelo de evento</option>
                        <option value="1" <?= $events ? $events->getSpecie() == 1 ? 'selected' : '' : '' ?>>Loja
                        </option>
                        <option value="2" <?= $events ? $events->getSpecie() == 2 ? 'selected' : '' : '' ?>>
                            Mobilização
                        </option>
                        <option value="3" <?= $events ? $events->getSpecie() == 3 ? 'selected' : '' : '' ?>>Online
                        </option>
                        <option value="4" <?= $events ? $events->getSpecie() == 4 ? 'selected' : '' : '' ?>>Política da
                            Mulher
                        </option>
                        <option value="5" <?= $events ? $events->getSpecie() == 5 ? 'selected' : '' : '' ?>>
                            Tradicional
                        </option>
                        <option value="6" <?= $events ? $events->getSpecie() == 6 ? 'selected' : '' : '' ?>>Vaquinha
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="paidEvent">
                <form id="paidEventForm" enctype="multipart/form-data" method="post" class="was-validated form-group" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="title">Classificação</h2>
                                    <div class="row">
                                        <input type="hidden" id="eventId" name="eventId"
                                               value="<?= $events ? $events->getId() : '' ?>">
                                        <input type="hidden" id="specie" name="specie"
                                               value="<?= $events ? $events->getSpecie() : '' ?>">
                                        <div class="col-md-12">
                                            <div class="alert alert-primary d-none" role="alert" id="alertWoman">
                                                Eventos do tipo 'Política da Mulher' deverão ser classificados
                                                como gratuitos.
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="type">Tipo:<span class="text-danger"> *</span></label>
                                                <select name="type" id="type" class="form-select" required
                                                        onchange="appear2(this.value)">
                                                    <option value="" selected disabled hidden>Selecione</option>
                                                    <option
                                                            value="pago" <?= $events ? $events->getType() == 'pago' ? 'selected' : '' : '' ?>>
                                                        Pago
                                                    </option>
                                                    <option
                                                            value="gratuito" <?= $events ? $events->getType() == 'gratuito' ? 'selected' : '' : '' ?>>
                                                        Gratuito
                                                    </option>
                                                    <option
                                                            value="misto" <?= $events ? $events->getType() == 'misto' ? 'selected' : '' : '' ?>>
                                                        Gratuito + Doação
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="status">Status:<span class="text-danger"> *</span></label>
                                                <select name="status" id="status" class="form-select" required
	                                                <?= $events ? in_array($events->getStatus(), ['cancelado', 'finalizado']) ? 'disabled' : '' : ''?>>
                                                    <option value="" selected disabled hidden>Selecione</option>
                                                    <option value="ativo" <?= $events ? $events->getStatus() == 'ativo' ? 'selected' : '' : '' ?>>Ativo</option>
                                                    <option value="pendente" <?= $events ? $events->getStatus() == 'pendente' ? 'selected' : '' : '' ?>>Pendente</option>
                                                    <option value="cancelado" <?= $events ? $events->getStatus() == 'cancelado' ? 'selected' : '' : '' ?>>Cancelado</option>
                                                    <option value="finalizado" <?= $events ? $events->getStatus() == 'finalizado' ? 'selected' : '' : '' ?>>Finalizado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="category">Categoria:</label>
                                                <select name="category" id="category" class="form-select" required>
                                                    <option value="" selected disabled hidden>Selecione</option>
                                                    <option
                                                            value="4" <?= $events ? $events->getCategory() == 4 ? 'selected' : '' : '' ?>>
                                                        Evento
                                                    </option>
                                                    <option
                                                            value="1" <?= $events ? $events->getCategory() == 1 ? 'selected' : '' : '' ?>>
                                                        Doação
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="oficial">Oficial:</label>
                                                <select name="oficial" id="oficial" class="form-select"
                                                        onchange="setOficial(this.value, 'show')">
                                                    <option value="" disabled hidden>Selecione</option>
                                                    <option
                                                            value="1" <?= $events ? $events->getOficial() ? 'selected' : '' : '' ?>>
                                                        Evento oficial
                                                    </option>
                                                    <option
                                                            value="0" <?= $events ? !$events->getOficial() ? 'selected' : '' : '' ?>>
                                                        Evento não oficial
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="show">Exibir na agenda do novo?</label>
                                                <select name="show" id="show" class="form-select">
                                                    <option value="" disabled hidden>Selecione</option>
                                                    <option
                                                            value="1" <?= $events ? $events->getShow() == 1 ? 'selected' : '' : '' ?>>
                                                        Sim
                                                    </option>
                                                    <option
                                                            value="0" <?= $events ? $events->getShow() == 0 ? 'selected' : '' : '' ?>>
                                                        Não
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-none" id="informativeDiv">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="title">Informativo TSE</h2>
                                    <div class="alert alert-primary" role="alert" id="informationTraditional">
                                        Eventos com cobrança de ingressos e/ou doações, devem ser informados ao
                                        Cartório Eleitoral.<br>
                                        Caso o informativo não seja anexado, o status do evento
                                        será alterado para pendente no sistema 7 dias antes da data prevista.
                                    </div>
                                    <label for="informative">Arquivo de comunicado TSE:</label>
                                    <input id="informative" name="informative"
                                           class="form-control-file input-sm" type="file"
                                           aria-describedby="fileHelp" style="opacity: 1; max-width: 100%; position: initial;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="title">Informações básicas</h2>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="user">Usuário Responsável:</label>
                                                <input id="user" name="user"
                                                       value="<?= $events ? $events->getUserId()->getName() : $user->getName() ?>"
                                                       type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="directory">Diretório:<span class="text-danger"> *</span></label>
                                                <?php if($events): ?>
                                                    <input class="form-control" type="text" id="directory" name="directory" 
                                                        value="<?= $events->getDirectory()->getName() ?>" readonly>
                                                <?php else: ?>
                                                    <input class="form-control" type="search"
                                                            name="directory" id="directory"
                                                            list="directoryList" required>
                                                    <datalist id="directoryList">
                                                        <option value="" selected>Selecione</option>
                                                        <?php foreach ($directories as $directorie): ?>
                                                            <option value="<?= $directorie['nome'] ?>"></option>
                                                        <?php endforeach ?>
                                                    </datalist>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="ufId">Estado:<span class="text-danger"> *</span></label>
                                                <select id="ufId" name="ufId" class="form-select" required
                                                        onchange="getCities(this.value, 'cityId')">
                                                    <option value="" selected disabled hidden>Selecione</option>
                                                    <?php foreach ($states as $item): ?>
                                                        <option
                                                                value="<?= $item->getId() ?>" <?= $events ? $events->getStateId()->getId() == $item->getId() ? 'selected' : '' : '' ?>>
                                                            <?= $item->getEstado() ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="cityId">Cidade:<span class="text-danger"> *</span></label>
                                                <select id="cityId" name="cityId" class="form-select" required>
                                                    <option value="" selected disabled hidden>Selecione</option>
                                                    <?php foreach ($cities as $item): ?>
                                                        <option
                                                                value="<?= $item->getId() ?>" <?= $events ? $events->getCity()->getId() == $item->getId() ? 'selected' : '' : '' ?>>
                                                            <?= $item->getCidade() ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="title">Dados do evento</h2>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Nome do evento:<span class="text-danger"> *</span></label>
                                                <input id="name" name="name" required
                                                       value="<?= $events ? $events->getName() : '' ?>" type="text"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="description">Descrição do evento:<span class="text-danger"> *</span></label>
                                                <textarea name="description" id="description" cols="40"
                                                          rows="10" class="form-control" required
                                                          style="width: 100%;
												                    height: 223px;
												                    font-size: 14px;
												                    line-height: 18px;
												                    border: 1px solid #dddddd;
												                    padding: 10px;
                                                                    visibility: visible"
                                                          maxlength="3000"><?= $events ? $events->getDescription() : '' ?>
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="zipCode">Cep:</label>
                                                <input id="zipCode" name="zipCode"
                                                       value="<?= $events ? $events->getCep() : '' ?>" type="text"
                                                       class="form-control" data-mask="99999-999">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="street">Endereço e número:</label>
                                                <input id="street" name="street"
                                                       value="<?= $events ? $events->getAddress() : '' ?>" type="text"
                                                       class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="local">Local:</label>
                                                <input id="local" name="local"
                                                       value="<?= $events ? $events->getLocal() : '' ?>" type="text"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="district">Bairro:</label>
                                                <input id="district" name="district"
                                                       value="<?= $events ? $events->getNeighborhood() : '' ?>"
                                                       type="text"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="complement">Complemento:</label>
                                                <input id="complement" name="complement"
                                                       value="<?= $events ? $events->getComplement() : '' ?>"
                                                       type="text"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="datebegin">Data e Hora de Inicio:<span class="text-danger"> *</span></label>
                                                <input id="datebegin" name="datebegin" class="form-control" required
                                                       value="<?= $events ? $events->getStartDate()->format('d/m/Y H:i') : '' ?>"
                                                       type="text" minlength="16"
                                                       data-mask="00/00/0000 00:00"
                                                       placeholder="Ex.: dd/mm/aaaa hh:mm">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="datefinal">Data e Hora de Término:<span class="text-danger"> *</span></label>
                                                <input id="datefinal" name="datefinal" class="form-control" required
                                                       value="<?= $events ? $events->getFinishDate()->format('d/m/Y H:i') : '' ?>"
                                                       type="text" minlength="16"
                                                       data-mask="00/00/0000 00:00"
                                                       placeholder="Ex.: dd/mm/aaaa hh:mm">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="limit">Limite inscritos:<span class="text-danger"> *</span></label>
                                                <input id="limit" name="limit" required
                                                       value="<?= $events ? $events->getLimit() : '' ?>" type="text"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="public">Público:<span class="text-danger"> *</span></label>
                                                <select name="public" id="public" class="form-select" required>
                                                    <option value="" selected disabled hidden>Selecione</option>
                                                    <option
                                                            value="1" <?= $events ? $events->getPublic() == 1 ? 'selected' : '' : '' ?>>
                                                        Evento exclusivo para filiados
                                                    </option>
                                                    <option
                                                            value="0" <?= $events ? $events->getPublic() == 0 ? 'selected' : '' : '' ?>>
                                                        Evento aberto para não filiados
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="billet">Pgto Boleto:</label>
                                                <i style="margin-left:10px" class="fa fa-info-circle"
                                                   data-toggle="tooltip"
                                                   title="A quantidade de dias informada afeta o último dia para pagamento em boleto. Exemplo: evento dia 03/05(sabado) com pgto boleto 3 significa que o último dia de pagamento via boleto será o dia 30/04."></i>
                                                <input id="billet" name="billet"
                                                       value="<?= $events ? $events->getBilletdays() : '' ?>"
                                                       type="text"
                                                       class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="link">Link Evento</label>
                                                <input id="link" name="link"
                                                       value="<?= $events ? $events->getLinkOnline() : '' ?>"
                                                       type="text"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="responsible-affiliate">Filiado Responsável</label>
                                                <input id="responsible-affiliate" name="responsible-affiliate"
                                                       value="<?= $events ? $events->getResponsibleAffiliate() : '' ?>"
                                                       type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="title">Midias/arquivo - Divulgação no site do novo
                                    </h2>
                                    <div class="row">
                                        <div class="col-md-12 custom-scrollbar"
                                             style="text-align: center; padding-bottom: 50px; overflow-x: auto">
                                            <img
                                                    src="https://novo.org.br/wp-content/uploads/2020/10/imagem_evento.jpg">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="schedule">Arquivo para Banner do evento:</label>
                                            <input id="path_banner" name="path_banner" style="opacity: 1; left: auto; position: static;"
                                                   class="form-control-file input-sm input-file" type="file"
                                                   aria-describedby="fileHelp">
                                            <label for="schedule">Tamanho permitido até 1000x350px.</label>
                                            <?php if (isset($events)): ?>
                                                <?php if ($events->getPathBanner()): ?>
                                                    <a type='button' class='btn btn-secondary' target='_blank'
                                                       href='<?= BASEURL ?>uploads/eventos/<?= isset($events) != null ? $events->getPathBanner() : 0 ?>'>Visualizar
                                                        Banner atual</a>
                                                <?php endif; ?><?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 5%">
                                        <label for="schedule">Arquivo para Logo do evento:</label>
                                        <input id="path_logo" name="path_logo" style="opacity: 1; left: auto; position: static;"
                                               class="form-control-file input-sm" type="file"
                                               aria-describedby="fileHelp">
                                        <label for="schedule">Tamanho permitido até 1000x350px.</label>
                                        <?php if (isset($events)): ?>

                                            <?php if ($events->getPathLogo()): ?>
                                                <a type='button' class='btn btn-secondary' target='_blank'
                                                   href='<?= BASEURL ?>uploads/eventos/<?= isset($events) != null ? $events->getPathLogo() : 0 ?>'>Visualizar
                                                    Logo atual</a>
                                            <?php endif; ?><?php endif; ?>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card d-none" id="divPrices">
                                <div class="card-body">
                                    <h2 class="title text-center">Ingressos</h2>
                                    <div class="col-md-12">
                                        <div class="alert alert-primary" role="alert">
                                            Em atendimento à Resolução nº 23.604 do TSE, estamos limitados a
                                            receber doações até <b><u>R$
                                                    1.064,00 por pessoa diariamente</u></b>. <br>Por gentileza,
                                            cadastre o preço de cada
                                            ingresso abaixo do limite indicado.
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="price-desc">Descrição:</label>
                                                <input name="price-desc" id="price-desc" value="" type="text"
                                                       class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="price-value">Valor:</label>
                                                <input name="price-value" id="price-value" value="" type="text"
                                                       class="form-control money">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="price-datebegin">Data de início de venda:</label>
                                                <input name="price-datebegin" id="price-datebegin" value=""
                                                       class="form-control" type="text" minlength="16"
                                                       data-mask="00/00/0000 00:00"
                                                       placeholder="dd/mm/aaaa hh:mm">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="price-datefinal">Data de Término de venda:</label>
                                                <input name="price-datefinal" id="price-datefinal" value=""
                                                       class="form-control" type="text" minlength="16"
                                                       data-mask="00/00/0000 00:00"
                                                       placeholder="dd/mm/aaaa hh:mm">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="price-amount">Qtd Pessoa:</label>
                                                <input name="price-amount" id="price-amount" value=""
                                                       type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label for="price-range">Qtde Total:</label>
                                                <input name="price-range" id="price-range" value="" type="text"
                                                       class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="price-public">Público alvo:</label>
                                            <select class="form-select" name="price-public" id="price-public">
                                                <option value="">Selecione</option>
                                                <option value="0">Valor para todos</option>
                                                <option value="1">Valor para filiados</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="color:#fff">
                                            <a type="button" onclick="addValue(1)" class="btn btn-primary"
                                               title="Add Preços"><i class="fa fa-plus" aria-hidden="true"></i>
                                                Adicionar</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="valueDiv">
                                            <div class="col-md-12">
                                                <label>Preços Cadastrados:</label>
                                                <div id="content" name="content" class="row form-group"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-12 text-center">
                                <button type="submit" class="btn btn-success">Salvar</button>
                                <a type="button" href="<?= BASEURL ?>eventos"
                                   class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 10rem)" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/events/registerEvent.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>

<style>
    h2 {
        color: #333;
        line-height: 15px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #aed6e2 65%);
        display: inline;
        line-height: 32px;
        bottom: 15px;
        font-weight: 700;
        font-size: 23px;
        text-align: center;
    }
</style>