<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-12">
				<h5 class="title"><?php echo $title ?> do evento - <?php echo $events->getName() ?></h5>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table id="table" class="table table-bordered table-striped">
					<thead>
					<tr class="text-center">
						<th>Data inscrição</th>
						<th>Nome</th>
						<th>Valor</th>
						<th>Código Inscrição</th>
						<th>Status</th>
					</tr>
					</thead>
					<tbody>
					<?php if ($transactions): ?>
						<?php foreach ($transactions as $transaction): ?>
							<tr class="text-center middle">
								<td><?= $transaction->getData()->format('d/m/Y') ?></td>
								<td><?= $transaction->getNome() ?></td>
								<td><?= $transaction->getValor() ?></td>
								<td><?= $transaction->getCode() ?></td>
								<td><?= $transaction->getStatus() ?></td>
							</tr>
						<?php endforeach; ?>
					<?php else: ?>
						<tr class="text-center middle">
							<td class="text-center" colspan="5">Nenhum registro encontrado</td>
						</tr>
					<?php endif; ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>