<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title"><?= $title ?></h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="title">Título</label>
                                <input class="form-control" id="title" name="title" type="text">
                            </div>
                        </div>
                        <div class="col text-end m-t-45">
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::ORIENTACOES_LGPDNEWS_CRIACAO_EDICAO)): ?>
                                <button class="btn btn-success" type="button" onclick="showModal()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>Adicionar
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                                  aria-hidden="true"></i>
                                Limpar
                            </button>
                            <button class="btn btn-success" type="submit"><i class="fa fa-filter"
                                                                             aria-hidden="true"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="alert alert-light" role="alert">
                <p>DPO: Renan Souza de Almeida</p>
                <p>Dúvidas, entrar em contato nos canais abaixo:</p>
                <ul>
                    <li>E-mail: lgpd@novo.org.br</li>
                    <li>WhatsApp: (11) 9 5062-5654</li>
                </ul>
            </div>
            <div class="card-body">
                <div id="message" class="alert d-none" role="alert"></div>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <label>
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </label>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Título</th>
                                <th class="text-center">Data</th>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::ORIENTACOES_LGPDNEWS_CRIACAO_EDICAO)): ?>
                                    <th class="text-center">Ações</th>
                                <?php endif; ?>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div id="loader" class="loader"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card-header">
                <h5 class="title">LGPD News</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form id="formModal" enctype="multipart/form-data" method="post">
                <input type="hidden" id="memberId" name="memberId" value="">
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="titleModal">Titulo:</label>
                                <input id="titleModal" name="titleModal" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="fileModal">Arquivo:</label><br>
                                <span class="fileselector">
                                        <span class="fileselector"><label
                                                    class="btn btn-block btn-orange text-white"
                                                    for="fileModal">
                                        <input class="upload-file-selector"
                                               id="fileModal" required
                                               type="file" name="fileModal"><i
                                                        class="fa fa-paperclip margin-correction">
                                        </i> <span id="fileModalLabel"
                                                   default="Anexar Imagem do Material Impresso">Anexar
                                                </span></label></span>
	                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="messageModal" class="alert d-none" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" id="saveModal" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var index = 0;
    var partial = 0;
    var total = 1;
    var title = '';
    const form = document.getElementById('filter');

    form.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        partial = 0;
        index = 0;
        total = 1;
        title = formData.title;
        $("#table tbody").empty();
        generateTable();
    });

    function resetTable() {
        index = 0;
        partial = 0;
        total = 1;
        title = '';
        $("#table tbody").empty();
        generateTable();
    }

    function generateNewsList(news) {
        let actions = "";
        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::ORIENTACOES_LGPDNEWS_CRIACAO_EDICAO)): ?>
        if (news.status == 1) {
            actions = `<a href="#" onclick="refresh(${news.id})" class="text-danger"><i class="fa fa-times" title="Inativar" ></i> Remover </a><br>`;
        } else {
            actions = `<a href="#" onclick="refresh(${news.id})"><i class="fa fa-refresh text-success" title="Ativar"></i> Ativar </a> `;
        }
        actions = `<td class="text-center">${actions} </td>`;

        <?php endif; ?>
        return `<tr>
                <td><a href="<?= BASEURL ?>uploads/lgpd/${news.file}" target="_blank">${news.title} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                <td class="text-center">${news.created_at}</td>
                ${actions}
            </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            $('#loader').show();
            fetch(`<?= BASEURL ?>lgpd/news/?title=${title}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    $('#loader').hide();
                    total = json.total;
                    partial = json.partial;
                    let NewsList = json.message;
                    let options = NewsList.map(generateNewsList);
                    $("#table tbody").append(options);
                    $('#total').text(total);
                    $('#partial').text(partial);
                });
            });
        }
    }

    function refresh(id) {
        showLoading();
        const divMessage = document.getElementById('message');
        fetch(`<?= BASEURL ?>lgpd/atualiza-news/${id}`, {
            method: "PUT",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                closeLoading();
                divMessage.textContent = json.message;
                divMessage.classList.add("alert-danger");
                divMessage.classList.remove("alert-success");
                divMessage.classList.remove("d-none");
                if (response.status === 201) {
                    divMessage.classList.add("alert-success");
                    divMessage.classList.remove("alert-danger");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2500);
                }
            });
        });
    }

    const formModal = document.getElementById('formModal');
    const divMessageModal = document.getElementById('messageModal');
    $("#formModal").submit(function (e) {
        event.preventDefault();
        showLoading();
        $('#saveModal').addClass('disabled');
        $.ajax({
            type: 'POST',
            url: '<?= BASEURL ?>lgpd/cadastro/',
            data: new FormData(this),
            processData: false,
            contentType: false
        })
            .done(function (json) {
                closeLoading();
                divMessageModal.classList.add("alert-success");
                divMessageModal.classList.remove("alert-danger");
                divMessageModal.textContent = json.message;
                divMessageModal.classList.remove("d-none");
                setTimeout(function () {
                    window.location.reload();
                }, 2500);
            })
            .fail(function (json) {
                closeLoading();
                $('#saveModal').removeClass('disabled');
                divMessageModal.classList.add("alert-danger");
                divMessageModal.classList.remove("alert-success");
                divMessageModal.textContent = json.responseJSON.message;
                divMessageModal.classList.remove("d-none");
            });
    });

    $(document).ready(function () {
        generateTable();
        inputFile();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
    });

    function showModal() {
        $('#exampleModal').modal('show');
    }
</script>