<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Agenda de Salas</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row table-responsive">

            <div class="col-12">
                <!-- Day Tabs -->
                <div class="day-tabs d-flex">
                    <button class="day-tab active">Segunda-feira</button>
                    <button class="day-tab">Terça-feira</button>
                    <button class="day-tab">Quarta-feira</button>
                    <button class="day-tab">Quinta-feira</button>
                    <button class="day-tab">Sexta-feira</button>
                </div>

                <?php $horarios = ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30',
                    '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30']; ?>
                <!-- Schedule Grid -->
                <table class="schedule-grid">
                    <thead>
                    <tr>
                        <th>Salas/Horários</th>
                        <?php foreach ($horarios as $horario) : ?>
                            <th><?= $horario ?></th>
                        <?php endforeach; ?>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($rooms as $room) : ?>
                        <tr>
                            <td><?= $room->getName() ?></td>
                            <?php foreach ($horarios as $horario) : ?>
                                <td>
                                    <i class="fas fa-plus-circle"></i>
                                    Ocupado
                                    <i class="fa fa-pencil-alt"></i>
                                    <i class="fa fa-trash-alt"></i>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<style>
    .day-tabs {
        margin-bottom: 20px;
    }
    .day-tab {
        padding: 8px 20px;
        background-color: var(--pink-color);
        color: white;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
        opacity: 0.7;
    }
    .day-tab.active {
        opacity: 1;
        font-weight: bold;
    }
    .day-tab:not(.active) {
        background-color: rgba(226, 147, 153, 0.7);
    }
    .schedule-grid {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
    }
    .schedule-grid th, .schedule-grid td {
        border: 1px solid #dee2e6;
        padding: 10px;
        text-align: center;
        background-color: white;
    }
    .schedule-grid th:first-child, .schedule-grid td:first-child {
        text-align: left;
        font-weight: normal;
        color: #6c757d;
    }
    .schedule-grid th {
        background-color: #f8f9fa;
        font-weight: normal;
    }
</style>

<!-- Modal Comentários -->
<div class="modal fade" id="commentModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="commentRegister">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar novo comentário!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="commentName">Nome</label>
                                <input class="form-control" id="commentName" disabled readonly>
                                <input type="hidden" id="status" name="status" value="9">
                            </div>
                        </div>
                        <input type="hidden" id="pessoaId" name="pessoaId">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="status">Comentário</label>
                                <input class="form-control" type="text" id="comment" name="comment">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 d-none alert alert-danger" id="divMessageFormComment">Erro</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>
                        Salvar comentário
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/youth/search.js?v=<?= time() ?>"></script>