<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title">Diretórios</h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_DIRETORIOS_CRIACAO_EDICAO)) : ?>
                <div class="col-md-8 text-end">
                    <button class="btn btn-success text-end" onclick="openModal(0)"><i class="fa fa-plus"></i>
                        Adicionar Diretório
                    </button>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="stateFilter">Estado</label>
                        <select class="form-select" id="stateFilter" name="stateFilter"
                                onchange="getCities(this.value, 'cityFilter')">
                            <option value="">Selecione</option>
                            <?php foreach ($states as $state): ?>
                                <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cityFilter">Cidade</label>
                        <select class="form-select" id="cityFilter" name="cityFilter" type="city">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="filterLevel">Tipo</label>
                        <select class="form-select" id="filterLevel" name="filterLevel">
                            <option value="">Selecione</option>
                            <option value="3">Nacional</option>
                            <option value="2">Diretório Estadual</option>
                            <option value="1">Diretório Municipal</option>
                            <option value="4">Núcleo Estadual</option>
                            <option value="5">Núcleo Municipal</option>
                        </select>
                    </div>
                </div>
                <div class="col text-end m-t-45">
                    <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                    <button class="btn btn-success" type="submit">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="directoryTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Cidade</th>
                        <th class="text-center">E-mail</th>
                        <?php if ($user->isAdminNational()) : ?>
                            <th class="text-center">Ações</th>
                        <?php endif; ?>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div style="display: none" id="message" class="alert" role="alert"></div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Diretório</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="directoryId" id="directoryId">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input id="email" placeholder="E-mail" name="email" type="text" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="level">Tipo</label>
                                <select class="form-select" id="level" name="level" onchange="showLocations()">
                                    <?php if ($user->getLevel() >= 2): ?>
                                        <option value="2">Diretório Estadual</option>
                                    <?php endif; ?>
                                    <option value="1">Diretório Municipal</option>
                                    <option value="4">Núcleo Estadual</option>
                                    <option value="5">Núcleo Municipal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                        <div class="row" id="stateDiv" style="display: none">
                            <div class="col">
                                <div class="form-group">
                                    <label for="state">Estado</label>
                                    <select id="state" name="state" class="form-select"
                                            onchange="getCities(this.value)">
                                        <option value="">Selecione o estado</option>
                                        <?php foreach ($states as $item): ?>
                                            <option value="<?= $item->getId() ?>"><?= $item->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="cityDiv" style="display: none">
                            <div class="col">
                                <div class="form-group">
                                    <label for="city">Cidade</label>
                                    <select id="city" name="city" class="form-select">
                                        <option value="">Selecione uma cidade</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                        <div class="row" id="stateDiv" style="display: none">
                            <div class="col">
                                <div class="form-group">
                                    <label for="state">Estado</label>
                                    <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                           disabled readonly>
                                    <input type="hidden" id="state" name="state"
                                           value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                        </div>
                        <div class="row" id="cityDiv" style="display: none">
                            <div class="col">
                                <div class="form-group">
                                    <label for="city">Cidade</label>
                                    <select class="form-select" id="city" name="city" type="city">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <?php else: ?>
                        <div class="row" id="stateDiv" style="display: none">
                            <div class="col">
                                <div class="form-group">
                                    <label for="state">Estado</label>
                                    <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                           disabled readonly>
                                    <input type="hidden" id="state" name="state"
                                           value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                        </div>
                        <div class="row" id="cityDiv" style="display: none">
                            <div class="col">
                                <div class="form-group">
                                    <label for="state">Cidade</label>
                                    <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                           disabled readonly>
                                    <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-select" name="status" id="status">
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="balanceCashFlow">Saldo para Fluxo de Caixa</label>
                                <input id="balanceCashFlow" name="balanceCashFlow" type="text" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>

<script>
    var index = 0;
    var partial = 0;
    var total = 1;
    var stateFilter = 0;
    var cityFilter = 0;
    var filterLevel = 0;

    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_DIRETORIOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_DIRETORIOS_CRIACAO_EDICAO, false, true) ?>;
    var canViewDirigentes = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_DIRIGENTES_VISUALIZACAO, false, true) ?>;

    const form = document.getElementById('filter');

    form.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        partial = 0;
        index = 0;
        total = 1;
        stateFilter = formData.stateFilter;
        cityFilter = formData.cityFilter;
        filterLevel = formData.filterLevel;
        $("#directoryTable tbody").empty();
        generateTable();
    })

    function resetTable() {
        index = 0;
        partial = 0;
        total = 1;
        stateFilter = 0;
        cityFilter = 0;
        filterLevel = 0;
        $("#directoryTable tbody").empty();
        generateTable();
    }

    function openModal(id) {
        city = 0;
        document.getElementById('form').reset();
        document.getElementById('directoryId').value = id;
        document.getElementById('stateDiv').style.display = 'none';
        document.getElementById('cityDiv').style.display = 'none';
        $('#cardModal').modal('show');
        $('#messageForm').hide();
        if (id > 0) {
            showLoading();
            fetch(`<?= BASEURL ?>api/cadastros/diretorios/${id}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    json = json.message;
                    closeLoading();
                    document.getElementById('status').value = json.active;
                    document.getElementById('email').value = json.email;
                    document.getElementById('level').value = json.level;
                    document.getElementById('state').value = json.state ?? '';
                    document.getElementById('city').value = json.city;
                    if (json.balanceCashFlow) document.getElementById('balanceCashFlow').value = json.balanceCashFlow;
                    city = json.city;
                    showLocations();
                });
            });
        }
    }

    const formAdd = document.getElementById('form');
    const divMessageForm = document.getElementById('messageForm');

    formAdd.addEventListener('submit', e => {
        $('#save').addClass('disabled');
        e.preventDefault();
        showLoading();
        let method = 'POST';
        let formData = formDataToJson('form');
        if (formData.directoryId > 0) {
            method = 'PUT';
        }
        fetch("<?= BASEURL ?>api/cadastros/diretorios/", {
            method: method,
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            $('#save').removeClass('disabled');
            response.json().then(json => {
                divMessageForm.textContent = json.message;
                divMessageForm.style.display = 'block';
                if (response.status === 201) {
                    divMessageForm.classList.add("alert-success");
                    divMessageForm.classList.remove("alert-danger");
                    formAdd.reset();
                    total, index = 0;
                    $("#directoryTable tbody").empty();
                    generateTable();
                    $('#cardModal').modal('hide');
                }
            });
        });
    });

    function remove(id) {
        showLoading();
        const divMessage = document.getElementById('message');
        fetch("<?= BASEURL ?>api/cadastros/diretorios/" + id, {
            method: "DELETE",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                closeLoading();
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
                divMessage.classList.add("alert-danger");
                divMessage.classList.remove("alert-success");
                if (response.status === 201) {
                    divMessage.classList.add("alert-success");
                    divMessage.classList.remove("alert-danger");
                    generateTable();
                }
            });
        });
    }

    function activate(id) {
        showLoading();
        const divMessage = document.getElementById('message');
        fetch("<?= BASEURL ?>api/cadastros/diretorios/" + id, {
            method: "PUT",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                closeLoading();
                divMessage.textContent = json.message;
                divMessage.style.display = 'block';
                divMessage.classList.add("alert-danger");
                divMessage.classList.remove("alert-success");
                if (response.status === 201) {
                    divMessage.classList.add("alert-success");
                    divMessage.classList.remove("alert-danger");
                    generateTable();
                }
            });
        });
    }

    function showLocations() {
        getCities(document.getElementById('state').value)
        document.getElementById('stateDiv').style.display = 'none';
        document.getElementById('cityDiv').style.display = 'none';
        const x = document.getElementById('level').value;
        if (x == '2') {
            document.getElementById('stateDiv').style.display = 'block';
        } else if (x == '1' || x == '4' || x == '5') {
            document.getElementById('stateDiv').style.display = 'block';
            document.getElementById('cityDiv').style.display = 'block';
        }
    }

    function generateDiretoryTable(directory) {
        let actions = actions2 = '';
        if (canUpdate) {
            actions += `<i class="fa fa-pencil text-info" title="Editar"></i> `;
            actions = `<td class="text-center"><a onclick="openModal(${directory.id})" href="#">${actions} Editar<a></td>`;
        }
        if (canViewDirigentes) actions2 = `<td class="text-center"><a href="<?= BASEURL ?>cadastros/dirigentes/${directory.id}" type="button" class="btn btn-primary">Dirigentes</a></td>`;
        return `<tr>
                    <td class="text-center">${directory.ufStr}</td>
                    <td class="text-center">${directory.levelStr}</td>
                    <td class="text-center">${directory.cityStr}</td>
                    <td class="text-center">${directory.email}</td>
                    ${actions}
                    ${actions2}
                   </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            $('#loader').show();
            fetch(`<?= BASEURL ?>api/cadastros/diretorios/?index=${index}&state=${stateFilter}&city=${cityFilter}&level=${filterLevel}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    $('#loader').hide();
                    $('#total').text(json.total);
                    $('#partial').text(json.partial);
                    let options = json.message.map(generateDiretoryTable);
                    $("#directoryTable tbody").append(options);
                });
            });
        }
    }

    $(document).ready(function () {
        $("#balanceCashFlow").maskMoney({prefix: 'R$ ', thousands: '.', decimal: ',', allowZero: true});
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
    });
</script>