<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Eleitos</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nameFilter">Nome:</label>
                        <input class="form-control" id="nameElectedFilter" name="name" type="text">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emailFilter">E-mail:</label>
                        <input class="form-control" id="emailElectedFilter" name="email" type="email">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpfFilter">CPF:</label>
                        <input class="form-control" id="cpfElectedFilter" name="cpf" type="text"
                               data-mask="999.999.999-99">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="postFilter">Cargo:</label>
                        <select class="form-select" id="postElectedFilter" name="post">
                            <option value="">Selecione</option>
                            <option value="1">Deputado Estadual</option>
                            <option value="2">Deputado Federal</option>
                            <option value="3">Governador</option>
                            <option value="4">Prefeito</option>
                            <option value="5">Presidente</option>
                            <option value="6">Senador</option>
                            <option value="7">Vereador</option>
                            <option value="8">Suplente Senador</option>
                            <option value="9">Vice Governador</option>
                            <option value="10">Vice Presidente</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="yearFilter">Ano Eleição:</label>
                        <select class="form-select" id="yearElectedFilter" name="year">
                            <option value="">Selecione</option>
                            <option value="2016">2016</option>
                            <option value="2018">2018</option>
                            <option value="2020">2020</option>
                            <option value="2022">2022</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="stateElectedFilter">Estado:</label>
                        <select class="form-select" id="stateElectedFilter" name="state"
                                onchange="getCities(this.value, 'cityElectedFilter')">
                            <option value="">Selecione</option>
                            <?php foreach ($states as $state): ?>
                                <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cityElectedFilter">Cidade:</label>
                        <select class="form-select" id="cityElectedFilter" name="city" type="city">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 text-end m-t-45">
                    <button class="btn btn-success" type="button" onclick="importElected()">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Importar
                    </button>
                    <button class="btn btn-primary" type="button" onclick="csv()">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Exportar
                    </button>
                    <?php if ($user->isAdminNational()): ?>
                        <button class="btn btn-warning" type="button" onclick="edit()">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i>
                        Limpar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row align-items-center m-b-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitElected" onchange="getLimit(this.value, 'Elected')">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startElected"></span> a <span id="endElected"></span> de
                    <span id="totalElected"></span> registros
                </p>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="tableElected" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th class="text-center">E-mail</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Cargo</th>
                        <th class="text-center">Ano Eleição</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Cidade</th>
                        <th class="text-center">Votos</th>
                        <?php if ($user->isAdminNational()): ?>
                            <th class="text-center">Ações</th>
                        <?php endif; ?>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderElected m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary" id="paginationElected"
                    style="top: auto"></ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="electedModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de eleitos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formModal" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="electedId" id="electedId">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Nome:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="nameModal" name="name" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email">E-mail:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="emailModal" name="email" type="email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state">Estado:</label>
                                <select class="form-select" id="stateModal" name="state"
                                        onchange="getCities(this.value, 'cityModal')" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                        <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">Cidade:</label>
                                <select class="form-select" id="cityModal" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cpf">CPF:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="cpfModal" name="cpf" type="text"
                                       data-mask="999.999.999-99" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="post">Cargo:<span class="text-danger"> *</span></label>
                                <select class="form-select" id="postModal" name="post" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($posts as $post): ?>
                                        <option value="<?= $post->getId() ?>"><?= $post->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="year">Ano eleição:<span class="text-danger"> *</span></label>
                                <select class="form-select" id="yearModal" name="year" required>
                                    <option value="">Selecione</option>
                                    <option value="2016">2016</option>
                                    <option value="2018">2018</option>
                                    <option value="2020">2020</option>
                                    <option value="2022">2022</option>
                                    <option value="2024">2024</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="votes">Votos:</label>
                                <input class="form-control" id="votesModal" name="votes" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="messageForm" class="alert" role="alert" style="display:none"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-times"
                                                                                            aria-hidden="true"></i>
                        Cancelar
                    </button>
                    <button type="submit" id="save" class="btn btn-success"><i class="fa fa-save"
                                                                               aria-hidden="true"></i> Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="modalImportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card-header">
                <h5>Importar Eleitos</h5>
            </div>
            <form id="formImport">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" id="userId" name="userId" value="<?= $user->getId() ?>">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="alert alert-success" role="alert">
                                    Atenção,<br> Para importação, a planilha deve estar no formato<br>
                                    <b>CSV UTF-8 (Delimitado por vírgulas) (*.csv).</b><br><br>
                                    Faça do download do modelo de importação <b><a
                                                href="https://gestao.novo.org.br/uploads/eleitos/modeloImportacao.csv">
                                            Clicando aqui!</a></b><br>
                                    <b>Por segurança, o limite para importação são de 100 eleitos por vez.</b>
                                </div>
                                <label for="file">Arquivo CSV: </label><br>
                                <input class="upload-file-selector" id="file" type="file" name="file"
                                       style="position: static; opacity: 1;" required>
                            </div>
                        </div>
                    </div>
                    <div id="messageImport" class="alert" role="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/registration/elected.js?v=<?= time() ?>"></script>

<script>
    var userAdmin = '<?= $user->isAdminNational() ?>';
</script>