<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Dirigentes</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label for="filterName">Nome</label>
								<input class="form-control" id="filterName" name="filterName" type="text"
								       placeholder="Nome">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="filterOccupation">Cargo</label>
								<select class="form-select" id="filterOccupation" name="occupation">
									<option value="">Todos</option>
									<?php foreach ($occupations as $occupation): ?>
										<option
											value="<?= $occupation->getId() ?>"><?= $occupation->getName() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="level">Tipo</label>
								<select class="form-select" id="filterLevel" name="filterLevel">
									<option value="">Todos</option>
									<option value="3">Nacional</option>
									<option value="2">Diretório Estadual</option>
									<option value="1">Diretório Municipal</option>
									<option value="4">Núcleo Estadual</option>
									<option value="5">Núcleo Municipal</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="filterStatus">Status</label>
								<select class="form-select" id="filterStatus" name="filterStatus">
									<option value="">Selecione</option>
									<option value="1">Permanente</option>
									<option value="2">Provisório</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="filterState">Estado</label>
								<select class="form-select" id="filterState" name="filterState"
								        onchange="getCities(this.value, 'filterCity')">
									<option value="">Todos</option>
									<?php foreach ($states as $state): ?>
										<option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="cityFilter">Cidade</label>
								<select class="form-select" id="filterCity" name="filterCity" type="city">
									<option value="">Todas</option>
								</select>
							</div>
						</div>
						<div class="col text-end m-t-45">
							<?php if ($user->isAdminNational()) : ?>
								<button type="button" class="btn btn-primary" onclick="openModal(0)"><i class="fa fa-plus"></i>
									Adicionar Dirigente
								</button>
							<?php endif; ?>
							<button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
							<button class="btn btn-success" type="submit">Filtrar</button>
						</div>
					</div>
				</form>
				Exibindo <span id="partial"></span> de <span id="total"></span>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table id="leadersTable" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th class="text-center">Estado</th>
								<th class="text-center">Tipo</th>
								<th class="text-center">Cidade</th>
								<th class="text-center">Cargo</th>
								<th class="text-center">Status</th>
								<th>Nome</th>
								<th>Email</th>
								<th class="text-center">Início</th>
								<th class="text-center">Fim</th>
								<?php if ($user->isAdminNational()) : ?>
									<th class="text-center">Ações</th>
								<?php endif; ?>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div id="loader" class="loader"></div>
				<div style="display: none" id="message" class="alert" role="alert"></div>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cadastro de Dirigente</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<form id="form">
				<div class="modal-body custom-scrollbar">
					<input type="hidden" name="id" id="id">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="name">Nome</label>
								<input id="name" placeholder="Nome" name="name" type="text" class="form-control"
								       required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="email">Email</label>
								<input id="email" placeholder="Email" name="email" type="email" class="form-control"
								       required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="cpf">CPF</label>
								<input id="cpf" placeholder="CPF" name="cpf" data-mask="999.999.999-99" type="text"
								       class="form-control" required>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="status">Status</label>
								<select class="form-select" id="status" name="status">
									<option value="">Selecione</option>
									<option value="1">Permanente</option>
									<option value="2">Provisório</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="occupation">Cargo</label>
								<select class="form-select" id="occupation" name="occupation">
									<option value="">Selecione o Cargo</option>
									<?php foreach ($occupations as $occupation): ?>
										<option
											value="<?= $occupation->getId() ?>"><?= $occupation->getName() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="level">Tipo</label>
								<select class="form-select" id="level" name="level" onchange="showLocations()">
									<option value="">Selecione o Tipo</option>
									<?php foreach ($levels as $level): ?>
										<option value="<?= $level->getId() ?>"><?= $level->getName() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
					</div>
					<div class="row" id="stateDiv" style="display: none">
						<div class="col">
							<div class="form-group">
								<label for="state">Estado</label>
								<select id="state" name="state" class="form-select" onchange="getCities(this.value)">
									<option value="">Selecione o estado</option>
									<?php foreach ($states as $item): ?>
										<option value="<?= $item->getId() ?>"><?= $item->getEstado() ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
					</div>
					<div class="row" id="cityDiv" style="display: none">
						<div class="col">
							<div class="form-group">
								<label for="city">Cidade</label>
								<select id="city" name="city" class="form-select">
									<option value="">Selecione uma cidade</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="startDate">Data Início</label>
								<input id="startDate" placeholder="dd/mm/AAAA" name="startDate" data-mask="99/99/9999"
								       type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="endDate">Data Fim</label>
								<input id="endDate" placeholder="dd/mm/AAAA" name="endDate" data-mask="99/99/9999"
								       type="text" class="form-control">
							</div>
						</div>
					</div>
					<div style="display: none" id="messageForm" class="alert" role="alert"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" id="save" class="btn btn-success">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/js/functions.js"></script>

<script>
	var city = 0;

	function openModal(id) {
		city = 0;
		document.getElementById('form').reset();
		document.getElementById('id').value = id;
		document.getElementById('stateDiv').style.display = 'none';
		document.getElementById('cityDiv').style.display = 'none';
		$('#cardModal').modal('show');
		$('#messageForm').hide();
		if (id > 0) {
			showLoading();
			fetch(`<?= BASEURL ?>api/cadastros/dirigentes/${id}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					json = json.message[0];
					closeLoading();
					document.getElementById('name').value = json.name;
					document.getElementById('cpf').value = json.cpf;
					document.getElementById('endDate').value = fomartSqlDateToPt(json.endDate);
					document.getElementById('startDate').value = fomartSqlDateToPt(json.startDate);
					document.getElementById('occupation').value = json.occupation;
					document.getElementById('status').value = json.status;
					document.getElementById('level').value = json.level;
					document.getElementById('state').value = json.state ?? '';
					document.getElementById('city').value = json.city;
					document.getElementById('email').value = json.email;
					city = json.city;
					showLocations();
				});
			});
		}
	}


	const formAdd = document.getElementById('form');
	const divMessageForm = document.getElementById('messageForm');

	formAdd.addEventListener('submit', e => {
		$('#save').addClass('disabled');
		e.preventDefault();
		showLoading();
		let formData = formDataToJson('form');
		fetch("<?= BASEURL ?>api/cadastros/dirigentes/", {
			method: 'POST',
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			divMessageForm.classList.add("alert-danger");
			divMessageForm.classList.remove("alert-success");
			$('#save').removeClass('disabled');
			response.json().then(json => {
				divMessageForm.textContent = json.message;
				divMessageForm.style.display = 'block';
				if (response.status === 201) {
					divMessageForm.classList.add("alert-success");
					divMessageForm.classList.remove("alert-danger");
					setTimeout(function () {
						window.location.href = "<?= BASEURL ?>cadastros/dirigentes";
					}, 1200);
				}
			});
		});
	});


	var index = 0;
	var partial = 0;
	var total = 1;
	var directory = <?= $directory ?>;
	var filterState = '';
	var filterLevel = '';
	var filterStatus = '';
	var filterCity = '';
	var filterName = '';
	var filterOccupation = '';

	const form = document.getElementById('filter');

	form.addEventListener('submit', e => {
		console.log('teste')
		e.preventDefault();
		let formData = formDataToJson('filter');
		partial = 0;
		index = 0;
		total = 1;
		filterState = formData.filterState;
		filterCity = formData.filterCity;
		filterOccupation = formData.occupation;
		filterLevel = formData.filterLevel;
		filterStatus = formData.filterStatus;
		filterName = formData.filterName;
		$("#leadersTable tbody").empty();
		generateTable();
	})

	function resetTable() {
		index = 0;
		partial = 0;
		total = 1;
		filterState = '';
		filterCity = '';
		filterLevel = '';
		filterStatus = '';
		filterName = '';
		filterOccupation = '';
		$("#leadersTable tbody").empty();
		generateTable();
	}

	function generateLeadersTable(leaders) {
		return `<tr class='middle'>
                    <td class="text-center">${leaders.state}</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
					<td class="text-center"></td>
                </tr>`;
	}

	function generateTable() {
		if (total > partial) {
			$('#loader').show();
			fetch(`<?= BASEURL ?>api/cadastros/dirigentes/?index=${index}&name=${filterName}&directory=${directory}&state=${filterState}&city=${filterCity}&level=${filterLevel}&status=${filterStatus}&occupation=${filterOccupation}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					$('#loader').hide();
					$('#total').text(json.total);
					$('#partial').text(json.partial);
					let options = json.message.map(generateLeadersTable);
					$("#leadersTable tbody").append(options);
				});
			});
		}
	}

	$(document).ready(function () {
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});

	function showLocations() {
		getCities(document.getElementById('state').value)
		document.getElementById('stateDiv').style.display = 'none';
		document.getElementById('cityDiv').style.display = 'none';
		const x = document.getElementById('level').value;
		if (x == '2') {
			document.getElementById('stateDiv').style.display = 'block';
		} else if (x == '1') {
			document.getElementById('stateDiv').style.display = 'block';
			document.getElementById('cityDiv').style.display = 'block';
		}
	}

	$(document).ready(function () {
		$('#level').change(function () {
			if ($('#level').val() == '3') {
				document.getElementById('stateFilter').setAttribute('disabled', '');
				document.getElementById('cityFilter').setAttribute('disabled', '');
				$("#stateFilter").val('');
				$("#cityFilter").val('');
			} else {
				document.getElementById('stateFilter').removeAttribute('disabled', '');
				document.getElementById('cityFilter').removeAttribute('disabled', '');
			}
		});
	});
</script>