<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="title">Novo Cadastro</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="personalData" novalidate class="was-validated">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="title">Dados Pessoais</h2>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="name">Nome Completo<span class="text-danger"> *</span> </label>
                                                <input id="name" name="name" value="" type="text" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <?php if($user->isAdminNational()): ?>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="email">Email<span class="text-danger"> *</span> </label>
                                                <input id="email" name="email" value="" type="text" class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="birth">Data de Nascimento<span class="text-danger"> *</span> </label>
                                                <input id="birth" placeholder="dd/mm/aaaa" name="birth" value=""
                                                    data-mask="99/99/9999" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="rg">RG</label>
                                                <input id="rg" name="rg" value="" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="cpf">CPF<span class="text-danger"> *</span> </label>
                                                <input id="cpf" name="cpf" value="" type="text"
                                                    data-mask="999.999.999-99" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cellPhone">Telefone Celular<span class="text-danger"> *</span> </label>
                                                <input type="hidden" name="cellPhoneDialCode">
                                                <input type="hidden" name="cellPhoneIso2">
                                                <input id="cellPhone" name="cellPhone" type="tel" class="form-control"
                                                    data-mask="(99) 9 9999-9999" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="title">Endereço</h2>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="zipCode">
                                                    CEP
                                                </label>
                                                <input class="form-control" value="" name="zipCode"
                                                    data-mask="99999-999" type="text" id="zipCode" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="addressInsideDiv">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="ufId">
                                                    Estado
                                                </label>
                                                <select id="ufId" name="ufId" class="form-select"
                                                    onchange="getCities2(this.value, 'cityId')">
                                                    <option value="" disabled selected>Selecione UF</option>
                                                    <option value="AC">Acre</option>
                                                    <option value="AL">Alagoas</option>
                                                    <option value="AM">Amazonas</option>
                                                    <option value="AP">Amapá</option>
                                                    <option value="BA">Bahia</option>
                                                    <option value="CE">Ceará</option>
                                                    <option value="DF">Distrito Federal</option>
                                                    <option value="ES">Espírito Santo</option>
                                                    <option value="GO">Goiás</option>
                                                    <option value="MA">Maranhão</option>
                                                    <option value="MG">Minas Gerais</option>
                                                    <option value="MS">Mato Grosso do Sul</option>
                                                    <option value="MT">Mato Grosso</option>
                                                    <option value="PA">Pará</option>
                                                    <option value="PB">Paraíba</option>
                                                    <option value="PE">Pernambuco</option>
                                                    <option value="PI">Piauí</option>
                                                    <option value="PR">Paraná</option>
                                                    <option value="RJ">Rio de Janeiro</option>
                                                    <option value="RN">Rio Grande do Norte</option>
                                                    <option value="RO">Rondônia</option>
                                                    <option value="RR">Roraima</option>
                                                    <option value="RS">Rio Grande do Sul</option>
                                                    <option value="SC">Santa Catarina</option>
                                                    <option value="SE">Sergipe</option>
                                                    <option value="SP">São Paulo</option>
                                                    <option value="TO">Tocantins</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cityId">
                                                    Cidade
                                                </label>
                                                <select id="cityId" name="cityId" class="form-select">
                                                    <option value="">Selecione a cidade</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label for="street">
                                                    Logradouro
                                                </label>
                                                <input class="form-control" value="" name="street" type="text"
                                                    id="street"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="number">
                                                    Número
                                                </label>
                                                <input class="form-control" value="" min="0" name="number" type="number"
                                                    id="number"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="district">
                                                    Bairro
                                                </label>
                                                <input class="form-control" value="" name="district" type="text"
                                                    id="district"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="complement">
                                                    Complemento
                                                </label>
                                                <input class="form-control" value="" name="complement" type="text"
                                                    id="complement" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-2 d-none alert alert-danger" id="divMessage"></div>
                        </div>
                    </div>
                    <div class="col col-md-12 text-center">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a type="button" href="<?= BASEURL ?>eventos" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/registration/newRegister.js?v=<?= time() ?>"></script>

<script>





</script>

<style>
h2 {
    color: #333;
    line-height: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #aed6e2 65%);
    display: inline;
    line-height: 32px;
    bottom: 15px;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
}
</style>