<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_COMUNICACAO_CRIACAO_EDICAO)) : ?>
                <div class="col-md-8 text-end">
                    <a type="button" class="btn btn-success" id="newCommunicated"
                       href="<?= BASEURL ?>api/area-diretorio/registro/<?= $section ?>">
                        <i class="fa fa-plus" aria-hidden="true"></i> Adicionar!
                    </a>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">

        <div class="default-according style-1" id="accordionoc">
            <?php foreach ($communicated as $communicated): ?>
                <div class="card">
                    <div class="card-header bg-primary">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseicon<?= $communicated['id'] ?>"
                                    aria-expanded="false"
                                    aria-controls="collapseicon<?= $communicated['id'] ?>"> <?= $communicated['theme'] ?>
                            </button>
                        </h5>
                    </div>
                    <div class="collapse p-20" id="collapseicon<?= $communicated['id'] ?>"
                         aria-labelledby="collapseicon<?= $communicated['id'] ?>"
                         data-bs-parent="#accordionoc">
                        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_COMUNICACAO_CRIACAO_EDICAO)) : ?>
                            <div class="row">
                                <div class="col text-end">
                                    <a type="button" class="btn btn-success" id="newCommunicated"
                                       href="<?= BASEURL ?>api/area-diretorio/edita-registro/<?= $communicated['id'] ?>"
                                       style="float: right;">Editar!</a>
                                </div>
                            </div>
                        <?php endif; ?>
                        <p>Data:<?= $communicated['date'] ?></p><br/>
                        <p class="text-justify"><?= $communicated['content'] ?></p><br/>
                        <div class="row">
                            <div class="col-md-2">
                                <?php if ($communicated['file']) : ?>
                                    <a href="<?= BASEURL ?>uploads/comunicados/<?= $communicated['file'] ?>"
                                       target="_blank"><i class="fa fa-download" aria-hidden="true"
                                                          style="font-size: x-large;"></i>
                                        Baixar material</a>
                                <?php endif; ?>
                            </div>
                            <div class="col-md-2">
                                <?php if ($communicated['link']) : ?>
                                    <a href="<?= $communicated['link'] ?>" target="_blank"><i
                                                class="fa fa-link"
                                                aria-hidden="true" style="font-size: x-large;"></i> Acessar
                                        Link!</a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>