<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h5 class="title"><?= $title ?></h5>
			</div>
		</div>
	</div>
	<form class="card-body was-validated" novalidate id="formFile" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="title">Título</label>
					<input id="title" name="title" class="form-control" type="text" value="<?= $name ?>" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="ball">Esfera:</label></br>
					<select class="form-select" id="ball" name="ball" required>
						<option value="" selected disabled>Selecione</option>
						<option value="Municipal" <?= $financial->getBall() ? 'selected' : '' ?>>Municipal</option>
						<option value="Estadual" <?= $financial->getBall() ? 'selected' : '' ?>>Estadual</option>
						<option value="Nacional" <?= $financial->getBall() ? 'selected' : '' ?>>Nacional</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="directory">Diretório:</label></br>
					<select class="form-select" id="directory" name="directory" required>
						<option value="" selected disabled>Selecione</option>
						<?php foreach ($directorys as $directory): ?>
							<option
								value="<?= $directory->getId() ?>" <?= $directory->getId() == $financial->getDirectory()->getId() ? 'selected' : '' ?>><?= $directory->getName() ?></option>
						<?php endforeach; ?>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="period">Período:</label></br>
					<select class="form-select" id="period" name="period" required>
						<option value="" selected disabled>Selecione</option>
						<option value="1° Semestre" <?= $financial->getPeriod() == '1° Semestre' ? 'selected' : '' ?>>1°
							Semestre
						</option>
						<option value="2° Semestre" <?= $financial->getPeriod() == '2° Semestre' ? 'selected' : '' ?>>2°
							Semestre
						</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="month">Mês:</label></br>
					<select class="form-select" id="month" name="month" required>
						<option value="" selected disabled>Selecione</option>
						<option value="Janeiro" <?= $financial->getMonth() == 'Janeiro' ? 'selected' : '' ?>>Janeiro
						</option>
						<option value="Fevereiro" <?= $financial->getMonth() == 'Fevereiro' ? 'selected' : '' ?>>
							Fevereiro
						</option>
						<option value="Março" <?= $financial->getMonth() == 'Março' ? 'selected' : '' ?>>Março</option>
						<option value="Abril" <?= $financial->getMonth() == 'Abril' ? 'selected' : '' ?>>Abril</option>
						<option value="Maio" <?= $financial->getMonth() == 'Maio' ? 'selected' : '' ?>>Maio</option>
						<option value="Junho" <?= $financial->getMonth() == 'Junho' ? 'selected' : '' ?>>Junho</option>
						<option value="Julho" <?= $financial->getMonth() == 'Julho' ? 'selected' : '' ?>>Julho</option>
						<option value="Agosto" <?= $financial->getMonth() == 'Agosto' ? 'selected' : '' ?>>Agosto
						</option>
						<option value="Setembro" <?= $financial->getMonth() == 'Setembro' ? 'selected' : '' ?>>
							Setembro
						</option>
						<option value="Outubro" <?= $financial->getMonth() == 'Outubro' ? 'selected' : '' ?>>Outubro
						</option>
						<option value="Novembro" <?= $financial->getMonth() == 'Novembro' ? 'selected' : '' ?>>
							Novembro
						</option>
						<option value="Dezembro" <?= $financial->getMonth() == 'Dezembro' ? 'selected' : '' ?>>
							Dezembro
						</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label for="status">Arquivo:</label>
				<input type="file" name="path_file" id="path_file" class="form-control-file input-sm"
				       aria-describedby="fileHelp"></br>
			</div>
		</div>
		<input type="hidden" id="custId" name="custId" value="<?= $financial->getId() ?>">
		<div class="row">
			<div class="col text-end">
				<a type="button" href="<?= BASEURL ?>area-diretorio/relatorio-financeiro/"
				   class="btn btn-danger text-end">Cancelar</a>
				<button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
			</div>
		</div>
	</form>
</div>
<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>
<script src="<?= BASEURL ?>assets/functions/directories-area/editFinancial.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>

