<div class="card">
	<div class="card-header bg-gradient">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
                	<i class="fas fa-calendar-alt text-primary"></i>
                </div>
            </div>
            <div class="col">
                <h5 class="title">Relatório Financeiro</h5>
                <small class="text-muted">Relatório financeiro para demonstrar o histórico de receitas e despesas.</small>
            </div>
			<?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
				<div class="col-auto" id="addFinancial">
					<a type="button" 
						class="btn btn-success" 
						style="color: #fff" 
						id="addFinancialHref" 
						href="<?= BASEURL ?>area-diretorio/financeiro-novo/financial-detailing" 
						target="_blank">
						<i class="fa fa-plus" 
							aria-hidden="true"></i> Adicionar <span id="addFinancialHrefText"></span>
					</a>
				</div>
			<?php endif; ?>
        </div><hr>
	</div>
	<div class="card-body">
		<ul class="nav nav-tabsFinancial d-flex justify-content-center" id="financialTabs">
			<li class="nav-item">
				<button class="nav-linkFinancial active tablinks " onclick="openCity(event, 'details'); addReport('detailing')">
					Receita/Despesas
				</button>
			</li>
			<?php foreach(range(2018, 2025) as $year): ?>
				<li class="nav-item">
					<button class="nav-linkFinancial tablinks " onclick="openCity(event, <?= $year ?>); addReport('<?= $year ?>')">
						Relatório <?= $year ?>
					</button>
				</li>
			<?php endforeach; ?>
		</ul>
		<div id="details" class="tabcontent" style="display: block;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
							<tr class="text-center middle">
								<th>Data</th>
								<th>Esfera</th>
								<th>Nome</th>
								<th>Diretório</th>
								<th>Período</th>
								<th class="text-center">Arquivo</th>
								<?php if ($user->isAdminNational()) : ?>
									<th class="text-center">Ações</th>
								<?php endif; ?>
							</tr>
						</thead>
						<tbody>
							<?php foreach ($details as $detail): ?>
								<tr class="text-center middle">
									<td><?= $detail->getDate()->format('d/m/Y') ?></td>
									<td><?= $detail->getBall() ?></td>
									<td><?= $detail->getReport() ?></td>
									<td><?= $detail->getDirectory()->getName() ?></td>
									<td><?= $detail->getPeriod() ?></td>
									<td>
										<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $detail->getFile() ?>"
										target="_blank"><i class="fa fa-download" aria-hidden="true"
															style="font-size: x-large;"></i> Baixar</a></td>
									<?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
										<td>
											<a type="button" class="btn btn-success"
											href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $detail->getId() ?>">
												Editar!
											</a>
										</td>
									<?php endif; ?>
								</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2018" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th class="text-center">Arquivo</th>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                <th>Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2018 as $financial2018): ?>
							<tr class="text-center middle">
								<td><?= $financial2018->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2018->getReport() ?></td>
								<td><?= $financial2018->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2018->getFile() ?>" target="_blank">
										<i class="fa fa-download" aria-hidden="true" style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2018->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2019" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th class="text-center">Arquivo</th>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                <th class="text-center">Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2019 as $financial2019): ?>
							<tr class="text-center middle">
								<td><?= $financial2019->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2019->getReport() ?></td>
								<td><?= $financial2019->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2019->getFile() ?>"
									   target="_blank"><i class="fa fa-download" aria-hidden="true"
									                      style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2019->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2020" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th class="text-center">Arquivo</th>
							<?php if ($user->isAdminNational()) : ?>
								<th>Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2020 as $financial2020): ?>
							<tr class="text-center middle">
								<td><?= $financial2020->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2020->getReport() ?></td>
								<td><?= $financial2020->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2020->getFile() ?>"
									   target="_blank"><i class="fa fa-download" aria-hidden="true"
									                      style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2020->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2021" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-md-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th>Arquivo</th>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                <th class="text-center">Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2021 as $financial2021): ?>
							<tr class="text-center middle">
								<td><?= $financial2021->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2021->getReport() ?></td>
								<td><?= $financial2021->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2021->getFile() ?>"
									   target="_blank"><i class="fa fa-download" aria-hidden="true"
									                      style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2021->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2022" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th>Arquivo</th>
							<?php if ($user->isAdminNational()) : ?>
								<th class="text-center">Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2022 as $financial2022): ?>
							<tr class="text-center middle">
								<td><?= $financial2022->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2022->getReport() ?></td>
								<td><?= $financial2022->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2022->getFile() ?>"
									   target="_blank"><i class="fa fa-download" aria-hidden="true"
									                      style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2022->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2023" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th>Arquivo</th>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                <th class="text-center">Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2023 as $financial2023): ?>
							<tr class="text-center middle">
								<td><?= $financial2023->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2023->getReport() ?></td>
								<td><?= $financial2023->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2023->getFile() ?>"
									   target="_blank"><i class="fa fa-download" aria-hidden="true"
									                      style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2023->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2024" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th>Arquivo</th>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                <th class="text-center">Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2024 as $financial2024): ?>
							<tr class="text-center middle">
								<td><?= $financial2024->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2024->getReport() ?></td>
								<td><?= $financial2024->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2024->getFile() ?>"
									   target="_blank"><i class="fa fa-download" aria-hidden="true"
									                      style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2024->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="2025" class="tabcontent" style="display: none;">
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="table" class="table table-bordered table-striped">
						<thead>
						<tr class="text-center middle">
							<th>Data</th>
							<th>Nome</th>
							<th>Mês</th>
							<th>Arquivo</th>
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                <th class="text-center">Ações</th>
							<?php endif; ?>
						</tr>
						</thead>
						<tbody>
						<?php foreach ($financial2025 as $financial2025): ?>
							<tr class="text-center middle">
								<td><?= $financial2025->getDate()->format('d/m/Y') ?></td>
								<td><?= $financial2025->getReport() ?></td>
								<td><?= $financial2025->getMonth() ?></td>
								<td>
									<a href="<?= BASEURL ?>uploads/financeiro/area-diretorio/<?= $financial2025->getFile() ?>"
									   target="_blank"><i class="fa fa-download" aria-hidden="true"
									                      style="font-size: x-large;"></i> Baixar</a></td>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_RELATORIOFINANCEIRO_CRIACAO_EDICAO)) : ?>
                                    <td>
										<a type="button" class="btn btn-success"
										   href="<?= BASEURL ?>api/area-diretorio/edita-financeiro/<?= $financial2025->getId() ?>">
											Editar!
										</a>
									</td>
								<?php endif; ?>
							</tr>
						<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog" role="document">
		<form id="confidentialityAgreementForm">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
				</div>
				<div class="modal-body text-justify custom-scrollbar">
					<p>Prezado(a) <?= $user->getName() ?>,</p>
					<p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a
						manter o absoluto sigilo,
						tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e
						sobre todos os materiais disponibilizados.</p>
					<p>Este acesso ficará registrado no sistema.</p>
					<p>A divulgação e utilização não autorizada de informações, configura indisciplina
						partidária grave nos termos do artigo 18, inciso XI do estatuto partidário.</p>
				</div>
				<div class="modal-footer">
					<a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
					<button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	var term = <?= !$term ? 0 : 1 ?>;
</script>

<script src="<?= BASEURL ?>assets/functions/directories-area/financial.js?v=<?= time() ?>"></script>

<style>
.nav-tabsFinancial .nav-linkFinancial {
    border: 1px solid #dee2e6;
    margin: 0 2px;
    padding: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-tabsFinancial .nav-linkFinancial:hover {
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.nav-tabsFinancial .nav-linkFinancial.active {
    background-color: #1a2948;
    color: #fff;
    border-color: #1a2948;
}

@media (max-width: 768px) {
    .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
	
    .nav-tabsFinancial .nav-linkFinancial {
        white-space: nowrap;
        font-size: 0.9rem;
        padding: 0.75rem;
    }

}
.nav-linkFinancial {
    min-width: 140px;
    text-align: center;
}

.nav-linkFinancial.active {
    background-color: #1a2948;
    color: #fff;
}
</style>