<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_DOCUMENTOSLOCAIS_CRIACAO_EDICAO)): ?>
                <div class="col text-end">
                    <button type="button" href="" class="btn btn-success" onclick="changeModal('show')">
                        <i class="fa fa-plus" aria-hidden="true"></i> Novo Documento
                    </button>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="keyWordDocumentsFilter">Palavra Chave:</label>
                        <input class="form-control" id="keyWordDocumentsFilter" name="keyWord" type="text"
                               placeholder="Palavra Chave">
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateDocumentsFilter">Estado:</label>
                            <select class="form-select" id="stateDocumentsFilter" name="state"
                                    onchange="getCities(this.value, 'cityDocumentsFilter')">
                                <option value="0">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cityDocumentsFilter">Cidade:</label>
                            <select class="form-select" id="cityDocumentsFilter" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateDocumentsFilter">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled
                                   readonly>
                            <input type="hidden" id="stateDocumentsFilter" name="state"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cityDocumentsFilter">Cidade:</label>
                            <select class="form-select" id="cityDocumentsFilter" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateDocumentsFilter">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled
                                   readonly>
                            <input type="hidden" id="stateDocumentsFilter" name="state"
                                   value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cityDocumentsFilter">Cidade:</label>
                            <select class="form-select" id="cityDocumentsFilter" name="city" type="city">
                                <option value="" selected>Todas</option>
                                <?php foreach ($cities as $city) : ?>
                                    <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col-12 text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable('Documents')">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row g-3 align-items-center m-b-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitDocuments"
                        onchange="getLimit(this.value, 'Documents')">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startDocuments"></span> a <span id="endDocuments"></span> de
                    <span id="totalDocuments"></span> registros
                </p>
            </div>
        </div>
        <div class="row table-responsive-xl custom-scrollbar">
            <div class="col-12">
                <table id="tableDocuments" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Data</th>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Autor</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Cidade</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Arquivo</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderDocuments m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary" id="paginationDocuments"
                    style="top: auto">
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trilha de Conhecimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" novalidate class="was-validated">
                <input type="hidden" id="document" name="document">
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="title">Titulo:</label>
                                <input class="form-control" id="title" name="title" type="text" placeholder="Título"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="state">Estado:</label>
                                <select class="form-select" id="state" name="state"
                                        onchange="getCities(this.value, 'city')" required>
                                    <option value="0">Selecione</option>
                                    <?php foreach ($states as $state): ?>
                                        <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="city">Cidade:</label>
                                <select class="form-select" id="city" name="city" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="description">Descrição:</label>
                            <textarea name="description" id="description" cols="40" rows="10" class="form-control"
                                      required style="width: 100%; height: 223px; font-size: 14px; line-height: 18px;
										padding: 10px; visibility: visible" maxlength="3000"
                                      placeholder="Descrição"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12" id="DocumentDiv">
                        <div class="form-group">
                            <div class="form-group">
                                <span class="fileselector">
                                    <label class="btn btn-block btn-orange is-invalid text-white m-t-0" for="documents"
                                           id="fileBtn">
                                        <input class="upload-file-selector" id="document" type="file" name="document"
                                               required>
                                        <i class="fa fa-paperclip margin-correction"></i>
                                        <span id="documentLabel" default="Anexar Arquivo">Anexar Arquivo</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="viewFileDiv">
                        <a target="_blank" style="color: black" id="viewFile">
                            <i class="fa fa-file fa-3x" title="Visualizar Anexo"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="changeModal('hide')">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_DOCUMENTOSLOCAIS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_DOCUMENTOSLOCAIS_CRIACAO_EDICAO, false, true) ?>;
    var userLevel = '<?= $user->getLevel() ?>';
</script>

<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/directories-area/localDocuments.js?v=<?= time() ?>"></script>