<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <div class="col-md-8 text-end">
                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_REUNIOES_CRIACAO_EDICAO)) : ?>
                    <button type="button" class="btn btn-success" id="newCommunicated" data-bs-toggle="modal"
                            data-bs-target="#addMeetingdModal">
                        <i class="fa fa-plus" aria-hidden="true"></i> Adicionar!
                    </button>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="dateMeetingsFilter">Data</label>
                        <input class="form-control" id="dateMeetingsFilter" name="date" type="text"
                               placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000">
                    </div>
                </div>
                <?php if (!$sectorFilter): ?>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="sectorMeetingsFilter">Setor</label>
                            <select class="form-select" id="sectorMeetingsFilter" name="sector">
                                <option value="">Selecione</option>
                                <?php foreach ($sectors as $sector): ?>
                                    <option value="<?= $sector->getId() ?>"><?= $sector->getName() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <input type="hidden" id="sectorMeetingsFilter" name="sector" value="">
                <?php endif; ?>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="themeMeetingsFilter">Tema</label>
                        <input class="form-control" id="themeMeetingsFilter" name="theme" type="text" placeholder="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="subjectMeetingsFilter">Resumo</label>
                        <input class="form-control" id="subjectMeetingsFilter" name="subject" type="text"
                               placeholder="">
                    </div>
                </div>
                <div class="col text-end m-t-45">
                    <button class="btn btn-danger" type="reset" onclick="resetTable('Meetings')">Limpar</button>
                    <button class="btn btn-success" type="submit">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row g-3 align-items-center m-b-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitMeetings"
                        onchange="getLimit(this.value, 'Meetings')">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startMeetings"></span> a <span id="endMeetings"></span> de
                    <span id="totalMeetings"></span> registros</p>
            </div>
        </div>
        <div class="row table-responsive-xxl">
            <div class="col-12">
                <table id="tableMeetings" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Data</th>
                        <th>Setor</th>
                        <th>Tema</th>
                        <th>Resumo</th>
                        <th class="text-center">Material</th>
                        <th class="text-center">Vídeo</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderMeetings m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary"
                    id="paginationMeetings" style="top: auto">

                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal -->
<div class="modal fade" id="addMeetingdModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nova Reunião!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form id="formFile" enctype="multipart/form-data" method="post" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateMeeting">Data</label>
                                <input class="form-control" id="dateMeeting" name="dateMeeting" required
                                       data-mask="99/99/9999 99:99:99" type="text" placeholder="dd/mm/aaaa hh:mm:ss">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sector">Setor</label>
                                <select class="form-select" id="sector" name="sector" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($sectors as $sector): ?>
                                        <option value="<?= $sector->getId() ?>"><?= $sector->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="titleMeeting">Tema</label>
                                <input class="form-control" type="text" id="titleMeeting" name="titleMeeting" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="resumeMeeting">Resumo</label>
                                <textarea class="form-control" id="resumeMeeting" name="resumeMeeting" rows="4" required
                                          cols="33"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="linkMeeting">Link Reunião</label>
                                <input class="form-control" type="text" id="linkMeeting" name="linkMeeting" required>
                                <i
                                        style="font-size: 15px;">https://www.youtube.com/embed/(?)?modestbranding=1&controls=1&enablejsapi=1&autoplay=1</i>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="status">Arquivo:</label>
                            <input type="file" name="path_file" id="path_file" class="form-control-file input-sm"
                                   aria-describedby="fileHelp"></br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="save" class="btn btn-success">Salvar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>;
    var sectorFilter = <?= $sectorFilter ?>;

</script>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/directories-area/meetings.js?v=<?= time() ?>"></script>