        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="title"><?= $title ?></h5>
                    </div>
	                <div class="col-md-4 text-end">
		                <a type="button" class="btn btn-success" href="<?= BASEURL ?>area-diretorio/reunioes/" style="float:right">Voltar para lista de Reuniões</a>
	                </div>
                </div>
            </div>
            <div class="card-body">
                <!--<div class="yt-cover"></div>
                <div class="yt-cover3"></div>
                <div class="yt-cover4"></div>-->
                <iframe id="myiframe" src="<?= $media ?>" style="width: 100%; height:700px" allow="autoplay"
                    onload="injectJS()" frameborder="0"></iframe>
                <!--<div class="yt-cover2"></div>-->
            </div>
        </div>


<style>
.yt-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 50%;
}

.yt-cover2 {
    position: absolute;
    top: 57%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 32%;
}

.yt-cover3 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 90%;
    width: 46%;
}

.yt-cover4 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 54%;
    z-index: 1000;
    height: 90%;
    width: 46%;
}
</style>