<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h5 class="title"><?= $title ?></h5>
			</div>
		</div>
	</div>
	<form class="card-body was-validated" novalidate id="formFile" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="<?= $communicated ? $communicated->getId() : '' ?>">
		<input type="hidden" name="page" value="<?= $communicated ? $communicated->getPage() : $page2 ?>">
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<label for="title">Data <span class="text-danger">*</span></label>
					<input id="date" name="date" class="form-control"
					       value="<?= $communicated ? $communicated->getDate() : '' ?>"
					       type="text" minlength="10" data-mask="00/00/0000" placeholder="Ex.: dd/mm/aaaa" required>
				</div>
			</div>
			<div class="col-md-10">
				<div class="form-group">
					<label for="title">Título do Comunicado <span class="text-danger">*</span></label>
					<input id="title" name="title" class="form-control" type="text"
					       value="<?= $communicated ? $communicated->getTheme() : '' ?>"
					       placeholder="Título do Comunicado" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="description">Descrição</label>
					<textarea id="description" name="content" type="text" class="form-control"
					          rows="5"><?= $communicated ? $communicated->getContent() : '' ?></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="status">Arquivo</label><br>
					<span class="fileselector">
                                    <label class="btn btn-block btn-orange text-white m-t-0" for="path_file1">
                                        <input class="upload-file-selector" id="path_file1" type="file"
                                               name="path_file">
                                        <i class="fa fa-paperclip margin-correction"></i>
                                            <span id="path_file1Label"
                                                  default="Anexar Arquivo">Anexar</span>
                                    </label>
                                </span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="link">Link</label>
					<input id="link" name="link" class="form-control" type="text" placeholder="Ex: https://novo.org.br"
					       value="<?= $communicated ? $communicated->getLink() : '' ?>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col text-end">
				<button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5 class="title">Uploads de arquivos</h5>
					</div>
				</div>
			</div>
			<form class="card-body" id="formFileUpload" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="status">Arquivo</label><br>
							<span class="fileselector">
                                    <label class="btn btn-block btn-orange text-white m-t-0" for="path_file">
                                        <input class="upload-file-selector" id="path_file" type="file"
                                               name="path_file">
                                        <i class="fa fa-paperclip margin-correction"></i>
                                            <span id="path_fileLabel"
                                                  default="Anexar Arquivo">Anexar</span>
                                    </label>
                                </span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col text-end">
						<button type="submit" id="save" class="btn btn-success text-end">Upload</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script>

	var page2 = '<?= $page2 ?>';

</script>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/directories-area/communicated.js?v=<?= time() ?>"></script>