<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5 class="title"><?= $title ?></h5>
					</div>
				</div>
			</div>
			<form class="card-body was-validated" novalidate id="formFile" method="post" enctype="multipart/form-data">
				<input type="hidden" name="detail" value="<?= $detail ?>">
				<input type="hidden" name="custId" value="">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="title">Título</label>
							<input id="title" name="title" class="form-control" type="text" value="" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="ball">Esfera:</label></br>
							<select class="form-select" id="ball" name="ball" required>
								<option value="" selected disabled>Selecione</option>
								<option value="Municipal">Municipal</option>
								<option value="Estadual">Estadual</option>
								<option value="Nacional">Nacional</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="directory">Diretório:</label></br>
							<select class="form-select" id="directory" name="directory" required>
								<option value="" selected disabled>Selecione</option>
								<?php foreach ($directorys as $directory): ?>
									<option value="<?= $directory->getId() ?>"><?= $directory->getName() ?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="period">Período:</label></br>
							<select class="form-select" id="period" name="period" required>
								<option value="" selected disabled>Selecione</option>
								<option value="1° Semestre">1° Semestre</option>
								<option value="2° Semestre">2° Semestre</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="month">Mês:</label></br>
							<select class="form-select" id="month" name="month" required>
								<option value="" selected disabled>Selecione</option>
								<option value="Janeiro">Janeiro</option>
								<option value="Fevereiro">Fevereiro</option>
								<option value="Março">Março</option>
								<option value="Abril">Abril</option>
								<option value="Maio">Maio</option>
								<option value="Junho">Junho</option>
								<option value="Julho">Julho</option>
								<option value="Agosto">Agosto</option>
								<option value="Setembro">Setembro</option>
								<option value="Outubro">Outubro</option>
								<option value="Novembro">Novembro</option>
								<option value="Dezembro">Dezembro</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="status">Arquivo:</label>
						<input type="file" name="path_file" id="path_file" class="form-control-file input-sm"
						       aria-describedby="fileHelp"></br>
					</div>
				</div>
				<div class="row">
					<div class="col text-end">
						<a type="button" href="<?= BASEURL ?>area-diretorio/relatorio-financeiro/"
						   class="btn btn-danger text-end">Cancelar</a>
						<button type="submit" id="save" class="btn btn-success text-end">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/js/plugins/tinymce/jquery.tinymce.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/plugins/tinymce/tinymce.min.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/directories-area/registerFinancial.js?v=<?= time() ?>"></script>

