<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-6">
						<h5 class="title"><?= $title ?></h5>
					</div>
					<?php if ($user->isAdminNational()) : ?>
						<div class="col-md-6 text-end">
							<button type="button" class="btn btn-success" data-bs-toggle="modal"
							        data-bs-target="#addCommunicatedModal">
								<i class="fa fa-plus" aria-hidden="true"></i> Adicionar!
							</button>
						</div>
					<?php endif; ?>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="titleStoreFilter">Título</label>
								<input class="form-control" id="titleStoreFilter" name="titleStoreFilter" type="text"
								       placeholder="Título">
							</div>
						</div>
						<div class="col-md-6 text-end m-t-45">
							<button class="btn btn-danger" type="reset" onclick="resetTable('Store')">Limpar</button>
							<button class="btn btn-success" type="submit">Filtrar</button>
						</div>
					</div>
				</form>
				<div class="row g-3 align-items-center m-b-30">
					<div class="col-auto">
						<span>Exibir </span>
					</div>
					<div class="col-auto">
						<select class="form-control form-select" id="limitStore"
						        onchange="getLimit(this.value, 'Store')">
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
					<div class="col-auto">
						<span> registros</span>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p>Exibindo de <span id="startStore"></span> a <span id="endStore"></span> de
							<span id="totalStore"></span> registros</p>
					</div>
				</div>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table id="tableStore" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th class="text-center">Data Publicação</th>
								<th class="text-center">Título</th>
								<th class="text-center">Material</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<div class="spinner-border loaderStore m-t-10" role="status">
							<span class="sr-only mx-auto">Loading...</span>
						</div>
					</div>
				</div>
				<div class="row text-end">
					<nav aria-label="...">
						<ul class="pagination justify-content-end pagination-primary"
						    id="paginationStore" style="top: auto">

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCommunicatedModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<form id="formFile" enctype="multipart/form-data" method="post" class="was-validated" novalidate>
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Novo comunicado!</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body custom-scrollbar">
					<div class="col-md-12">
						<div class="form-group">
							<label for="title">Título</label>
							<input class="form-control" type="text" id="title" name="title" required>
						</div>
					</div>
					<div class="col-md-12">
						<label for="status">Arquivo:</label>
						<div class="form-group">
						<span class="fileselector">
                                    <label class="btn btn-block btn-orange text-white m-t-0" for="path_file">
                                        <input class="upload-file-selector" id="path_file" type="file"
                                               name="path_file">
                                        <i class="fa fa-paperclip margin-correction"></i>
                                            <span id="path_fileLabel"
                                                  default="Anexar Arquivo">Anexar</span>
                                    </label>
                                </span>
						</div>
					</div>
				</div>
				<input type="hidden" id="page" name="page" value="store">
				<input type="hidden" id="content" name="content" value="">
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="submit" id="save" class="btn btn-success">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
	<span class="sr-only mx-auto">Loading...</span>
</div>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/directories-area/store.js?v=<?= time() ?>"></script>