<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title"><?= $title ?></h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_TRILHASDOCONHECIMENTO_CRIACAO_EDICAO)): ?>
                <div class="col text-end">
                    <button type="button" href="" class="btn btn-success" onclick="changeModal('show')">
                        <i class="fa fa-plus" aria-hidden="true"></i> Nova Trilha
                    </button>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="keyWordTrailFilter">Palavra Chave:</label>
                        <input class="form-control" id="keyWordTrailFilter" name="keyWord" type="text"
                               placeholder="Palavra Chave">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="modulesTrailFilter">Módulo:</label>
                        <select class="form-select" id="modulesTrailFilter" name="modules"
                                onchange="getClass(this.value)">
                            <option value="">Todos</option>
                            <option value="1">Introdução</option>
                            <option value="2">Consultas</option>
                            <option value="3">Eventos</option>
                            <option value="4">Entendendo o Dashboard</option>
                            <option value="5">Financeiro</option>
                            <option value="6">Comunicação</option>
                            <option value="7">Acesso à Novos Usuários</option>
                            <option value="8">Jurídico Diretórios</option>
                            <option value="9">Prestação de Contas Diretórios</option>
                            <option value="10">Estratégias de captação de recursos</option>
                            <option value="11">Estratégias do Dia-a-dia</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="classesTrailFilter">Aula:</label>
                        <select class="form-select" id="classesTrailFilter" name="classes">
                            <option value="" selected>Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 text-end">
                    <button class="btn btn-danger" type="reset" onclick="resetTable('Trail')">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row g-3 align-items-center m-b-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitTrail"
                        onchange="getLimit(this.value, 'Trail')">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startTrail"></span> a <span id="endTrail"></span> de
                    <span id="totalTrail"></span> registros</p>
            </div>
        </div>
        <div class="row table-responsive-xl custom-scrollbar">
            <div class="col-12">
                <table id="tableTrail" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th class="text-center">Descrição</th>
                        <th class="text-center">Módulo</th>
                        <th class="text-center">Material</th>
                        <th class="text-center">Video</th>
                        <?php if ($user->getLevel() == 3): ?>
                            <th class="text-center">Ações</th>
                        <?php endif; ?>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderTrail m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary"
                    id="paginationTrail" style="top: auto">

                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trilha de Conhecimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" novalidate class="was-validated">
                <input type="hidden" id="trail" name="trail">
                <div class="modal-body custom-scrollbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="title">Titulo:</label>
                                <input class="form-control" id="title" name="title" type="text" placeholder="Título"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="module">Módulo:</label>
                                <select class="form-select" id="module" name="module" onchange="getClass(this.value)"
                                        required>
                                    <option value="">Todos</option>
                                    <option value="1">Introdução</option>
                                    <option value="2">Consultas</option>
                                    <option value="3">Eventos</option>
                                    <option value="4">Entendendo o Dashboard</option>
                                    <option value="5">Financeiro</option>
                                    <option value="6">Comunicação</option>
                                    <option value="7">Acesso à Novos Usuários</option>
                                    <option value="8">Jurídico Diretórios</option>
                                    <option value="9">Prestação de Contas Diretórios</option>
                                    <option value="10">Estratégias de captação de recursos</option>
                                    <option value="11">Estratégias do Dia-a-dia</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="link">Link:</label>
                                <input class="form-control" id="link" name="link" type="text" required
                                       placeholder="Link">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="description">Descrição:</label>
                            <textarea name="description" id="description" cols="40" rows="10" class="form-control"
                                      required style="width: 100%; height: 223px; font-size: 14px; line-height: 18px;
										padding: 10px; visibility: visible" maxlength="3000"
                                      placeholder="Descrição"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12" id="materialDiv">
                        <div class="form-group">
                            <label for="informative">Material:</label>
                            <div class="form-group">
						<span class="fileselector">
                                    <label class="btn btn-block btn-orange is-invalid text-white m-t-0" for="material"
                                           id="fileBtn">
                                        <input class="upload-file-selector" id="material" type="file"
                                               name="material">
                                        <i class="fa fa-paperclip margin-correction"></i>
                                            <span id="materialLabel"
                                                  default="Anexar Arquivo">Anexar Arquivo</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-none" id="viewFileDiv">
                        <a target="_blank" style="color: black" id="viewFile">
                            <i class="fa fa-file fa-3x" title="Visualizar Anexo"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="changeModal('hide')">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_TRILHASDOCONHECIMENTO_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_TRILHASDOCONHECIMENTO_CRIACAO_EDICAO, false, true) ?>;
    var userLevel = '<?= $user->getLevel() ?>';

</script>

<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/directories-area/trailOfKnowledge.js?v=<?= time() ?>"></script>