<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h5 class="title"><?= $title ?></h5>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="name">Data</label>
                                <input class="form-control" id="date" name="date" data-mask="99/99/9999" type="text"
                                       placeholder="99/99/9999">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Titulo do Comunicado</label>
                                <input class="form-control" id="title" name="title" type="text"
                                       placeholder="Titulo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Nome arquivo</label>
                                <input class="form-control" id="file" name="file" type="text"
                                       placeholder="Arquivo">
                            </div>
                        </div>
                        <div class="col text-end m-t-45">
                            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_GESTAODECOMUNICADOS_CRIACAO_EDICAO)): ?>
                                <button class="btn btn-success" id="newCommunicated" type="button"
                                        onclick="showModal()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Adicionar!
                                </button>
                            <?php endif; ?>
                            <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                            <button class="btn btn-success" type="submit">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <label>
                    <div id="messageForm" class="alert d-none" role="alert"></div>
                </label>
                <form id="communicatedForm">
                    <div class="row table-responsive-xl">
                        <div class="col-12">
                            <table id="table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Data</th>
                                    <th class="text-center">Titulo</th>
                                    <th class="text-center">Arquivo/link</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div id="loader" class="loader"></div>
                    <div style="display: none" id="message" class="alert" role="alert"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="communicatedModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="formFile" enctype="multipart/form-data" method="post">
            <input type="hidden" id="custId" name="custId">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Comunicado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body custom-scrollbar">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateCommunicated">Data</label>
                                    <input class="form-control" id="dateCommunicated" name="dateCommunicated"
                                           data-mask="99/99/9999" type="text" placeholder="99/99/9999" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="processCommunicated">Processo</label>
                                    <input class="form-control" id="processCommunicated" name="processCommunicated"
                                           data-mask="9999/999" type="text" placeholder="9999/999">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="status">Titulo</label>
                            <textarea class="form-control" type="text" id="titleCommunicated" name="titleCommunicated"
                                      rows="6" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="status">Arquivo:</label>
                        <input type="file" name="path_file" id="path_file" class="form-control-file input-sm"
                               aria-describedby="fileHelp"></br>
                        <label for="status">Nome do arquivo</label>
                        <input class="form-control" type="text" id="path_file_text" name="path_file_text" disabled>
                    </div>
                    </br>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="status">Exibir em:</label></br>
                                    <select class="form-select" id="type" name="type" required>
                                        <option value="" selected disabled>Selecione</option>
                                        <option value="record">Tela de Atas</option>
                                        <option value="guideline">Tela de Diretrizes</option>
                                        <option value="resolution">Tela de Resoluções</option>
                                        <option value="restricted">Tela de Restrito a Filiados</option>
                                        <option value="communicated">Tela de Comunicados</option>
                                        <option value="decision">Tela de Decisões (CEP)</option>
                                        <option value="consultation">Tela de Consultas (CEP)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="directory">Diretório:</label>
                                    <select class="form-select" id="directory" name="directory">
                                        <option value="DN">DN</option>
                                        <option value="DE AL">DE AL</option>
                                        <option value="DE BA">DE BA</option>
                                        <option value="DE CE">DE CE</option>
                                        <option value="DE DF">DE DF</option>
                                        <option value="DE ES">DE ES</option>
                                        <option value="DE GO">DE GO</option>
                                        <option value="DE MT">DE MT</option>
                                        <option value="DE MS">DE MS</option>
                                        <option value="DE MG">DE MG</option>
                                        <option value="DE PB">DE PB</option>
                                        <option value="DE PR">DE PR</option>
                                        <option value="DE PE">DE PE</option>
                                        <option value="DE RJ">DE RJ</option>
                                        <option value="DE RN">DE RN</option>
                                        <option value="DE RS">DE RS</option>
                                        <option value="DE RO">DE RO</option>
                                        <option value="DE SC">DE SC</option>
                                        <option value="DE SP">DE SP</option>
                                        <option value="DE SE">DE SE</option>
                                        <option value="DE PA">DE PA</option>
                                        <option value="DE MA">DE MA</option>
                                        <option value="DE PI">DE PI</option>
                                        <option value="DE AM">DE AM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="checkbox" id="linkConfirm" name="linkConfirm" value="1"> Link
                            <input class="form-control" type="text" id="linkCommunicated" name="linkCommunicated"
                                   disabled>
                        </div>
                    </div>
                    <div class="mt-2 d-none alert alert-danger" id="divMessageForm">Erro</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" onclick="return valida_arquivo()" class="btn btn-success"><i
                                class="fa fa-plus" aria-hidden="true"></i> Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_GESTAODECOMUNICADOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_GESTAODECOMUNICADOS_CRIACAO_EDICAO, false, true) ?>;
    const divMessageForm = document.getElementById('divMessageForm');
    $("#formFile").submit(function (e) {
        event.preventDefault();
        showLoading();
        $.ajax({
            type: 'POST',
            url: '<?= BASEURL ?>api/cadastros/salva-comunicado/',
            data: new FormData(this),
            processData: false,
            contentType: false
        })
            .done(function (json) {
                closeLoading();
                divMessageForm.classList.add("alert-success");
                divMessageForm.classList.remove("alert-danger");
                divMessageForm.textContent = json.message;
                divMessageForm.classList.remove("d-none");
                setTimeout(function () {
                    $('#communicatedModal').modal('hide');
                    window.location.href = "<?= BASEURL ?>cadastros/gestao-comunicados";
                }, 2000);
            })
            .fail(function (json) {
                closeLoading();
                divMessageForm.classList.add("alert-danger");
                divMessageForm.classList.remove("alert-success");
                divMessageForm.textContent = json.responseJSON.message;
                divMessageForm.classList.remove("d-none");
            });
    });

</script>

<script>
    var index = 0;
    var partial = 0;
    var total = 1;
    var date = '';
    var title = '';
    var file = '';

    const form = document.getElementById('filter');
    form.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        partial = 0;
        index = 0;
        total = 1;
        date = formData.date;
        title = formData.title;
        file = formData.file;
        $("#table tbody").empty();
        generateTable();
    })

    function resetTable() {
        index = 0;
        partial = 0;
        total = 1;
        date = '';
        title = '';
        file = '';

        $("#table tbody").empty();
        generateTable();
    }

    function generateMembershipList(communicated) {
        let remove = update = '';
        if (canDelete) remove = `<button type="submit" class="btn btn-warning" onclick="desativa(${communicated.id})">Desativar</button>`;
        if (canUpdate) {
            update = `<button type="button" class="btn btn-info"
                            onclick="openModal('${communicated.id}','${communicated.date}','${communicated.process}','${communicated.title}','${communicated.restricted}','${communicated.communicated}','${communicated.decision}','${communicated.consultation}','${communicated.resolution}','${communicated.directory}','${communicated.link}','${communicated.linkCommunicated}','${communicated.file}')">
                            Editar
                        </button>`;
        }
        return `<tr class="middle">
                    <td class="text-center" style="width: 6%">${communicated.id}</td>
                    <td class="text-center" style="width: 10%">${communicated.date}</td>
                    <td>${communicated.title}</td>
                    <td class="text-center">
                        <a type="button" class="btn btn-success" href="<?= BASEURL ?>uploads/comunicados/${communicated.file}" target="_blank">Visualizar</a>
                    </td>
                    <td class="text-center">${update}</td>
                    <td class="text-center">${remove}</td>
                </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            $('#loader').show();
            fetch(`<?= BASEURL ?>api/cadastros/gestao-comunicados/?index=${index}&date=${date}&title=${title}&file=${file}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    $('#loader').hide();
                    total = json.total;
                    partial = json.partial;
                    let membershipList = json.message;
                    let options = membershipList.map(generateMembershipList);
                    $("#table tbody").append(options);
                    $('#total').text(total);
                    $('#partial').text(partial);
                });
            });
        }
    }

    $(document).ready(function () {
        <?php if ($user->getLevel() == 2): ?>
        getCities(<?= $user->getState()->getId() ?>);
        <?php endif; ?>
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
    });

    function valida_arquivo() {
        var check = document.getElementsByName("linkConfirm");
        var target = $("input[name='path_file']").val();
        var target2 = $("input[name='path_file_text']").val();

        for (var i = 0; i < check.length; i++) {
            if (check[i].checked == true) {
                if ($("#linkCommunicated").val() == '') {
                    alert("Atenção, o link deve ser devidamente preenchido!");
                    return false;
                }
            } else {
                if (target.length == 0) {
                    if (target2.length == 0) {
                        alert("Atenção, nenhum arquivo encontrado para postagem!");
                        return false;
                    }
                }
            }
        }
    }

    function desativa(id) {
        const communicatedForm = document.getElementById('communicatedForm');
        const divMessage = document.getElementById('messageForm');
        communicatedForm.addEventListener('submit', e => {
            e.preventDefault();
            showLoading();
            let formData = formDataToJson('communicatedForm');
            fetch(`<?= BASEURL ?>api/cadastros/desativa-comunicado/${id}`, {
                method: 'PUT',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            }).then(response => {
                closeLoading();
                divMessage.classList.add("alert-danger");
                divMessage.classList.remove("alert-success");
                divMessage.classList.remove("d-none");
                response.json().then(json => {
                    divMessage.innerHTML = json.message;
                    divMessage.style.display = 'block';
                    if (response.status === 201) {
                        divMessage.classList.add("alert-success");
                        divMessage.classList.remove("alert-danger");
                        setTimeout(function () {
                            window.location.href = "<?= BASEURL ?>cadastros/gestao-comunicados";
                        }, 1200);
                    }
                });
            });
        });
    }

    $("input[name='linkConfirm']").on('click', function () {
        var valor = $(this).prop('checked');
        if (valor) {
            $("#linkCommunicated").attr("disabled", false);
            $("#path_file").attr("disabled", true);
            $('input[type="path_file"]').attr("disabled", true);
            $('input[type="path_file"]').val("");
        } else {
            $("#linkCommunicated").attr("disabled", true);
            $("#path_file").attr("disabled", false);
            document.getElementById('link').value = "";
            $('input[type="path_file"]').attr("disabled", false);
        }
    });

    function openModal(id, date, processCommunicated, title, restricted, communicated, decision, consultation, resolution, directory, link, linkCommunicated, file) {
        $("#dateCommunicated").val(date);
        $("#processCommunicated").val(processCommunicated);
        $("#titleCommunicated").val(title);
        $("#linkCommunicated").val(linkCommunicated);
        $("#directory").val(directory);
        $("#path_file_text").val(file);
        $("#custId").val(id);
        restricted == 1 ? $("#restricted").prop("checked", true) : $("#restricted").prop("checked", false);
        communicated == 1 ? $("#communicated").prop("checked", true) : $("#communicated").prop("checked", false);
        decision == 1 ? $("#decision").prop("checked", true) : $("#decision").prop("checked", false);
        consultation == 1 ? $("#consultation").prop("checked", true) : $("#consultation").prop("checked", false);
        resolution == 1 ? $("#resolution").prop("checked", true) : $("#resolution").prop("checked", false);
        link == 1 ? $("#linkConfirm").prop("checked", true) && $('#linkCommunicated').attr('disabled', false) && $('#path_file').attr('disabled', true) :
            $("#linkConfirm").prop("checked", false) && $('#linkCommunicated').attr('disabled', true) && $('#path_file').attr('disabled', false);

        $('#communicatedModal').modal('show');
    }

    $('#newCommunicated').click(function () {
        $('#formFile')[0].reset();
    });

    function showModal() {
        $('#communicatedModal').modal('show');
    }

</script>