<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title"><?= $title ?></h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="filter">
					<div class="row">
						<div class="col-md-1">
							<div class="form-group">
								<label for="id">ID</label>
								<input class="form-control" id="id" name="id" type="text">
							</div>
						</div>
						<div class="col-md-1">
							<div class="form-group">
								<label for="affiliated_id">Filiado ID</label>
								<input class="form-control" id="affiliated_id" name="affiliated_id" type="text">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="name">Nome</label>
								<input class="form-control" id="name" name="name" type="text">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="name">E-mail</label>
								<input class="form-control" id="email" name="email" type="text">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="name">CPF</label>
								<input class="form-control" id="cpf" name="cpf" type="text">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label for="status">Status</label>
								<select class="form-select" id="status" name="status">
									<option value="">Todos</option>
									<option value="1">Aguardando Pgto</option>
									<option value="0">Cadastrado</option>
									<option value="9">Desfiliado</option>
									<option value="13">Filiação Suspensa por Pendência Titulo</option>
									<option value="7" selected>Filiado</option>
									<option value="8">Refiliado</option>
									<option value="4">Impugnação Solicitada</option>
									<option value="6">Impugnado</option>
									<option value="2">Período Impugnação</option>
								</select>
							</div>
						</div>
						<div class="col text-end m-t-45">
							<button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
							<button class="btn btn-success" type="submit">Filtrar</button>
						</div>
					</div>
				</form>
				Exibindo <span id="partial"></span> de <span id="total"></span>
				<label>
					<div style="display: none" id="messageForm" class="alert" role="alert"></div>
				</label>
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table id="table" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th style="font-size: 15px;">ID</th>
								<th style="font-size: 15px;">F. ID</th>
								<th style="font-size: 15px;">Nome</th>
								<th class="text-center" style="font-size: 15px;">E-mail</th>
								<th class="text-center" style="font-size: 15px;">CPF</th>
								<th class="text-center" style="font-size: 15px;">Filiação</th>
								<th class="text-center" style="font-size: 15px;">Desfiliação</th>
								<th class="text-center" style="font-size: 15px;">Status</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div id="loader" class="loader"></div>
				<div style="display: none" id="message" class="alert" role="alert"></div>
			</div>
		</div>
	</div>
</div>

<script>
	var index = 0;
	var partial = 0;
	var total = 1;
	var id = '';
	var affiliated_id = '';
	var name = '';
	var email = '';
	var cpf = '';
	var status = [7, 8];
	const form = document.getElementById('filter');

	form.addEventListener('submit', e => {
		e.preventDefault();
		let formData = formDataToJson('filter');
		partial = 0;
		index = 0;
		total = 1;
		id = formData.id;
		affiliated_id = formData.affiliated_id;
		name = formData.name;
		email = formData.email;
		cpf = formData.cpf;
		status = formData.status;
		$("#table tbody").empty();
		generateTable();
	})

	function resetTable() {
		index = 0;
		partial = 0;
		total = 1;
		id = '';
		affiliated_id = '';
		name = '';
		email = '';
		cpf = '';
		status = 0;

		$("#table tbody").empty();
		generateTable();
	}

	function generateMembershipList(records) {
		return `<tr class='middle'>
                    <td class="text-center">${records.id}</td>
                    <td class="text-center">${records.affiliated_id}</td>
                    <td><a href="${baseUrl}filiados/${records.id}" target="_blank">${records.name} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    <td class="text-center">${records.email}</td>
                    <td class="text-center">${records.cpf}</td>
                    <td class="text-center">${records.date_affiliated}</td>
                    <td class="text-center">${records.date_disaffection}</td>
                    <td class="text-center">${records.status}</td>
                </tr>`;
	}

	function generateTable() {
		if (total > partial) {
			$('#loader').show();
			fetch(`<?= BASEURL ?>api/cadastros/gestao-cadastros/?index=${index}&id=${id}&affiliated_id=${affiliated_id}&name=${name}&email=${email}&cpf=${cpf}&status=${status}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					$('#loader').hide();
					total = json.total;
					partial = json.partial;
					let membershipList = json.message;
					let options = membershipList.map(generateMembershipList);
					$("#table tbody").append(options);
					$('#total').text(total);
					$('#partial').text(partial);
				});
			});
		}
	}

	$(document).ready(function () {
		<?php if ($user->getLevel() == 2): ?>
		getCities(<?= $user->getState()->getId() ?>);
		<?php endif; ?>
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});

	$(document).ready(function () {
		$("#cpf").mask("999.999.999-99");
	});
</script>
