<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Permissões Detalhes</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="form">
            <input type="hidden" name="permissionId" id="permissionId" value="<?= $id ?>">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="userType">Tipo de usuário:</label>
                        <select class="form-select" id="userType" name="userType" 
                                <?= $id ? 'style="pointer-events: none"' : '' ?>>
							<option value="">Todos</option>
							<?php foreach($usersTypes as $userType): ?>
                                <option value="<?= $userType->getId() ?>"
                                    <?= $permission ? $permission->getUserType() == $userType ? 'selected' : '' : '' ?>>
                                    <?= $userType->getName() ?></option>
                            <?php endforeach; ?>
						</select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sector">Setor:</label>
                        <select class="form-select" id="sector" name="sector"
                                <?= $id ? 'style="pointer-events: none"' : '' ?>>
							<option value="">Todos</option>
							<?php foreach($sectors as $sector): ?>
                                <option value="<?= $sector->getId() ?>"
                                <?= $permission ? $permission->getSector()->getId() == $sector->getId() ? 'selected' : '' : '' ?>>
                                <?= $sector->getName() ?></option>
                            <?php endforeach; ?>
						</select>
                    </div>
                </div>
            </div><hr>
            <div class="row">
                <h5 for="sector">Funcionalidades:</h5>
                <?php foreach($features as $feature): ?>
                    <div class="col-md-12">
                        <input type="checkbox" id="features<?= $feature->getId() ?>" name="features[]" value="<?= $feature->getId() ?>"
                            <?= in_array($feature->getId(), $arr) ? 'checked' : '' ?>/>
                        <label for="features<?= $feature->getId() ?>"><?= $feature->getName() ?></label><br>
                    </div>
                <?php endforeach; ?>
            </div><hr>
            <div class="col-md-12 text-end">
                <a href="<?= BASEURL ?>cadastros/permissoes/" class="btn btn-danger" type="button">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                </a>
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-save" aria-hidden="true"></i> Salvar
                </button>
            </div>
        </form> 
    </div> 
</div>

<script src="<?= BASEURL ?>assets/functions/maintenance/permissionsDetails.js?v=<?= time() ?>"></script>