<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Permissões</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="userType">Tipo de usuário:</label>
                        <select class="form-select" id="userTypePermissionsFilter" name="userType">
                            <option value="">Todos</option>
                            <?php foreach ($usersTypes as $usersType): ?>
                                <option value="<?= $usersType->getId() ?>"><?= $usersType->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="sector">Setor:</label>
                        <select class="form-select" id="sectorPermissionsFilter" name="sector">
                            <option value="">Todos</option>
                            <?php foreach ($sectors as $sector): ?>
                                <option value="<?= $sector->getId() ?>"><?= $sector->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 text-end m-t-45">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_PERMISSOES_CRIACAO_EDICAO)): ?>
                        <a href="<?= BASEURL ?>cadastros/permissoes-detalhes/" target="_blank" class="btn btn-primary"
                           type="button">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
                        </a>
                    <?php endif; ?>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row align-items-center m-b-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitPermissions"
                        onchange="getLimit(this.value, 'Permissions')">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startPermissions"></span> a <span id="endPermissions"></span> de
                    <span id="totalPermissions"></span> registros
                </p>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="tablePermissions" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Tipo de usuário</th>
                        <th class="text-center">Setor</th>
                        <th class="text-center">Criado em</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderPermissions m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary" id="paginationPermissions"
                    style="top: auto"></ul>
            </nav>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_PERMISSOES_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_PERMISSOES_CRIACAO_EDICAO, false, true) ?>;
    var userAdmin = '<?= $user->isAdminNational() ?>';
</script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/maintenance/permissions.js?v=<?= time() ?>"></script>

