<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Setores</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="nameFilter">Nome:</label>
                        <input class="form-control" id="nameSectorsFilter" name="name" type="text">
                    </div>
                </div>
                <div class="col-md-7 text-end m-t-45">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_SETORES_CRIACAO_EDICAO)): ?>
                        <button class="btn btn-primary" type="button" onclick="edit()">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                    </button>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()">
                        <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row align-items-center m-b-30">
            <div class="col-auto">
                <span>Exibir </span>
            </div>
            <div class="col-auto">
                <select class="form-control form-select" id="limitSectors" onchange="getLimit(this.value, 'Sectors')">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-auto">
                <span> registros</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Exibindo de <span id="startSectors"></span> a <span id="endSectors"></span> de
                    <span id="totalSectors"></span> registros
                </p>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="tableSectors" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th class="text-center">Criado em</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="spinner-border loaderSectors m-t-10" role="status">
                    <span class="sr-only mx-auto">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary" id="paginationSectors"
                    style="top: auto"></ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="sectorsModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de setores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formModal" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="sectorId" id="sectorId">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Nome:<span class="text-danger"> *</span></label>
                                <input class="form-control" id="nameSectorsModal" name="name" type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="messageForm" class="alert" role="alert" style="display:none"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="submit" id="save" class="btn btn-success">
                        <i class="fa fa-save" aria-hidden="true"></i> Confirmar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var userAdmin = '<?= $user->isAdminNational() ?>';
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_SETORES_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_SETORES_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/maintenance/sectors.js?v=<?= time() ?>"></script>