<div class="card">
    <div class="card-header bg-primary">
        <h5 class="title" style="text-decoration: underline"><?= 'Gabinete: ' . $c['name'] . ' - ' . $c['state'] ?></h5>
    </div>
</div>
<div class="default-according style-1" id="accordionoc">
    <div class="card">
        <div class="card-header bg-primary">
            <h5 class="mb-0">
                <a class="btn btn-link text-white collapsed" data-bs-toggle="collapse" data-bs-target="#usersCollapse"
                   aria-expanded="false" aria-controls="usersCollapse">
                    Assessores
                </a>
            </h5>
        </div>
        <div class="collapse p-20" id="usersCollapse" aria-labelledby="usersCollapse" data-bs-parent="#accordionoc">
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="usersTable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Email</th>
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_GABINETES_CRIACAO_EDICAO)) : ?>
                                    <th class="text-center">Ações</th>
                                <?php endif; ?>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($usersList as $u): ?>
                                <tr>
                                    <td><?= $u['name'] ?></td>
                                    <td class="text-center"><?= $u['email'] ?></td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_GABINETES_CRIACAO_EDICAO)) : ?>
                    <div class="col text-end" style="margin-top: 15px;">
                        <a class="btn btn-success text-white" onclick="openModal(0)">
                            <i class="fa fa-plus"></i> Assessor
                        </a>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="card m-t-0">
        <div class="card-header bg-primary">
            <h5 class="mb-0">
                <a class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                   data-bs-target="#spendingCollapse" aria-expanded="false" aria-controls="spendingCollapse">
                    Gastos
                </a>
            </h5>
        </div>
        <div class="collapse p-20" id="spendingCollapse" aria-labelledby="spendingCollapse"
             data-bs-parent="#accordionoc">
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="spendingTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <!--<th class="text-center">Nome</th>-->
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Valor utilizado</th>
                                <th class="text-center">Valor Economizado</th>
                                <th class="text-center">Justificativa</th>
                                <th class="text-center">Data</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php if ($spendingsList): ?>
                                <?php foreach ($spendingsList as $s): ?>
                                    <tr>
                                        <!--<td><?= $s['user'] ?></td>-->
                                        <td class="text-center"><?= $s['type'] ?></td>
                                        <td class="text-center"><?= $s['category'] ?></td>
                                        <td class="text-center"><?= 'R$ ' . $s['value'] ?></td>
                                        <td class="text-center"><?= 'R$ ' . $s['valueSave'] ?></td>
                                        <td class="text-center"><?= $s['justify'] ?></td>
                                        <td class="text-center"><?= $s['dueDate'] ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <tr>
                                    <td class="text-center" colspan="6">Nenhum registro encontrado</td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-t-0">
        <div class="card-header bg-primary">
            <h5 class="mb-0">
                <a class="btn btn-link text-white collapsed" data-bs-toggle="collapse"
                   data-bs-target="#presenceCollapse" aria-expanded="false" aria-controls="presenceCollapse">
                    Presença
                </a>
            </h5>
        </div>
        <div class="collapse p-20" id="presenceCollapse" aria-labelledby="presenceCollapse"
             data-bs-parent="#accordionoc">
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="presenceTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Data</th>
                                <th class="text-center">Presença</th>
                                <th class="text-center">Justificativa</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php if ($presencesList): ?>
                                <?php foreach ($presencesList as $p): ?>
                                    <tr>
                                        <td class="text-center"><?= $p['date'] ?></td>
                                        <td class="text-center"><?= $p['presence'] == 1 ? 'Presente' : 'Ausente' ?></td>
                                        <td class="text-center"><?= $p['justification'] ?></td>
                                    </tr>
                                <?php endforeach; ?>

                            <?php else: ?>

                                <tr>
                                    <td class="text-center" colspan="3">Nenhum registro encontrado</td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-t-0">
        <div class="card-header bg-primary">
            <h5 class="mb-0">
                <a class="btn btn-link text-white collapsed" data-bs-toggle="collapse" data-bs-target="#projectCollapse"
                   aria-expanded="false" aria-controls="projectCollapse">
                    Projetos
                </a>
            </h5>
        </div>
        <div class="collapse p-20" id="projectCollapse" aria-labelledby="projectCollapse" data-bs-parent="#accordionoc">
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="projectTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th class="text-center">Apelido</th>
                                <th class="text-center">Abrangência</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php if ($projects): ?>
                                <?php foreach ($projects as $project): ?>
                                    <tr>
                                        <td><?= $project['name'] ?></td>
                                        <td class="text-center"><?= $project['nickname'] ?></td>
                                        <td class="text-center"><?= $project['coverage'] ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <tr>
                                    <td class="text-center" colspan="3">Nenhum registro encontrado</td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-t-0">
        <div class="card-header bg-primary">
            <h5 class="mb-0">
                <a class="btn btn-link text-white collapsed" data-bs-toggle="collapse" data-bs-target="#pollsCollapse"
                   aria-expanded="false" aria-controls="pollsCollapse">
                    Votações
                </a>
            </h5>
        </div>
        <div class="collapse p-20" id="pollsCollapse" aria-labelledby="pollsCollapse" data-bs-parent="#accordionoc">
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="pollsTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Projeto</th>
                                <th class="text-center">Data</th>
                                <th class="text-center">Ementa</th>
                                <th class="text-center">Análise</th>
                                <th class="text-center">Voto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php if ($polls): ?>
                                <?php foreach ($polls as $poll): ?>
                                    <tr>
                                        <td><?= $poll['project'] ?></td>
                                        <td><?= $poll['date'] ?></td>
                                        <td class="text-center"><?= $poll['menu'] ?></td>
                                        <td class="text-center"><?= $poll['analise'] ?></td>
                                        <td class="text-center"><?= $poll['vote'] ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <tr>
                                    <td class="text-center" colspan="4">Nenhum registro encontrado</td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-t-0">
        <div class="card-header bg-primary">
            <h5 class="mb-0">
                <a class="btn btn-link text-white collapsed" data-bs-toggle="collapse" data-bs-target="#reportsCollapse"
                   aria-expanded="false" aria-controls="reportsCollapse">
                    Relatórios
                </a>
            </h5>
        </div>
        <div class="collapse p-20" id="reportsCollapse" aria-labelledby="reportsCollapse" data-bs-parent="#accordionoc">
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="reportsTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Gabinete</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Download</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php if ($reports): ?>
                                <?php foreach ($reports as $report): ?>
                                    <tr>
                                        <td><?= $report['cabinet'] ?></td>
                                        <td class="text-center"><?= $report['title'] ?></td>
                                        <td class="text-center"><a
                                                    href='https://dam.novo.org.br/uploads/reports/<?= $report['link'] ?>'
                                                    target="_blank"><i class="fa fa-download"></i></a></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <tr>
                                    <td class="text-center" colspan="4">Nenhum registro encontrado</td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Assessor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                <form id="form">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nome Completo:</label>
                                <!--<input class="form-control" id="cabinet" name="cabinet" type="hidden" value="<?= $cabinet ?>">-->
                                <input class="form-control" id="userId" name="userId" type="hidden">
                                <input class="form-control" id="name" name="name" placeholder="Nome Completo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input class="form-control" id="email" name="email" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="cabinet">Gabinete:</label>
                                <select class="form-select" id="cabinet" name="cabinet">
                                    <option value="">Selecione</option>
                                    <?php foreach ($cabinetsList as $cl): ?>
                                        <option value="<?= $cl['id'] ?>"><?= $cl['name'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select class="form-select" id="status" name="status">
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="messageModal" class="alert d-none">teste</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                            </button>
                            <button type="submit" class="btn btn-success">Salvar Assessor</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/dam/cabinet.js?v=<?= time() ?>"></script>
<script>
    let cabinet = "<?= $cabinet ?>";
    var isAdminNational = <?= $user->isAdminNational() ?>;
</script>