<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Dossiê</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_DOSSIE_CRIACAO_EDICAO)): ?>
                        <div class="col text-end">
                            <a href="<?= BASEURL ?>dam/dossie/cadastro" class="btn btn-success" target="_blank"><i
                                        class="fa fa-plus"></i> Adicionar
                            </a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="projectTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Cargo</th>
                                <th class="text-center">Inicio</th>
                                <th class="text-center">Fim</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Cidade</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($representatives as $representative): ?>
                                <tr>

                                    <td class="text-center">
                                        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_DOSSIE_CRIACAO_EDICAO)): ?>
                                            <a href="<?= BASEURL ?>dam/dossie/cadastro/<?= $representative->getId() ?>"><?= $representative->getName() ?></a>
                                        <?php else: ?>
                                            <?= $representative->getName() ?>
                                        <?php endif; ?>
                                    </td>
                                    <td class="text-center"><?= $representative->getPost()->getName() ?></td>
                                    <td class="text-center"><?= $representative->getStart() ?></td>
                                    <td class="text-center"><?= $representative->getEnd() ?></td>
                                    <td class="text-center"><?= $representative->getState()->getEstado() ?></td>
                                    <td class="text-center"><?= $representative->getCity()->getCidade() ?></td>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#projectTable").DataTable();
    });
</script>