<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Dossiê</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="form">
                    <input type="hidden" name="id" value="<?= $representative ? $representative->getId() : '0' ?>">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Nome:</label>
                                <input class="form-control" id="name" name="name" type="text"
                                    value="<?= $representative ? $representative->getName() : '' ?>">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="post">Cargo:</label>
                                <select class="form-select" id="post" name="post">
                                    <option value="">Selecione</option>
                                    <?php foreach ($posts as $post): ?>
                                    <option
                                        <?= $representative && $post == $representative->getPost() ? 'selected' : '' ?>
                                        value="<?= $post->getId() ?>"><?= $post->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="start">Ano Inicio:</label>
                                <input class="form-control"
                                    value="<?= $representative ? $representative->getStart() : '' ?>" id="start"
                                    name="start" type="number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="end">Ano Fim:</label>
                            <input id="end" name="end" class="form-control" type="number"
                                value="<?= $representative ? $representative->getEnd() : '' ?>">
                        </div>
                        <div class="col-md-3">
                            <label for="state">Estado:</label>
                            <select class="form-select" id="state" name="state"
                                onchange="getCities(this.value, 'city')">
                                <option value="">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                <option
                                    <?= $representative && $state == $representative->getState() ? 'selected' : '' ?>
                                    value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="city">Cidade:</label>
                            <select class="form-select" id="city" name="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="votes">Votos:</label>
                            <input id="votes" name="votes" class="form-control" type="number" min="0"
                                value="<?= $representative ? $representative->getVotes() : '' ?>">
                        </div>
                        <div class="col-md-3">
                            <label for="capture">Capitação:</label>
                            <input id="capture" name="capture" class="form-control"
                                value="<?= $representative ? $representative->getCapture() : '' ?>">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 text-center"><b>Chefe de Gabinete</b></div>
                        <div class="col-md-3">
                            <label for="chiefOfStaff">Nome:</label>
                            <input id="chiefOfStaff" name="chiefOfStaff" class="form-control" type="text"
                                value="<?= $representative ? $representative->getChiefOfStaff() : '' ?>">
                        </div>
                        <div class="col-md-3">
                            <label for="chiefOfStaffEmail">E-mail:</label>
                            <input id="chiefOfStaffEmail" name="chiefOfStaffEmail" class="form-control" type="email"
                                value="<?= $representative ? $representative->getChiefOfStaffEmail() : '' ?>">
                        </div>
                        <div class="col-md-3">
                            <label for="chiefOfStaffPhone">Whatsapp:</label>
                            <input id="chiefOfStaffPhone" name="chiefOfStaffPhone" class="form-control" type="text"
                                data-mask="(99)99999-9999"
                                value="<?= $representative ? $representative->getChiefOfStaffPhone() : '' ?>">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 text-center"><b>Redes Sociais</b></div>
                        <div class="col-md-2">
                            <label for="instagram">Instagram:</label>
                            <input id="instagram" name="instagram" class="form-control" type="text"
                                value="<?= $representative ? $representative->getInstagram() : '' ?>">
                        </div>
                        <div class="col-md-2">
                            <label for="facebook">Facebook:</label>
                            <input id="facebook" name="facebook" class="form-control" type="text"
                                value="<?= $representative ? $representative->getFacebook() : '' ?>">
                        </div>
                        <div class="col-md-2">
                            <label for="twitter">Twitter:</label>
                            <input id="twitter" name="twitter" class="form-control" type="text"
                                value="<?= $representative ? $representative->getTwitter() : '' ?>">
                        </div>
                        <div class="col-md-3">
                            <label for="site">Site:</label>
                            <input id="site" name="site" class="form-control" type="text"
                                value="<?= $representative ? $representative->getSite() : '' ?>">
                        </div>
                        <div class="col-md-3">
                            <label for="email">E-mail:</label>
                            <input id="email" name="email" class="form-control" type="email"
                                value="<?= $representative ? $representative->getEmail() : '' ?>">
                        </div>
                    </div>
                    <!--
                    <hr>
                    <div class="row">
                        <div class="col-12 text-center"><b>Habilidades</b></div>
                        <div class="col-md-2">
                            <label for="alignment">Alinhamento com o NOVO</label>
                            <input id="alignment" name="alignment" class="form-control" type="number" min="0" max="100"
                                value="<?= $representative ? $representative->getAlignment() : '' ?>">
                        </div>
                        <div class="col-md-2">
                            <label for="digitalInfluence">Influência Digital</label>
                            <input id="digitalInfluence" name="digitalInfluence" class="form-control" type="number"
                                min="0" max="100"
                                value="<?= $representative ? $representative->getDigitalInfluence() : '' ?>">
                        </div>
                        <div class="col-md-2">
                            <label for="negotiation">Negociação</label>
                            <input id="negotiation" name="negotiation" class="form-control" type="number" min="0"
                                max="100" value="<?= $representative ? $representative->getNegotiation() : '' ?>">
                        </div>
                        <div class="col-md-2">
                            <label for="leadership">Liderança</label>
                            <input id="leadership" name="leadership" class="form-control" type="number" min="0"
                                max="100" value="<?= $representative ? $representative->getLeadership() : '' ?>">
                        </div>
                        <div class="col-md-2">
                            <label for="oratory">Oratória</label>
                            <input id="oratory" name="oratory" class="form-control" type="number" min="0" max="100"
                                value="<?= $representative ? $representative->getOratory() : '' ?>">
                        </div>
                    </div>
					-->
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label for="profile">Perfil:</label>
                            <textarea id="profile" name="profile" class="form-control"
                                rows="5"><?= $representative ? $representative->getProfile() : '' ?></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="politicalCareer">Carreira Politica:</label>
                            <textarea id="politicalCareer" name="politicalCareer" class="form-control"
                                rows="5"><?= $representative ? $representative->getPoliticalCareer() : '' ?></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="guidelines">Pautas:</label>
                            <textarea id="guidelines" name="guidelines" class="form-control"
                                rows="5"><?= $representative ? $representative->getGuidelines() : '' ?></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="conquests">Conquistas:</label>
                            <textarea id="conquests" name="conquests" class="form-control"
                                rows="5"><?= $representative ? $representative->getConquests() : '' ?></textarea>
                        </div>
                    </div>
                    <!--
					<div class="row">
						<div class="col">
							<label for="conquests">Produtividade:</label>
							<textarea id="productivity" name="productivity" class="w-100" rows="5"><?= $representative ? $representative->getProductivity() : '' ?></textarea>
						</div>
					</div>
					-->
                    <div class="row">
                        <div class="col-md-12 text-end m-t-30">
                            <button class="btn btn-success" type="submit">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js?v=<?= time() ?>"></script>

<script>
<?php if ($representative): ?>
$(document).ready(function() {
    getCitiesWhitValue(<?= $representative->getState()->getId() ?>, 'city',
        <?= $representative->getCity()->getId() ?>);
});

<?php endif; ?>

const formAdd = document.getElementById('form');
const divMessage = document.getElementById('message');

formAdd.addEventListener('submit', e => {
    $('#save').addClass('disabled');
    e.preventDefault();
    showLoading();
    let method = 'POST';
    let formData = formDataToJson('form');
    fetch("<?= BASEURL ?>api/dam/dossie", {
        method: method,
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        closeLoading();
        response.json().then(json => {
            $('#save').removeClass('disabled');
            if (response.status === 201) {
                showNotify('success', json.message, 1500);
                setTimeout(function() {
                    window.location.href = '<?= BASEURL ?>dam/dossie';
                }, 1500)
            } else {
                showNotify('danger', json.message, 1500);
            }
        });
    });
});

$('#capture').maskMoney({
    prefix: 'R$ ',
    allowNegative: true,
    thousands: '.',
    decimal: ',',
    affixesStay: false
});
</script>