<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h5 class="title">Interações</h5>
            </div>
            <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_INTERACOES_CRIACAO_EDICAO)): ?>
                <div class="col-md-4 text-end">
                    <a class="text-end btn btn-info" href="<?= BASEURL ?>dam/interacoes/reuniao">
                        <i class="fa fa-plus"></i> Reunião
                    </a>
                    <button class="text-end btn btn-success" type="button" onclick="edit(0)">
                        <i class="fa fa-plus"></i> Adicionar
                    </button>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="typeFilter">Tipo</label>
                        <select class="form-select" id="typeFilter" name="type">
                            <option value="">Tipo</option>
                            <?php foreach ($types as $type): ?>
                                <option value="<?= $type->getId() ?>"><?= $type->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="responsibleFilter">Responsável</label>
                        <input class="form-control" id="responsibleFilter" name="responsible"
                               placeholder="Responsável">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="tagFilter">Tag</label>
                        <select class="form-select" id="tagFilter" name="tag">
                            <option value="">Tag</option>
                            <?php foreach ($tags as $tag): ?>
                                <option value="<?= $tag->getId() ?>"><?= $tag->getName() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="dateInitial">Data Inicial</label>
                        <input class="form-control" id="dateInitial" name="dateInitial"
                               placeholder="Data Inicial" data-mask="99/99/9999">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="dateFinal">Data Final</label>
                        <input class="form-control" id="dateFinal" name="dateFinal" placeholder="Data Final"
                               data-mask="99/99/9999">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group text-end m-t-45">
                        <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar
                        </button>
                        <button class="btn btn-success" type="submit">Filtrar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                Exibindo <span id="partial"></span> de <span id="total"></span>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr class="text-center">
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Responsável</th>
                        <th>Tags</th>
                        <th>Interação</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div style="display: none" id="messageStatus" class="alert alert-danger" role="alert"></div>
            </div>
        </div>
        <div id="loader" class="loader"></div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Interação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                <form id="formAdd" method="post">
                    <input type="hidden" id="interactionId" name="interactionId" value="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type">Tipo</label>
                                <select class="form-select" id="type" name="type">
                                    <option value="">Tipo</option>
                                    <?php foreach ($types as $type): ?>
                                        <option value="<?= $type->getId() ?>"><?= $type->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="responsible">Responsável</label>
                                <input class="form-control" id="responsible" name="responsible"
                                       placeholder="Responsável">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date">Data</label>
                                <input class="form-control" id="date" name="date" placeholder="Data"
                                       data-mask="99/99/9999">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="interaction">Interação</label>
                                <input class="form-control" id="interaction" name="interaction" placeholder="Interação">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Tags
                            <div style="height:200px;overflow: auto;" class="custom-scrollbar">
                                <?php foreach ($tags as $tag): ?>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="<?= $tag->getId() ?>"
                                               id="tags<?= $tag->getId() ?>" name="tags[]">
                                        <label class="form-check-label" for="tags<?= $tag->getId() ?>">
                                            <?= $tag->getName() ?>
                                        </label>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="savePreliminaryAnalysis" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var index = partial = 0;
    var total = 1;
    var responsible = type = start = end = '';
    var tags = [];
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_INTERACOES_CRIACAO_EDICAO, false, true) ?>;
    const filter = document.getElementById('filter');
    filter.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        console.log(formData)
        index = partial = 0;
        total = 1;
        responsible = formData.responsible;
        type = formData.type;
        start = formData.dateInitial;
        end = formData.dateFinal;
        tags = formData.tag;
        $("#table tbody").empty();
        generateTable();
    });

    function resetTable() {
        index = partial = 0;
        total = 1;
        responsible = type = start = end = '';
        tags = [];
        $("#table tbody").empty();
        generateTable();
    }

    function edit(id) {
        document.getElementById('formAdd').reset();
        document.getElementById('interactionId').value = id;
        $('#modal').modal('show');
        $('#message').hide();
        if (id > 0) {
            showLoading();
            fetch("<?= BASEURL ?>api/dam/interacoes/" + id, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    json = json.message;
                    closeLoading();
                    document.getElementById('date').value = json.date;
                    document.getElementById('type').value = json.type;
                    document.getElementById('interaction').value = json.interaction;
                    document.getElementById('responsible').value = json.responsible;
                    for (let i = 0; i < json.tags.length; i++) {
                        document.getElementById("tags" + json.tags[i]).checked = true;
                    }
                });
            });
        }
    }

    function generateInteractionsList(interaction) {
        let actions = ``;
        if (canUpdate) actions = `<a title="Editar" onclick="edit(${interaction.id})"><i class="fa fa-pencil text-info"></i></a>`;
        if (interaction.type == 'Reunião' && canUpdate) actions = `<a title="Editar" href="<?= BASEURL ?>dam/interacoes/reuniao/${interaction.id}"><i class="fa fa-pencil text-info"></i></a>`
        return `<tr>
                <td class="text-center">${interaction.date}</td>
                <td class="text-center">${interaction.type}</td>
                <td class="text-center">${interaction.responsible}</td>
                <td class="text-center">${interaction.tags}</td>
                <td class="text-center">${interaction.interaction}</td>
                <td class="text-center">${actions}</td>
            </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            $('#loader').show();
            fetch(`<?= BASEURL ?>api/dam/interacoes/?index=${index}&responsible=${responsible}&type=${type}&start=${start}&end=${end}&tags=${tags}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    total = json.total;
                    partial = json.partial;
                    $('#loader').hide();
                    $('#total').text(json.total);
                    $('#partial').text(json.partial);
                    let options = json.message.map(generateInteractionsList);
                    $("#table tbody").append(options);
                });
            });
        }
    }

    const formAdd = document.getElementById('formAdd');

    formAdd.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('formAdd');
        fetch("<?= BASEURL ?>api/dam/interacoes/", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                if (response.status === 201) {
                    showNotify('success', json.message, 1500);
                    $('#modal').modal('hide');
                    formAdd.reset();
                    resetTable();
                } else {
                    showNotify('danger', json.message, 1500);
                }
            });
        });
    });

    $(document).ready(function () {
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
    });
</script>