<?php
$interactionTagsArray = [];
foreach ($interactionTags as $interactionTag) {
	$interactionTagsArray[] = $interactionTag->getKeyWord()->getId();
}
$participant = array_shift($participants);
$schedule = array_shift($schedules);
$subject = array_shift($subjects);
$suggestion = array_shift($suggestions);
$id = 1;
?>

<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col">
						<h5 class="title">Cadastro de Reunião</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form id="form">
					<input type="hidden" name="interactionId" value="<?= $interaction ? $interaction->getId() : '0' ?>">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="date">Data</label>
								<input class="form-control" id="date" name="date" placeholder="Data"
								       data-mask="99/99/9999"
								       value="<?= $interaction ? $interaction->getDate()->format('d/m/Y') : '' ?>">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="responsible">Responsável</label>
								<input class="form-control" id="responsible" name="responsible"
								       placeholder="Responsável"
								       value="<?= $interaction ? $interaction->getResponsible() : '' ?>">
							</div>
						</div>
						<div class="col-md-3">
							<label for="responsible">Palavras Chave</label>
							<div style="max-height:200px;overflow: auto;" class="custom-scrollbar">
								<?php foreach ($tags as $tag): ?>
									<div class="form-check">
										<input class="form-check-input m-t-20" type="checkbox"
										       value="<?= $tag->getId() ?>"
										       id="tags<?= $tag->getId() ?>"
										       name="tags[]" <?= in_array($tag->getId(), $interactionTagsArray) ? 'checked' : '' ?>>
										<label class="form-check-label"
										       for="tags<?= $tag->getId() ?>">
											<?= $tag->getName() ?>
										</label>
									</div>
								<?php endforeach; ?>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-12"><h6 class="title">PARTICIPANTES</h6></div>

						<div class="col-md-3">
							<div class="form-group">
								<label for="participantName">Nome</label>
								<input id="participantName" name="participantName[]" class="form-control"
								       placeholder="Nome"
								       value="<?= $participant ? $participant->getParticipantName() : '' ?>">
							</div>
						</div>
						<div class="col-md-3">
							<label for="participantRepresenting">Representando</label>
							<input id="participantRepresenting" name="participantRepresenting[]"
							       class="form-control"
							       value="<?= $participant ? $participant->getParticipantRepresenting() : '' ?>"
							       placeholder="Representando">
						</div>
					</div>
					<div id="addPArticipant">
						<?php foreach ($participants as $participant): ?>
							<?php $id++; ?>
							<div id="participant-<?= $id ?>div">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label for="participantName-<?= $id ?>">Nome</label>
											<input id="participantName-<?= $id ?>" name="participantName[]"
											       class="form-control"
											       placeholder="Nome" value="<?= $participant->getParticipantName() ?>">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="participantRepresenting-<?= $id ?>">Representando</label>
											<input id="participantRepresenting-<?= $id ?>"
											       name="participantRepresenting[]" class="form-control"
											       placeholder="Representando"
											       value="<?= $participant->getParticipantRepresenting() ?>">
										</div>
									</div>
									<div class="col-md-1">
										<button class='m-t-45 btn btn-danger'
										        onclick='exclui("participant-<?= $id ?>div")' type='button'><span
												class='fa fa-trash'></span></button>
									</div>
								</div>
							</div>
						<?php endforeach; ?>
					</div>
					<a href="#" onclick="addPArticipant()" id="btnAddPArticipant"
					   class="btn btn-info"><i class="fa fa-plus"></i> Participante</a>
					<hr>

					<div class="row">
						<div class="col-12"><h6 class="title">PAUTA DA REUNIÃO</h6></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="schedule">Pauta</label>
								<input id="schedule" name="schedule[]" class="form-control"
								       placeholder="Pauta" value="<?= $schedule ? $schedule->getSchedule() : '' ?>">
							</div>
						</div>
					</div>
					<div id="addSchedule">
						<?php foreach ($schedules as $schedule): ?>
							<?php $id++; ?>
							<div id="schedule-<?= $id ?>div">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="schedule-<?= $id ?>">Pauta</label>
											<input id="schedule-<?= $id ?>" name="schedule[]" class="form-control"
											       placeholder="Pauta" value="<?= $schedule->getSchedule() ?>">
										</div>
									</div>
									<div class="col-md-1">
										<button class='m-t-45 btn btn-danger' onclick='exclui("schedule-<?= $id ?>div")'
										        type='button'><span class='fa fa-trash'></span></button>
									</div>
								</div>
							</div>
						<?php endforeach; ?>
					</div>
					<a href="#" onclick="addSchedule()"
					   class="btn btn-info"><i class="fa fa-plus"></i> Pauta</a>
					<hr>

					<div class="row">
						<div class="col-12"><h6 class="title">ATIVIDADES E COMENTÁRIOS </h6></div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="subject">Assunto</label>
								<input id="subject" name="subject[]" class="form-control"
								       placeholder="Assunto" value="<?= $subject ? $subject->getSubject() : '' ?>">
							</div>
						</div>
					</div>
					<div id="addSubject">
						<?php foreach ($subjects as $subject): ?>
							<?php $id++; ?>
							<div id="subject-<?= $id ?>div">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="subject-<?= $id ?>">Assunto</label>
											<input id="subject-<?= $id ?>" name="subject[]" class="form-control"
											       placeholder="Assunto" value="<?= $subject->getSubject() ?>">
										</div>
									</div>
									<div class="col-md-1">
										<button class='m-t-45 btn btn-danger' onclick='exclui("subject-<?= $id ?>div")'
										        type='button'><span class='fa fa-trash'></span></button>
									</div>
								</div>
							</div>
						<?php endforeach; ?>
					</div>
					<a href="#" onclick="addSubject()"
					   class="btn btn-info"><i class="fa fa-plus"></i> Assunto</a>
					<hr>

					<div class="row">
						<div class="col-12"><h6 class="title">ENCAMINHAMENTOS E SUGESTÕES </h6></div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="suggestion">Descrição</label>
								<input id="suggestion" name="suggestion[]" class="form-control"
								       placeholder="Descrição"
								       value="<?= $suggestion ? $suggestion->getSuggestion() : '' ?>">
							</div>
						</div>
						<div class="col-md-3">
							<label for="suggestionResponsible">Responsável</label>
							<input id="suggestionResponsible" name="suggestionResponsible[]" class="form-control"
							       placeholder="Responsável"
							       value="<?= $suggestion ? $suggestion->getResponsible() : '' ?>">
						</div>
					</div>
					<div id="addSuggestion">
						<?php foreach ($suggestions as $suggestion) : ?>
							<?php $id++; ?>
							<div id="suggestion-<?= $id ?>div">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<label for="suggestion-<?= $id ?>">Descrição</label>
											<input id="suggestion-<?= $id ?>" name="suggestion[]" class="form-control"
											       placeholder="Descrição" value="<?= $suggestion->getSuggestion() ?>">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="suggestionResponsible-<?= $id ?>">Responsável</label>
											<input id="suggestionResponsible-<?= $id ?>" name="suggestionResponsible[]"
											       class="form-control" value="<?= $suggestion->getResponsible() ?>"
											       placeholder="Responsável">
										</div>
									</div>
									<div class="col-md-1">
										<button class='m-t-45 btn btn-danger' onclick='exclui("suggestion-<?= $id ?>div")'
										        type='button'><span class='fa fa-trash'></span></button>
									</div>
								</div>
							</div>
						<?php endforeach; ?>
					</div>
					<a href="#" onclick="addSuggestion()" id="btnAddPArticipant"
					   class="btn btn-info"><i class="fa fa-plus"></i> Sugestão</a>
					<hr>
					<div class="row">
						<div class="col-md-12 text-end m-t-30">
							<button class="btn btn-success text-end" type="submit">Salvar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script>

	var id = <?= $id ?>;

	function exclui(id) {
		var campo = $("#" + id);
		campo.hide(200);
		document.getElementById(id).remove();
	}

	function addPArticipant() {
		let html = "";
		html += `<div id="participant-${id}div">
                    <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                <label for="participantName-${id}">Nome</label>
                                <input id="participantName-${id}" name="participantName[]" class="form-control"
                                       placeholder="Nome">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <label for="participantRepresenting-${id}">Representando</label>
                                    <input id="participantRepresenting-${id}" name="participantRepresenting[]" class="form-control"
                                           placeholder="Representando">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class='m-t-45 btn btn-danger' onclick='exclui("participant-${id}div")' type='button'><span class='fa fa-trash'></span></button>
                            </div>
                        </div>
                        </div>`;

		$("#addPArticipant").append(html);
		let j = id;
		setTimeout(function () {
			document.getElementById(`participant-${j}`).focus();
		}, 25);
		id++;
	}

	function addSubject() {
		let html = "";
		html += `<div id="subject-${id}div">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <label for="subject-${id}">Assunto</label>
                                <input id="subject-${id}" name="subject[]" class="form-control"
                                       placeholder="Assunto">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class='m-t-45 btn btn-danger' onclick='exclui("subject-${id}div")' type='button'><span class='fa fa-trash'></span></button>
                            </div>
                        </div>
                        </div>`;

		$("#addSubject").append(html);
		let j = id;
		setTimeout(function () {
			document.getElementById(`subject-${j}`).focus();
		}, 25);
		id++;
	}

	function addSuggestion() {
		let html = "";
		html += `<div id="suggestion-${id}div">
                    <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                <label for="suggestion-${id}">Descrição</label>
                                <input id="suggestion-${id}" name="suggestion[]" class="form-control"
                                       placeholder="Descrição">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                <label for="suggestionResponsible-${id}">Responsável</label>
                                <input id="suggestionResponsible-${id}" name="suggestionResponsible[]" class="form-control"
                                       placeholder="Responsável">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class='m-t-45 btn btn-danger' onclick='exclui("suggestion-${id}div")' type='button'><span class='fa fa-trash'></span></button>
                            </div>
                        </div>
                        </div>`;

		$("#addSuggestion").append(html);
		let j = id;
		setTimeout(function () {
			document.getElementById(`suggestion-${j}`).focus();
		}, 25);
		id++;
	}

	function addSchedule() {
		let html = "";
		html += `<div id="schedule-${id}div">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <label for="schedule-${id}">Pauta</label>
                                <input id="schedule-${id}" name="schedule[]" class="form-control"
                                       placeholder="Pauta">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button class='m-t-45 btn btn-danger' onclick='exclui("schedule-${id}div")' type='button'><span class='fa fa-trash'></span></button>
                            </div>
                        </div>
                        </div>`;

		$("#addSchedule").append(html);
		let j = id;
		setTimeout(function () {
			document.getElementById(`schedule-${j}`).focus();
		}, 25);
		id++;
	}


	const formAdd = document.getElementById('form');
		formAdd.addEventListener('submit', e => {
		$('#save').addClass('disabled');
		e.preventDefault();
		showLoading();
		let method = 'POST';
		let formData = formDataToJson('form');
		fetch("<?= BASEURL ?>api/dam/interacoes/reuniao/", {
			method: method,
			credentials: 'same-origin',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(formData)
		}).then(response => {
			closeLoading();
			response.json().then(json => {
				$('#save').removeClass('disabled');
				if (response.status === 201) {
					showNotify('success', json.message, 1500);
					setTimeout(function () {
					window.location.href = "<?= BASEURL ?>dam/interacoes/";
					}, 1500)
				} else {
					showNotify('danger', json.message, 1500);
				}
			});
		});
	});


</script>

