<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-4">
						<h5 class="title">Projetos</h5>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row table-responsive-xl">
					<div class="col-12">
						<table id="projectTable" class="table table-bordered table-striped">
							<thead>
							<tr>
								<th>Nome</th>
								<th class="text-center">Apelido</th>
								<th class="text-center">Abrangência</th>
								<th class="text-center">Gabinete</th>
								<th class="text-center">Link</th>
							</tr>
							</thead>
							<tbody>
							<?php foreach ($projects as $project): ?>
								<tr class="middle">
									<td>
										<a href="<?= BASEURL ?>dam/projeto/<?= $project['id'] ?>"><?= $project['name'] ?></a>
									</td>
									<td class="text-center"><?= $project['nickname'] ?></td>
									<td class="text-center"><?= $project['coverage'] ?></td>
									<td class="text-center"><?= $project['cabinet'] ?></td>
									<td><a type="button" class="btn btn-success" href="<?= $project['link'] ?>"
									       target="_blank">Visualizar</a></td>
								</tr>
							<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {
		$("#projectTable").DataTable({
			"columnDefs": [{}]
		});
	});


</script>