<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="title">Detalhes - Projeto<a href="" target="_blank"></a></h5>
        </div>
        <div class="card-body">
            <ul>
                <li><b>Nome: </b> <?= $project['name'] ?></li><br>
                <li><b>Aplelido: </b> <?= $project['nickname'] ?> </li><br>
                <li><b>Abrangência: </b> <?= $project['coverage'] ?> </li><br>
                <li><b>Ementa: </b> <?= $project['ementa'] ?> </li><br>
                <li><b>Link: </b><a target="_blank" href="<?= $project['link'] ?>"> <?= $project['link'] ?></a> </li><br>
                <li><b>Autores: </b></li>
                <?php foreach ($authors as $a): ?>
                    <p class="btn btn-secondary" style="border: 0px black solid; border-radius: 5px"> <?= $a['name'] ?> </p>
                <?php endforeach; ?>
                <br>
                <li><b>Tags: </b></li>
                <?php foreach ($tags as $t): ?>
                    <p class="btn btn-secondary" style="border: 0px black solid; border-radius: 5px"> <?= $t['name'] ?> </p>
                <?php endforeach; ?>
                <br>
<!--                <li><b>Arquivo: </b></li>-->
            </ul>
        </div>
    </div>
</div>