<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Tags</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_TAGS_CRIACAO_EDICAO)): ?>
                        <div class="col text-end m-b-30">
                            <a class="btn btn-success text-end" onclick="openModal(0)"><i class="fa fa-plus"></i>
                                Adicionar
                                Tag
                            </a>
                        </div>
                    <?php endif; ?>
                </div>
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div style="display: none" id="message" class="alert" role="alert"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body custom-scrollbar">
                <form id="form">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control" id="name" name="name" placeholder="Nome">
                                <input type="hidden" id="tagId" name="tagId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Salvar Tag</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const form = document.getElementById('form');
    var tags = [];

    function openModal(id) {
        form.reset();
        $("#tagId").val(id);

        if (id > 0) {
            for (var i = 0; i < tags.length; i++) {
                if (tags[i].id == id) {
                    $("#modal #name").val(tags[i].name);
                }
            }
        }

        $("#modal").modal('show');
    }

    form.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('form');
        fetch(`<?= BASEURL ?>api/dam/tags`, {
            method: 'POST',
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                if (json.status === 'ok') {
                    showNotify('success', json.message, 1500);
                    $("#modal").modal('hide');
                    getTags();
                } else {
                    showNotify('danger', json.message, 1500);
                }
            });
        });
    });

    function getTags() {
        showLoading();
        fetch(`<?= BASEURL ?>api/dam/tags`, {
            method: 'GET',
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        }).then(response => {
            closeLoading();
            response.json().then(json => {
                tags = json.message.message;
                let html = tags.map(generateTable);
                $("#table tbody").empty();
                $("#table tbody").append(html);
            });
        });
    }

    function generateTable(json) {
        let actions = '';
        <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DAM_TAGS_CRIACAO_EDICAO)): ?>
        actions = `<i class="fa fa-pencil text-info" onclick="openModal(${json.id})"></i>`;
        <?php endif; ?>
        return `
            <tr>
                <td class="text-center">${json.name}</td>
                <td class="text-center">${actions}</td>
            </tr>
        `;
    }

    $(document).ready(function () {
        getTags();
    });
</script>