<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Assessores</h5>
                    </div>
<!--                    <div class="col-md-8">-->
<!--                        <button class="btn btn-success text-end" onclick="openModal(0)"><i-->
<!--                                class="fa fa-plus"></i> Adicionar Categoria-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="card-body">
                <table id="usersTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Gabinete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($usersList as $user): ?>
                    <tr>
                        <td><?= $user['name'] ?></td>
                        <td class="text-center"><?= $user['email'] ?></td>
                        <td class="text-center"><?= $user['cabinet'] ?></td>
                    </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>

                <div style="display: none" id="message" class="alert" role="alert"></div>

            </div>
        </div>
    </div>
</div>