<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Admin NOVO - Recuperação de senha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css?v=<?= time() ?>">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/login.css?v=<?= time() ?>">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<body>
<?php if ($valid): ?>

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="row pt-3 px-3">
                <div class="col">
                    <div class="float-md-right">
                        <img src="<?= BASEURL ?>assets/img/logo-laranja.png" class="logo">
                    </div>
                </div>
            </div>
            <div id="header" class="text-center">
                <h1>ADMIN</h1>
            </div>
            <div class="card-body">
                <form id="form">
                    <hr>
                    <h5 class="text-center title">ALTERAÇÃO DE SENHA</h5>
                    <hr>
                    <input type="hidden" name="id" value="<?= $id ?>">
                    <div id="message" class="alert" style="display: none"></div>
                    <div class="row">
                        <div class="col mb-3">
                            <fieldset>
                                <legend><label for="password">NOVA SENHA</label></legend>
                                <input type="password" name="password" required id="password" class="w-100 text-center" placeholder="NOVA SENHA">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <fieldset>
                                <legend><label for="password2">CONFIRME A NOVA SENHA</label></legend>
                                <input type="password" name="password2" required id="password2" class="w-100 text-center" placeholder="CONFIRME A NOVA SENHA">
                            </fieldset>
                        </div>
                    </div>
                    <button class="btn btn-blue btn-block" type="submit" id="recoverButton">ENVIAR</button>
                    <a class="btn btn-secondary btn-block" href="<?= BASEURL ?>login">LOGIN</a>
                </form>
            </div>
        </div>
    </div>

<script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
<script src="<?= BASEURL ?>assets/js/functions.js"></script>
<script>
    const form = document.getElementById('form');
    const message = document.getElementById('message');

    form.addEventListener('submit', e => {
        $('#recoverButton').addClass('disabled');
        document.getElementById("recoverButton").disabled = true;
        e.preventDefault();
        let formData = formDataToJson('form');
        fetch("<?= BASEURL ?>recuperar", {
            method: 'PUT',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            $('#recoverButton').removeClass('disabled');
            document.getElementById("recoverButton").disabled = false;
            response.json().then(json => {
                message.textContent = json.message;
                message.style.display = 'block';
                if (response.status === 201) {
                    message.classList.add("alert-success");
                    message.classList.remove("alert-danger");
                    form.reset();
                    setTimeout(function () {
                        window.location.href = "<?= BASEURL ?>login";
                    }, 1000);
                } else {
                    message.classList.add("alert-danger");
                    message.classList.remove("alert-success");
                }
            });
        });
    });
</script>


<?php else: ?>

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-center" style="background-color: #FF6B00">
                <img src="<?= BASEURL ?>assets/img/logo.png" alt="">
            </div>
            <div class="card-body">
                <div id="message" class="alert alert-danger">O Link é inválido</div>
            </div>
        </div>
    </div>

<?php endif; ?>


</body>
</html>