<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Admin NOVO - Recuperação de senha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="icon" href="<?= BASEURL ?>assets/img/favicon-novo.jpg">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css?v=<?= time() ?>">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/login.css?v=<?= time() ?>">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<body>


<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="row pt-3 px-3">
            <div class="col">
                <div class="float-md-right">
                    <img src="<?= BASEURL ?>assets/img/logo-laranja.png" class="logo">
                </div>
            </div>
        </div>
        <div id="header" class="text-center">
            <h1>ADMIN</h1>
        </div>
        <div class="card-body">
            <form id="form">
                <hr>
                <h5 class="text-center title">RECUPERAÇÃO DE SENHA</h5>
                <hr>
                <div id="message" class="alert" style="display: none"></div>
                <div class="row">
                    <div class="col mb-3">
                        <fieldset>
                            <legend><label for="email">E-MAIL</label></legend>
                            <input type="text" name="email" required id="email" class="w-100 text-center"
                                   placeholder="E-MAIL">
                        </fieldset>
                    </div>
                </div>
                <button class="btn btn-blue btn-block" type="submit" id="recoverButton">ENVIAR</button>
                <a class="btn btn-secondary btn-block" href="<?= BASEURL ?>login">LOGIN</a>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
<script src="<?= BASEURL ?>assets/js/functions.js"></script>
<script>
    const form = document.getElementById('form');
    const message = document.getElementById('message');

    form.addEventListener('submit', e => {
        $('#recoverButton').addClass('disabled');
        document.getElementById("recoverButton").disabled = true;
        e.preventDefault();
        let formData = formDataToJson('form');
        fetch("<?= BASEURL ?>recuperar", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            $('#recoverButton').removeClass('disabled');
            document.getElementById("recoverButton").disabled = false;
            response.json().then(json => {
                message.textContent = json.message;
                message.style.display = 'block';
                if (response.status === 201) {
                    message.classList.add("alert-success");
                    message.classList.remove("alert-danger");
                    form.reset();
                } else {
                    message.classList.add("alert-danger");
                    message.classList.remove("alert-success");
                }
            });
        });
    });
</script>

</body>
</html>