<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header border-bottom">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="title">Benefícios</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_BENEFICIOS_CRIACAO_EDICAO)): ?>
                        <div class="col-md-4">
                            <button class="btn btn-primary pull-right" onclick="openModal(0)"><i
                                        class="fa fa-plus"></i> Benefício
                            </button>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row m-b-30">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="filterName">Benefício</label>
                                <input class="form-control" id="filterName" name="name" type="text"
                                       placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-9 text-end">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limit"
                                onchange="getLimit(this.value, 'Benefit')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startBenefit"></span> a <span id="endBenefit"></span> de <span
                                    id="totalBenefit"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-lg">
                    <div class="col-12">
                        <table id="tableBenefit" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Pontos</th>
                                <th class="text-center">Entrega</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderBenefit" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationBenefit" style="top: auto">

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Benefício</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" novalidate class="was-validated">
                <div class="modal-body custom-scrollbar">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <div class="spinner-border loaderTop" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only mx-auto">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="id">
                    <div class="row">

                        <div class="col-md-8 mb-3">
                            <label for="name">Benefício <span class="text-danger">*</span></label>
                            <input id="name" name="name" class="form-control" type="text" placeholder="Benefício"
                                   required>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="type_delivery">Entrega <span class="text-danger">*</span></label>
                            <select id="type_delivery" name="type_delivery" class="form-select" required>
                                <option value="">Selecionar</option>
                                <option value="1">Presencial</option>
                                <option value="2">Digital</option>
                                <option value="3">Externa</option>
                            </select>
                        </div>

                        <div class="col-12 mt-3">
                            <h5>Dados por Plano</h5>
                            <hr class="bg-primary">
                        </div>

                        <?php foreach ($plans as $plan): ?>
                            <div class="col-12 mb-3">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="chk-<?= $plan->getId() ?>"
                                           onchange="showInputs(<?= $plan->getId() ?>)">
                                    <label class="form-check-label" for="chk-<?= $plan->getId() ?>">
                                        Disponível para o <?= $plan->getName() ?>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3 d-none inputs inputs-<?= $plan->getId() ?>">
                                <label for="planPoints-<?= $plan->getId() ?>">Pontos <span class="text-danger">*</span></label>
                                <input id="planPoints-<?= $plan->getId() ?>" name="planPoints[<?= $plan->getId() ?>]"
                                       class="form-control"
                                       type="number" placeholder="Pontos necessários">
                            </div>

                            <div class="col-md-4 mb-3 d-none inputs inputs-<?= $plan->getId() ?>">
                                <label for="minDays-<?= $plan->getId() ?>">Tempo mín. <span
                                            class="text-danger">*</span></label>
                                <input id="minDays-<?= $plan->getId() ?>" name="minDays[<?= $plan->getId() ?>]"
                                       class="form-control"
                                       type="number" placeholder="Dias">
                            </div>

                            <div class="col-md-4 mb-3 d-none inputs inputs-<?= $plan->getId() ?>">
                                <label for="available-<?= $plan->getId() ?>">Disponíveis<span
                                            class="text-danger">*</span></label>
                                <input id="available-<?= $plan->getId() ?>" name="availables[<?= $plan->getId() ?>]"
                                       class="form-control"
                                       type="number" placeholder="Quantidade">
                            </div>

                            <div class="col-12">
                                <hr class="mt-0">
                            </div>

                        <?php endforeach; ?>


                        <div class="col-12  mt-3">
                            <h5>Informações de disparo de e-mail</h5>
                            <hr class="bg-primary">
                        </div>

                        <div class="mb-3">
                            <label for="title">Titulo e-mail resgate <span class="text-danger">*</span></label>
                            <input id="title" name="title" class="form-control" type="text"
                                   placeholder="Titulo e-mail resgate" required>
                        </div>

                        <div class="mb-3">
                            <label for="description">Mensagem e-mail resgate <span class="text-danger">*</span></label>
                            <textarea name="description" id="description" rows="10" class="form-control"
                                      placeholder="Descrição" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="img">Imagem <span class="text-danger">*</span></label>
                            <input id="img" name="img" class="form-control" type="file"
                                   placeholder="Imagem" accept="image/*" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_BENEFICIOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_BENEFICIOS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js"></script>
<script src="<?= BASEURL ?>assets/functions/mobilize/benefit.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/changeStatus.js"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js"></script>
