<div class="row">

    <div class="col-xl-6 mb-3 mt-0">
        <div class="card h-100 bg-primary">
            <div class="card-body middle text-center">
                <div class="row h-100">
                    <div class="col my-auto">
                        <h2>Tutorial</h2>
                        <i class="fa fa-play-circle fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 mb-3 mt-0">
        <div class="card h-100 bg-primary">
            <div class="card-body middle text-center">
                <div class="row h-100">
                    <div class="col my-auto">
                        <h2>Graduação de Mobilizador</h2>
                        <div class="badge badge-info text-white d-block mb-4">
                            <h3>Faixa Verde</h3>
                        </div>

                        <h2>Sua pontuação acumulada</h2>
                        <div class="badge badge-light d-block text-primary">
                            <h3>900 <span class="fs-5">pontos</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 mb-3 mt-0">
        <div class="card h-100 bg-primary">
            <div class="card-body middle text-center">
                <div class="row h-100">
                    <div class="col my-auto">
                        <h2>Cumpra missões e ganhe pontos</h2>
                        <a href="#">
                            <div class="badge badge-light text-white d-block mb-4 middle d-flex"
                                 style="white-space: break-spaces">
                                <div class="col-3 my-auto text-primary">
                                    <i class="fa fa-play-circle fa-4x"></i>
                                </div>
                                <div class="col my-auto">
                                    <h3 class="text-primary"> Confira a Missão da semana</h3>
                                </div>
                            </div>
                        </a>

                        <h2>Missões Extras</h2>
                        <div class="row">

                            <div class="col-12 mb-3 text-start">
                                <a href="#" class="text-white">
                                    <i class="fa fa-play-circle 2x"></i>
                                    <span>Entrar na Comunidade Whats dos Filiados (50 pontos)</span>
                                </a>
                            </div>

                            <div class="col-12 mb-3 text-start">
                                <a href="#" class="text-white">
                                    <i class="fa fa-play-circle 2x"></i>
                                    <span>Responder a pesquisa de opinião (200 pontos)</span>
                                </a>
                            </div>

                            <div class="col-12 mb-3 text-start">
                                <a href="#" class="text-white">
                                    <i class="fa fa-play-circle 2x"></i>
                                    <span>Participar de evento presencial (100 pontos)</span>
                                </a>
                            </div>

                            <div class="col-12 mt-3 text-center">
                                <a href="#" class="text-white">
                                    <h3>
                                    <i class="fa fa-check-square fs-4"></i>
                                    Indique o cumprimento de Missões</h3>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 mb-3 mt-0">
        <div class="card h-100 bg-primary">
            <div class="card-body middle text-center">
                <div class="row h-100">
                    <div class="col my-auto">
                        <div class="badge badge-light text-white d-block mb-4 middle d-flex"
                             style="white-space: break-spaces">
                            <div class="col my-auto">
                                <h2 class="text-primary">Resgate de benefícios disponíveis:</h2>
                            </div>
                        </div>

                        <div class="row">

                            <a href="#" class="text-white my-auto d-flex mb-3 mt-4">
                                <div class="col-2 my-auto">
                                    <i class="fa fa-book-bookmark fa-2x"></i>
                                </div>
                                <div class="col-10 my-auto">
                                    <h6 class="text-start my-auto">Livro autografado pelo Autor</h6>
                                </div>
                            </a>

                            <a href="#" class="text-white my-auto d-flex mb-3">
                                <div class="col-2 my-auto">
                                    <i class="fa fa-people-line fa-2x"></i>
                                </div>
                                <div class="col-10 my-auto">
                                    <h6 class="text-start my-auto">Acesso à palestra online "Um NOVO Brasil", com Eduardo Ribeiro</h6>
                                </div>
                            </a>

                            <a href="#" class="text-white my-auto d-flex mb-3">
                                <div class="col-2 my-auto">
                                    <i class="fa fa-receipt fa-2x"></i>
                                </div>
                                <div class="col-10 my-auto">
                                    <h6 class="text-start my-auto">10% de desconto na loja do NOVO</h6>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="<?= BASEURL ?>assets/functions/mobilize/novoMobilize.js"></script>
