<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header border-bottom">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="title">Missões</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_MISSOES_CRIACAO_EDICAO)): ?>
                        <div class="col-md-4">
                            <button class="btn btn-primary pull-right" onclick="openModal(0)"><i
                                        class="fa fa-plus"></i> Missão
                            </button>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="titleFilter">Título</label>
                                <input class="form-control" id="titleFilter" name="title" type="text"
                                       placeholder="Título">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="typeFilter">Tipo</label>
                                <select class="form-control form-select" id="typeFilter" name="type">
                                    <option value="" selected>Todos</option>
                                    <option value="1">Sistema</option>
                                    <option value="0">Manual</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="activeFilter">Status</label>
                                <select class="form-control form-select" id="activeFilter" name="active">
                                    <option value="" selected>Todos</option>
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="genderFilter">Sexo</label>
                            <select id="genderFilter" name="gender" class="form-select">
                                <option value="">Selecione</option>
                                <?php foreach ($genders as $gender): ?>
                                    <option value="<?= $gender->getId() ?>"><?= $gender->getGenero() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col text-end">
                            <div class="form-group">
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limit"
                                onchange="getLimit(this.value, 'Mission')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startMission"></span> a <span id="endMission"></span> de <span
                                    id="totalMission"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-lg">
                    <div class="col-12">
                        <table id="tableMission" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Pontuação</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Ações</th>
                                <th class="text-center">MS</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderMission" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationMission" style="top: auto">

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Missão</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" novalidate class="was-validated">
                <div class="modal-body custom-scrollbar">
                    <div class="row mt-3">
                        <div class="col text-center">
                            <div class="spinner-border loaderTop" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only mx-auto">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="id">
                    <div class="form-group">
                        <div class="row">
                            <div class="mb-3">
                                <label for="title">Título <span class="text-danger">*</span></label>
                                <input id="title" name="title" class="form-control" type="text" placeholder="Título"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label for="description">Descrição <span class="text-danger">*</span></label>
                                <textarea id="description" name="description" class="form-control description"
                                          type="text"
                                          placeholder="Descrição" required rows="10"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="points">Pontuação <span class="text-danger">*</span></label>
                                <input id="points" name="points" class="form-control" type="number"
                                       placeholder="Pontuação" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="expiration">Data Expiração
                                    <i class="fa fa-info-circle" data-container="body"
                                       data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                       data-bs-original-title="Se não for indicada, terá um prazo de expiração padrão de uma semana">
                                    </i>
                                </label>
                                <input id="expiration" name="expiration" class="form-control" type="text"
                                       data-mask="99/99/9999" placeholder="dd/mm/AAAA">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="type">Tipo</label>
                                <select id="type" name="type" class="form-control form-select" required>
                                    <option value="1">Sistema</option>
                                    <option value="0">Manual</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validate_type">Validação</label>
                                <select id="validate_type" name="validate_type" class="form-control form-select"
                                        required>
                                    <option value="">Selecionar</option>
                                    <option value="1">Automático</option>
                                    <option value="2">Semi Automático</option>
                                    <option value="3">Manual</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="minDays">Min dias filiação <span class="text-danger">*</span></label>
                                <input id="minDays" name="minDays" class="form-control" type="number"
                                       placeholder="Pontuação" step="1" min="0" value="0" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="maxDays">Máx dias filiação <span class="text-danger">*</span></label>
                                <input id="maxDays" name="maxDays" class="form-control" type="number"
                                       placeholder="Pontuação" step="1" min="0" value="10000" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="gender">Sexo</label>
                                <select id="gender" name="gender" class="form-select">
                                    <option value="">Selecione</option>
                                    <?php foreach ($genders as $gender): ?>
                                        <option value="<?= $gender->getId() ?>"><?= $gender->getGenero() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="link">Link</label>
                                <input id="link" name="link" class="form-control" type="text"
                                       placeholder="Link"/>
                            </div>
                            <div class="mb-3">
                                <label for="identifier">Propriedade</label>
                                <input id="identifier" name="identifier" class="form-control" type="text"
                                       placeholder="Propriedade Hubspot" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

    .tox-dialog input,
    .tox-dialog textarea,
    .tox-dialog select {
        pointer-events: auto !important;
        user-select: auto !important;
    }

</style>


<!--<script src="--><?php //= BASEURL ?><!--assets/js/editor/ckeditor/ckeditor.js"></script>-->
<!--<script src="--><?php //= BASEURL ?><!--assets/js/editor/ckeditor/adapters/jquery.js"></script>-->
<!--<script src="--><?php //= BASEURL ?><!--assets/js/editor/ckeditor/styles.js"></script>-->
<!--<script src="--><?php //= BASEURL ?><!--assets/js/editor/ckeditor/ckeditor.custom.js"></script>-->

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_MISSOES_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_MISSOES_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js"></script>
<script src="<?= BASEURL ?>assets/functions/mobilize/mission.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js"></script>

