<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header border-bottom">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Missões Realizadas</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="nameMissionsCompletesFilter">Usuário</label>
                                <input class="form-control" id="nameMissionsCompletesFilter" name="name" type="text"
                                       placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cpfMissionsCompletesFilter">CPF</label>
                                <input class="form-control" id="cpfMissionsCompletesFilter" name="cpf" type="text"
                                       placeholder="CPF" data-mask="999.999.999-99">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="missionMissionsCompletesFilter">Missão</label>
                                <select class="form-control form-select" id="missionMissionsCompletesFilter"
                                        name="mission">
                                    <option value="" selected>Todos</option>
                                    <?php foreach ($missions as $mission): ?>
                                        <option value="<?= $mission->getId() ?>"><?= $mission->getTitle() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="statusMissionsCompletesFilter">Status</label>
                                <select class="form-control form-select" id="statusMissionsCompletesFilter"
                                        name="status">
                                    <option value="" selected>Todos</option>
                                    <option value="1">Aguardando Aprovação</option>
                                    <option value="2">Cancelada</option>
                                    <option value="3">Realizada</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 text-end">
                            <div class="form-group">
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_MISSOESREALIZADAS_EXPORTACAO)): ?>
                                    <button class="btn btn-success" type="button" onclick="csv()">Exportar</button>
                                <?php endif; ?>
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limit"
                                onchange="getLimit(this.value, 'MissionsCompletes')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startMissionsCompletes"></span> a <span
                                    id="endMissionsCompletes"></span> de <span
                                    id="totalMissionsCompletes"></span> registros</p>
                    </div>
                </div>
                <form id="form">
                    <div class="row table-responsive-lg">
                        <div class="col-12">
                            <table id="tableMissionsCompletes" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">Usuário</th>
                                    <th class="text-center">Missão</th>
                                    <th class="text-center">Data</th>
                                    <th class="text-center">CPF</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Anexos</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderMissionsCompletes" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationMissionsCompletes" style="top: auto">

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/mobilize/missions-completes.js?v=<?= time() ?>"></script>
