<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header border-bottom">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Solicitações de Benefícios</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="nameUserPointFilter">Usuário</label>
                                <input class="form-control" id="nameUserPointFilter" name="name" type="text"
                                       placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cpfUserPointFilter">CPF</label>
                                <input class="form-control" id="cpfUserPointFilter" name="cpf" type="text"
                                       placeholder="CPF" data-mask="999.999.999-99">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="benefitUserPointFilter">Benefício</label>
                                <select class="form-control form-select" id="benefitUserPointFilter" name="benefit">
                                    <option value="" selected>Todos</option>
                                    <?php foreach ($benefits as $benefit): ?>
                                        <option value="<?= $benefit->getId() ?>"><?= $benefit->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="statusUserPointFilter">Status</label>
                                <select class="form-control form-select" id="statusUserPointFilter" name="status">
                                    <option value="">Todos</option>
                                    <option value="1" selected>Aguardando Aprovação</option>
                                    <option value="2">Cancelar</option>
                                    <option value="3">Em preparo</option>
                                    <option value="4">A caminho</option>
                                    <option value="5">Entregue</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 text-end">
                            <div class="form-group">
                                <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_SOLICITACOESDEBENEFICIOS_EXPORTACAO)): ?>
                                    <button class="btn btn-success" type="button" onclick="csv()">Exportar</button>
                                <?php endif; ?>
                                <button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limit"
                                onchange="getLimit(this.value, 'UserPoint')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startUserPoint"></span> a <span id="endUserPoint"></span> de <span
                                    id="totalUserPoint"></span> registros</p>
                    </div>
                </div>
                <form id="form">
                    <div class="row table-responsive-lg">
                        <div class="col-12">
                            <table id="tableUserPoint" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">
                                        <input class="form-check-input" onchange="checkAll(this.checked)"
                                               type="checkbox" id="check">
                                    </th>
                                    <th class="text-center">Usuário</th>
                                    <th class="text-center">Benefício</th>
                                    <th class="text-center">Data</th>
                                    <th class="text-center">CPF</th>
                                    <th class="text-center">Endereço</th>
                                    <th class="text-center">Status</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderUserPoint" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationUserPoint" style="top: auto">

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center w-100">
    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="myToast">
        <div class="toast-header">
            <strong class="me-auto">
                <select name="status" id="status" class="form-select">
                    <option value="">Selecionar</option>
                    <option value="2">Cancelar</option>
                    <option value="3">Em preparo</option>
                    <option value="4">A caminho</option>
                    <option value="5">Entregue</option>
                </select>
            </strong>
            <button type="button" class="btn btn-sm btn-success" onclick="changeStatus()">Salvar</button>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                    onclick="hideToast()"></button>
        </div>
    </div>
</div>


<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alterar Status</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-change-status" novalidate class="was-validated">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="benefitRequest[]" id="id">
                    <div class="form-group">
                        <div class="row">
                            <div class="mb-3">
                                <label for="status-modal">Status <span class="text-danger">*</span></label>
                                <select id="status-modal" name="status" class="form-select" required>
                                    <option value="">Selecionar</option>
                                    <option value="2">Cancelado</option>
                                    <option value="3">Em Preparo</option>
                                    <option value="4">A Caminho</option>
                                    <option value="5">Entregue</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="save" class="btn btn-success" onclick="submitForm()">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_SOLICITACOESDEBENEFICIOS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::SUCESSODOFILIADO_NOVOMOBILIZA_SOLICITACOESDEBENEFICIOS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/js/popover-custom.js"></script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js"></script>
<script src="<?= BASEURL ?>assets/functions/mobilize/userPoint.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/changeStatus.js"></script>
<script src="<?= BASEURL ?>assets/functions/delElement.js"></script>
