<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="title">Cupons</h5>
                    </div>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CUPONS_CRIACAO_EDICAO)) : ?>
                        <div class="col-md-6 text-end">
                            <a class="btn btn-success" onclick="openModal(0)"><i class="fa fa-plus"></i>Adicionar</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="courseLibertasCourseCouponFilter">Curso</label>
                                <select class="form-select" id="courseLibertasCourseCouponFilter"
                                        name="course">
                                    <option value="">Selecione</option>
                                    <?php foreach ($courses as $course) : ?>
                                        <option value="<?= $course->getId() ?>"><?= $course->getTitle() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="activeLibertasCourseCouponFilter">Status</label>
                                <select class="form-select" id="activeLibertasCourseCouponFilter"
                                        name="active">
                                    <option value="">Selecione</option>
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 text-end mt-auto m-b-20">
                            <button class="btn btn-danger" type="reset"
                                    onclick="resetTable('LibertasCourseCoupon')"><i class="fa fa-eraser"
                                                                                    aria-hidden="true"></i>
                                Limpar
                            </button>
                            <button class="btn btn-primary" type="submit"><i class="fa fa-filter"
                                                                             aria-hidden="true"></i>
                                Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row g-3 align-items-center m-b-30">
                    <div class="col-auto">
                        <span>Exibir </span>
                    </div>
                    <div class="col-auto">
                        <select class="form-control form-select" id="limitLibertasCourseCoupon"
                                onchange="getLimit(this.value, 'LibertasCourseCoupon')">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <span> registros</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Exibindo de <span id="startLibertasCourseCoupon"></span> a <span
                                    id="endLibertasCourseCoupon"></span> de
                            <span id="totalLibertasCourseCoupon"></span> registros</p>
                    </div>
                </div>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="tableLibertasCourseCoupon" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Curso</th>
                                <th class="text-center">Código</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Limite</th>
                                <th class="text-center">Usado</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="spinner-border loaderLibertasCourseCoupon m-t-10" role="status">
                            <span class="sr-only mx-auto">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end pagination-primary"
                            id="paginationLibertasCourseCoupon" style="top: auto">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border spinner-card" style="width: 5rem; height: 5rem; right: calc(50% - 2.5rem); top: 20%"
     role="status">
    <span class="sr-only mx-auto">Loading...</span>
</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Cupom</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form" class="was-validated" novalidate>
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="libertasCourseCouponId" id="libertasCourseCouponId">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="course">Curso</label>
                                <select class="form-select" id="course"
                                        name="course" required>
                                    <option value="">Selecione</option>
                                    <?php foreach ($courses as $course) : ?>
                                        <option value="<?= $course->getId() ?>"><?= $course->getTitle() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="code">Código</label>
                                <input type="text" class="form-control" id="code" name="code" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="limitUse">Limite</label>
                                <input type="number" min="1" step="1" class="form-control" id="limitUse" name="limitUse"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="type">Tipo</label>
                                <select class="form-select" id="type" onchange="setType(this.value)"
                                        name="type" required>
                                    <option value="">Selecione</option>
                                    <option value="1">Porcentagem</option>
                                    <option value="2">Valor</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 d-none" id="valueDiv">
                            <div class="form-group">
                                <label for="price">Valor</label>
                                <input type="text" id="price" name="price" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 d-none" id="porcentDiv">
                            <div class="form-group">
                                <label for="porcent">Porcentagem</label>
                                <input type="number" id="porcent" name="porcent" class="form-control" min="1" max="100"
                                       step="1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CUPONS_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::EDUCACAO_INSTITUTOLIBERTAS_CUPONS_CRIACAO_EDICAO, false, true) ?>;
</script>
<script src="<?= BASEURL ?>assets/functions/changeActive.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/form-validate.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/libertas-course-coupon/index.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/jquery.maskMoney.min.js"></script>
