<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h5 class="title">Acessos ao Sistema</h5>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="nameAccessFilter">Nome</label>
						<input class="form-control" id="nameAccessFilter" name="name" type="text" placeholder="Nome">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="stateAccessFilter">Estado</label>
						<select class="form-select" id="stateAccessFilter" name="state"
						        onchange="getCities(this.value, 'cityAccessFilter')">
							<option value="">Selecione</option>
							<?php foreach ($states as $state): ?>
								<option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="cityAccessFilter">Cidade</label>
						<select class="form-select" id="cityAccessFilter" name="city" type="city">
							<option value="">Selecione</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 text-end m-t-45">
					<button class="btn btn-danger" type="reset" onclick="resetTable('Access')">Limpar</button>
					<button class="btn btn-success" type="submit">Filtrar</button>
				</div>
			</div>
		</form>
		<div class="row g-3 align-items-center m-b-30">
			<div class="col-auto">
				<span>Exibir </span>
			</div>
			<div class="col-auto">
				<select class="form-control form-select" id="limitAccess"
				        onchange="getLimit(this.value, 'Access')">
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-auto">
				<span> registros</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Exibindo de <span id="startAccess"></span> a <span id="endAccess"></span> de
					<span id="totalAccess"></span> registros</p>
			</div>
		</div>
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table id="tableAccess" class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>Data</th>
						<th>Nome</th>
						<th class="text-center">Estado</th>
						<th class="text-center">Cidade</th>
						<th class="text-center">Device</th>
						<th class="text-center">SO</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="spinner-border loaderAccess m-t-10" role="status">
					<span class="sr-only mx-auto">Loading...</span>
				</div>
			</div>
		</div>
		<div class="row text-end">
			<nav aria-label="...">
				<ul class="pagination justify-content-end pagination-primary"
				    id="paginationAccess" style="top: auto">

				</ul>
			</nav>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/search/access.js?v=<?= time() ?>"></script>