<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h5 class="title">Candidatos</h5>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="nameCandidatesFilter">Nome</label>
						<input class="form-control" id="nameCandidatesFilter" name="name" type="text"
						       placeholder="Nome">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="occupationCandidatesFilter">Cargo</label>
						<select class="form-select" id="occupationCandidatesFilter" name="occupation">
							<option value="">Selecione</option>
							<?php foreach ($occupations as $occupation): ?>
								<option value="<?= $occupation->getId() ?>"><?= $occupation->getName() ?></option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="statusCandidatesFilter">Status</label>
						<select class="form-select" id="statusCandidatesFilter" name="status">
							<option value="">Selecione</option>
							<?php foreach ($candidatesStatus as $status): ?>
								<option value="<?= $status->getId() ?>"><?= $status->getName() ?></option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="electedCandidatesFilter">Resultado</label>
						<select class="form-select" id="electedCandidatesFilter" name="elected">
							<option value="" selected>Selecione</option>
							<option value="S">Eleito(a)</option>
							<option value="N">Não eleito(a)</option>
						</select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="yearCandidatesFilter">Ano</label>
                        <select class="form-select" id="yearCandidatesFilter" name="year">
                            <option value="" selected>Selecione</option>
                            <option value="2016">2016</option>
                            <option value="2018">2018</option>
                            <option value="2020">2020</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="stateCandidatesFilter">Estado</label>
                        <select class="form-select" id="stateCandidatesFilter" name="state"
                                onchange="getCities(this.value, 'cityCandidatesFilter')">
                            <option value="">Selecione</option>
                            <?php foreach ($states as $state): ?>
								<option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="cityCandidatesFilter">Cidade</label>
						<select class="form-select" id="cityCandidatesFilter" name="city" type="city">
							<option value="">Selecione</option>
						</select>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col">
					<p>Exibindo de <span id="startCandidates"></span> a <span id="endCandidates"></span> de
						<span id="totalCandidates"></span> registros</p>
				</div>
				<div class="col text-end">
					<?php if ($user->getExportAccess() == 1): ?>
						<button id="export" type="submit" onclick="csv()" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> Exportar</button>
					<?php endif; ?>
					<button class="btn btn-danger" type="reset" onclick="resetTable('Candidates')"><i class="fa fa-eraser" aria-hidden="true"></i> Limpar</button>
					<button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar</button>
				</div>
			</div>
		</form>
		<div class="row g-3 align-items-center m-b-30">
			<div class="col-auto">
				<span>Exibir </span>
			</div>
			<div class="col-auto">
				<select class="form-control form-select" id="limitCandidates"
				        onchange="getLimit(this.value, 'Candidates')">
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-auto">
				<span> registros</span>
			</div>
		</div>
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table id="tableCandidates" class="table table-bordered table-striped">
					<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th class="text-center">Filiado</th>
						<th class="text-center">Data Desfiliacao</th>
						<th class="text-center">Telefone</th>
						<th class="text-center">Cargo</th>
						<th class="text-center">Status</th>
						<th class="text-center">Estado</th>
						<th class="text-center">Cidade</th>
						<th class="text-center">Ano</th>
						<th class="text-center">Votos</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="spinner-border loaderCandidates m-t-10" role="status">
					<span class="sr-only mx-auto">Loading...</span>
				</div>
			</div>
		</div>
		<div class="row text-end">
			<nav aria-label="...">
				<ul class="pagination justify-content-end pagination-primary"
				    id="paginationCandidates" style="top: auto">

				</ul>
			</nav>
		</div>
	</div>
</div>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/search/candidates.js?v=<?= time() ?>"></script>