<div class="card">
    <div class="card-header">
        <h5 class="title">Convenções - Filiados votantes</h5>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input class="form-control" id="name" name="name" type="text" placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input class="form-control" id="cpf" name="cpf" type="text" data-mask="999.999.999-99">
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado Título:</label>
                            <select class="form-select" id="state" name="state" onchange="getCities(this.value)">
                                <option value="0">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade Título:</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado Título:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled
                                   readonly>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade Título:</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado Título:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Cidade Título:</label>
                            <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                   disabled readonly>
                            <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city">Situação:</label>
                        <select class="form-select" id="situation" name="situation">
                            <option value="">Todos</option>
                            <option value="Votante" selected>Votante</option>
                            <option value="Não Votante">Não Votante</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="type">Tipo:</label>
                        <select class="form-select" id="type" name="type">
                            <option value="">Todos</option>
                            <option value="0">Filiação Normal</option>
                            <option value="1">Filiação Isenta</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col m-b-30">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end m-b-30">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONVENCOES_EXPORTACAO)) : ?>

                        <button id="export" type="reset" onclick="list()" class="btn btn-secondary"><i
                                    class="fa fa-list"
                                    aria-hidden="true"></i>
                            Lista de Presença
                        </button>
                        <i id="i" style="margin-left:10px; font-size: 120%; display: none"
                           class="fa fa-info-circle m-r-10"
                           data-toggle="tooltip"
                           title="Atenção: devido à LGPD, teremos que formalizar este tipo de acesso para exportação.
                                Favor encaminhar e-mail para acesso@novo.org.br solicitando o acesso e copiando seu presidente estadual ou municipal."></i>
                        <button id="export" type="reset" onclick="csv()" class="btn btn-primary"><i
                                    class="fa fa-download" aria-hidden="true"></i> Exportar
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i> Limpar
                    </button>
                </div>
            </div>
        </form>
        <?php if ($user->getTypeView() != 1): ?>
            <h5>Total: <span id="total"></span></h5>
        <?php else: ?>
            <div class="row table-responsive-xl">
                <div class="col-12">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th class="text-center">Filiado</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">CPF</th>
                            <th class="text-center">UF</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Abertas</th>
                            <th class="text-center">Situação</th>
                            <th class="text-center">Tipo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="watermark"><?= $user->getName() ?></div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="loader" class="loader"></div>
            <div style="display: none" id="message" class="alert" role="alert"></div>
        <?php endif; ?>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="confidentialityAgreementForm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
                </div>
                <div class="modal-body text-justify custom-scrollbar">
                    <p>Prezado(a) <?= $user->getName() ?>,</p>
                    <p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a manter
                        o absoluto sigilo,
                        tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e
                        sobre todos os materiais disponibilizados.</p>
                    <p>Este acesso ficará registrado no sistema.</p>
                    <p>A divulgação e utilização não autorizada de informações, configura indisciplina partidária
                        grave nos termos do artigo 18, inciso XI do estatuto partidário.</p>
                </div>
                <div class="modal-footer">
                    <a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
                    <button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
                </div>
                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
            </div>
        </form>
    </div>
</div>


<script>

    var term = <?= (int)$term ?>;
    var level = <?= $user->getLevel() ?>;
    var userState = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>;
    var exportAccess = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONVENCOES_EXPORTACAO, false, true) ?>;
    var canDelete = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONVENCOES_REMOCAO, false, true) ?>;
    var canUpdate = <?= \App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::DIRETORIOS_CONVENCOES_CRIACAO_EDICAO, false, true) ?>;

</script>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/search/conventions.js?v=<?= time() ?>"></script>