<div class="card">
	<div class="card-header">
		<h5 class="title">Filiados Adimplentes/Inadimplentes/Isentos</h5>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="nameDefaultersFilter">Nome</label>
						<input class="form-control" id="nameDefaultersFilter" name="name" type="text" placeholder="Nome">
					</div>
				</div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emailDefaultersFilter">E-mail</label>
                        <input class="form-control" id="emailDefaultersFilter" name="email" type="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cpfDefaultersFilter">CPF</label>
                        <input class="form-control" id="cpfDefaultersFilter" name="cpf" data-mask="000.000.000-00" type="text" placeholder="CPF">
                    </div>
                </div>
				<?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
					<div class="col-md-1">
						<div class="form-group">
							<label for="stateDefaultersFilter">UF:</label>
							<select class="form-select" id="stateDefaultersFilter" name="state"
							        onchange="getCities(this.value, 'cityDefaultersFilter')">
								<option value="0">Selecione</option>
								<option value="-1">Exterior</option>
								<?php foreach ($states as $state): ?>
									<option value="<?= $state->getId() ?>"><?= $state->getSigla() ?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="cityDefaultersFilter">Cidade:</label>
							<select class="form-select" id="cityDefaultersFilter" name="city" type="city">
								<option value="">Selecione</option>
							</select>
						</div>
					</div>
				<?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
					<div class="col-md-1">
						<div class="form-group">
							<label for="stateDefaultersFilter">UF:</label>
							<input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
							       disabled readonly>
							<input type="hidden" id="stateDefaultersFilter" name="state" value="<?= $user->getState()->getId() ?>">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="cityDefaultersFilter">Cidade:</label>
							<select class="form-select" id="cityDefaultersFilter" name="city" type="city">
								<option value="">Selecione</option>
							</select>
						</div>
					</div>
				<?php else: ?>
					<div class="col-md-1">
						<div class="form-group">
							<label for="stateDefaultersFilter">UF:</label>
							<input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
							       disabled readonly>
							<input type="hidden" id="stateDefaultersFilter" name="state" value="<?= $user->getState()->getId() ?>">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label for="cityDefaultersFilter">Cidade:</label>
							<select class="form-select" id="cityDefaultersFilter" name="city" type="city">
								<option value="" selected>Todas</option>
								<?php foreach ($cities as $city) : ?>
									<option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
				<?php endif; ?>
				<div class="col-md-2">
					<div class="form-group">
						<label for="situationDefaultersFilter">Situação:</label>
						<select class="form-select" id="situationDefaultersFilter" name="situation">
							<option value="" selected>Todos</option>
							<option value="Adimplente">Adimplentes</option>
							<option value="Inadimplente">Inadimplentes</option>
							<option value="Isento">Isentos</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="mesoDefaultersFilter">Mesorregião:</label>
						<select class="form-select" id="mesoDefaultersFilter" name="meso">
							<option value="" selected>Todas</option>
							<?php foreach ($mesoregion as $mesoregion) : ?>
									<option value="<?= $mesoregion['id'] ?>"><?= $mesoregion['name'] ?></option>
								<?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="paymentMethodDefaultersFilter">Forma de Pagamento:</label>
						<select class="form-select" id="paymentMethodDefaultersFilter" name="paymentMethod">
							<option value="" selected>Todas</option>
							<option value="1">Cartão de Crédito</option>
							<option value="2">Boleto</option>							
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>Exibindo de <span id="startDefaulters"></span> a <span id="endDefaulters"></span> de
						<span id="totalDefaulters"></span> registros</p>
				</div>
				<div class="col text-end">
					<?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_ADIMP_INADIMP_EXPORTACAO)): ?>
						<button id="export" type="submit" onclick="csv()" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Exportar</button>
					<?php endif; ?>
					<button class="btn btn-danger" type="reset" onclick="resetTable('Defaulters')"><i class="fa fa-eraser" aria-hidden="true"></i> Limpar</button>
					<button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i> Filtrar</button>
				</div>
			</div>
		</form>
		<?php if ($user->getTypeView() == 1): ?>
			<div class="row g-3 align-items-center m-b-30">
				<div class="col-auto">
					<span>Exibir </span>
				</div>
				<div class="col-auto">
					<select class="form-control form-select" id="limitDefaulters"
					        onchange="getLimit(this.value, 'Defaulters')">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
				<div class="col-auto">
					<span> registros</span>
				</div>
			</div>
			<div class="row table-responsive-xl">
				<div class="col-12">
					<table id="tableDefaulters" class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>Nome</th>
							<th class="text-center">Filiação</th>
							<th class="text-center">Plano</th>
							<th class="text-center">Forma de Pagamento</th>
							<th class="text-center">Abertas</th>
							<th class="text-center">Pagas</th>
							<th class="text-center">Tel</th>
							<th class="text-center">UF</th>
							<th class="text-center">Cidade</th>
							<th class="text-center"></th>
						</tr>
						</thead>
						<tbody>
						<div class="watermark"><?= $user->getName() ?></div>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<div class="spinner-border loaderDefaulters m-t-10" role="status">
						<span class="sr-only mx-auto">Loading...</span>
					</div>
				</div>
			</div>
			<div class="row text-end">
				<nav aria-label="...">
					<ul class="pagination justify-content-end pagination-primary"
					    id="paginationDefaulters" style="top: auto">

					</ul>
				</nav>
			</div>
		<?php endif; ?>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog" role="document">
		<form id="confidentialityAgreementForm">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
				</div>
				<div class="modal-body text-justify custom-scrollbar">
					<p>Prezado(a) <?= $user->getName() ?>,</p>
					<p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a manter o
						absoluto sigilo,
						tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e sobre
						todos os materiais disponibilizados.</p>
					<p>Este acesso ficará registrado no sistema.</p>
					<p>A divulgação e utilização não autorizada de informações, configura indisciplina partidária grave
						nos termos do artigo 18, inciso XI do estatuto partidário.</p>
				</div>
				<div class="modal-footer">
					<a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
					<button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
				</div>
				<div style="display: none" id="messageForm" class="alert" role="alert"></div>
			</div>
		</form>
	</div>
</div>

<script>

	var term = <?= (int)$term ?>;
	var stateUser = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>

</script>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/search/defaulters.js?v=<?= time() ?>"></script>