<div class="card">
    <div class="card-header">
        <h5 class="title">Relatório de Desfiliações</h5>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input class="form-control" id="name" name="name" type="text" placeholder="Nome">
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="state">Estado Título</label>
                        <select class="form-select" id="state" name="state" onchange="getCities(this.value)">
                            <option value="0">Selecione</option>
                            <?php foreach ($states as $state): ?>
                            <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city">Cidade Título</label>
                        <select class="form-select" id="city" name="city" type="city">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="state">Estado Título</label>
                        <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>" disabled
                            readonly>
                        <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city">Cidade Título</label>
                        <select class="form-select" id="city" name="city" type="city">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <?php else: ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="state">Estado Título</label>
                        <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>" disabled
                            readonly>
                        <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="state">Cidade Título</label>
                        <select class="form-select" id="city" name="city" type="city">
                            <option value="" selected>Todos</option>
                            <?php foreach ($cities as $city) : ?>
                            <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <?php endif; ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Situação:</label>
                        <select class="form-select" id="status" name="status">
                            <option value="" selected>Todos</option>
                            <option value="Adimplente">Adimplente</option>
                            <option value="Inadimplente">Inadimplente</option>
                            <option value="Isento">Isento</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="typeDate">Data</label>
                        <select class="form-select" id="typeDate" name="typeDate">
                            <option value="data_criacao">Data Cadastro</option>
                            <option value="data_filiacao">Data Filiação</option>
                            <option value="data_refiliacao">Data Refiliação</option>
                            <option value="data_desfiliacao" selected>Data Desfiliação</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="begin">Inicia em</label>
                        <input class="form-control" id="begin" name="begin" type="text" placeholder="Ex.: dd/mm/aaaa"
                            data-mask="00/00/0000">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="end">Finaliza em</label>
                        <input class="form-control" id="end" name="end" type="text" placeholder="Ex.: dd/mm/aaaa"
                            data-mask="00/00/0000">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    Exibindo <span id="partial"></span> de <span id="total"></span>
                </div>
                <div class="col text-end">
                    <?php if ($user->getExportAccess() == 1): ?>
                    <button type="reset" onclick="csv()" class="btn btn-primary"><i class="fa fa-download"
                            aria-hidden="true"></i> Exportar
                    </button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                            aria-hidden="true"></i> Limpar</button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Filiado ID</th>
                            <th>Nome</th>
                            <th class="text-center">Telefone</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Data filiação</th>
                            <th class="text-center">Data desfiliação</th>
                            <th class="text-center">Motivo</th>
                            <th class="text-center">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="watermark"><?= $user->getName() ?></div>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="loader" class="loader"></div>
        <div style="display: none" id="message" class="alert" role="alert"></div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="confidentialityAgreementForm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
                </div>
                <div class="modal-body text-justify custom-scrollbar">
                    <p>Prezado(a) <?= $user->getName() ?>,</p>
                    <p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a manter o
                        absoluto sigilo,
                        tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e sobre
                        todos os materiais disponibilizados.</p>
                    <p>Este acesso ficará registrado no sistema.</p>
                    <p>A divulgação e utilização não autorizada de informações, configura indisciplina partidária grave
                        nos termos do artigo 18, inciso XI do estatuto partidário.</p>
                </div>
                <div class="modal-footer">
                    <a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
                    <button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
                </div>
                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
            </div>
        </form>
    </div>
</div>

<script>
var term = <?= (int)$term ?>;
var level = <?= $user->getLevel() ?>;
var userState = <?= $user->getLevel() == 2 ? $user->getState()->getId() : 0 ?>;
</script>

<script src="<?= BASEURL ?>assets/functions/pagination.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/generateTable.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/functions/search/disaffiliation.js?v=<?= time() ?>"></script>