<div class="card">
    <div class="card-header">
        <h5 class="title">Relatório de Doadores</h5>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input class="form-control" id="name" name="name" type="text"
                               placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-select" id="status" name="status">
                            <option value="" selected>Todos</option>
                            <option value="1">Aguardando Pgto</option>
                            <option value="0">Cadastrado (Não filiado)</option>
                            <option value="9">Desfiliado</option>
                            <option value="13">Filiação Suspensa por Pendência Titulo</option>
                            <option value="7">Filiado</option>
                            <option value="8">Refiliado</option>
                            <option value="6">Impugnado</option>
                            <option value="2">Período Impugnação</option>
                        </select>
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <select class="form-select" id="state" name="state" onchange="getCities(this.value)">
                                <option value="0">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="city">Cidade:</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Cidade</label>
                            <select class="form-select" id="city" name="city" type="city">
                                <option value="" selected>Todas</option>
                                <?php foreach ($cities as $city) : ?>
                                    <option value="<?= $city['id'] ?>"><?= $city['cidade'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col text-end">
                    <i id="i" style="margin-left:10px; font-size: 120%; display: none" class="fa fa-info-circle m-r-10"
                       data-toggle="tooltip" title="Atenção: devido à LGPD, teremos que formalizar este tipo de acesso para exportação.
                                Favor encaminhar e-mail para acesso@novo.org.br solicitando o acesso e copiando seu presidente estadual ou municipal."></i>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::FINANCEIRO_DOADORES_EXPORTACAO)): ?>
                        <button id="export" type="reset" onclick="csv()" class="btn btn-primary"><i
                                    class="fa fa-download" aria-hidden="true"></i> Exportar <i
                                    class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <?php if ($user->getTypeView() != 1): ?>
            <h5>Total: <span id="total"></span></h5>
        <?php else: ?>
            Exibindo <span id="partial"></span> de <span id="total"></span>
            <div class="row table-responsive-xl">
                <div class="col-12">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th class="text-center">Filiado ID</th>
                            <th class="text-center">Filiação/Refiliação</th>
                            <th class="text-center">Desfiliação</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Qtde Doações</th>
                            <th class="text-center">Valor total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="watermark"><?= $user->getName() ?></div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="loader" class="loader"></div>
            <div style="display: none" id="message" class="alert" role="alert"></div>
        <?php endif; ?>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="confidentialityAgreementForm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="title w-100">TERMO DE SIGILO E CONFIDENCIALIDADE</h5>
                </div>
                <div class="modal-body text-justify custom-scrollbar">
                    <p>Prezado(a) <?= $user->getName() ?>,</p>
                    <p>Ao prosseguir para a área selecionada, o filiado/funcionário aceita e compromete-se a manter o
                        absoluto sigilo,
                        tanto escrito como verbal, ou por qualquer outra forma, de todos os dados, informações e sobre
                        todos os materiais disponibilizados.</p>
                    <p>Este acesso ficará registrado no sistema.</p>
                    <p>A divulgação e utilização não autorizada de informações, configura indisciplina partidária grave
                        nos termos do artigo 18, inciso XI do estatuto partidário.</p>
                </div>
                <div class="modal-footer">
                    <a href="<?= BASEURL ?>" class="btn btn-secondary">Sair</a>
                    <button type="submit" class="btn btn-success" id="save">Concordar e Prosseguir</button>
                </div>
                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
            </div>
        </form>
    </div>
</div>

<script>
    var index = 0;
    var partial = 0;
    var total = 1;
    var name = '';
    var state = 0;
    var city = 0;
    var status = '';

    const form = document.getElementById('filter');

    form.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        partial = 0;
        index = 0;
        total = 1;
        name = formData.name;
        state = formData.state;
        city = formData.city;
        status = formData.status;
        $("#table tbody").empty();
        generateTable();
    })

    function resetTable() {
        index = 0;
        partial = 0;
        total = 1;
        name = '';
        state = 0;
        city = 0;
        status = '';
        $("#table tbody").empty();
        generateTable();
    }

    function generateMembershipList(donors) {
        return `<tr>
                    <td><a href="<?= BASEURL ?>filiados/${donors.id}" target="_blank">${donors.name} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                    <td class="text-center">${donors.affiliated}</td>
                    <td class="text-center">${donors.filiation}</td>
                    <td class="text-center">${donors.disaffiliation}</td>
                    <td class="text-center">${donors.status}</td>
                    <td class="text-center">${donors.city}</td>                    
                    <td class="text-center">${donors.state}</td>
                    <td class="text-center">${donors.count} doações</td>
                    <td class="text-center">R$ ${donors.sum}</td>
                </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            $('#loader').show();
            fetch(`<?= BASEURL ?>api/filiados/doadores/?index=${index}&name=${name}&state=${state}&city=${city}&status=${status}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    $('#loader').hide();
                    total = json.total;
                    partial = json.partial;
                    let membershipList = json.message;
                    let options = membershipList.map(generateMembershipList);
                    $("#table tbody").append(options);
                    $('#total').text(total);
                    $('#partial').text(partial);
                });
            });
        }
    }

    $(document).ready(function () {
        <?php if ($user->getLevel() == 2): ?>
        getCities(<?= $user->getState()->getId() ?>);
        <?php endif; ?>
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
        <?php if($user->getExportAccess() == 0): ?>
        document.getElementById("export").disabled = true;
        document.getElementById("i").style.display = "";
        <?php else: ?>
        document.getElementById("export").disabled = false;
        <?php endif; ?>
    });

    function csv() {
        let formData = formDataToJson('filter');
        state = formData.state;
        city = formData.city;
        name = formData.name;
        window.open(`<?= BASEURL ?>api/filiados/exportar-doadores/?index=${index}&name=${name}&state=${state}&city=${city}&status=${status}`, '_blank');
    }

    <?php if(!$term): ?>
    $(window).on('load', function () {
        $("#modal").modal({
            backdrop: "static", //remove abilidfsaty to close modal with click
            keyboard: false, //remove option to close with keyboard
            show: true //Display loader!
        });
    });
    <?php endif ?>
</script>

<script>
    const agreementForm = document.getElementById('confidentialityAgreementForm');
    const divMessageForm = document.getElementById('messageForm');
    agreementForm.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let formData = formDataToJson('confidentialityAgreementForm');
        fetch('<?= BASEURL ?>api/sistema/termo/donors', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            closeLoading();
            divMessageForm.classList.add("alert-danger");
            divMessageForm.classList.remove("alert-success");
            response.json().then(json => {
                if (response.status === 201) {
                    document.getElementById("save").disabled = true;
                    $('#modal').modal('hide');
                }
            });
        });
    });
</script>