<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="title">Dirigentes</h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="filterName">Nome</label>
                        <input class="form-control" id="filterName" name="name" type="text"
                               placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="filterOccupation">Cargo</label>
                        <select class="form-select" id="filterOccupation" name="occupation">
                            <option value="">Selecione</option>
                            <option value="1">Presidente</option>
                            <option value="2">Vice Presidente</option>
                            <option value="3">Secretário Administrativo</option>
                            <option value="41">Secretário de Finanças</option>
                            <option value="5">Secretário de Relações Institucionais e Legal</option>
                            <option value="1">Líder 1</option>
                            <option value="2">Líder 2</option>
                            <option value="3">Líder 3</option>
                            <option value="4">Líder 4</option>
                            <option value="5">Líder 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="filterLevel">Tipo</label>
                        <select class="form-select" id="filterLevel" name="level">
                            <option value="">Selecione</option>
                            <option value="1">Núcleo</option>
                            <option value="3">Diretório</option>
                            <option value="2">Comissão Provisória</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="filterStatus">Status</label>
                        <select class="form-select" id="filterStatus" name="status">
                            <option value="">Selecione</option>
                            <option value="6">Análise DE</option>
                            <option value="7">Análise DN</option>
                            <option value="3">Aprovado</option>
                            <option value="5">Inativo</option>
                        </select>
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="stateFilter">Estado</label>
                        <select class="form-select" id="stateFilter" name="state"
                                onchange="getCities(this.value, 'cityFilter')">
                            <option value="">Selecione</option>
                            <?php foreach ($states as $state): ?>
                                <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cityFilter">Cidade</label>
                        <select class="form-select" id="cityFilter" name="city" type="city">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateFilter">Estado</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="stateFilter" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cityFilter">Cidade</label>
                            <select class="form-select" id="cityFilter" name="cityFilter" type="cityFilter">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="stateFilter">Estado</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                   disabled readonly>
                            <input type="hidden" name="stateFilter" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cityFilter">Cidade</label>
                            <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                   disabled readonly>
                            <input type="hidden" name="cityFilter" value="<?= $user->getCity()->getId() ?>">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col text-end m-t-45">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CONSULTAS_DIRIGENTES_EXPORTACAO)): ?>
                        <button class="btn btn-primary" type="button" onclick="csv()"><i class="fa fa-download"
                                                                                         aria-hidden="true"></i>
                            Exportar
                        </button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable()"><i class="fa fa-eraser"
                                                                                          aria-hidden="true"></i> Limpar
                    </button>
                    <button class="btn btn-success" type="submit"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
        Exibindo <span id="partial"></span> de <span id="total"></span>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="leadersTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">Cargo</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Nível</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Cidade</th>
                        <th class="text-center">Início</th>
                        <th class="text-center">Fim</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="loader" class="loader"></div>
        <div style="display: none" id="message" class="alert" role="alert"></div>

    </div>
</div>

<script>

    var directoryId = <?= $directory ?>;
    var userType = '<?= $user->getType() ?>';
    var userLevel = '<?= $user->getLevel() ?>';
    var userState = '<?= $user->getState() ? $user->getState()->getId() : 0 ?>';
    var userCity = '<?= $user->getCity() ? $user->getCity()->getId() : 0 ?>';

</script>
<script src="<?= BASEURL ?>assets/functions/search/leaders.js?v=<?= time() ?>"></script>
<script src="<?= BASEURL ?>assets/js/functions.js"></script>