<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Lista de Presença para Convenção</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1, shrink-to-fit=no">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= BASEURL ?>assets/libs/font-awesome/css/font-awesome.min.css">
</head>
<!--dados pessoais-->
    <div class="card p-5"> 
        <body>    
            <table>
                <thead>
                    <tr class="center" style="font-size: 10px; font-weight: 800;">
                        <td>N°</td>
                        <td>N° FILIADO</td>
                        <td>NOME FILIADO</td>
                        <td>CPF</td>
                        <td>SITUAÇÃO</td>
                        <td>ASSINATURA</td>
                    </tr>
                </thead>
                <?php $i = 1; ?>
                <?php foreach($affiliateds as $a): ?>
                <tr class="center" style="font-size: 8px;">
                    <td><?= $i++ ?></td>
                    <td><?= $a['filiado_id'] ?></td>
                    <td><?= strtoupper($a['name']) ?></td>
                    <td><?= $a['cpf'] ?></td>
                    <td><?= $a['situation'] ?></td>
                    <td style="width: 40%;"></td>
                </tr>
                <?php endforeach ?>
            </table>
        </body>
    </div>
</html>

<script src="<?= BASEURL ?>assets/js/core/jquery.min.js"></script>
<script>
$(document).ready(function() {
    window.print();
});
</script>

<style>
    /* ISO Paper Size */
    @page {
        size: A4 landscape;
    }
    /* Size in mm */    
    @page {
        size: 100mm 200mm landscape;
    }
    /* Size in inches */    
    @page {
        size: 4in 6in landscape;
    }
    table { 
        width: 100% 
    }
    td{ 
        border:1px solid grey 
    }
    th, td { 
        padding: 0 ; padding: 5px
    }
    .center { 
        text-align: center;
    }
</style>