<div class="card">
    <div class="card-header">
        <h5 class="title">Mesorregiões</h5>
    </div>
    <div class="card-body">
        <form id="filter">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nome Mesorregião</label>
                        <input class="form-control" type="search" placeholder="Pesquisar"
                               name="name" id="name" list="nameList">
                        <datalist id="nameList">
                            <option value="" selected>Selecione</option>
                        </datalist>
                    </div>
                </div>
                <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <select class="form-select" id="state" name="state"
                                    onchange="getCities(this.value, '')">
                                <option value="0">Selecione</option>
                                <?php foreach ($states as $state): ?>
                                    <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getEstado() ?>"
                                   disabled readonly>
                            <input type="hidden" id="state" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                <?php else: ?>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="state">Estado:</label>
                            <input type="text" class="form-control" value="<?= $user->getState()->getEstado() ?>"
                                   disabled readonly>
                            <input type="hidden" id="state" name="state" value="<?= $user->getState()->getId() ?>">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="col text-end">
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_MESORREGIOES_CRIACAO_EDICAO)): ?>
                        <button class="btn btn-primary" type="submit" onclick="openModal()">Adicionar</button>
                    <?php endif; ?>
                    <button class="btn btn-danger" type="reset" onclick="resetTable('Defaulters')">Limpar</button>
                    <button class="btn btn-success" type="submit">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                Exibindo <span id="partial"></span> de <span id="total"></span>
            </div>
        </div>
        <div class="row table-responsive-xl">
            <div class="col-12">
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Nome Meso</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Criação</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row text-end">
            <nav aria-label="...">
                <ul class="pagination justify-content-end pagination-primary"
                    id="paginationDefaulters" style="top: auto">
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="citiesModal" tabindex="-1" role="dialog" aria-labelledby="citiesModalModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listagem de Cidades</h5>
            </div>
            <form id="form">
                <div class="modal-body">
                    <input type="hidden" name="mesoId" id="mesoId">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mesoName">Nome Mesorregião:</label>
                                <input type="text" class="form-control" id="mesoName" name="mesoName" readonly>
                            </div>
                        </div>
                        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="state">Estado</label>
                                    <select class="form-select" id="stateAffiliatedFilter" name="state"
                                            onchange="getCities(this.value, 'city-plus')">
                                        <option value="0">Selecione</option>
                                        <?php foreach ($states as $state): ?>
                                            <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="city-plus">Adicionar Cidade:</label> <i onclick="addCityDiv()"
                                                                                    class="fa fa-plus text-info text-end"
                                                                                    title="Add Tag"></i>
                                <select class="form-select" id="city-plus" name="city-plus" type="city">
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" id="cityDiv"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                            onclick="changeModal(null, null, 'hide')">Fechar
                    </button>
                    <?php if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_MESORREGIOES_CRIACAO_EDICAO)): ?>
                        <button type="submit" class="btn btn-success">Salvar</button>
                    <?php endif; ?>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById('mesoName').readOnly = false;
        $('#citiesModal').modal('show');
    }

    const form = document.getElementById('form');
    const messageForm = document.getElementById('messageForm');
    form.addEventListener('submit', e => {
        e.preventDefault();
        showLoading();
        let method = 'POST';
        let url = `<?= BASEURL ?>api/cadastros/mesorregiao/`;
        let formData = formDataToJson('form');
        fetch(url, {
            method: method,
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            response.json().then(json => {
                closeLoading();
                messageForm.textContent = json.message;
                messageForm.style.display = 'block';
                messageForm.classList.add("alert-danger");
                messageForm.classList.remove("alert-success");
                if (response.status === 201) {
                    messageForm.classList.add("alert-success");
                    messageForm.classList.remove("alert-danger");
                    document.getElementById('splitForm').reset();
                    setTimeout(function () {
                        window.location.reload();
                    }, 1200);
                }
            });
        });
    });

    function changeModal(mesoId, mesoName, action) {
        document.getElementById('mesoName').readOnly = true;
        $("#mesoName").val(mesoName);
        $("#mesoId").val(mesoId);
        fetch(`<?= BASEURL ?>api/cadastros/mesorregioes-cidades/?id=${mesoId}`, {
            method: "GET",
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(json => {
                jsonCities = json.message;
                document.getElementById('cityDiv').innerHTML = "";
                jsonCities.map(({id, cidade}) => {
                    addCityDiv(id, cidade);
                });
            });
        });
        $('#citiesModal').modal(action);
    }

    let cities = 0;

    function addCityDiv(id, city) {
        if (!id) {
            city = $("#city-plus").val();
            if (city == '') {
                alert('Campo Cidade Vazio');
                return;
            }
            id = city;
            city = $('#city-plus').find(":selected").text();
        }
        let html = `<div class="btn btn-success" style="border: 1px black solid; border-radius: 5px; margin: 10px;">${city} <i class="fa fa-times text-danger" onclick="removeCity(this)"></i>
                        <input class="m-input" type="hidden" id="" name="cities[]" value="${id}">
                    </div> `
        $("#cityDiv").append(html);
        cities++;
    }

    function removeCity(i) {
        cities--;
        ((i.parentNode).parentNode).removeChild(i.parentNode);
    }

    var index = partial = 0;
    var total = 1;
    var name = '';
    var state = 0;

    const filter = document.getElementById('filter');

    filter.addEventListener('submit', e => {
        e.preventDefault();
        let formData = formDataToJson('filter');
        index = partial = 0;
        total = 1;
        name = formData.name;
        state = formData.state;
        $("#table tbody").empty();
        generateTable();
    })

    function resetTable() {
        index = partial = 0;
        total = 1;
        name = '';
        state = 0;
        $("#table tbody").empty();
        generateTable();
    }

    function generateList(meso) {
        return `<tr>
                    <td>${meso.name}</td>
                    <td class="text-center">${meso.state}</td>
                    <td class="text-center">${meso.created_at}</td>
					<td class="text-center">
						<button type="button" class="btn btn-sm btn-success" onclick="changeModal(${meso.id}, '${meso.name}', 'show')"><i class="fa fa-eye" aria-hidden="true"></i> Visualizar</button>
                     </td>
                </tr>`;
    }

    function generateTable() {
        if (total > partial) {
            fetch(`<?= BASEURL ?>api/cadastros/mesorregioes/?index=${index}&name=${name}&state=${state}`, {
                method: "GET",
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                response.json().then(json => {
                    total = json.total;
                    partial = json.partial;
                    let membershipList = json.message;
                    let options = membershipList.map(generateList);
                    $("#table tbody").append(options);
                    $('#total').text(total);
                    $('#partial').text(partial);
                });
            });
        }
    }

    $(document).ready(function () {
        <?php if ($user->getLevel() == 2): ?>
        getCities(<?= $user->getState()->getId() ?>, 'city-plus');
        <?php endif; ?>
        generateTable();
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
                index++;
                generateTable();
            }
        });
    });

</script>
