<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col"><h5 class="title">Planejamento Estratégico Municipal</h5></div>
		</div>
	</div>
	<div class="card-body">
		<form id="filter">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="email">E-mail</label>
						<input class="form-control" id="email" name="email" type="email"
						       placeholder="E-mail">
					</div>
				</div>
				<?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
					<div class="col-md-3">
						<div class="form-group">
							<label for="state">Estado</label>
							<select class="form-select" id="state" name="state"
							        onchange="getCities(this.value)">
								<option value="">Selecione</option>
								<?php foreach ($states as $state): ?>
									<option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="city">Cidade</label>
							<select class="form-select" id="city" name="city" type="city">
								<option value="">Selecione</option>
							</select>
						</div>
					</div>
				<?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
					<div class="col-md-3">
						<div class="form-group">
							<label for="state">Estado</label>
							<input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
							       disabled readonly>
							<input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="city">Cidade</label>
							<select class="form-select" id="city" name="city" type="city">
								<option value="">Selecione</option>
							</select>
						</div>
					</div>
				<?php else: ?>
					<div class="col-md-3">
						<div class="form-group">
							<label for="state">Estado</label>
							<input type="text" class="form-control"
							       value="<?= $user->getState()->getSigla() ?>" disabled readonly>
							<input type="hidden" name="state" value="<?= $user->getState()->getId() ?>">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="state">Cidade</label>
							<input type="text" class="form-control"
							       value="<?= $user->getCity()->getCidade() ?>" disabled readonly>
							<input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
						</div>
					</div>
				<?php endif; ?>
				<div class="col text-end m-t-45">
					<button class="btn btn-danger" type="reset" onclick="resetTable()">Limpar</button>
					<button class="btn btn-success" type="submit">Filtrar</button>
				</div>
			</div>
		</form>
	</div>
	<div class="card-body">
		Exibindo <span id="partial"></span> de <span id="total"></span>
		<div class="row table-responsive-xl">
			<div class="col-12">
				<table id="table" class="table table-bordered table-striped">
					<thead>
					<tr>
						<th class="text-center">E-mail</th>
						<th class="text-center">Estado</th>
						<th class="text-center">Cidade</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		<div id="loader" class="loader"></div>
		<div style="display: none" id="message" class="alert" role="alert"></div>
	</div>
</div>

<script>
	var index = partial = state = city = email = 0;
	var total = 1;

	const form = document.getElementById('filter');

	form.addEventListener('submit', e => {
		e.preventDefault();
		partial = 0;
		index = 0;
		total = 1;
		let formData = formDataToJson('filter');
		state = formData.state;
		email = formData.email;
		city = formData.city;
		$("#table tbody").empty();
		generateTable();
	})

	function resetTable() {
		index = partial = state = city = email = 0;
		total = 1;
		$("#table tbody").empty();
		generateTable();
	}

	function generateForm01Table(form) {
		return `<tr>
                    <td class="text-center"><a target="_blank" href="${link(form.id)}">${form.email}</a></td>
                    <td class="text-center">${form.state}</td>
                    <td class="text-center">${form.city}</td>
                </tr>`;
	}

	function link(id) {
		return `<?= BASEURL ?>consulta/planejamento-estrategico-municipal-2022/${id}`;
	}

	function generateTable() {
		if (total > partial) {
			$('#loader').show();
			fetch(`<?= BASEURL ?>consulta/planejamento-estrategico-municipal-2022/list/?index=${index}&email=${email}&city=${city}&uf=${state}`, {
				method: "GET",
				credentials: 'same-origin',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				}
			}).then(response => {
				response.json().then(json => {
					$('#loader').hide();
					$('#total').text(json.total);
					$('#partial').text(json.partial);
					total = json.total;
					partial = json.partial;
					let options = json.message.map(generateForm01Table);
					$("#table tbody").append(options);
				});
			});
		}
	}

	$(document).ready(function () {
		<?php if ($user->getLevel() == 2): ?>
		getCities(<?= $user->getState()->getId() ?>);
		state = <?= $user->getState()->getId() ?>;
		<?php elseif ($user->getLevel() == 1): ?>
		city = <?= $user->getCity()->getId() ?>;
		state = <?= $user->getState()->getId() ?>;
		<?php endif; ?>
		generateTable();
		$(window).scroll(function () {
			if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1) {
				index++;
				generateTable();
			}
		});
	});
</script>