<style>
    .card label {
        font-size: 1em !important;
    }
</style>

<div class="card">
    <div class="card-header text-center">
        <h5 class="title">Partido Novo - Planejamento Estratégico Municipal</h5>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="email">Email</label><br>
                            <b><?= $form->getEmail() ?></b>
                        </div>
                        <div class="col-md-4">
                            <label for="state">Estado</label><br>
                            <b><?= $form->getState()->getEstado() ?></b>
                        </div>
                        <div class="col-md-4">
                            <label for="city">Cidade</label><br>
                            <b><?= $form->getCity()->getCidade() ?></b>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <label>Sua cidade já participou de alguma campanha do NOVO? (i.e. teve candidato a
                                prefeito / vereador nas eleições municipais ou a cargo eletivo nas eleições das
                                câmaras legislativas estadual ou federal)</label><br>
                            <b><?= $form->getCityParticipation() == 1 ? 'Sim' : 'Não' ?></b>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-md-8">
                            <label for="volunteer">Nome(s) completo(s) do(a) voluntário(a) responsável(eis),
                                lembrando que essas pessoas não poderão se candidatar em 2022/24</label><br>
                            <b><?= $form->getVolunteer() ?></b>
                        </div>
                        <div class="col-md-4">
                            <label>Sua cidade já possui algum mandatário eleito?</label><br>
                            <b><?= $form->getElectedCandidate() == 1 ? 'Sim' : 'Não' ?></b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h6 class="title">Candidatos</h6>
                            <label for="strategy">Qual será a estratégia para atração de participantes ao
                                processo eletivo de 2021-22 para deputado? Por quê a estratégia escolhida é
                                a melhor opção para o contexto local? Como pretende executar a estratégia
                                definida?</label><br>
                            <b><?= $form->getStrategy() ?></b>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="votes">Quantos votos para deputado federal você espera
                                ter na sua cidade para 2022? </label><br>
                            <b><?= $form->getVotes() ?></b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h6 class="title">Bases Locais</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="events">Quais eventos pretendem realizar para atrair voluntários e
                                divulgar as ações do Novo em 2021-2022? Por quê acredita que os eventos que
                                planeja cumprem os objetivos pretendidos? Como irá executar a organização dos
                                eventos?</label><br>
                            <b><?= $form->getEvents() ?></b>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4">
                            <label for="disclosureEvents">Quantos eventos para divulgação do NOVO você planeja fazer
                                em média por mês?</label><br>
                            <b><?= $form->getDisclosureEvents() ?></b>
                        </div>
                        <div class="col-md-4">
                            <label for="followersNow">Quantos seguidores vocês possuem atualmente no perfil
                                do NOVO na cidade?</label><br>
                            <b><?= $form->getFollowersNow() ?></b>
                        </div>
                        <div class="col-md-4">
                            <label for="followers2022">Quantos seguidores pretendem ter até a campanha em
                                2022?</label><br>
                            <b><?= $form->getFollowers2022() ?></b>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col">
                            <label>Quais redes sociais e/ou canais de mensagem pretende utilizar para
                                divulgar as ações e eventos do Novo?</label><br>
                            <b><?= $form->getSocialMedia() ?></b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label for="socialMediaObjective">Quais os objetivos de alcance em cada
                                rede? Por quê as redes que escolheu são as melhores para atingir o
                                público na sua localidade?</label><br>
                            <b><?= $form->getSocialMediaObjective() ?></b>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="otherDisclosures"> Quais outros canais locais você utilizará
                                para divulgar o NOVO na sua cidade?</label><br>
                            <b><?= $form->getOtherDisclosures() ?></b>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label>Quantos filiados você pretende ter na sua cidade até julho
                                2022?</label><br>
                            <b><?= $form->getNumberOfAffiliates() ?></b>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6 class="title">Captação</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="fundraisingActions">Quais ações vai realizar para arrecadar
                        fundos em 2021-22? Como irá executar essas ações? Por quê acredita
                        que essas ações terão o resultado esperado?</label><br>
                    <b><?= $form->getFundraisingActions() ?></b>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label>Quantos reais o(a) voluntário(a) / grupo voluntário pretende
                        arrecadar em 2021?</label><br>
                    <b><?= $form->getFundraisingValue() ?></b>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6 class="title">Governança</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="theme">Quais temas alinhados à bandeira do NOVO
                        você acredita que seriam mais relevantes/atrativos para a campanha
                        na sua cidade em 2022/24? Como você pretende explorar essas mensagens
                        nas campanhas/eventos do NOVO?</label><br>
                    <b><?= $form->getTheme() ?></b>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="danger">Quais os principais riscos que você enxerga
                        para a campanha de 2022 na sua cidade? Como pretende mitigá-los?
                        Qual apoio você necessita do DE ou DN?</label><br>
                    <b><?= $form->getDanger() ?></b>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="divisionOfTasks">Como será a divisão de tarefas e
                        responsabilidades entre os voluntários(as).</label><br>
                    <b><?= $form->getDivisionOfTasks() ?></b>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6 class="title">Estratégias Complementares</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="references">Quais são as referências que você utiliza do
                        NOVO para o desenvolvimento da sua estratégia local? Como você
                        pretende alavancar esse conteúdo (Mandatários, dirigentes, membros do DN ou
                        demais páginas do NOVO).</label><br>
                    <b><?= $form->getReference() ?></b>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="newIdea">Caso tenha alguma ideia não explorada nas
                        questões anteriores que julgue relevante expor.</label><br>
                    <b><?= $form->getNewIdea() ?></b>
                </div>
            </div>
        </div>
    </div>
</div>
