<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Listagem de Usuários</h5>
                    </div>
                    <div class="col-md-8 text-end m-b-30">
                        <?php use App\Helpers\Validator;
                        use App\Models\Entities\SystemFeatures;

                        if (\App\Helpers\Validator::validatePermission(\App\Models\Entities\SystemFeatures::CADASTROS_ACESSOSADMIN_CRIACAO_EDICAO)): ?>
                            <a href="<?= BASEURL ?>cadastros/novo-usuario/" type="button" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Adicionar Usuário NOVO
                            </a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="filter">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="nameFilter">Nome</label>
                                <input class="form-control" id="nameFilter" name="nameFilter" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="emailFilter">E-mail</label>
                                <input class="form-control" id="emailFilter" name="emailFilter" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="typeFilter">Tipo</label>
                                <select class="form-select" id="typeFilter" name="typeFilter">
                                    <option value="">Selecione o Tipo</option>
                                    <option value="1">Assistente</option>
                                    <option value="2">Líder</option>
                                    <?php if ($user->getLevel() >= 3): ?>
                                        <option value="3">Administrador</option>
                                        <option value="4">Contábil</option>
                                        <option value="5">Diretiva</option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="sectorFilter">Setor</label>
                                <select class="form-select" id="sectorFilter" name="sectorFilter">
                                    <option value="">Selecione</option>
                                    <?php foreach ($usersSectors as $sector): ?>
                                        <option value="<?= $sector->getId() ?>"><?= $sector->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="stateFilter">Estado</label>
                                    <select class="form-select" id="stateFilter" name="stateFilter"
                                            onchange="getCities(this.value, 'cityFilter')">
                                        <option value="0">Selecione</option>
                                        <?php foreach ($states as $state): ?>
                                            <option value="<?= $state->getId() ?>"><?= $state->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="cityFilter">Cidade</label>
                                    <select class="form-select" id="cityFilter" name="cityFilter">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        <?php elseif ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_STATE): ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="stateFilter">Estado</label>
                                    <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                           disabled readonly>
                                    <input type="hidden" name="stateFilter" value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="cityFilter">Cidade</label>
                                    <select class="form-select" id="cityFilter" name="cityFilter" type="cityFilter">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="stateFilter">Estado</label>
                                    <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                           disabled readonly>
                                    <input type="hidden" name="stateFilter" value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="cityFilter">Cidade</label>
                                    <input type="text" class="form-control" value="<?= $user->getCity()->getCidade() ?>"
                                           disabled readonly>
                                    <input type="hidden" name="cityFilter" value="<?= $user->getCity()->getId() ?>">
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-end m-t-45">
                            <button class="btn btn-danger" type="reset" onclick="resetTable()">
                                <i class="fa fa-eraser"></i> Limpar
                            </button>
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-filter"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <hr>
                <div id="message" class="alert d-none" role="alert"></div>
                Exibindo <span id="partial"></span> de <span id="total"></span>
                <div class="row table-responsive-xl">
                    <div class="col-12">
                        <table id="usersTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th class="text-center">E-mail</th>
                                <th class="text-center">Nível</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Cidade</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Setor</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div class="watermark"><?= $user->getName() ?></div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal Cadastro-->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModal"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title">Cadastro de Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form">
                <div class="modal-body custom-scrollbar">
                    <input type="hidden" name="userId" id="userId">
                    <input type="hidden" name="edit" id="edit">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="name">Nome:</label>
                                <input id="name" placeholder="Nome" name="name" type="text" class="form-control"
                                       required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input id="email" placeholder="E-mail" name="email" type="text" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="level">Nível:</label>
                                <select class="form-select" id="level" name="level" onchange="showLocations()"
                                        required>
                                    <option value="">Selecione o Nível</option>
                                    <option value="1">Municipal</option>
                                    <?php if ($user->getLevel() >= 2): ?>
                                        <option value="2">Estadual</option>
                                    <?php endif; ?>
                                    <?php if ($user->getLevel() >= 3): ?>
                                        <option value="3">Nacional</option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="type">Tipo:</label>
                                <select class="form-select" id="type" name="type" required>
                                    <option value="">Selecione o Tipo</option>
                                    <option value="1">Assistente</option>
                                    <option value="2">Líder</option>
                                    <?php if ($user->getLevel() >= 3): ?>
                                        <option value="3">Administrador</option>
                                        <option value="4">Contábil</option>
                                        <option value="5">Diretiva</option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select class="form-select" name="status" id="status">
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="typeView">Visualização:</label>
                                <select class="form-select" name="typeView" id="typeView">
                                    <option value="1">Completa</option>
                                    <option value="0">Simples</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                            <div class="col" id="stateDiv" style="display: none">
                                <div class="form-group">
                                    <label for="state">Estado:</label>
                                    <select id="state" name="state" class="form-control"
                                            onchange="getCities(this.value, 'city'), getCities(this.value, 'city-plus'), getMesos(this.value)">
                                        <option value="">Selecione o estado</option>
                                        <?php foreach ($states as $item): ?>
                                            <option value="<?= $item->getId() ?>"><?= $item->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="col" id="stateDiv" style="display: none">
                                <div class="form-group">
                                    <label for="state">Estado:</label>
                                    <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                           disabled readonly>
                                    <input type="hidden" id="state" name="state"
                                           value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="col" id="cityDiv" style="display: none">
                            <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_CITY): ?>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="city">Cidade:</label>
                                        <input type="text" class="form-control"
                                               value="<?= $user->getCity()->getCidade() ?>"
                                               disabled readonly>
                                        <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                                    </div>
                                </div>
                            <?php else: ?>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="city">Cidade:</label>
                                        <select class="form-select" id="city" name="city" type="city">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="col" id="cityPlus" style="display: none">
                            <div class="form-group">
                                <label for="city-plus">Demais Cidades: </label>
                                <i onclick="addCityDiv()" class="fa fa-plus text-info text-end" title="Add Tag"></i>
                                <select class="form-select" id="city-plus" name="city-plus" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="cityDivAdd"></div>
                        </div>
                        <div class="col" id="mesoDiv" style="display: none">
                            <div class="form-group">
                                <label for="city-plus">Mesorregiões: </label>
                                <i onclick="addMesoDiv()" class="fa fa-plus text-info text-end" title="Add Tag"></i>
                                <select class="form-select" id="meso-plus" name="meso-plus">
                                    <option value="">Selecione</option>
                                    <?php foreach ($mesoregions as $mesoregion): ?>
                                        <option value="<?= $mesoregion->getId() ?>"><?= $mesoregion->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="mesoDivAdd"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="checkbox">Acessos: </label>
                            </div>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="adminAccess" name="adminAccess" value="1"
                                   style="transform: scale(2.0); margin-right: 10px;">
                            <label for="adminAccess">Consultas</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="directoryAreaAccess" name="directoryAreaAccess" value="1"
                                   style="transform: scale(2.0); margin-right: 10px;">
                            <label for="directoryAreaAccess">A. Diretórios</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="exportAccess" name="exportAccess" value="1"
                                   style="transform: scale(2.0); margin-right: 10px;">
                            <label for="exportAccess">Exportar</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="financialReport" name="financialReport" value="1"
                                   style="transform: scale(2.0); margin-right: 10px;">
                            <label for="financialReport">Financeiro</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="events" name="events" value="1"
                                   style="transform: scale(2.0); margin-right: 10px;">
                            <label for="events">Eventos</label>
                        </div>
                        <div class="col">
                            <input type="checkbox" id="libertasCourses" name="libertasCourses" value="1"
                                   style="transform: scale(2.0); margin-right: 10px;">
                            <label for="libertasCourses">Cursos Libertas</label>
                        </div>
                    </div>
                    <div style="display: none" id="messageForm" class="alert" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="save" class="btn btn-success">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/users/users.js?v=<?= time() ?>"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>

<script>
    var canDelete = <?= Validator::validatePermission(SystemFeatures::CADASTROS_ACESSOSADMIN_REMOCAO, false, true) ?>;
    var canUpdate = <?= Validator::validatePermission(SystemFeatures::CADASTROS_ACESSOSADMIN_CRIACAO_EDICAO, false, true) ?>;
    var userType = '<?= $user->getType() ?>';
    let userLevel = '<?= $user->getLevel() ?>';
    var userState = '<?= $user->getState() ? $user->getState()->getId() : 0 ?>';
</script>