<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="title">Usuário</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="form">
                    <input type="hidden" name="userId" id="userId" value="<?= $userId ?>">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Nome:</label>
                                <input id="name" placeholder="Nome" name="name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input id="email" placeholder="E-mail" name="email" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="userType">Tipo de usuário:</label>
                                <select class="form-select" id="userType" name="userType" onchange="getFeatures()">
                                    <option value="">Selecione o Tipo de usuário</option>
                                    <?php if ($user->getType() == 1): ?>
                                        <option value="1">Assistente</option>
                                    <?php elseif ($user->getType() == 2): ?>
                                        <option value="1">Assistente</option>
                                        <option value="2">Líder</option>
                                    <?php else: ?>
                                        <?php foreach ($usersTypes as $u): ?>
                                            <option value="<?= $u->getId() ?>"><?= $u->getName() ?></option>
                                        <?php endforeach; ?>
                                    <?php endif ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="userSector">Setor:</label>
                                <select class="form-select" id="userSector" name="userSector" onchange="getFeatures()">
                                    <option value="">Selecione o Setor</option>
                                    <?php foreach ($usersSectors as $u): ?>
                                        <option value="<?= $u->getId() ?>"><?= $u->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="level">Nível:</label>
                                <select class="form-select" id="level" name="level" onchange="showLocations()"
                                        required>
                                    <option value="">Selecione o Nível</option>
                                    <option value="1">Municipal</option>
                                    <?php if ($user->getLevel() >= 2): ?>
                                        <option value="2">Estadual</option>
                                    <?php endif; ?>
                                    <?php if ($user->getLevel() >= 3): ?>
                                        <option value="3">Nacional</option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="status">Status:</label>
                                <select class="form-select" name="status" id="status">
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="typeView">Visualização:</label>
                                <select class="form-select" name="typeView" id="typeView">
                                    <option value="1">Completa</option>
                                    <option value="0">Simples</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_NATIONAL): ?>
                            <div class="col-md-3" id="stateDiv" style="display: none">
                                <div class="form-group">
                                    <label for="state">Estado:</label>
                                    <select id="state" name="state" class="form-control"
                                            onchange="getCities(this.value, 'city'), getCities(this.value, 'city-plus'), getMesos(this.value)">
                                        <option value="">Selecione o estado</option>
                                        <?php foreach ($states as $item): ?>
                                            <option value="<?= $item->getId() ?>"><?= $item->getEstado() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="col-md-3" id="stateDiv" style="display: none">
                                <div class="form-group">
                                    <label for="state">Estado:</label>
                                    <input type="text" class="form-control" value="<?= $user->getState()->getSigla() ?>"
                                           disabled readonly>
                                    <input type="hidden" id="state" name="state"
                                           value="<?= $user->getState()->getId() ?>">
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="col" id="cityDiv" style="display: none">
                            <?php if ($user->getLevel() == \App\Models\Entities\UserAdmin::LEVEL_CITY): ?>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="city">Cidade:</label>
                                        <input type="text" class="form-control"
                                               value="<?= $user->getCity()->getCidade() ?>"
                                               disabled readonly>
                                        <input type="hidden" name="city" value="<?= $user->getCity()->getId() ?>">
                                    </div>
                                </div>
                            <?php else: ?>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="city">Cidade:</label>
                                        <select class="form-select" id="city" name="city" type="city">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="col-md-4" id="cityPlus" style="display: none">
                            <div class="form-group">
                                <label for="city-plus">Demais Cidades: </label>
                                <i onclick="addCityDiv()" class="fa fa-plus text-info text-end" title="Add Tag"></i>
                                <select class="form-select" id="city-plus" name="city-plus" type="city">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="cityDivAdd"></div>
                        </div>
                        <div class="col-md-3" id="mesoDiv" style="display: none">
                            <div class="form-group">
                                <label for="city-plus">Mesorregiões: </label>
                                <i onclick="addMesoDiv()" class="fa fa-plus text-info text-end" title="Add Tag"></i>
                                <select class="form-select" id="meso-plus" name="meso-plus">
                                    <option value="">Selecione</option>
                                    <?php foreach ($mesoregions as $mesoregion): ?>
                                        <option value="<?= $mesoregion->getId() ?>"><?= $mesoregion->getName() ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="mesoDivAdd"></div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <label for="features"><u>Permissões:</u></label>
                        <?php foreach ($features as $feature): ?>
                            <?php if (!$user->isAdminNational() && !in_array($feature->getId(), $featuresLogged)) continue; ?>
                            <div class="col-md-4">
                                <input class="featureCheckbox" type="checkbox" id="feature<?= $feature->getId() ?>"
                                       name="features[]"
                                       value="<?= $feature->getId() ?>"/>
                                <label for="feature<?= $feature->getId() ?>"><?= $feature->getName() ?></label><br>
                            </div>
                        <?php endforeach; ?>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="messageForm" class="alert" role="alert" style="display:none"></div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col">
                            <a href="<?= BASEURL ?>cadastros/usuarios" type="button" class="btn btn-danger">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                            </a>
                            <button type="submit" id="save" class="btn btn-success">
                                <i class="fa fa-save" aria-hidden="true"></i> Confirmar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="<?= BASEURL ?>assets/functions/users/newUsers.js?v=<?= time() ?>"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>

<script>
    var userType = '<?= $user->getType() ?>';
    let userLevel = '<?= $user->getLevel() ?>';
    var userState = '<?= $user->getState() ? $user->getState()->getId() : 0 ?>';
    let userId = '<?= $userId ?>';
</script>